
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.landing-page-guest-NEV {
  width: 100%;
  height: 321.8rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.landing-page-guest-NEV .hero-UYR {
  width: 151.1rem;
  height: 51.1rem;
  cursor: pointer;
  position: absolute;
  left: 0.1rem;
  top: 8.9rem;
  background-color: #ceff9d;
}
.landing-page-guest-NEV .hero-UYR .contact-us-mXX {
  width: 28rem;
  height: 6.6rem;
  position: absolute;
  left: 3.5rem;
  top: 35.7rem;
  background-color: #049904;
  border-radius: 1rem;
}
.landing-page-guest-NEV .hero-UYR .mulai-usaha-sekarang-UB3 {
  width: 22.8rem;
  height: 2.4rem;
  position: absolute;
  left: 5.7rem;
  top: 37.6rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-guest-NEV .hero-UYR .ellipse-15-wKX {
  width: 43.9rem;
  height: 34.4rem;
  position: absolute;
  left: 102.5rem;
  top: 10.5rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-guest-NEV .hero-UYR .gambar-semanggi-1-rhP {
  width: 62.7rem;
  height: 44.7rem;
  position: absolute;
  left: 77.4rem;
  top: 1.7rem;
  object-fit: cover;
  vertical-align: top;
}
.landing-page-guest-NEV .hero-UYR .ingin-mencari-bahan-makanan-Axy {
  width: 77.9rem;
  height: 7.5rem;
  position: absolute;
  left: 2.9rem;
  top: 6.9rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-guest-NEV .hero-UYR .dengan-mudah--edF {
  width: 44.9rem;
  height: 2.4rem;
  position: absolute;
  left: 3rem;
  top: 15.4rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 500;
  line-height: 0.48;
  letter-spacing: -0.05rem;
  font-style: italic;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-guest-NEV .hero-UYR .mudahbukausaha-713 {
  width: 50.7rem;
  height: 2.4rem;
  position: absolute;
  left: 2.75rem;
  top: 21.7rem;
  text-align: center;
  font-size: 5rem;
  font-weight: 600;
  line-height: 0.48;
  letter-spacing: -0.05rem;
  color: #049904;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-guest-NEV .hero-UYR .platform-mempermudah-masyarakat-untuk-mencari-bahan-makanan-tradisional-C2V {
  width: 70.2rem;
  height: 2.4rem;
  position: absolute;
  left: 3.5rem;
  top: 27.1rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.4117647059;
  letter-spacing: -0.017rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-guest-NEV .hero-UYR .dan-manajemen-usaha-sendiri-serta-keuntungan-lainnya--Ezm {
  width: 45.7rem;
  height: 2.4rem;
  position: absolute;
  left: 5.4rem;
  top: 30.6rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: -0.018rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-guest-NEV .section-2-JDw {
  width: 151.2rem;
  height: 60.5rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 60rem;
  background-color: #f9f5f5;
}
.landing-page-guest-NEV .section-2-JDw .line-DLu {
  width: 63.1132rem;
  height: 1.3rem;
  position: absolute;
  left: 40.7519rem;
  top: 10.4rem;
  background-color: #049904;
  border-radius: 0.3rem;
}
.landing-page-guest-NEV .section-2-JDw .auto-group-lqlt-Emo {
  width: 138.5rem;
  height: 27.6rem;
  position: absolute;
  left: 6.1rem;
  top: 15.2rem;
  display: flex;
  align-items: center;
}
.landing-page-guest-NEV .section-2-JDw .auto-group-lqlt-Emo .card1-ww7 {
  margin-right: 9.4rem;
  box-sizing: border-box;
  padding: 1.1rem 7.6rem 3.5rem 7.7rem;
  width: 40.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #049904;
  border-radius: 2.6rem;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-2-JDw .auto-group-lqlt-Emo .card1-ww7 .desain-tanpa-judul-18-1-EvD {
  margin-bottom: 0.4rem;
  width: 25.1rem;
  height: 17.2rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-2-JDw .auto-group-lqlt-Emo .card1-ww7 .mau-usaha-tapi-9GV {
  margin: 0rem 0.1rem 0.6rem 0rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 0.96;
  letter-spacing: -0.025rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-2-JDw .auto-group-lqlt-Emo .card1-ww7 .gatau-caranya-SFb {
  margin-right: 0.5rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 0.96;
  letter-spacing: -0.025rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-2-JDw .auto-group-lqlt-Emo .card1-88R {
  margin-right: 7.9rem;
  box-sizing: border-box;
  padding: 1.3rem 7.1rem 3.8rem 7.4rem;
  width: 40.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #049904;
  border-radius: 2.6rem;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-2-JDw .auto-group-lqlt-Emo .card1-88R .desain-tanpa-judul-19-1-q2q {
  margin-bottom: 1.9rem;
  width: 25.9rem;
  height: 15.2rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-2-JDw .auto-group-lqlt-Emo .card1-88R .capek-ngumpulin-9JR {
  margin: 0rem 1rem 0.6rem 0rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 0.96;
  letter-spacing: -0.025rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-2-JDw .auto-group-lqlt-Emo .card1-88R .modal-yang-gede--2t1 {
  cursor: pointer;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 0.96;
  letter-spacing: -0.025rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-2-JDw .auto-group-lqlt-Emo .card1-uwo {
  box-sizing: border-box;
  padding: 2rem 3.9rem 3.8rem 5.9rem;
  width: 40.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #049904;
  border-radius: 2.6rem;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-2-JDw .auto-group-lqlt-Emo .card1-uwo .auto-group-9s2f-dN1 {
  margin: 0rem 1.5rem 0.8rem 0rem;
  width: 27.7rem;
  height: 18.6rem;
  position: relative;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-2-JDw .auto-group-lqlt-Emo .card1-uwo .auto-group-9s2f-dN1 .desain-tanpa-judul-20-1-YUy {
  width: 27.7rem;
  height: 17.3rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.landing-page-guest-NEV .section-2-JDw .auto-group-lqlt-Emo .card1-uwo .auto-group-9s2f-dN1 .mau-jualan-tapi-gatau-Trq {
  width: 23.1rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 3.25rem;
  top: 16.2rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 0.96;
  letter-spacing: -0.025rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-guest-NEV .section-2-JDw .auto-group-lqlt-Emo .card1-uwo .beli-bahan-makanan-dimana-Ke9 {
  cursor: pointer;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 0.96;
  letter-spacing: -0.025rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-2-JDw .biasanya-ini-kendala-saat-akan-mulai-usaha-Chw {
  width: 100.5rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 23.5rem;
  top: 5.7rem;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 500;
  line-height: 0.5333333333;
  letter-spacing: -0.045rem;
  color: #049904;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-guest-NEV .section-2-JDw .platform-foodys-hadir-sebagai-solusi--GC1 {
  width: 61.4rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 43.05rem;
  top: 52.4rem;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 0.6666666667;
  letter-spacing: -0.036rem;
  color: #049904;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-guest-NEV .section-2-JDw .apakah-anda-mengalami-hal-tersebut-jika-iya-wajar-kok-anda-tidak-sendiri--7iR {
  width: 88.1rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 31.6rem;
  top: 47.3rem;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 0.8571428571;
  letter-spacing: -0.028rem;
  color: #049904;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-guest-NEV .section-3-MMs {
  box-sizing: border-box;
  padding: 6.5rem 5.1rem 8.9rem 6.1rem;
  width: 151.2rem;
  height: 60.7rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 120.5rem;
  display: grid;
  grid-template-columns: repeat(2, 71.9233rem);
  grid-auto-rows: 30.2875rem;
  background-color: #ceff9d;
}
.landing-page-guest-NEV .section-3-MMs .auto-group-fyub-CtH {
  width: 100%;
  display: flex;
  align-items: flex-end;
}
.landing-page-guest-NEV .section-3-MMs .auto-group-fyub-CtH .card1-kQ1 {
  margin: 0rem 6rem 0.3rem 0rem;
  box-sizing: border-box;
  padding: 0.3rem 5.1rem 6.2rem 4rem;
  width: 42.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #049904;
  border-radius: 2.6rem;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-3-MMs .auto-group-fyub-CtH .card1-kQ1 .desain-tanpa-judul-21-1-qAZ {
  margin: 0rem 1.3rem 0.4rem 0rem;
  width: 19.8rem;
  height: 17.8rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-3-MMs .auto-group-fyub-CtH .card1-kQ1 .produk-pasti-laris-Xp5 {
  margin: 0rem 1.6rem 2.7rem 0rem;
  cursor: pointer;
  text-align: center;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 0.6315789474;
  letter-spacing: -0.038rem;
  color: #ffff00;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-3-MMs .auto-group-fyub-CtH .card1-kQ1 .anda-tidak-perlu-pusing-mencari-bahan-kami-sudah-menyediakan-bahan-yang-mempermudah-untuk-dijual-omb {
  max-width: 33.7rem;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-3-MMs .auto-group-fyub-CtH .card1-eGR {
  margin-right: 5.6rem;
  box-sizing: border-box;
  padding: 0.8rem 3.15rem 6.5rem 3.95rem;
  width: 42.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #049904;
  border-radius: 2.6rem;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-3-MMs .auto-group-fyub-CtH .card1-eGR .desain-tanpa-judul-22-1-k4Z {
  margin: 0rem 1rem 1.2rem 0rem;
  width: 15.2rem;
  height: 16.7rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-3-MMs .auto-group-fyub-CtH .card1-eGR .tracking-outlet-EkR {
  margin: 0rem 1.2rem 2.2rem 0rem;
  cursor: pointer;
  text-align: center;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 0.6315789474;
  letter-spacing: -0.038rem;
  color: #ffff00;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-3-MMs .auto-group-fyub-CtH .card1-eGR .mendeteksi-outlet-terdekat-yang-telah-mendaftar-di-platform-memudahkan-pengusaha-untuk-mendeteksi-competitor-lain-XjX {
  max-width: 35.7rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: -0.018rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-3-MMs .auto-group-fyub-CtH .card1-ZAR {
  box-sizing: border-box;
  padding: 1.6rem 4.4rem 8.5rem 6.2rem;
  width: 42.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #049904;
  border-radius: 2.6rem;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-3-MMs .auto-group-fyub-CtH .card1-ZAR .desain-tanpa-judul-23-1-G4q {
  margin: 0rem 0rem 0.5rem 2rem;
  width: 26.8rem;
  height: 17.2rem;
  cursor: pointer;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-3-MMs .auto-group-fyub-CtH .card1-ZAR .manajemen-usaha-Zpd {
  margin: 0rem 0rem 2rem 0.9rem;
  cursor: pointer;
  text-align: center;
  font-size: 3.8rem;
  font-weight: 700;
  line-height: 0.6315789474;
  letter-spacing: -0.038rem;
  color: #ffff00;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-3-MMs .auto-group-fyub-CtH .card1-ZAR .manajemen-outlet-sendiri-dapat-melihat-keuntungan-stok-profil-outlet-H8M {
  max-width: 32.2rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.3333333333;
  letter-spacing: -0.018rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-guest-NEV .section-3-MMs .kenapa-harus-di-foodys-aja--iDf {
  cursor: pointer;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.5333333333;
  letter-spacing: -0.045rem;
  color: #049904;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-guest-NEV .section-3-MMs .line-RNy {
  width: 63.1132rem;
  height: 1.3rem;
  cursor: pointer;
  background-color: #049904;
  border-radius: 0.3rem;
}
.landing-page-guest-NEV .section4-kAM {
  box-sizing: border-box;
  padding-bottom: 7.2rem;
  width: 151.2rem;
  height: 57.2rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 181.2rem;
  background-color: #f9f5f5;
}
.landing-page-guest-NEV .section4-kAM .auto-group-z6nw-T4m {
  margin-bottom: 4.4rem;
  box-sizing: border-box;
  padding: 3.2rem 101.535rem 3.3rem 8.61rem;
  width: 100%;
  height: 12.8rem;
  display: flex;
  align-items: center;
  background-color: #8fff73;
}
.landing-page-guest-NEV .section4-kAM .auto-group-z6nw-T4m .auto-group-zqej-Y6D {
  margin-right: 5.145rem;
  width: 17.955rem;
  height: 100%;
  text-align: center;
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 0.8275862069;
  letter-spacing: -0.029rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f5f5;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section4-kAM .auto-group-z6nw-T4m .auto-group-azdr-nWM {
  width: 17.955rem;
  height: 100%;
  text-align: center;
  font-size: 2.9rem;
  font-weight: 700;
  line-height: 0.8275862069;
  letter-spacing: -0.029rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f5f5;
  border-radius: 0.7rem;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section4-kAM .produk-paling-laris-qUd {
  margin-bottom: 5.1964rem;
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.5333333333;
  letter-spacing: -0.045rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-guest-NEV .section4-kAM .auto-group-rv1h-k5o {
  margin: 0rem 5.4rem 0rem 5.6rem;
  width: calc(100% - 11rem);
  height: 25.2036rem;
  display: flex;
  align-items: flex-start;
}
.landing-page-guest-NEV .section4-kAM .auto-group-rv1h-k5o .daun-semanggi-cth {
  margin: 0.004rem 8.4rem 0rem 0rem;
  width: 41.8rem;
  height: 25.104rem;
  cursor: pointer;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section4-kAM .auto-group-rv1h-k5o .daun-semanggi-cth .foto-barang-vuP {
  width: 41.1rem;
  height: 19.3844rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.landing-page-guest-NEV .section4-kAM .auto-group-rv1h-k5o .daun-semanggi-cth .tag-barang-doo {
  width: 41.8rem;
  height: 6.7638rem;
  position: absolute;
  left: 0;
  top: 18.3402rem;
  border-radius: 0.5rem;
}
.landing-page-guest-NEV .section4-kAM .auto-group-rv1h-k5o .daun-semanggi-cth .tag-barang-doo .nama-produk-harga-kdX {
  width: 41.1rem;
  height: 6.7638rem;
  position: absolute;
  left: 0.7rem;
  top: 0;
  background-color: #049904;
  border-radius: 0.5rem;
}
.landing-page-guest-NEV .section4-kAM .auto-group-rv1h-k5o .daun-semanggi-cth .tag-barang-doo .daun-semanggi-fkV {
  width: 18.2rem;
  height: 2.4rem;
  position: absolute;
  left: 3.35rem;
  top: 0.6598rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 0.96;
  letter-spacing: -0.025rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-guest-NEV .section4-kAM .auto-group-rv1h-k5o .daun-semanggi-cth .tag-barang-doo .rp-15000-LLq {
  width: 10.6rem;
  height: 2.4rem;
  position: absolute;
  left: 28.1088rem;
  top: 3.6254rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 0.96;
  letter-spacing: -0.025rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-guest-NEV .section4-kAM .auto-group-rv1h-k5o .bawang-goreng-nTj {
  margin-right: 8rem;
  width: 41.1rem;
  height: 25.1036rem;
  cursor: pointer;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section4-kAM .auto-group-rv1h-k5o .bawang-goreng-nTj .foto-barang-uoF {
  width: 40.2884rem;
  height: 23.2826rem;
  position: absolute;
  left: 0.8116rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.landing-page-guest-NEV .section4-kAM .auto-group-rv1h-k5o .bawang-goreng-nTj .tag-barang-EKj {
  width: 41.1rem;
  height: 6.7rem;
  position: absolute;
  left: 0;
  top: 18.4036rem;
  border-radius: 0.5rem;
}
.landing-page-guest-NEV .section4-kAM .auto-group-rv1h-k5o .bawang-goreng-nTj .tag-barang-EKj .nama-produk-harga-MQM {
  width: 40.2884rem;
  height: 6.7rem;
  position: absolute;
  left: 0.8116rem;
  top: 0;
  background-color: #049904;
  border-radius: 0.5rem;
}
.landing-page-guest-NEV .section4-kAM .auto-group-rv1h-k5o .bawang-goreng-nTj .tag-barang-EKj .bawang-goreng-sNh {
  width: 17.1rem;
  height: 2.4rem;
  position: absolute;
  left: 2.4018rem;
  top: 0.6874rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 0.96;
  letter-spacing: -0.025rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-guest-NEV .section4-kAM .auto-group-rv1h-k5o .bawang-goreng-nTj .tag-barang-EKj .rp-7000-jvh {
  width: 9.3rem;
  height: 2.4rem;
  position: absolute;
  left: 29.9279rem;
  top: 3.6617rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 0.96;
  letter-spacing: -0.025rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-guest-NEV .section4-kAM .auto-group-rv1h-k5o .lentho-CZP {
  margin-top: 0.0036rem;
  width: 40.9rem;
  height: calc(100% - 0.0036rem);
  cursor: pointer;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section4-kAM .auto-group-rv1h-k5o .lentho-CZP .foto-barang-8C9 {
  width: 40.9rem;
  height: 23.9936rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.landing-page-guest-NEV .section4-kAM .auto-group-rv1h-k5o .lentho-CZP .tag-barang-STj {
  box-sizing: border-box;
  padding: 1.045rem 1.609rem 0.694rem 1.797rem;
  width: 40.9rem;
  height: 6.9046rem;
  position: absolute;
  left: 0;
  top: 18.2954rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #049904;
  border-radius: 0.5rem;
}
.landing-page-guest-NEV .section4-kAM .auto-group-rv1h-k5o .lentho-CZP .tag-barang-STj .lentho-WiV {
  margin: 0rem 29.794rem 0.365rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 0.96;
  letter-spacing: -0.025rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .section4-kAM .auto-group-rv1h-k5o .lentho-CZP .tag-barang-STj .rp-4000-ng1 {
  margin-left: 27.5943rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 0.96;
  letter-spacing: -0.025rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys {
  width: 151.2rem;
  height: 83.4rem;
  position: absolute;
  left: 0;
  top: 238.4rem;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .section-5-ZaH {
  box-sizing: border-box;
  padding: 4.4rem 41.35rem 5.1rem 35.05rem;
  width: 151.2rem;
  height: 27rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ceff9d;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .section-5-ZaH .segera-bergabung-dengan-kami--Se5 {
  margin: 0rem 0rem 3.1rem 4rem;
  cursor: pointer;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 0.5333333333;
  letter-spacing: -0.045rem;
  color: #049904;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .section-5-ZaH .mencari-bahan-baku-makanan-tradisional-foodys-tempatnya--irV {
  margin-bottom: 3.2rem;
  cursor: pointer;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 0.8571428571;
  letter-spacing: -0.028rem;
  color: #049904;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .section-5-ZaH .auto-group-1tvx-D2Z {
  margin: 0rem 23.55rem 0rem 24.15rem;
  width: calc(100% - 47.7rem);
  height: 6.4rem;
  text-align: center;
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 1.1428571429;
  letter-spacing: -0.021rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #049904;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy {
  width: 151.2rem;
  height: 62.6rem;
  position: absolute;
  left: 0;
  top: 20.8rem;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV {
  box-sizing: border-box;
  padding: 13.2rem 7rem 3rem 7rem;
  width: 151.2rem;
  height: 56.4rem;
  position: absolute;
  left: 0;
  top: 6.2rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #049904;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .pemisah-DaH {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 {
  margin: 0rem 15.3rem 2.4rem 2.8rem;
  width: calc(100% - 18.1rem);
  height: 26.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .quotes-rNM {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .quotes-rNM .auto-group-brax-baq {
  margin-bottom: 0.6rem;
  width: 6.9001rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .quotes-rNM .auto-group-brax-baq .tagline-Who {
  width: 6.4rem;
  height: 2.4rem;
  position: absolute;
  left: 0.3rem;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .quotes-rNM .auto-group-brax-baq .tagline-Who .tagline-Who-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .quotes-rNM .auto-group-brax-baq .tagline-Who .tagline-Who-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .quotes-rNM .auto-group-brax-baq .line-23-6ZX {
  width: 6.9001rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 2.225rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .quotes-rNM .tujuan-kami-bukan-menciptakan-bisnis-yang-besar-tetapi-membangun-sesuatu-yang-membuat-perubahan-besar-q1K {
  margin-bottom: 0.8rem;
  max-width: 25.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .quotes-rNM .semua-impian-kita-menjadi-kanyataan-jika-kita-mempunyai-keberanian-unutk-mengerjakannya-walt-disney-5wF {
  margin: 0rem 0rem 0.8rem 5.3rem;
  max-width: 25.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .quotes-rNM .wirausahawan-sejadi-meciptakan-peluang-bisnis-sedangkan-wirausahawan-bisa-fokus-mengejar-uang-XoF {
  margin-left: 13.5rem;
  max-width: 28.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf {
  box-sizing: border-box;
  padding-left: 7.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .about-us-icq {
  margin-right: 12.8rem;
  width: 25.5rem;
  row-gap: 0.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .about-us-icq .auto-group-srpv-S33 {
  width: 7.4rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .about-us-icq .auto-group-srpv-S33 .line-24-ZNZ {
  width: 7.4rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 2.2123rem;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .about-us-icq .auto-group-srpv-S33 .aboutus-5rh {
  width: 7rem;
  height: 2.4rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .about-us-icq .auto-group-srpv-S33 .aboutus-5rh .aboutus-5rh-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .about-us-icq .auto-group-srpv-S33 .aboutus-5rh .aboutus-5rh-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .about-us-icq .group-263-jZs {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding-left: 0.3125rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .about-us-icq .group-263-jZs .location-4MF {
  margin: 0.725rem 0.513rem 0rem 0rem;
  width: 0.875rem;
  height: 1.3029rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .about-us-icq .group-263-jZs .jl-dharmawangsa-no138-d-airlangga-kec-gubeng-surabaya-jawa-timur-60282-yUD {
  max-width: 23.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .about-us-icq .group-264-T8V {
  margin: 0rem 3.6rem 0rem 0rem;
  width: calc(100% - 3.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .about-us-icq .group-264-T8V .icon-envelope-closed-y6q {
  margin: 0.2rem 0.5rem 0rem 0rem;
  width: 1.6rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .about-us-icq .group-264-T8V .foodysbussinesgmailcom-sxu {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .about-us-icq .group-265-b8D {
  margin: 0rem 13.5rem 0rem 0rem;
  box-sizing: border-box;
  padding-left: 0.1333rem;
  width: calc(100% - 13.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .about-us-icq .group-265-b8D .calling-hh3 {
  margin: 0rem 0.633rem 0.1rem 0rem;
  width: 1.3333rem;
  height: 1.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .about-us-icq .group-265-b8D .item-0274-2885822-DQV {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .comunity-7km {
  margin-right: 7.9954rem;
  width: 9.7046rem;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .comunity-7km .comunity-3uK {
  margin: 0rem 0rem 0.1rem 1.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .comunity-7km .comunity-3uK .comunity-3uK-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .comunity-7km .comunity-3uK .comunity-3uK-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .comunity-7km .line-26-w7X {
  margin-bottom: 1.4rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .comunity-7km .group-266-UNM {
  width: 6.7rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .sosmed-QWu {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .sosmed-QWu .social-media-KNy {
  margin-left: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .sosmed-QWu .social-media-KNy .social-media-KNy-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .sosmed-QWu .social-media-KNy .social-media-KNy-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .sosmed-QWu .line-25-PGM {
  margin-bottom: 1.4rem;
  width: 10.0045rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .isi-footer-x25 .auto-group-ff8o-PKf .sosmed-QWu .list-sosmed-v1P {
  width: 14.1rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .pemisah-psT {
  margin-bottom: 3.3rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .mark-list-MMb {
  margin: 0rem 21.2rem 0rem 33.9rem;
  width: calc(100% - 55.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .mark-list-MMb .copyright-2023-by-foodys-all-rights-reserved-Fxm {
  margin: 0rem 9.6rem 1.7rem 0rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .footer-LWV .mark-list-MMb .terima-kasih-telah-mengunjungi-foodys-jangan-ragu-untuk-menghubungi-kami-jika-anda-memiliki-pertanyaan-atau-saran-X9b {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .foodies-1-Nvu {
  width: 30.1rem;
  height: 27.7rem;
  position: absolute;
  left: 7.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.landing-page-guest-NEV .auto-group-gnsv-Rys .footer-DAy .line-22-hTP {
  width: 151.2rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 6.2rem;
  background-color: #000000;
}
.landing-page-guest-NEV .navbar-guest-1U5 {
  width: 151.2rem;
  height: 9.1rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #049904;
}
.landing-page-guest-NEV .navbar-guest-1U5 .button-94V {
  width: 21.4rem;
  height: 4.6rem;
  position: absolute;
  left: 123.2rem;
  top: 2.2rem;
  display: flex;
  align-items: center;
  border-radius: 1rem;
}
.landing-page-guest-NEV .navbar-guest-1U5 .button-94V .login-Tqs {
  margin-right: 1rem;
  width: 10.2rem;
  height: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing-page-guest-NEV .navbar-guest-1U5 .button-94V .register-uxm {
  width: 10.2rem;
  height: 100%;
  cursor: pointer;
  border-radius: 1rem;
  flex-shrink: 0;
}
.landing-page-guest-NEV .navbar-guest-1U5 .button-94V .register-uxm .button-44y {
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffb000;
  border-radius: 1rem;
}
.landing-page-guest-NEV .navbar-guest-1U5 .line-22-7Z3 {
  width: 151.2rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 9.1rem;
  background-color: #000000;
}
.landing-page-guest-NEV .navbar-guest-1U5 .navigasi-Edf {
  width: 24.15rem;
  height: 2.4rem;
  position: absolute;
  left: 93.4rem;
  top: 3.4rem;
  display: flex;
  align-items: center;
}
.landing-page-guest-NEV .navbar-guest-1U5 .navigasi-Edf .home-x3s {
  margin-right: 3.65rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .navbar-guest-1U5 .navigasi-Edf .outlet-sAq {
  margin-right: 3.7rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .navbar-guest-1U5 .navigasi-Edf .contact-BBX {
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.landing-page-guest-NEV .navbar-guest-1U5 .foodies-1-trd {
  width: 30.1rem;
  height: 27.7rem;
  position: absolute;
  left: 2.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
