
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}
.auto-group-wavo-3eH a{
  text-decoration: none;
}
.produk-page-rgy {
  width: 100%;
  height: 153.7rem;
  position: relative;
  overflow: hidden;
  background-color: #efeaea;
}
.produk-page-rgy .auto-group-uycb-acy {
  box-sizing: border-box;
  padding: 20.3rem 13rem 3.7rem 8.1rem;
  width: 151.2rem;
  height: 91.1rem;
  position: absolute;
  left: 0;
  top: 0;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 {
  margin: 0rem 35.6rem 6.597rem 4.2rem;
  width: calc(100% - 39.8rem);
  height: 35.3rem;
  display: flex;
  align-items: center;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 .auto-group-8xsb-A5P {
  margin-right: 5rem;
  width: 39.7rem;
  height: 100%;
  background-color: #2d3648;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 .auto-group-8xsb-A5P .foto-barang-gJd {
  width: 39.7rem;
  height: 35.3rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 .auto-group-fcod-bAh {
  margin: 1.5rem 0rem 1.4rem 0rem;
  width: 45.6rem;
  height: calc(100% - 2.9rem);
  flex-shrink: 0;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 .auto-group-fcod-bAh .daun-semanggi-W2m {
  margin: 0rem 0rem 0.3rem 1.3rem;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 .auto-group-fcod-bAh .rp-15000-25000-1VK {
  margin: 0rem 0rem 1.6rem 1.6rem;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 .auto-group-fcod-bAh .auto-group-13jt-iPj {
  margin: 0rem 0rem 2.6rem 1.6rem;
  height: 4.7rem;
  display: flex;
  align-items: flex-end;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 .auto-group-fcod-bAh .auto-group-13jt-iPj .ukuran-e2V {
  margin: 0rem 7.7rem 0.2rem 0rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 .auto-group-fcod-bAh .auto-group-13jt-iPj .auto-group-aap5-MxV {
  margin-right: 1.9rem;
  width: 12.6rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #049904;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 .auto-group-fcod-bAh .auto-group-13jt-iPj .auto-group-qvnf-RBf {
  width: 12.6rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #f9f5f5;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 .auto-group-fcod-bAh .auto-group-dez9-tqw {
  margin: 0rem 15.1rem 2.8rem 1.6rem;
  width: calc(100% - 16.7rem);
  height: 4rem;
  display: flex;
  align-items: flex-end;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 .auto-group-fcod-bAh .auto-group-dez9-tqw .kuantitas-bVT {
  margin-right: 4.9rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 .auto-group-fcod-bAh .auto-group-dez9-tqw .group-270-KwF {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 .auto-group-fcod-bAh .auto-group-dez9-tqw .group-270-KwF .auto-group-ykcb-HNH {
  width: 4rem;
  height: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Itim, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #d9d9d9;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 .auto-group-fcod-bAh .auto-group-dez9-tqw .group-270-KwF .auto-group-f7sj-wBw {
  width: 4rem;
  height: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Itim, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #d9d9d9;
  box-sizing: border-box;
  background-color: #ffffff;
  flex-shrink: 0;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 .auto-group-fcod-bAh .auto-group-dez9-tqw .group-270-KwF .auto-group-2gew-niM {
  width: 4rem;
  height: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Itim, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #d9d9d9;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 .auto-group-fcod-bAh .auto-group-wavo-3eH {
  margin-right: 5.7rem;
  width: calc(100% - 5.7rem);
  height: 5rem;
  display: flex;
  align-items: center;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 .auto-group-fcod-bAh .auto-group-wavo-3eH .auto-group-1gu9-aeD {
  margin: 0.1rem 3.4rem 0.2rem 0rem;
  width: 31.5rem;
  height: calc(100% - 0.3rem);
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #049904;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.produk-page-rgy .auto-group-uycb-acy .auto-group-xvxb-4Y9 .auto-group-fcod-bAh .auto-group-wavo-3eH .rectangle-86-SRX {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.produk-page-rgy .auto-group-uycb-acy .line-53-xuf {
  margin: 0rem 0rem 4.603rem 0.6rem;
  width: 123.3007rem;
  height: 0.1rem;
  background-color: #d6d6d6;
}
.produk-page-rgy .auto-group-uycb-acy .deskripsi-smj {
  margin-bottom: 6.1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5rem;
  font-weight: 700;
  line-height: 0.48;
  letter-spacing: -0.05rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.produk-page-rgy .auto-group-uycb-acy .rasakan-kelezatan-dan-manfaat-kesehatan-alami-dengan-daun-semanggi-segar-kami-daun-semanggi-adalah-pilihan-sempurna-untuk-melengkapi-hidangan-semanggi-C3K {
  max-width: 130.1rem;
  display: flex;
  font-size: 4rem;
  font-weight: 400;
  line-height: 0.6;
  letter-spacing: -0.04rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
}
.produk-page-rgy .heart-FGV {
  width: 1.8997rem;
  height: 1.7998rem;
  position: absolute;
  left: 0;
  top: 182.7516rem;
  object-fit: contain;
  vertical-align: top;
}
.produk-page-rgy .footer-n1X {
  width: 151.2rem;
  height: 62.6rem;
  position: absolute;
  left: 0;
  top: 91.1rem;
}
.produk-page-rgy .footer-n1X .footer-fr1 {
  box-sizing: border-box;
  padding: 13.2rem 7rem 3rem 7rem;
  width: 151.2rem;
  height: 56.4rem;
  position: absolute;
  left: 0;
  top: 6.2rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #049904;
}
.produk-page-rgy .footer-n1X .footer-fr1 .pemisah-MTw {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs {
  margin: 0rem 15.3rem 2.4rem 2.8rem;
  width: calc(100% - 18.1rem);
  height: 26.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .quotes-CUZ {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .quotes-CUZ .auto-group-8vum-kky {
  margin-bottom: 0.6rem;
  width: 6.9001rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .quotes-CUZ .auto-group-8vum-kky .tagline-guX {
  width: 6.4rem;
  height: 2.4rem;
  position: absolute;
  left: 0.3rem;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .quotes-CUZ .auto-group-8vum-kky .tagline-guX .tagline-guX-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .quotes-CUZ .auto-group-8vum-kky .tagline-guX .tagline-guX-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .quotes-CUZ .auto-group-8vum-kky .line-23-scd {
  width: 6.9001rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 2.225rem;
  object-fit: contain;
  vertical-align: top;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .quotes-CUZ .tujuan-kami-bukan-menciptakan-bisnis-yang-besar-tetapi-membangun-sesuatu-yang-membuat-perubahan-besar-1D3 {
  margin-bottom: 0.8rem;
  max-width: 25.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .quotes-CUZ .semua-impian-kita-menjadi-kanyataan-jika-kita-mempunyai-keberanian-unutk-mengerjakannya-walt-disney-f2h {
  margin: 0rem 0rem 0.8rem 5.3rem;
  max-width: 25.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .quotes-CUZ .wirausahawan-sejadi-meciptakan-peluang-bisnis-sedangkan-wirausahawan-bisa-fokus-mengejar-uang-hEH {
  margin-left: 13.5rem;
  max-width: 28.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR {
  box-sizing: border-box;
  padding-left: 7.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .about-us-Ggh {
  margin-right: 12.8rem;
  width: 25.5rem;
  row-gap: 0.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .about-us-Ggh .auto-group-rxsu-zMo {
  width: 7.4rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .about-us-Ggh .auto-group-rxsu-zMo .line-24-8iu {
  width: 7.4rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 2.2123rem;
  object-fit: contain;
  vertical-align: top;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .about-us-Ggh .auto-group-rxsu-zMo .aboutus-rQ1 {
  width: 7rem;
  height: 2.4rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .about-us-Ggh .auto-group-rxsu-zMo .aboutus-rQ1 .aboutus-rQ1-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .about-us-Ggh .auto-group-rxsu-zMo .aboutus-rQ1 .aboutus-rQ1-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .about-us-Ggh .group-263-KB7 {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding-left: 0.3125rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .about-us-Ggh .group-263-KB7 .location-SWd {
  margin: 0.725rem 0.513rem 0rem 0rem;
  width: 0.875rem;
  height: 1.3029rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .about-us-Ggh .group-263-KB7 .jl-dharmawangsa-no138-d-airlangga-kec-gubeng-surabaya-jawa-timur-60282-ExH {
  max-width: 23.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .about-us-Ggh .group-264-isT {
  margin-right: 3.6rem;
  width: calc(100% - 3.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .about-us-Ggh .group-264-isT .icon-envelope-closed-4Ad {
  margin: 0.2rem 0.5rem 0rem 0rem;
  width: 1.6rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .about-us-Ggh .group-264-isT .foodysbussinesgmailcom-AjT {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .about-us-Ggh .group-265-5Ld {
  margin-right: 13.5rem;
  box-sizing: border-box;
  padding-left: 0.1333rem;
  width: calc(100% - 13.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .about-us-Ggh .group-265-5Ld .calling-QNu {
  margin: 0rem 0.633rem 0.1rem 0rem;
  width: 1.3333rem;
  height: 1.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .about-us-Ggh .group-265-5Ld .item-0274-2885822-ieV {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .comunity-2QH {
  margin-right: 7.9954rem;
  width: 9.7046rem;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .comunity-2QH .comunity-NU9 {
  margin: 0rem 0rem 0.1rem 1.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .comunity-2QH .comunity-NU9 .comunity-NU9-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .comunity-2QH .comunity-NU9 .comunity-NU9-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .comunity-2QH .line-26-FwF {
  margin-bottom: 1.4rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .comunity-2QH .group-266-zP3 {
  width: 6.7rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .sosmed-8EM {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .sosmed-8EM .social-media-4do {
  margin-left: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .sosmed-8EM .social-media-4do .social-media-4do-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .sosmed-8EM .social-media-4do .social-media-4do-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .sosmed-8EM .line-25-C7j {
  margin-bottom: 1.4rem;
  width: 10.0045rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .isi-footer-tTs .auto-group-cmhd-weR .sosmed-8EM .list-sosmed-XQu {
  width: 14.1rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .pemisah-4Qq {
  margin-bottom: 3.3rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .mark-list-bvZ {
  margin: 0rem 21.2rem 0rem 33.9rem;
  width: calc(100% - 55.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .mark-list-bvZ .copyright-2023-by-foodys-all-rights-reserved-j1B {
  margin: 0rem 9.6rem 1.7rem 0rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .footer-fr1 .mark-list-bvZ .terima-kasih-telah-mengunjungi-foodys-jangan-ragu-untuk-menghubungi-kami-jika-anda-memiliki-pertanyaan-atau-saran-bZB {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-rgy .footer-n1X .foodies-1-4Sm {
  width: 30.1rem;
  height: 27.7rem;
  position: absolute;
  left: 7.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.produk-page-rgy .footer-n1X .line-22-C3B {
  width: 151.2rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 6.2rem;
  background-color: #000000;
}
.produk-page-rgy .navbar-user-uyB {
  width: 151.2rem;
  height: 9.1rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #049904;
}
.produk-page-rgy .navbar-user-uyB .profil-FGM {
  box-sizing: border-box;
  padding-left: 0.1rem;
  width: 19.8rem;
  height: 6rem;
  cursor: pointer;
  position: absolute;
  left: 125.4rem;
  top: 1.6rem;
  display: flex;
  align-items: center;
}
.produk-page-rgy .navbar-user-uyB .profil-FGM .andi-akhsanul-xRf {
  margin-right: 1.052rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-rgy .navbar-user-uyB .profil-FGM .dropdown-menu-rX3 {
  box-sizing: border-box;
  padding: 1.2rem 1.38rem 1.2rem 1.472rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-6-im7.png');
  flex-shrink: 0;
}
.produk-page-rgy .navbar-user-uyB .profil-FGM .dropdown-menu-rX3 .profil-BJR {
  width: 3.496rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
}
.produk-page-rgy .navbar-user-uyB .line-21-HMT {
  width: 151.2rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 9.1rem;
  background-color: #000000;
}
.produk-page-rgy .navbar-user-uyB .foodies-1-ced {
  width: 30.1rem;
  height: 27.7rem;
  position: absolute;
  left: 2.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.produk-page-rgy .navbar-user-uyB .navigasi-Xmb {
  width: 41.45rem;
  height: 2.4rem;
  position: absolute;
  left: 76.05rem;
  top: 3.3rem;
  display: flex;
  align-items: center;
}
.produk-page-rgy .navbar-user-uyB .navigasi-Xmb .home-qnH {
  margin-right: 3.95rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-rgy .navbar-user-uyB .navigasi-Xmb .outlet-MVj {
  margin-right: 4.1rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-rgy .navbar-user-uyB .navigasi-Xmb .contact-T2y {
  margin-right: 3.15rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-rgy .navbar-user-uyB .navigasi-Xmb .produk-mpM {
  margin-right: 2.95rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-rgy .navbar-user-uyB .navigasi-Xmb .edukasi-6rd {
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
