html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}
.fd img{
  height: 60px;
  margin-top: 10px;
  margin-left: 65px;
  width: 150px;
}
.produk-page-member-8yw {
  width: 100%;
  height: 199.5rem;
  position: relative;
  overflow: hidden;
  background-color: #efeaea;
}
.produk-page-member-8yw .auto-group-hdcf-TmK {
  width: 151.2rem;
  height: 101.1379rem;
  position: absolute;
  left: 0;
  top: 98.3621rem;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .hight-light-b6q {
  box-sizing: border-box;
  padding: 35.038rem 55.29rem 2.137rem 55.139rem;
  width: 123.7584rem;
  height: 39.6753rem;
  position: absolute;
  left: 13.8984rem;
  top: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/foto-barang-bg.png');
  border-radius: 1rem;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .hight-light-b6q .group-24-Gyf {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .hight-light-b6q .group-24-Gyf .ellipse-11-Dtu {
  margin-right: 2.7288rem;
  width: 2.6238rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .hight-light-b6q .group-24-Gyf .ellipse-9-jsF {
  margin-right: 2.7289rem;
  width: 2.6238rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .hight-light-b6q .group-24-Gyf .ellipse-10-UZw {
  width: 2.6238rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh {
  width: 151.2rem;
  height: 62.6rem;
  position: absolute;
  left: 0;
  top: 38.5379rem;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM {
  box-sizing: border-box;
  padding: 13.2rem 7rem 3rem 7rem;
  width: 151.2rem;
  height: 56.4rem;
  position: absolute;
  left: 0;
  top: 6.2rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #049904;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .pemisah-nDF {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo {
  margin: 0rem 15.3rem 2.4rem 2.8rem;
  width: calc(100% - 18.1rem);
  height: 26.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .quotes-RGD {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .quotes-RGD .auto-group-ywgo-mL5 {
  margin-bottom: 0.6rem;
  width: 6.9001rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .quotes-RGD .auto-group-ywgo-mL5 .tagline-t9o {
  width: 6.4rem;
  height: 2.4rem;
  position: absolute;
  left: 0.3rem;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .quotes-RGD .auto-group-ywgo-mL5 .tagline-t9o .tagline-t9o-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .quotes-RGD .auto-group-ywgo-mL5 .tagline-t9o .tagline-t9o-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .quotes-RGD .auto-group-ywgo-mL5 .line-23-5db {
  width: 6.9001rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 2.225rem;
  object-fit: contain;
  vertical-align: top;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .quotes-RGD .tujuan-kami-bukan-menciptakan-bisnis-yang-besar-tetapi-membangun-sesuatu-yang-membuat-perubahan-besar-o3o {
  margin-bottom: 0.8rem;
  max-width: 25.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .quotes-RGD .semua-impian-kita-menjadi-kanyataan-jika-kita-mempunyai-keberanian-unutk-mengerjakannya-walt-disney-T8M {
  margin: 0rem 0rem 0.8rem 5.3rem;
  max-width: 25.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .quotes-RGD .wirausahawan-sejadi-meciptakan-peluang-bisnis-sedangkan-wirausahawan-bisa-fokus-mengejar-uang-gmo {
  margin-left: 13.5rem;
  max-width: 28.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd {
  box-sizing: border-box;
  padding-left: 7.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .about-us-gvD {
  margin-right: 12.8rem;
  width: 25.5rem;
  row-gap: 0.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .about-us-gvD .auto-group-bau1-cYy {
  width: 7.4rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .about-us-gvD .auto-group-bau1-cYy .line-24-YxR {
  width: 7.4rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 2.2123rem;
  object-fit: contain;
  vertical-align: top;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .about-us-gvD .auto-group-bau1-cYy .aboutus-tWV {
  width: 7rem;
  height: 2.4rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .about-us-gvD .auto-group-bau1-cYy .aboutus-tWV .aboutus-tWV-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .about-us-gvD .auto-group-bau1-cYy .aboutus-tWV .aboutus-tWV-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .about-us-gvD .group-263-Zm3 {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding-left: 0.3125rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .about-us-gvD .group-263-Zm3 .location-toK {
  margin: 0.725rem 0.513rem 0rem 0rem;
  width: 0.875rem;
  height: 1.3028rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .about-us-gvD .group-263-Zm3 .jl-dharmawangsa-no138-d-airlangga-kec-gubeng-surabaya-jawa-timur-60282-ovH {
  max-width: 23.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .about-us-gvD .group-264-UFj {
  margin-right: 3.6rem;
  width: calc(100% - 3.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .about-us-gvD .group-264-UFj .icon-envelope-closed-ooo {
  margin: 0.2rem 0.5rem 0rem 0rem;
  width: 1.6rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .about-us-gvD .group-264-UFj .foodysbussinesgmailcom-ubw {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .about-us-gvD .group-265-pU1 {
  margin-right: 13.5rem;
  box-sizing: border-box;
  padding-left: 0.1333rem;
  width: calc(100% - 13.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .about-us-gvD .group-265-pU1 .calling-MTw {
  margin: 0rem 0.633rem 0.1rem 0rem;
  width: 1.3333rem;
  height: 1.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .about-us-gvD .group-265-pU1 .item-0274-2885822-gWD {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .comunity-CUZ {
  margin-right: 7.9954rem;
  width: 9.7046rem;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .comunity-CUZ .comunity-LKs {
  margin: 0rem 0rem 0.1rem 1.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .comunity-CUZ .comunity-LKs .comunity-LKs-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .comunity-CUZ .comunity-LKs .comunity-LKs-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .comunity-CUZ .line-26-E3s {
  margin-bottom: 1.4rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .comunity-CUZ .group-266-mZb {
  width: 6.7rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .sosmed-K5K {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .sosmed-K5K .social-media-rqw {
  margin-left: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .sosmed-K5K .social-media-rqw .social-media-rqw-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .sosmed-K5K .social-media-rqw .social-media-rqw-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .sosmed-K5K .line-25-9ry {
  margin-bottom: 1.4rem;
  width: 10.0045rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .isi-footer-iMo .auto-group-caeo-wxd .sosmed-K5K .list-sosmed-VA9 {
  width: 14.1rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .pemisah-pCR {
  margin-bottom: 3.3rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .mark-list-kbs {
  margin: 0rem 21.2rem 0rem 33.9rem;
  width: calc(100% - 55.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .mark-list-kbs .copyright-2023-by-foodys-all-rights-reserved-ruo {
  margin: 0rem 9.6rem 1.7rem 0rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .footer-uQM .mark-list-kbs .terima-kasih-telah-mengunjungi-foodys-jangan-ragu-untuk-menghubungi-kami-jika-anda-memiliki-pertanyaan-atau-saran-wAZ {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .foodies-1-C6V {
  width: 30.1rem;
  height: 27.7rem;
  position: absolute;
  left: 7.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.produk-page-member-8yw .auto-group-hdcf-TmK .footer-yWh .line-22-KS1 {
  width: 151.2rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 6.2rem;
  background-color: #000000;
}
.produk-page-member-8yw .auto-group-af71-3N1 {
  box-sizing: border-box;
  padding: 13.3rem 6.7rem 4.562rem 7rem;
  width: 151.2rem;
  height: 98.3621rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.produk-page-member-8yw .auto-group-af71-3N1 .search-produk-jEq {
  margin-bottom: 4.5rem;
  box-sizing: border-box;
  padding: 1.8rem 2.252rem 2.2rem 5.4rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .search-produk-jEq .search-opsi-eMo {
  margin: 0.6rem 61rem 0rem 0rem;
  height: 4.8rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .search-produk-jEq .search-opsi-eMo .terlaris-ZzZ {
  margin-right: 6.2rem;
  width: 16.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffb000;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .search-produk-jEq .search-opsi-eMo .kategori-3uj {
  margin-right: 7rem;
  box-sizing: border-box;
  padding: 1.3rem 1.4rem 1.1rem 1.8rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffb000;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .search-produk-jEq .search-opsi-eMo .kategori-3uj .kategori-maq {
  margin-right: 3.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .search-produk-jEq .search-opsi-eMo .kategori-3uj .iconly-light-arrow-down-2-GGh {
  margin-bottom: 0.4159rem;
  width: 1.4rem;
  height: 0.6869rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .search-produk-jEq .search-opsi-eMo .harga-Acy {
  box-sizing: border-box;
  padding: 1.1rem 1.5rem 1.3rem 2.3rem;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #ffb000;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .search-produk-jEq .search-opsi-eMo .harga-Acy .harga-h77 {
  margin-right: 5.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.024rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .search-produk-jEq .search-opsi-eMo .harga-Acy .iconly-light-arrow-down-2-QXK {
  margin-top: 0.1841rem;
  width: 1.4rem;
  height: 0.6869rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .search-produk-jEq .keranjang-gzd {
  margin-bottom: 0.4rem;
  width: 5.2478rem;
  height: 5rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq {
  margin-left: 0.01rem;
  width: calc(100% - 0.01rem);
  display: flex;
  align-items: flex-start;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-qj9y-97X {
  margin: 0.1rem 2.176rem 0rem 0rem;
  width: 32.7404rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-qj9y-97X .daun-semanggi-epy {
  margin-bottom: 4.1rem;
  width: 100%;
  height: 19.3rem;
  cursor: pointer;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-qj9y-97X .daun-semanggi-epy .foto-barang-PGm {
  width: 32.7404rem;
  height: 14.9028rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-qj9y-97X .daun-semanggi-epy .tag-barang-iK3 {
  box-sizing: border-box;
  padding: 0.3rem 1.001rem 0.213rem 0.69rem;
  width: 32.7404rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 14.1rem;
  display: flex;
  align-items: center;
  background-color: #3dbc3d;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-qj9y-97X .daun-semanggi-epy .tag-barang-iK3 .daun-semanggi-orH {
  margin: 0rem 8.25rem 2.287rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-qj9y-97X .daun-semanggi-epy .tag-barang-iK3 .rp-15000-cyw {
  margin-top: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-qj9y-97X .lontong-yuB {
  margin-bottom: 3.9rem;
  width: 100%;
  height: 19.5rem;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-qj9y-97X .lontong-yuB .foto-barang-8XB {
  width: 32.7404rem;
  height: 17.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-qj9y-97X .lontong-yuB .tag-barang-SXs {
  box-sizing: border-box;
  padding: 0.251rem 1.501rem 0.213rem 1.59rem;
  width: 32.7404rem;
  height: 5.1511rem;
  position: absolute;
  left: 0;
  top: 14.3489rem;
  display: flex;
  align-items: center;
  background-color: #3dbc3d;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-qj9y-97X .lontong-yuB .tag-barang-SXs .lontong-XpD {
  margin: 0rem 14.95rem 2.287rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-qj9y-97X .lontong-yuB .tag-barang-SXs .rp-5000-SRP {
  margin-top: 2.2867rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-qj9y-97X .lentho-Kk5 {
  width: 100%;
  height: 18.8rem;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-qj9y-97X .lentho-Kk5 .foto-barang-fZ3 {
  width: 32.7404rem;
  height: 17.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-qj9y-97X .lentho-Kk5 .tag-barang-Pzq {
  box-sizing: border-box;
  padding: 0.251rem 1.251rem 0.213rem 1.39rem;
  width: 32.7404rem;
  height: 5.1511rem;
  position: absolute;
  left: 0;
  top: 13.6489rem;
  display: flex;
  align-items: center;
  background-color: #3dbc3d;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-qj9y-97X .lentho-Kk5 .tag-barang-Pzq .lentho-5cm {
  margin: 0rem 16rem 2.287rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-qj9y-97X .lentho-Kk5 .tag-barang-Pzq .rp-4000-BQu {
  margin-top: 2.2867rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-h5a3-4jb {
  margin: 0.1rem 2.176rem 0rem 0rem;
  width: 32.7404rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-h5a3-4jb .taoge-nfb {
  margin-bottom: 4.2rem;
  width: 100%;
  height: 19.3rem;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-h5a3-4jb .taoge-nfb .foto-barang-8zM {
  width: 32.7404rem;
  height: 17.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-h5a3-4jb .taoge-nfb .tag-barang-fzH {
  box-sizing: border-box;
  padding: 0.251rem 1.267rem 0.213rem 0.974rem;
  width: 32.7404rem;
  height: 5.1511rem;
  position: absolute;
  left: 0;
  top: 14.1489rem;
  display: flex;
  align-items: center;
  background-color: #3dbc3d;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-h5a3-4jb .taoge-nfb .tag-barang-fzH .taoge-BBw {
  margin: 0rem 16.6rem 2.287rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-h5a3-4jb .taoge-nfb .tag-barang-fzH .rp-5000-guP {
  margin-top: 2.2867rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-h5a3-4jb .kacang-xru {
  margin-bottom: 4.1rem;
  width: 100%;
  height: 19.3rem;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-h5a3-4jb .kacang-xru .foto-barang-hpV {
  width: 32.7404rem;
  height: 17.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-h5a3-4jb .kacang-xru .tag-barang-qfo {
  box-sizing: border-box;
  padding: 0.451rem 1.017rem 0.213rem 0.473rem;
  width: 32.7404rem;
  height: 5.1511rem;
  position: absolute;
  left: 0;
  top: 14.1489rem;
  display: flex;
  align-items: center;
  background-color: #3dbc3d;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-h5a3-4jb .kacang-xru .tag-barang-qfo .kacang-YKK {
  margin: 0rem 16.35rem 2.087rem 0rem;
  display: flex;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-h5a3-4jb .kacang-xru .tag-barang-qfo .rp-13000-dbf {
  margin-top: 2.0867rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-h5a3-4jb .tahu-KUV {
  width: 100%;
  height: 18.7rem;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-h5a3-4jb .tahu-KUV .foto-barang-GuX {
  width: 32.7404rem;
  height: 17.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-h5a3-4jb .tahu-KUV .tag-barang-ouT {
  box-sizing: border-box;
  padding: 0.251rem 1.267rem 0.213rem 0.873rem;
  width: 32.7404rem;
  height: 5.1511rem;
  position: absolute;
  left: 0;
  top: 13.5489rem;
  display: flex;
  align-items: center;
  background-color: #3dbc3d;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-h5a3-4jb .tahu-KUV .tag-barang-ouT .tahu-JrD {
  margin: 0rem 18.2rem 2.287rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-h5a3-4jb .tahu-KUV .tag-barang-ouT .rp-3000-RR3 {
  margin-top: 2.2867rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jgur-v6u {
  margin-right: 1.4596rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jgur-v6u .kangkung-rmF {
  margin: 0rem 0.057rem 4.2rem 0rem;
  width: 32.7404rem;
  height: 19.4rem;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jgur-v6u .kangkung-rmF .foto-barang-BYd {
  width: 32.7404rem;
  height: 17.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jgur-v6u .kangkung-rmF .tag-barang-hWy {
  box-sizing: border-box;
  padding: 0.251rem 1.534rem 0.213rem 0.807rem;
  width: 32.7404rem;
  height: 5.1511rem;
  position: absolute;
  left: 0;
  top: 14.2489rem;
  display: flex;
  align-items: center;
  background-color: #3dbc3d;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jgur-v6u .kangkung-rmF .tag-barang-hWy .kangkung-QAV {
  margin: 0rem 13.7rem 2.287rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jgur-v6u .kangkung-rmF .tag-barang-hWy .rp-2000-74u {
  margin-top: 2.2867rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jgur-v6u .kerupuk-semanggi-BaZ {
  margin: 0rem 0rem 4.4rem 0.057rem;
  width: 32.7404rem;
  height: 19.2rem;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jgur-v6u .kerupuk-semanggi-BaZ .foto-barang-6xR {
  width: 32.7404rem;
  height: 17.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jgur-v6u .kerupuk-semanggi-BaZ .tag-barang-dxM {
  box-sizing: border-box;
  padding: 0.451rem 1.434rem 0.067rem 1.557rem;
  width: 32.7404rem;
  height: 5.1511rem;
  position: absolute;
  left: 0;
  top: 14.0489rem;
  display: flex;
  align-items: center;
  background-color: #3dbc3d;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jgur-v6u .kerupuk-semanggi-BaZ .tag-barang-dxM .kerupuk-semanggi-jVb {
  margin: 0rem 4.85rem 2.233rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jgur-v6u .kerupuk-semanggi-BaZ .tag-barang-dxM .rp-10000-qoX {
  margin-top: 2.2332rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jgur-v6u .kubis-Kyb {
  margin-right: 0.0569rem;
  width: 32.7404rem;
  height: 18.9rem;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jgur-v6u .kubis-Kyb .foto-barang-U5o {
  width: 32.7404rem;
  height: 17.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jgur-v6u .kubis-Kyb .tag-barang-otm {
  box-sizing: border-box;
  padding: 0.251rem 1.284rem 0.213rem 1.757rem;
  width: 32.7404rem;
  height: 5.1511rem;
  position: absolute;
  left: 0;
  top: 13.7489rem;
  display: flex;
  align-items: center;
  background-color: #3dbc3d;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jgur-v6u .kubis-Kyb .tag-barang-otm .kubis-tQR {
  margin: 0rem 16.7rem 2.287rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jgur-v6u .kubis-Kyb .tag-barang-otm .rp-4000-BPX {
  margin-top: 2.2867rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.9rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jh3q-3wX {
  margin-top: 0.1rem;
  width: 33.4rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jh3q-3wX .petis-udang-agZ {
  margin-bottom: 4.2rem;
  width: 32.7404rem;
  height: 19.3rem;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jh3q-3wX .petis-udang-agZ .foto-barang-iGy {
  width: 32.7404rem;
  height: 17.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jh3q-3wX .petis-udang-agZ .tag-barang-eRX {
  box-sizing: border-box;
  padding: 0.251rem 1.05rem 0.213rem 1.09rem;
  width: 32.7404rem;
  height: 5.1511rem;
  position: absolute;
  left: 0;
  top: 14.1489rem;
  display: flex;
  align-items: center;
  background-color: #3dbc3d;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jh3q-3wX .petis-udang-agZ .tag-barang-eRX .petis-udang-jSy {
  margin: 0rem 11.8rem 2.287rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jh3q-3wX .petis-udang-agZ .tag-barang-eRX .rp-12000-dHT {
  margin-top: 2.2867rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jh3q-3wX .bawang-goreng-uVs {
  margin-bottom: 4.4rem;
  width: 100%;
  height: 19.2rem;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jh3q-3wX .bawang-goreng-uVs .foto-barang-TGV {
  width: 32.7404rem;
  height: 17.9rem;
  position: absolute;
  left: 0.6596rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jh3q-3wX .bawang-goreng-uVs .tag-barang-nJm {
  width: 33.4rem;
  height: 5.1511rem;
  position: absolute;
  left: 0;
  top: 14.0489rem;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jh3q-3wX .bawang-goreng-uVs .tag-barang-nJm .nama-produk-harga-K3o {
  width: 32.7404rem;
  height: 5.1511rem;
  position: absolute;
  left: 0.6596rem;
  top: 0;
  background-color: #3dbc3d;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jh3q-3wX .bawang-goreng-uVs .tag-barang-nJm .bawang-goreng-ozZ {
  width: 13.7rem;
  height: 2.4rem;
  position: absolute;
  left: 2.05rem;
  top: 0.2511rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jh3q-3wX .bawang-goreng-uVs .tag-barang-nJm .rp-7000-5hB {
  width: 7.5rem;
  height: 2.4rem;
  position: absolute;
  left: 24.3499rem;
  top: 2.5378rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jh3q-3wX .telur-k2d {
  width: 32.7404rem;
  height: 19.4rem;
  position: relative;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jh3q-3wX .telur-k2d .foto-barang-VF7 {
  width: 32.7404rem;
  height: 17.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jh3q-3wX .telur-k2d .tag-barang-cqX {
  box-sizing: border-box;
  padding: 0.651rem 0.75rem 0.4rem 2.09rem;
  width: 32.7404rem;
  height: 5.1511rem;
  position: absolute;
  left: 0;
  top: 14.2489rem;
  display: flex;
  align-items: center;
  background-color: #3dbc3d;
  border-radius: 0.5rem;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jh3q-3wX .telur-k2d .tag-barang-cqX .telur-7nH {
  margin: 0rem 16.2rem 1.7rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .auto-group-af71-3N1 .list-barang-QQq .auto-group-jh3q-3wX .telur-k2d .tag-barang-cqX .rp-20000-cyw {
  margin-top: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .navbar-user-gU1 {
  width: 151.2rem;
  height: 9.1rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #049904;
}
.produk-page-member-8yw .navbar-user-gU1 .profil-1mB {
  box-sizing: border-box;
  padding-left: 0.1rem;
  width: 19.8rem;
  height: 6rem;
  cursor: pointer;
  position: absolute;
  left: 125.4rem;
  top: 1.6rem;
  display: flex;
  align-items: center;
}
.produk-page-member-8yw .navbar-user-gU1 .profil-1mB .andi-akhsanul-vNM {
  margin-right: 1.052rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .navbar-user-gU1 .profil-1mB .dropdown-menu-2gH {
  box-sizing: border-box;
  padding: 1.2rem 1.38rem 1.2rem 1.472rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-6-Gjj.png');
  flex-shrink: 0;
}
.produk-page-member-8yw .navbar-user-gU1 .profil-1mB .dropdown-menu-2gH .profil-xZw {
  width: 3.496rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
}
.produk-page-member-8yw .navbar-user-gU1 .line-21-tCh {
  width: 151.2rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 9.1rem;
  background-color: #000000;
}
.produk-page-member-8yw .navbar-user-gU1 .foodies-1-Qwj {
  width: 30.1rem;
  height: 27.7rem;
  position: absolute;
  left: 2.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.produk-page-member-8yw .navbar-user-gU1 .navigasi-YY9 {
  width: 41.45rem;
  height: 2.4rem;
  position: absolute;
  left: 76.05rem;
  top: 3.3rem;
  display: flex;
  align-items: center;
}
.produk-page-member-8yw .navbar-user-gU1 .navigasi-YY9 .home-4WV {
  margin-right: 3.95rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .navbar-user-gU1 .navigasi-YY9 .outlet-Zi9 {
  margin-right: 4.1rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .navbar-user-gU1 .navigasi-YY9 .contact-5wP {
  margin-right: 3.15rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .navbar-user-gU1 .navigasi-YY9 .produk-osP {
  margin-right: 2.95rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.produk-page-member-8yw .navbar-user-gU1 .navigasi-YY9 .edukasi-vx1 {
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
