
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.7rem;
}.slider-outlet-xhX {
  box-sizing: border-box;
  padding: 2rem 1.1rem 8.8rem 2rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
}
.slider-outlet-xhX .property-1frame-1-4Em {
  margin: 0rem 0.9rem 6.7rem 0rem;
  box-sizing: border-box;
  padding-left: 0.7rem;
  width: 149.7rem;
  height: 48.1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 2.3rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-JQ1 {
  margin-top: 0.3rem;
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-JQ1 .rectangle-91-DWy {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-JQ1 .rectangle-90-8P3 {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-JQ1 .outlet1-SuX {
  width: 22.9rem;
  height: 13.3rem;
  position: absolute;
  left: 2.1rem;
  top: 30.4rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-JQ1 .outlet1-SuX .auto-group-mnyr-y8m {
  margin: 0rem 7.2rem 1.8rem 0rem;
  width: calc(100% - 7.2rem);
  display: flex;
  align-items: center;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-JQ1 .outlet1-SuX .auto-group-mnyr-y8m .group-5Sh {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-JQ1 .outlet1-SuX .auto-group-mnyr-y8m .surabaya-barat-BEq {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-JQ1 .outlet1-SuX .outlet-pak-hasan-tQ9 {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-JQ1 .outlet1-SuX .jual-makanan-tradisional-surabaya-bJZ {
  max-width: 22.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-JQ1 .group-HhB {
  opacity: 0;
  box-sizing: border-box;
  padding: 2.75rem 3.671rem 2.75rem 3.251rem;
  width: 8.4rem;
  height: 8.5rem;
  position: absolute;
  left: 0.2rem;
  top: 15.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-e4h.png');
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-JQ1 .group-HhB .vector-ypu {
  width: 1.4784rem;
  height: 3.0005rem;
  object-fit: contain;
  vertical-align: top;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-V2Z {
  margin-top: 0.3rem;
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-V2Z .rectangle-91-DjF {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-V2Z .rectangle-90-MKf {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-V2Z .outlet2-5mT {
  width: 22.9rem;
  height: 13.3rem;
  position: absolute;
  left: 2.2rem;
  top: 30.6rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-V2Z .outlet2-5mT .auto-group-i3um-1f7 {
  margin: 0rem 7.2rem 1.8rem 0rem;
  width: calc(100% - 7.2rem);
  display: flex;
  align-items: center;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-V2Z .outlet2-5mT .auto-group-i3um-1f7 .group-Kfo {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-V2Z .outlet2-5mT .auto-group-i3um-1f7 .surabaya-barat-SVX {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-V2Z .outlet2-5mT .outlet-pak-hasan-mGu {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-V2Z .outlet2-5mT .jual-makanan-tradisional-surabaya-5YV {
  max-width: 22.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-PJH {
  margin-top: 0.4rem;
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-PJH .rectangle-91-vJD {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-PJH .rectangle-90-ek1 {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-PJH .outlet3-yXP {
  width: 22.9rem;
  height: 13.3rem;
  position: absolute;
  left: 2.4rem;
  top: 30.5rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-PJH .outlet3-yXP .auto-group-4km5-5qK {
  margin: 0rem 7.2rem 1.8rem 0rem;
  width: calc(100% - 7.2rem);
  display: flex;
  align-items: center;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-PJH .outlet3-yXP .auto-group-4km5-5qK .group-QMo {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-PJH .outlet3-yXP .auto-group-4km5-5qK .surabaya-barat-XhK {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-PJH .outlet3-yXP .outlet-pak-hasan-eX3 {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-PJH .outlet3-yXP .jual-makanan-tradisional-surabaya-AkH {
  max-width: 22.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-5MT {
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-5MT .rectangle-91-DiZ {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-5MT .rectangle-90-9s7 {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-5MT .outlet4-5km {
  width: 22.9rem;
  height: 13.3rem;
  position: absolute;
  left: 2.4rem;
  top: 30.9rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-5MT .outlet4-5km .auto-group-lyaj-cEu {
  margin: 0rem 7.2rem 1.8rem 0rem;
  width: calc(100% - 7.2rem);
  display: flex;
  align-items: center;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-5MT .outlet4-5km .auto-group-lyaj-cEu .group-8j3 {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-5MT .outlet4-5km .auto-group-lyaj-cEu .surabaya-barat-4Mo {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-5MT .outlet4-5km .outlet-pak-hasan-CD7 {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-5MT .outlet4-5km .jual-makanan-tradisional-surabaya-WDo {
  max-width: 22.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-5MT .group-c1w {
  box-sizing: border-box;
  padding: 2.75rem 3.173rem 2.75rem 3.583rem;
  width: 8.2rem;
  height: 8.5rem;
  cursor: pointer;
  position: absolute;
  left: 23rem;
  top: 15.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-5vy.png');
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-5MT .group-c1w .vector-Wd7 {
  width: 1.4432rem;
  height: 3.0005rem;
  object-fit: contain;
  vertical-align: top;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-2bT {
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-2bT .rectangle-91-mZ3 {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-2bT .rectangle-90-WFj {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-2bT .outlet5-e73 {
  width: 31.2rem;
  height: 10.9rem;
  position: absolute;
  left: 2.4rem;
  top: 30.7rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-2bT .outlet5-e73 .auto-group-he6f-Ar5 {
  margin: 0rem 15.5rem 1.8rem 0rem;
  width: calc(100% - 15.5rem);
  display: flex;
  align-items: center;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-2bT .outlet5-e73 .auto-group-he6f-Ar5 .group-hr1 {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-2bT .outlet5-e73 .auto-group-he6f-Ar5 .surabaya-barat-EL9 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-2bT .outlet5-e73 .outlet-pak-rudi-kpH {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-2bT .outlet5-e73 .jual-makanan-tradisional-surabaya-4py {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-nW5 {
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-nW5 .rectangle-91-hsw {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-nW5 .rectangle-90-E7B {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-nW5 .outlet6-MxV {
  width: 31.2rem;
  height: 10.9rem;
  position: absolute;
  left: 2.4rem;
  top: 31.1rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-nW5 .outlet6-MxV .auto-group-ajmr-tSd {
  margin: 0rem 15.5rem 1.8rem 0rem;
  width: calc(100% - 15.5rem);
  display: flex;
  align-items: center;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-nW5 .outlet6-MxV .auto-group-ajmr-tSd .group-DUu {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-nW5 .outlet6-MxV .auto-group-ajmr-tSd .surabaya-barat-ji9 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-nW5 .outlet6-MxV .outlet-pak-hasan-GCH {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-nW5 .outlet6-MxV .jual-makanan-tradisional-surabaya-ysP {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-gmo {
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-gmo .rectangle-91-cvM {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-gmo .rectangle-90-jzy {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-gmo .outlet7-UBs {
  width: 31.2rem;
  height: 10.9rem;
  position: absolute;
  left: 2.4rem;
  top: 31.3rem;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-gmo .outlet7-UBs .auto-group-uytz-b1b {
  margin: 0rem 15.5rem 1.8rem 0rem;
  width: calc(100% - 15.5rem);
  display: flex;
  align-items: center;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-gmo .outlet7-UBs .auto-group-uytz-b1b .group-KTP {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-gmo .outlet7-UBs .auto-group-uytz-b1b .surabaya-barat-dys {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-gmo .outlet7-UBs .outlet-pak-hasan-Ayo {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1frame-1-4Em .cardoutletlanding-gmo .outlet7-UBs .jual-makanan-tradisional-surabaya-J4R {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1variant2-1zR {
  margin-left: 0.9rem;
  width: 149.7rem;
  height: 48.1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 2.3rem;
  align-items: flex-start;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-j9j {
  margin-top: 0.3rem;
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-j9j .rectangle-91-sFw {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-j9j .rectangle-90-Cp1 {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-j9j .outlet1-8hf {
  width: 31.2rem;
  height: 10.9rem;
  position: absolute;
  left: 2.1rem;
  top: 30.4rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-j9j .outlet1-8hf .auto-group-cnkb-s9T {
  margin: 0rem 15.5rem 1.8rem 0rem;
  width: calc(100% - 15.5rem);
  display: flex;
  align-items: center;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-j9j .outlet1-8hf .auto-group-cnkb-s9T .group-CSd {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-j9j .outlet1-8hf .auto-group-cnkb-s9T .surabaya-barat-Xjo {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-j9j .outlet1-8hf .outlet-pak-hasan-fb7 {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-j9j .outlet1-8hf .jual-makanan-tradisional-surabaya-z7b {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-ukM {
  margin-top: 0.3rem;
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-ukM .rectangle-91-T1B {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-ukM .rectangle-90-Ntq {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-ukM .outlet2-JXb {
  width: 31.2rem;
  height: 10.9rem;
  position: absolute;
  left: 2.2rem;
  top: 30.6rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-ukM .outlet2-JXb .auto-group-frqs-qXX {
  margin: 0rem 15.5rem 1.8rem 0rem;
  width: calc(100% - 15.5rem);
  display: flex;
  align-items: center;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-ukM .outlet2-JXb .auto-group-frqs-qXX .group-ZyK {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-ukM .outlet2-JXb .auto-group-frqs-qXX .surabaya-barat-Vry {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-ukM .outlet2-JXb .outlet-pak-hasan-qR3 {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-ukM .outlet2-JXb .jual-makanan-tradisional-surabaya-knu {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-UD7 {
  margin-top: 0.4rem;
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-UD7 .rectangle-91-p25 {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-UD7 .rectangle-90-wcV {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-UD7 .outlet3-HAZ {
  width: 31.2rem;
  height: 10.9rem;
  position: absolute;
  left: 2.4rem;
  top: 30.5rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-UD7 .outlet3-HAZ .auto-group-q7bh-oeh {
  margin: 0rem 15.5rem 1.8rem 0rem;
  width: calc(100% - 15.5rem);
  display: flex;
  align-items: center;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-UD7 .outlet3-HAZ .auto-group-q7bh-oeh .group-Y6V {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-UD7 .outlet3-HAZ .auto-group-q7bh-oeh .surabaya-barat-Tz9 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-UD7 .outlet3-HAZ .outlet-pak-hasan-bKf {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-UD7 .outlet3-HAZ .jual-makanan-tradisional-surabaya-ifB {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-qzh {
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-qzh .rectangle-91-axH {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-qzh .rectangle-90-iYh {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-qzh .outlet4-Sjb {
  width: 22.9rem;
  height: 13.3rem;
  position: absolute;
  left: 2.4rem;
  top: 30.9rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-qzh .outlet4-Sjb .auto-group-hbrt-AvV {
  margin: 0rem 7.2rem 1.8rem 0rem;
  width: calc(100% - 7.2rem);
  display: flex;
  align-items: center;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-qzh .outlet4-Sjb .auto-group-hbrt-AvV .group-udB {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-qzh .outlet4-Sjb .auto-group-hbrt-AvV .surabaya-barat-EQZ {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-qzh .outlet4-Sjb .outlet-pak-hasan-8kq {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-qzh .outlet4-Sjb .jual-makanan-tradisional-surabaya-TYD {
  max-width: 22.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-qzh .group-a73 {
  box-sizing: border-box;
  padding: 2.75rem 3.671rem 2.75rem 3.251rem;
  width: 8.4rem;
  height: 8.5rem;
  cursor: pointer;
  position: absolute;
  left: 5.7rem;
  top: 15.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-BiZ.png');
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-qzh .group-a73 .vector-sbw {
  width: 1.4784rem;
  height: 3.0005rem;
  object-fit: contain;
  vertical-align: top;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-Q65 {
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-Q65 .rectangle-91-wbo {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-Q65 .rectangle-90-5T7 {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-Q65 .outlet5-R1B {
  width: 22.7rem;
  height: 13.3rem;
  position: absolute;
  left: 2.3rem;
  top: 30.7rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-Q65 .outlet5-R1B .auto-group-vezq-YLh {
  margin: 0rem 6.9rem 1.8rem 0.1rem;
  width: calc(100% - 7rem);
  display: flex;
  align-items: center;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-Q65 .outlet5-R1B .auto-group-vezq-YLh .group-fAR {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-Q65 .outlet5-R1B .auto-group-vezq-YLh .surabaya-barat-nVw {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-Q65 .outlet5-R1B .outlet-pak-rudi-KVs {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-Q65 .outlet5-R1B .jual-makanan-tradisional-surabaya-3Ay {
  margin-left: 0.1rem;
  max-width: 22.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-jJh {
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-jJh .rectangle-91-57f {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-jJh .rectangle-90-BwP {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-jJh .outlet6-Knh {
  width: 22.9rem;
  height: 13.3rem;
  position: absolute;
  left: 2.4rem;
  top: 31.1rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-jJh .outlet6-Knh .auto-group-uwgt-TP7 {
  margin: 0rem 7.2rem 1.8rem 0rem;
  width: calc(100% - 7.2rem);
  display: flex;
  align-items: center;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-jJh .outlet6-Knh .auto-group-uwgt-TP7 .group-Ba1 {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-jJh .outlet6-Knh .auto-group-uwgt-TP7 .surabaya-barat-iK3 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-jJh .outlet6-Knh .outlet-pak-hasan-3s7 {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-jJh .outlet6-Knh .jual-makanan-tradisional-surabaya-ykm {
  max-width: 22.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-HWZ {
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-HWZ .rectangle-91-ozh {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-HWZ .rectangle-90-Xvh {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-HWZ .outlet7-fn1 {
  width: 22.9rem;
  height: 13.3rem;
  position: absolute;
  left: 2.4rem;
  top: 31.3rem;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-HWZ .outlet7-fn1 .auto-group-4njf-Cmw {
  margin: 0rem 7.2rem 1.8rem 0rem;
  width: calc(100% - 7.2rem);
  display: flex;
  align-items: center;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-HWZ .outlet7-fn1 .auto-group-4njf-Cmw .group-XpD {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-HWZ .outlet7-fn1 .auto-group-4njf-Cmw .surabaya-barat-s7P {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-HWZ .outlet7-fn1 .outlet-pak-hasan-1Db {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-HWZ .outlet7-fn1 .jual-makanan-tradisional-surabaya-Kk5 {
  max-width: 22.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-HWZ .group-eXT {
  opacity: 0;
  box-sizing: border-box;
  padding: 2.75rem 3.173rem 2.75rem 3.583rem;
  width: 8.2rem;
  height: 8.5rem;
  position: absolute;
  left: 28.5rem;
  top: 15.9rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-Ned.png');
}
.slider-outlet-xhX .property-1variant2-1zR .cardoutletlanding-HWZ .group-eXT .vector-Ycq {
  width: 1.4432rem;
  height: 3.0005rem;
  object-fit: contain;
  vertical-align: top;
}
