
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 123.758rem;
}.slider-produk-cjK {
  width: 100%;
  height: 39.6753rem;
  position: relative;
}
.slider-produk-cjK .foto-barang-mMK {
  width: 123.7583rem;
  height: 39.6753rem;
  position: absolute;
  left: -0.4rem;
  top: 1.1rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 1rem;
}
.slider-produk-cjK .group-24-UWd {
  width: 13.3292rem;
  height: 2.5rem;
  position: absolute;
  left: 55.1395rem;
  top: 35.0379rem;
  display: flex;
  align-items: center;
}
.slider-produk-cjK .group-24-UWd .ellipse-11-zjs {
  margin-right: 2.7288rem;
  width: 2.6239rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slider-produk-cjK .group-24-UWd .ellipse-9-L33 {
  margin-right: 2.7288rem;
  width: 2.6239rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.slider-produk-cjK .group-24-UWd .ellipse-10-GhP {
  width: 2.6239rem;
  height: 2.5rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
