
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 38.2rem;
}.calendar-9Dj {
  border-radius: 1rem;
  box-shadow: 0 3.5rem 10rem rgba(43, 3, 49, 0.0799999982);
  width: 100%;
  height: 52.6rem;
  position: relative;
  border: solid 0.1rem #f0f0f0;
  box-sizing: border-box;
  background-color: #ffffff;

  .numbers-tBK {
    width: 26.3rem;
    height: 17.5rem;
    position: absolute;
    left: 6.2rem;
    top: 22.7rem;
    display: flex;
    align-items: center;
    border-radius: 1.5rem;

    .auto-group-lqk5-zk9 {
      margin-right: 2.6rem;
      height: 100%;
      row-gap: 2.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item-29-L3K {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #b3b2b2;
        font-family: Poppins, 'Source Sans Pro';
      }
      .item-5-rXT {
        margin-left: 0.1rem;
        text-align: center;
        line-height: 1.25;
        font-family: Poppins, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 700;
        color: #5c5c5c;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item-12-nR7 {
        text-align: center;
        font-family: Poppins, 'Source Sans Pro';
        margin-right: 0.1rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
      }
      .item-19-Wc1 {
        white-space: nowrap;
        margin-right: 0.1rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .item-26-369 {
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
      }
    }
    .auto-group-eeuk-Z4V {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 2.7rem;
      height: 100%;
      row-gap: 2.5rem;

      .item-30-HmB {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #b3b2b2;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item-6-dq3 {
        font-size: 1.2rem;
        line-height: 1.25;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.2rem;
        text-align: center;
        font-weight: 700;
        color: #5c5c5c;
      }
      .item-13-mAZ {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item-20-6id {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.1rem;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
      }
      .item-27-DoF {
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-7hgp-y1j {
      margin-right: 2.35rem;
      height: 100%;
      row-gap: 2.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item-31-gwj {
        text-align: center;
        font-weight: 700;
        line-height: 1.25;
        color: #b3b2b2;
        font-family: Poppins, 'Source Sans Pro';
        margin-right: 0.1rem;
        font-size: 1.2rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item-7-DRs {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
      .item-14-ZEq {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
      }
      .item-21-tY1 {
        font-weight: 700;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 0.1rem;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.25;
        color: #5c5c5c;
        white-space: nowrap;
      }
      .item-28-pAm {
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-8k9y-9yj {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 2.3rem;
      height: 100%;
      row-gap: 2.5rem;
      align-items: center;

      .item-1-tgR {
        margin-left: 0.1rem;
        text-align: center;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
      }
      .item-8-2Gq {
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
      }
      .item-15-N5o {
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-left: 0.1rem;
        text-align: center;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.25;
        white-space: nowrap;
      }
      .item-22-HyT {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
      .item-29-qVB {
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
      }
    }
    .auto-group-frx1-MTX {
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 2.35rem;
      height: 100%;
      row-gap: 2.5rem;

      .item-2-6AD {
        margin-left: 0.2rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        flex-shrink: 0;
        text-align: center;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-9-pM7 {
        text-align: center;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        margin-left: 0.1rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item-16-wwX {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
      }
      .item-23-trm {
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-30-eL9 {
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
      }
    }
    .auto-group-hjqh-ajb {
      height: 100%;
      row-gap: 2.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 1.8rem;

      .item-3-X93 {
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.25;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.1rem;
        font-weight: 700;
        color: #5c5c5c;
      }
      .item-10-S17 {
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
      }
      .item-17-n4y {
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
      }
      .item-24-X2Z {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
      .item-31-sMK {
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
      }
    }
    .auto-group-apcf-p1f {
      flex-direction: column;
      flex-shrink: 0;
      width: 3rem;
      height: 100%;
      align-items: center;
      display: flex;

      .item-4-9Zj {
        margin: 0rem 0rem 1.8rem 0.1rem;
        line-height: 1.25;
        color: #5c5c5c;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-5uab-4Au {
        text-align: center;
        font-weight: 700;
        align-items: center;
        margin-bottom: 1.7rem;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        justify-content: center;
        flex-shrink: 0;
        background-color: #049904;
        border-radius: 1.5rem;
        width: 100%;
        height: 3rem;
        font-size: 1.2rem;
        line-height: 1.1666666667;
        white-space: nowrap;
        display: flex;
      }
      .item-18-XaH {
        text-align: center;
        white-space: nowrap;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 0.1rem 2.5rem 0rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
      }
      .item-25-3Hj {
        flex-shrink: 0;
        text-align: center;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin: 0rem 0.1rem 2.5rem 0rem;
        font-size: 1.2rem;
      }
      .item-1-khw {
        margin-left: 0.1rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.25;
        font-size: 1.2rem;
        color: #b3b2b2;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
  .days-GRP {
    height: 1.4rem;
    position: absolute;
    left: 5.6rem;
    top: 17.8rem;
    display: flex;
    align-items: center;
    width: 26.45rem;

    .mon-BYM {
      margin-right: 1.45rem;
      text-align: center;
      line-height: 1.1666666667;
      white-space: nowrap;
      font-size: 1.2rem;
      font-weight: 700;
      color: #049904;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .tue-7gu {
      margin-right: 1.4rem;
      color: #049904;
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.1666666667;
      font-family: Poppins, 'Source Sans Pro';
    }
    .wed-FHK {
      font-size: 1.2rem;
      line-height: 1.1666666667;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 1.35rem;
      text-align: center;
      font-weight: 700;
      color: #049904;
    }
    .thu-P8d {
      line-height: 1.1666666667;
      color: #049904;
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 2rem;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      text-align: center;
      font-size: 1.2rem;
    }
    .fri-JWV {
      text-align: center;
      font-size: 1.2rem;
      color: #049904;
      font-family: Poppins, 'Source Sans Pro';
      margin-right: 2.2rem;
      font-weight: 700;
      line-height: 1.1666666667;
      white-space: nowrap;
      flex-shrink: 0;
    }
    .sat-pzd {
      color: #049904;
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      line-height: 1.1666666667;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      margin-right: 1.65rem;
      font-size: 1.2rem;
    }
    .sun-kdP {
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.1666666667;
      color: #049904;
    }
  }
  .july-2018-5Qm {
    text-transform: uppercase;
    color: #858585;
    white-space: nowrap;
    width: 7.3rem;
    height: 2.1rem;
    top: 9.9rem;
    line-height: 1.3125;
    font-weight: 400;
    font-family: Poppins, 'Source Sans Pro';
    position: absolute;
    left: 15.5rem;
    text-align: center;
    font-size: 1.6rem;
  }
  .t-M7P {
    left: 13.1rem;
    text-transform: uppercase;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    width: 12rem;
    height: 2.1rem;
    position: absolute;
    line-height: 1.3125;
    color: #858585;
    top: 5.8rem;
    font-size: 1.6rem;
    font-weight: 700;
  }
  .close-esB {
    left: 32.6rem;
    top: 3.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
  }
  .button-mgu {
    height: 4rem;
    left: 14.1rem;
    top: 44.7rem;
    font-size: 1rem;
    line-height: 1.6;
    background-color: #049904;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    width: 10rem;
    position: absolute;
    font-weight: 400;
    color: #ffffff;
    font-family: Poppins, 'Source Sans Pro';
    text-align: center;
    white-space: nowrap;
    align-items: center;
  }
}
