
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 135rem;
}.color-palet-MZb {
  width: 100%;
  display: flex;
  column-gap: 4rem;
  align-items: flex-end;

  .auto-group-brn7-sXw {
    width: 23.8rem;
    height: 38.8rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .rectangle-326-biq {
      margin-bottom: 11.6rem;
      width: 100%;
      height: 13.6rem;
      background-color: #049904;
      flex-shrink: 0;
    }
    .rectangle-326-vm7 {
      width: 100%;
      height: 13.6rem;
      background-color: #ffb000;
      flex-shrink: 0;
    }
  }
  .auto-group-tmjy-4cR {
    flex-shrink: 0;
    width: 23.8rem;
    height: 38.8rem;
    align-items: center;
    display: flex;
    flex-direction: column;

    .rectangle-326-QAV {
      margin-bottom: 11.6rem;
      width: 100%;
      height: 13.6rem;
      background-color: #3dbc3d;
      flex-shrink: 0;
    }
    .rectangle-326-LZw {
      width: 100%;
      height: 13.6rem;
      background-color: #fdca0e;
      flex-shrink: 0;
    }
  }
  .auto-group-v739-VBw {
    width: 23.8rem;
    height: 38.8rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .rectangle-326-pED {
      margin-bottom: 11.6rem;
      width: 100%;
      height: 13.6rem;
      background-color: #ceff9d;
      flex-shrink: 0;
    }
    .rectangle-326-x5X {
      width: 100%;
      height: 13.6rem;
      background-color: #ffff00;
      flex-shrink: 0;
    }
  }
  .auto-group-henf-6Sd {
    flex-direction: column;
    flex-shrink: 0;
    width: 23.8rem;
    height: 38.8rem;
    align-items: center;
    display: flex;

    .frame-4-dSZ {
      margin-bottom: 11.6rem;
      width: 100%;
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      flex-shrink: 0;

      .rectangle-326-Nuw {
        width: 100%;
        height: 13.6rem;
        background-color: #ffffff;
      }
    }
    .frame-8-tNV {
      border: solid 0.1rem #000000;
      box-sizing: border-box;
      flex-shrink: 0;
      width: 100%;

      .rectangle-326-Suo {
        height: 13.6rem;
        background-color: #f9f5f5;
        width: 100%;
      }
    }
  }
  .rectangle-326-yPw {
    width: 23.8rem;
    height: 13.6rem;
    background-color: #000000;
    flex-shrink: 0;
  }
}
