
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 28.4rem;
}.dropdown-rating-outlet-T7P {
  height: 22.7rem;
  position: relative;
  width: 100%;

  .rectangle-319-CKs {
    width: 28.4rem;
    height: 20.5rem;
    position: absolute;
    left: 0;
    top: 2.2rem;
    background-color: #ffffff;
    border-radius: 1rem;
  }
  .polygon-2-8UR {
    position: absolute;
    left: 22.4rem;
    top: 0;
    object-fit: contain;
    vertical-align: top;
    width: 4.3rem;
    height: 3.6rem;
  }
  .rating-4cy {
    width: 18.5rem;
    height: 13.6rem;
    position: absolute;
    left: 4.5rem;
    top: 7.8rem;

    .auto-group-febd-CUH {
      margin-bottom: 1.9rem;
      width: 100%;
      height: 3.2rem;
      display: flex;
      align-items: center;

      .rating-Y2M {
        align-items: center;
        flex-shrink: 0;
        margin-right: 1.7rem;
        height: 100%;
        display: flex;

        .group-VCV {
          margin-right: 0.2rem;
          width: 3.3rem;
          height: 3.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-500-cnu {
          flex-shrink: 0;
          text-align: right;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          letter-spacing: -0.025rem;
          color: #049904;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 0.96;
        }
      }
      .rating-X9B {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        height: 100%;

        .group-syj {
          height: 3.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.2rem;
          width: 3.3rem;
        }
        .item-450-p8H {
          letter-spacing: -0.025rem;
          flex-shrink: 0;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 0.96;
          white-space: nowrap;
          text-align: right;
          color: #049904;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
    }
    .auto-group-3qlx-XHb {
      margin-bottom: 2rem;
      width: 100%;
      display: flex;
      align-items: center;

      .rating-5K7 {
        margin: 0.1rem 1.7rem 0rem 0rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-DAR {
          margin-right: 0.2rem;
          width: 3.3rem;
          height: 3.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-400-kAM {
          text-align: right;
          font-size: 2.5rem;
          color: #049904;
          white-space: nowrap;
          font-weight: 500;
          line-height: 0.96;
          letter-spacing: -0.025rem;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .rating-GeV {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 0.1rem;

        .group-RnH {
          margin-right: 0.2rem;
          width: 3.3rem;
          height: 3.2rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .item-350-NSd {
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 0.96;
          letter-spacing: -0.025rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: right;
          color: #049904;
        }
      }
    }
    .rating-6Nd {
      margin-right: 10.1rem;
      width: calc(100% - 10.1rem);
      display: flex;
      align-items: center;

      .group-21P {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.2rem;
        width: 3.3rem;
        height: 3.2rem;
        object-fit: contain;
      }
      .item-300-ki5 {
        flex-shrink: 0;
        text-align: right;
        font-weight: 500;
        line-height: 0.96;
        letter-spacing: -0.025rem;
        color: #049904;
        font-size: 2.5rem;
        font-family: Roboto, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .frame-UPB {
    height: 3.2rem;
    position: absolute;
    left: 23rem;
    top: 4.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 3rem;
  }
}
