
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 140.9rem;
}.edit-profile-wZs {
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  width: 100%;
  overflow: hidden;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  padding: 2rem;
  position: relative;
  flex-direction: column;

  .property-1member-5vy {
    width: 100%;
    height: 77.7rem;
    flex-shrink: 0;
    margin-bottom: 2rem;

    .card-profile-dhb {
      height: 100%;
      display: flex;
      align-items: center;
      background-color: #ceff9d;
      border-radius: 0.5rem;
      box-sizing: border-box;
      padding: 5.1rem 11.2rem 5.2rem 11.1rem;
      width: 100%;

      .foto-profile-M7o {
        margin: 0rem 3.6rem 19.7rem 0rem;
        box-sizing: border-box;
        width: 31.4rem;
        align-items: center;
        display: flex;
        padding: 1.6rem 4.7rem 4.4rem 5rem;
        flex-direction: column;
        border: solid 0.2rem #3dbc3d;
        border-radius: 0.5rem;
        flex-shrink: 0;

        .photo-profile-dLD {
          text-align: center;
          font-weight: 600;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          margin: 0rem 0.2rem 2.1rem 0rem;
          font-size: 2.5rem;
          color: #049904;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .gambar-user-XgV {
          flex-direction: column;
          flex-shrink: 0;
          width: 100%;
          align-items: center;
          display: flex;

          .foto-user-t1F {
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:545:2994');
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 6.154rem 7.444rem 6.154rem 7.625rem;
            width: 100%;
            background-size: cover;

            .profile-Cnd {
              width: 6.6306rem;
              height: 8.7917rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .auto-group-2xtx-KMT {
            box-sizing: border-box;
            padding: 1.4rem 1.1rem 0rem 1.4rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .id-user-Dxd {
              width: 17.85rem;
              align-items: center;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin: 0rem 0.85rem 3.5rem 0rem;

              .auto-group-y3rs-wdj {
                margin: 0rem 0.05rem 0.2rem 0.05rem;
                width: calc(100% - 0.1rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .id-member--rkh {
                  white-space: nowrap;
                  margin-right: 1.65rem;
                  text-align: center;
                  font-size: 1.5rem;
                  font-weight: 600;
                  color: #049904;
                  font-family: Poppins, 'Source Sans Pro';
                  line-height: 1.5;
                  flex-shrink: 0;
                }
                .item-15200293-i2D {
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                  text-align: center;
                  font-size: 1.5rem;
                  font-weight: 600;
                  line-height: 1.5;
                }
              }
              .auto-group-hbtp-Djf {
                width: 100%;
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .id-account--BAh {
                  font-weight: 600;
                  color: #049904;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  text-align: center;
                  font-size: 1.5rem;
                  flex-shrink: 0;
                  margin: 0rem 1.55rem 0.1rem 0rem;
                  line-height: 1.5;
                }
                .ap132424-Gxq {
                  font-weight: 600;
                  line-height: 1.5;
                  white-space: nowrap;
                  font-size: 1.5rem;
                  text-align: center;
                  color: #000000;
                  font-family: Poppins, 'Source Sans Pro';
                  flex-shrink: 0;
                  margin-top: 0.1rem;
                }
              }
            }
            .tombol-upload-bER {
              font-size: 2rem;
              white-space: nowrap;
              background-color: #3dbc3d;
              border-radius: 0.5rem;
              flex-shrink: 0;
              height: 4.9rem;
              text-align: center;
              font-family: Poppins, 'Source Sans Pro';
              display: flex;
              cursor: pointer;
              font-weight: 600;
              line-height: 1.5;
              width: 100%;
              color: #ffffff;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
      .profile-user-1ow {
        padding: 1.6rem 0.1rem 3rem 0.1rem;
        border: solid 0.2rem #3dbc3d;
        border-radius: 0.5rem;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 79.6rem;
        height: 100%;
        align-items: center;

        .profile-data-7MB {
          margin: 0rem 0rem 1.4rem 5.5rem;
          font-size: 3rem;
          font-weight: 600;
          flex-shrink: 0;
          text-align: center;
          line-height: 1.5;
          color: #049904;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .line-66-1Bf {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 3rem;
          width: 79.4rem;
          height: 0;
          object-fit: contain;
        }
        .form-username-LDw {
          margin: 0rem 2.3rem 2rem 1.5rem;
          width: calc(100% - 3.8rem);
          display: flex;
          flex-direction: column;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .username-FLu {
            text-align: center;
            line-height: 1.5;
            color: #049904;
            flex-shrink: 0;
            width: 100%;
            font-size: 2rem;
            font-weight: 600;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-jt7y-xm7 {
            white-space: nowrap;
            border-radius: 0.5rem;
            width: 100%;
            font-weight: 600;
            font-family: Poppins, 'Source Sans Pro';
            border: solid 0.1rem #3dbc3d;
            background-color: #ffffff;
            box-sizing: border-box;
            text-align: center;
            line-height: 1.5;
            color: #000000;
            padding: 0.8rem 1.5rem;
            font-size: 1.5rem;
            flex-shrink: 0;
          }
        }
        .form-email-1UV {
          margin: 0rem 2.3rem 1.7rem 1.5rem;
          width: calc(100% - 3.8rem);
          display: flex;
          flex-direction: column;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .email-8JD {
            white-space: nowrap;
            text-align: center;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
            color: #049904;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            width: 100%;
          }
          .auto-group-iigb-EMF {
            border-radius: 0.5rem;
            font-family: Poppins, 'Source Sans Pro';
            color: #000000;
            white-space: nowrap;
            border: solid 0.1rem #3dbc3d;
            background-color: #ffffff;
            padding: 0.8rem 1.5rem;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
            flex-shrink: 0;
            box-sizing: border-box;
            width: 100%;
            text-align: center;
          }
        }
        .form-no-telphone-gU9 {
          margin: 0rem 2.3rem 1.9rem 1.5rem;
          width: calc(100% - 3.8rem);
          display: flex;
          flex-direction: column;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .no-telphone-zjj {
            margin-bottom: 0.4rem;
            text-align: center;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            width: 100%;
            font-size: 2rem;
            font-weight: 600;
            color: #049904;
          }
          .auto-group-gpp1-i9w {
            text-align: center;
            line-height: 1.5;
            border: solid 0.1rem #3dbc3d;
            flex-shrink: 0;
            border-radius: 0.5rem;
            box-sizing: border-box;
            font-weight: 600;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            width: 100%;
            font-size: 1.5rem;
            background-color: #ffffff;
            padding: 0.8rem 1.45rem;
            white-space: nowrap;
          }
        }
        .form-tanggal-lahir-xKB {
          width: calc(100% - 5.2rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 3.7rem 2.6rem 1.5rem;

          .tanggal-lahir-fzH {
            font-weight: 600;
            line-height: 1.5;
            flex-shrink: 0;
            margin-bottom: 0.4rem;
            width: 100%;
            text-align: center;
            font-size: 2rem;
            color: #049904;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-bkl3-o4u {
            flex-shrink: 0;
            width: 100%;
            height: 3.9rem;
            display: flex;
            align-items: center;

            .auto-group-ew4k-8cy {
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              border: solid 0.1rem #3dbc3d;
              padding: 0.8rem 1.5rem;
              height: 100%;
              text-align: center;
              border-radius: 0.5rem;
              margin-right: 1rem;
              color: #000000;
              background-color: #ffffff;
              font-weight: 600;
              flex-shrink: 0;
              box-sizing: border-box;
              width: 69.3rem;
              font-size: 1.5rem;
            }
            .frame-xc1 {
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-bottom: 0.1rem;
              width: 3.9rem;
              height: 3.6rem;
            }
          }
        }
        .from-gender-Gsb {
          flex-shrink: 0;
          margin: 0rem 58rem 3.9rem 0rem;
          width: 18.2rem;

          .gender-14V {
            margin-bottom: 1.4rem;
            text-align: center;
            color: #049904;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
          }
          .gender-vBT {
            width: 100%;
            display: flex;
            align-items: center;

            .button-ThB {
              flex-shrink: 0;
              margin-right: 0.6rem;
              width: 2.8rem;
              height: 2.7rem;
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
            }
            .male-nDf {
              font-family: Poppins, 'Source Sans Pro';
              text-align: center;
              font-weight: 500;
              color: #049904;
              white-space: nowrap;
              flex-shrink: 0;
              margin: 0.2rem 1.6rem 0rem 0rem;
              font-size: 1.5rem;
              line-height: 1.5;
            }
            .button-tXb {
              flex-shrink: 0;
              margin-right: 1.1rem;
              width: 2.8rem;
              height: 2.7rem;
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
            }
            .female-pw3 {
              flex-shrink: 0;
              margin-top: 0.2rem;
              text-align: center;
              font-size: 1.5rem;
              line-height: 1.5;
              color: #049904;
              font-family: Poppins, 'Source Sans Pro';
              font-weight: 500;
              white-space: nowrap;
            }
          }
        }
        .button-update-wVs {
          margin: 0rem 25.4rem 0rem 29.2rem;
          height: 6.2rem;
          cursor: pointer;
          white-space: nowrap;
          justify-content: center;
          background-color: #17a400;
          font-size: 2rem;
          border-radius: 1rem;
          text-align: center;
          font-family: Poppins, 'Source Sans Pro';
          display: flex;
          width: calc(100% - 54.6rem);
          font-weight: 600;
          line-height: 1.5;
          color: #ffffff;
          align-items: center;
          flex-shrink: 0;
        }
      }
    }
  }
  .property-1user-v6u {
    height: 77.7rem;
    flex-shrink: 0;
    width: 100%;

    .card-profile-s29 {
      background-color: #ceff9d;
      border-radius: 0.5rem;
      box-sizing: border-box;
      padding: 5.1rem 11.2rem 5.2rem 11.1rem;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;

      .foto-profile-yL5 {
        width: 31.4rem;
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        border: solid 0.2rem #3dbc3d;
        border-radius: 0.5rem;
        margin-right: 3.6rem;
        box-sizing: border-box;
        padding: 1.6rem 4.7rem 4.3rem 5rem;
        align-items: center;

        .photo-profile-swF {
          margin: 0rem 0.2rem 2.1rem 0rem;
          font-size: 2.5rem;
          color: #049904;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          font-weight: 600;
          line-height: 1.5;
          white-space: nowrap;
        }
        .gambar-user-mFw {
          flex-shrink: 0;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;

          .foto-user-iS5 {
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:561:3479');
            flex-shrink: 0;
            box-sizing: border-box;
            padding: 6.154rem 7.444rem 6.154rem 7.625rem;

            .profile-FB7 {
              width: 6.6306rem;
              height: 8.7917rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .auto-group-yuxw-NmX {
            box-sizing: border-box;
            padding: 3.6rem 1.1rem 0rem 1.35rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .id-user-tjs {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 1.4rem 2.1rem 0rem;
              width: calc(100% - 1.4rem);

              .id-account--Rjo {
                margin: 0rem 1.55rem 0.1rem 0rem;
                text-align: center;
                line-height: 1.5;
                color: #049904;
                white-space: nowrap;
                font-size: 1.5rem;
                font-weight: 600;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
              }
              .ap132424-KKP {
                margin-top: 0.1rem;
                text-align: center;
                font-size: 1.5rem;
                line-height: 1.5;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                font-weight: 600;
                color: #000000;
                white-space: nowrap;
              }
            }
            .tombol-upload-RtD {
              height: 4.9rem;
              color: #ffffff;
              flex-shrink: 0;
              margin-left: 0.05rem;
              text-align: center;
              font-size: 2rem;
              align-items: center;
              background-color: #3dbc3d;
              font-weight: 600;
              line-height: 1.5;
              display: flex;
              border-radius: 0.5rem;
              width: calc(100% - 0.05rem);
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              justify-content: center;
            }
          }
        }
      }
      .profile-user-dzH {
        width: 79.6rem;
        height: 100%;
        flex-direction: column;
        box-sizing: border-box;
        padding: 1.6rem 0.1rem 3rem 0.1rem;
        border: solid 0.2rem #3dbc3d;
        border-radius: 0.5rem;
        flex-shrink: 0;
        align-items: center;
        display: flex;

        .profile-data-WoB {
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          text-align: center;
          font-size: 3rem;
          font-weight: 600;
          color: #049904;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 1.4rem 5.5rem;
        }
        .line-66-pYy {
          margin-bottom: 3rem;
          width: 79.4rem;
          height: 0;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .form-username-ZFf {
          width: calc(100% - 3.8rem);
          display: flex;
          flex-direction: column;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin: 0rem 2.3rem 2rem 1.5rem;

          .username-UdX {
            width: 100%;
            color: #049904;
            flex-shrink: 0;
            white-space: nowrap;
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
          }
          .auto-group-8s3m-zrm {
            background-color: #ffffff;
            flex-shrink: 0;
            font-size: 1.5rem;
            line-height: 1.5;
            color: #000000;
            border-radius: 0.5rem;
            text-align: center;
            font-weight: 600;
            font-family: Poppins, 'Source Sans Pro';
            padding: 0.8rem 1.5rem;
            width: 100%;
            white-space: nowrap;
            box-sizing: border-box;
            border: solid 0.1rem #3dbc3d;
          }
        }
        .form-email-re5 {
          margin: 0rem 2.3rem 1.7rem 1.5rem;
          width: calc(100% - 3.8rem);
          display: flex;
          flex-direction: column;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .email-NsK {
            width: 100%;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.1rem;
            text-align: center;
            color: #049904;
          }
          .auto-group-evud-JW5 {
            font-family: Poppins, 'Source Sans Pro';
            border-radius: 0.5rem;
            flex-shrink: 0;
            font-weight: 600;
            line-height: 1.5;
            font-size: 1.5rem;
            background-color: #ffffff;
            width: 100%;
            text-align: center;
            border: solid 0.1rem #3dbc3d;
            padding: 0.8rem 1.5rem;
            color: #000000;
            box-sizing: border-box;
            white-space: nowrap;
          }
        }
        .form-no-telphone-AoB {
          margin: 0rem 2.3rem 1.9rem 1.5rem;
          width: calc(100% - 3.8rem);
          display: flex;
          flex-direction: column;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .no-telphone-uEy {
            white-space: nowrap;
            margin-bottom: 0.4rem;
            width: 100%;
            text-align: center;
            line-height: 1.5;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 600;
            color: #049904;
            font-family: Poppins, 'Source Sans Pro';
          }
          .auto-group-zarw-RUD {
            width: 100%;
            font-size: 1.5rem;
            font-weight: 600;
            line-height: 1.5;
            border-radius: 0.5rem;
            padding: 0.8rem 1.45rem;
            font-family: Poppins, 'Source Sans Pro';
            background-color: #ffffff;
            flex-shrink: 0;
            box-sizing: border-box;
            color: #000000;
            text-align: center;
            white-space: nowrap;
            border: solid 0.1rem #3dbc3d;
          }
        }
        .form-tanggal-lahir-guw {
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 3.7rem 2.6rem 1.5rem;
          width: calc(100% - 5.2rem);
          display: flex;

          .tanggal-lahir-ozZ {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.5;
            margin-bottom: 0.4rem;
            color: #049904;
            flex-shrink: 0;
          }
          .auto-group-uxjb-XvZ {
            width: 100%;
            height: 3.9rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .auto-group-ahhm-goT {
              box-sizing: border-box;
              font-size: 1.5rem;
              border: solid 0.1rem #3dbc3d;
              border-radius: 0.5rem;
              margin-right: 1rem;
              height: 100%;
              text-align: center;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              padding: 0.8rem 1.5rem;
              line-height: 1.5;
              width: 69.3rem;
              font-weight: 600;
              color: #000000;
              background-color: #ffffff;
              flex-shrink: 0;
            }
            .frame-wUV {
              margin-bottom: 0.1rem;
              width: 3.9rem;
              height: 3.6rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .from-gender-Fzy {
          flex-shrink: 0;
          margin: 0rem 58rem 3.9rem 0rem;
          width: 18.2rem;

          .gender-zBs {
            color: #049904;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            margin-bottom: 1.4rem;
            font-weight: 600;
            line-height: 1.5;
            width: 100%;
            text-align: center;
            font-size: 2rem;
          }
          .gender-KE9 {
            width: 100%;
            display: flex;
            align-items: center;

            .button-fYu {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.6rem;
              width: 2.8rem;
              height: 2.7rem;
              cursor: pointer;
            }
            .male-bxM {
              margin: 0.2rem 1.6rem 0rem 0rem;
              text-align: center;
              font-size: 1.5rem;
              line-height: 1.5;
              white-space: nowrap;
              flex-shrink: 0;
              font-weight: 500;
              color: #049904;
              font-family: Poppins, 'Source Sans Pro';
            }
            .button-vUq {
              cursor: pointer;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 1.1rem;
              width: 2.8rem;
              height: 2.7rem;
            }
            .female-GHo {
              line-height: 1.5;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              text-align: center;
              font-size: 1.5rem;
              font-weight: 500;
              color: #049904;
              flex-shrink: 0;
              margin-top: 0.2rem;
            }
          }
        }
        .button-update-o2q {
          color: #ffffff;
          display: flex;
          background-color: #17a400;
          margin: 0rem 25.4rem 0rem 29.2rem;
          align-items: center;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          border-radius: 1rem;
          width: calc(100% - 54.6rem);
          height: 6.2rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 600;
          justify-content: center;
        }
      }
    }
  }
}
