
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 155.2rem;
}.footer-9iZ {
  box-sizing: border-box;
  width: 100%;
  position: relative;
  flex-direction: column;
  padding: 2rem 2rem 64.8rem 2rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;

  .property-1wireframe-eHw {
    margin-bottom: 6.4rem;
    width: 151.2rem;
    height: 56.4rem;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
  }
  .property-1layout-footer-VZT {
    width: 100%;
    height: 56.4rem;
    position: relative;
    border-top: solid 0.2rem #000000;
    box-sizing: border-box;
    flex-shrink: 0;

    .footer-WN5 {
      background-color: #049904;
      box-sizing: border-box;
      position: absolute;
      left: 0;
      align-items: center;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      padding: 13.2rem 7rem 3rem 7rem;
      width: 151.2rem;
      height: 56.4rem;
      top: 0;

      .pemisah-xUy {
        margin-bottom: 1.6rem;
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .isi-footer-fuB {
        height: 26.2rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 15.3rem 2.4rem 2.8rem;
        width: calc(100% - 18.1rem);

        .quotes-A5F {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-z4wm-Hff {
            margin-bottom: 0.6rem;
            width: 6.9001rem;
            height: 2.4rem;
            position: relative;
            flex-shrink: 0;

            .tagline-QnD {
              align-items: baseline;
              position: absolute;
              left: 0.3rem;
              top: 0;
              font-weight: 700;
              letter-spacing: -0.016rem;
              color: #ffffff;
              height: 2.4rem;
              display: flex;
              font-size: 1.6rem;
              justify-content: center;
              font-family: Arial, 'Source Sans Pro';
              white-space: nowrap;
              width: 6.4rem;
              line-height: 1.5;

              .tagline-QnD-sub-0 {
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
              }
              .tagline-QnD-sub-1 {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffff00;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .line-23-nph {
              height: 0;
              position: absolute;
              left: 0;
              top: 2.225rem;
              object-fit: contain;
              vertical-align: top;
              width: 6.9001rem;
            }
          }
          .tujuan-kami-bukan-menciptakan-bisnis-yang-besar-tetapi-membangun-sesuatu-yang-membuat-perubahan-besar-ueR {
            line-height: 1.8461538462;
            font-family: Poppins, 'Source Sans Pro';
            letter-spacing: -0.013rem;
            font-style: italic;
            color: #ffffff;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            max-width: 25.9rem;
            font-size: 1.3rem;
            font-weight: 400;
          }
          .semua-impian-kita-menjadi-kanyataan-jika-kita-mempunyai-keberanian-unutk-mengerjakannya-walt-disney-YxH {
            letter-spacing: -0.013rem;
            font-family: Poppins, 'Source Sans Pro';
            max-width: 25.7rem;
            font-weight: 400;
            line-height: 1.8461538462;
            color: #ffffff;
            flex-shrink: 0;
            margin: 0rem 0rem 0.8rem 5.3rem;
            font-size: 1.3rem;
            font-style: italic;
          }
          .wirausahawan-sejadi-meciptakan-peluang-bisnis-sedangkan-wirausahawan-bisa-fokus-mengejar-uang-zZP {
            line-height: 1.8461538462;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            margin-left: 13.5rem;
            max-width: 28.1rem;
            font-size: 1.3rem;
            font-weight: 400;
            letter-spacing: -0.013rem;
            font-style: italic;
          }
        }
        .auto-group-1a5z-3Gm {
          align-items: flex-start;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 7.4rem;
          height: 100%;
          display: flex;

          .about-us-a1o {
            width: 25.5rem;
            row-gap: 0.6rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 12.8rem;

            .auto-group-ojvf-Hwo {
              width: 7.4rem;
              height: 2.4rem;
              position: relative;
              flex-shrink: 0;

              .line-24-S41 {
                width: 7.4rem;
                height: 0;
                position: absolute;
                left: 0;
                top: 2.2123rem;
                object-fit: contain;
                vertical-align: top;
              }
              .aboutus-mc5 {
                color: #ffffff;
                width: 7rem;
                display: flex;
                font-weight: 700;
                letter-spacing: -0.016rem;
                height: 2.4rem;
                font-size: 1.6rem;
                position: absolute;
                font-family: Arial, 'Source Sans Pro';
                white-space: nowrap;
                line-height: 1.5;
                left: 0.2rem;
                top: 0;
                align-items: baseline;
                justify-content: center;

                .aboutus-mc5-sub-0 {
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .aboutus-mc5-sub-1 {
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  color: #ffff00;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
            }
            .group-263-BpD {
              flex-shrink: 0;
              margin-left: 0.1rem;
              box-sizing: border-box;
              padding-left: 0.3125rem;
              width: calc(100% - 0.1rem);
              display: flex;
              align-items: flex-start;

              .location-7hs {
                flex-shrink: 0;
                margin: 0.725rem 0.513rem 0rem 0rem;
                width: 0.875rem;
                height: 1.3029rem;
                object-fit: contain;
                vertical-align: top;
              }
              .jl-dharmawangsa-no138-d-airlangga-kec-gubeng-surabaya-jawa-timur-60282-EnV {
                line-height: 1.7142857143;
                letter-spacing: -0.014rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 23.7rem;
                font-size: 1.4rem;
                font-weight: 400;
              }
            }
            .group-264-v9X {
              flex-shrink: 0;
              margin: 0rem 3.6rem 0rem 0rem;
              width: calc(100% - 3.6rem);
              display: flex;
              align-items: center;

              .icon-envelope-closed-rJ5 {
                width: 1.6rem;
                height: 1.2rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.2rem 0.5rem 0rem 0rem;
              }
              .foodysbussinesgmailcom-9Y5 {
                flex-shrink: 0;
                display: flex;
                font-size: 1.4rem;
                line-height: 1.7142857143;
                color: #ffffff;
                font-weight: 400;
                letter-spacing: -0.014rem;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .group-265-rBb {
              margin: 0rem 13.5rem 0rem 0rem;
              box-sizing: border-box;
              padding-left: 0.1333rem;
              width: calc(100% - 13.5rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .calling-ACH {
                margin: 0rem 0.633rem 0.1rem 0rem;
                width: 1.3333rem;
                height: 1.25rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .item-0274-2885822-rau {
                line-height: 1.7142857143;
                letter-spacing: -0.014rem;
                font-style: italic;
                color: #ffffff;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .comunity-kRP {
            flex-shrink: 0;
            margin-right: 7.9954rem;
            width: 9.7046rem;

            .comunity-gZw {
              margin: 0rem 0rem 0.1rem 1.2rem;
              font-size: 1.6rem;
              line-height: 1.5;
              letter-spacing: -0.016rem;
              color: #ffffff;
              display: flex;
              align-items: baseline;
              font-weight: 700;
              font-family: Arial, 'Source Sans Pro';
              white-space: nowrap;

              .comunity-gZw-sub-0 {
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
              }
              .comunity-gZw-sub-1 {
                color: #ffff00;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
              }
            }
            .line-26-MJh {
              margin-bottom: 1.4rem;
              width: 100%;
              height: 0.1rem;
              background-color: #000000;
            }
            .group-266-VQu {
              width: 6.7rem;
              height: 3rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .sosmed-E7b {
            margin-top: 0.1rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .social-media-NDo {
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: -0.016rem;
              color: #ffffff;
              display: flex;
              flex-shrink: 0;
              margin-left: 0.2rem;
              font-size: 1.6rem;
              font-family: Arial, 'Source Sans Pro';
              white-space: nowrap;
              align-items: baseline;

              .social-media-NDo-sub-0 {
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
              }
              .social-media-NDo-sub-1 {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffff00;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .line-25-FB7 {
              margin-bottom: 1.4rem;
              width: 10.0045rem;
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
            }
            .list-sosmed-xrD {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 14.1rem;
              height: 3rem;
            }
          }
        }
      }
      .pemisah-VbF {
        margin-bottom: 3.3rem;
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .mark-list-2r5 {
        width: calc(100% - 55.1rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 21.2rem 0rem 33.9rem;

        .copyright-2023-by-foodys-all-rights-reserved-9A1 {
          margin: 0rem 9.6rem 1.7rem 0rem;
          font-size: 1.3rem;
          line-height: 1.8461538462;
          color: #ffffff;
          flex-shrink: 0;
          font-weight: 700;
          letter-spacing: -0.013rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .terima-kasih-telah-mengunjungi-foodys-jangan-ragu-untuk-menghubungi-kami-jika-anda-memiliki-pertanyaan-atau-saran-zwK {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.8461538462;
          letter-spacing: -0.013rem;
        }
      }
    }
    .foodies-1-4RP {
      width: 30.1rem;
      height: 27.7rem;
      position: absolute;
      left: 7.2rem;
      top: -6.2rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
