
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.form-alamat-page-PJH {
  width: 100%;
  height: 182.5rem;
  position: relative;
  overflow: hidden;
  background-color: #efeaea;

  .checkout-6Tb {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 9.75rem;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    line-height: 0.8;
    width: 14rem;
    height: 2.4rem;
    top: 12.7rem;
    letter-spacing: -0.03rem;
    color: #049904;
  }
  .group-27-MeR {
    padding: 3rem 11.718rem 3.6rem 6.5rem;
    left: 10.1rem;
    top: 90.3rem;
    align-items: flex-end;
    flex-direction: column;
    box-sizing: border-box;
    width: 130rem;
    height: 26.7rem;
    position: absolute;
    display: flex;
    background-color: #ffffff;

    .auto-group-b74w-2kZ {
      margin: 0rem 3.182rem 2.3rem 0rem;
      display: flex;
      align-items: flex-end;
      flex-shrink: 0;

      .metode-pembayaran-kAm {
        white-space: nowrap;
        font-size: 3rem;
        line-height: 0.8;
        font-family: Arial, 'Source Sans Pro';
        letter-spacing: -0.03rem;
        color: #000000;
        flex-shrink: 0;
        margin: 0rem 44.45rem 1rem 0rem;
        text-align: center;
        font-weight: 700;
      }
      .subtotal-produk-28H {
        font-weight: 400;
        line-height: 0.8;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 8.75rem;
        text-align: center;
        white-space: nowrap;
        font-size: 3rem;
        letter-spacing: -0.03rem;
      }
      .item-30000-joP {
        text-align: center;
        font-weight: 400;
        line-height: 0.8;
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 3rem;
        letter-spacing: -0.03rem;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
      }
    }
    .auto-group-ucgb-Ek9 {
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin: 0rem 2.882rem 0.3rem 0rem;
      height: 4.7rem;

      .auto-group-yxpz-jwo {
        font-weight: 700;
        color: #ffffff;
        display: flex;
        align-items: center;
        background-color: #049904;
        flex-shrink: 0;
        width: 12.6rem;
        line-height: 1.2575;
        border-radius: 0.5rem;
        margin-right: 2.4rem;
        height: 100%;
        font-size: 2rem;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        justify-content: center;
      }
      .auto-group-85vs-ckh {
        border: solid 0.1rem #000000;
        margin-right: 44.3rem;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        line-height: 1.2575;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 0.5rem;
        width: 12.6rem;
        height: 100%;
        font-size: 2rem;
        font-weight: 700;
        display: flex;
        box-sizing: border-box;
        flex-shrink: 0;
      }
      .ongkos-kirim-HM3 {
        letter-spacing: -0.03rem;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        line-height: 0.8;
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 12.4rem 0rem 0rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
      }
      .item-10000-aqw {
        text-align: center;
        font-size: 3rem;
        letter-spacing: -0.03rem;
        color: #000000;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-weight: 400;
        line-height: 0.8;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-5ckb-sq3 {
      width: calc(100% - 74.6321rem);
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 2.782rem 2.2rem 71.85rem;

      .total-bayar-C6d {
        margin-right: 15.35rem;
        line-height: 0.8;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
        letter-spacing: -0.03rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item-40000-i4y {
        line-height: 0.8;
        font-family: Arial, 'Source Sans Pro';
        text-align: center;
        font-size: 3rem;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 400;
        letter-spacing: -0.03rem;
      }
    }
    .auto-group-wyzz-q9b {
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      align-items: center;
      background-color: #049904;
      flex-shrink: 0;
      width: 21.9821rem;
      height: 4.8rem;
      color: #ffffff;
      display: flex;
      justify-content: center;
      font-size: 3rem;
      font-weight: 400;
      line-height: 1.2575;
    }
  }
  .group-25-vRw {
    padding: 1.875rem 2.767rem 2.9rem 2.767rem;
    width: 130rem;
    height: 22.2rem;
    position: absolute;
    left: 10.1rem;
    top: 20.9rem;
    background-color: #ffffff;
    box-sizing: border-box;

    .auto-group-jimz-Dfw {
      margin: 0rem 94.783rem 2.675rem 0rem;
      width: calc(100% - 94.7833rem);
      display: flex;
      align-items: flex-end;

      .location-9Zb {
        flex-shrink: 0;
        margin-right: 2.5167rem;
        width: 2.2667rem;
        height: 2.75rem;
        object-fit: contain;
        vertical-align: top;
      }
      .alamat-pengiriman-skV {
        text-align: center;
        font-weight: 700;
        line-height: 0.8;
        letter-spacing: -0.03rem;
        color: #049904;
        font-family: Arial, 'Source Sans Pro';
        margin-bottom: 0.025rem;
        font-size: 3rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-atpw-C25 {
      margin: 0rem 3.485rem 0.169rem 4.683rem;
      width: calc(100% - 8.1687rem);
      display: flex;
      align-items: flex-start;

      .pregorian-purwacahyani-7uj {
        white-space: nowrap;
        letter-spacing: -0.03rem;
        text-align: center;
        font-size: 3rem;
        font-weight: 400;
        line-height: 0.8;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 83.2646rem;
      }
      .edit-e8y {
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 1.6969rem;
        width: 3.0334rem;
        height: 2.934rem;
        object-fit: contain;
      }
    }
    .item-6283123456789-NKs {
      font-size: 3rem;
      color: #000000;
      font-family: Arial, 'Source Sans Pro';
      width: 100%;
      text-align: center;
      line-height: 0.8;
      letter-spacing: -0.03rem;
      white-space: nowrap;
      margin-bottom: 2.4rem;
      font-weight: 400;
    }
    .jalani-aja-dulu-gak-sih-rt-08-rw-01-gubeng-60123-UNu {
      letter-spacing: -0.03rem;
      color: #000000;
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      width: 100%;
      font-size: 3rem;
      font-weight: 400;
      line-height: 0.8;
      text-align: center;
    }
  }
  .group-28-NUH {
    width: 130rem;
    height: 38.7rem;
    position: absolute;
    left: 10.1rem;
    top: 48.8rem;

    .group-26-5tV {
      height: 36.2rem;
      position: absolute;
      left: 0;
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 130rem;

      .group-25-Qvm {
        width: 100%;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        flex-shrink: 0;
        margin-bottom: 0.2rem;
        box-sizing: border-box;
        padding: 2.8rem 6.929rem 2.4rem 9.211rem;

        .produk-vu7 {
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 41.6281rem;
          font-size: 3rem;
          font-weight: 700;
        }
        .harga-satuan-fLu {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 10.2075rem;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
        }
        .jumlah-ngR {
          margin-right: 9.3243rem;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .total-harga-7yb {
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .auto-group-2ejd-TGm {
        height: 27rem;
        display: flex;
        align-items: center;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 3.7rem 10.696rem 4.3rem 7.605rem;
        width: 100%;

        .foto-barang-ZKo {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 4.5987rem;
          width: 20.1633rem;
          height: 19rem;
        }
        .auto-group-mlnf-gQR {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 2.8rem 12.615rem 2.4rem 0rem;
          height: calc(100% - 5.2rem);

          .daun-semanggi-JKK {
            color: #000000;
            font-family: Arial, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 1.4rem 0.008rem;
            font-size: 3rem;
            font-weight: 700;
            line-height: 1.2575;
          }
          .ukuran--yRT {
            font-size: 3rem;
            font-weight: 400;
            line-height: 1.2575;
            color: #000000;
            font-family: Arial, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 0rem 1rem 0.106rem;
          }
          .gram-g4y {
            color: #000000;
            font-family: Arial, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 3rem;
            font-weight: 400;
            line-height: 1.2575;
          }
        }
        .item-15000-QFs {
          flex-shrink: 0;
          margin: 1.2rem 19.929rem 0rem 0rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-2-WJu {
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 1.2rem 15.586rem 0rem 0rem;
        }
        .item-30000-RRs {
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 1.2rem;
          font-size: 3rem;
        }
      }
    }
    .frame-jSZ {
      height: 5rem;
      position: absolute;
      left: 113.3rem;
      top: 33.7rem;
      overflow: hidden;
      width: 5rem;
    }
  }
  .footer-TtM {
    width: 151.2rem;
    height: 62.6rem;
    position: absolute;
    left: 0;
    top: 119.9rem;

    .footer-bUm {
      height: 56.4rem;
      position: absolute;
      left: 0;
      align-items: center;
      display: flex;
      background-color: #049904;
      box-sizing: border-box;
      padding: 13.2rem 7rem 3rem 7rem;
      width: 151.2rem;
      top: 6.2rem;
      overflow: hidden;
      flex-direction: column;

      .pemisah-Gqo {
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
        margin-bottom: 1.6rem;
        width: 100%;
      }
      .isi-footer-QSD {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 15.3rem 2.4rem 2.8rem;
        width: calc(100% - 18.1rem);
        height: 26.2rem;
        display: flex;

        .quotes-utm {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-sgyb-GUR {
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            width: 6.9001rem;
            height: 2.4rem;
            position: relative;

            .tagline-bmb {
              justify-content: center;
              font-weight: 700;
              font-family: Arial, 'Source Sans Pro';
              height: 2.4rem;
              align-items: baseline;
              font-size: 1.6rem;
              color: #ffffff;
              width: 6.4rem;
              position: absolute;
              left: 0.3rem;
              letter-spacing: -0.016rem;
              top: 0;
              display: flex;
              line-height: 1.5;
              white-space: nowrap;

              .tagline-bmb-sub-0 {
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
              }
              .tagline-bmb-sub-1 {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffff00;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .line-23-aX3 {
              width: 6.9001rem;
              height: 0;
              position: absolute;
              left: 0;
              top: 2.225rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .tujuan-kami-bukan-menciptakan-bisnis-yang-besar-tetapi-membangun-sesuatu-yang-membuat-perubahan-besar-uJR {
            max-width: 25.9rem;
            font-weight: 400;
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 0.8rem;
            font-size: 1.3rem;
            line-height: 1.8461538462;
            letter-spacing: -0.013rem;
            font-style: italic;
            color: #ffffff;
            flex-shrink: 0;
          }
          .semua-impian-kita-menjadi-kanyataan-jika-kita-mempunyai-keberanian-unutk-mengerjakannya-walt-disney-9yT {
            max-width: 25.7rem;
            line-height: 1.8461538462;
            color: #ffffff;
            flex-shrink: 0;
            margin: 0rem 0rem 0.8rem 5.3rem;
            font-size: 1.3rem;
            font-weight: 400;
            letter-spacing: -0.013rem;
            font-style: italic;
            font-family: Poppins, 'Source Sans Pro';
          }
          .wirausahawan-sejadi-meciptakan-peluang-bisnis-sedangkan-wirausahawan-bisa-fokus-mengejar-uang-nFj {
            margin-left: 13.5rem;
            max-width: 28.1rem;
            letter-spacing: -0.013rem;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.8461538462;
            font-style: italic;
            color: #ffffff;
            flex-shrink: 0;
          }
        }
        .auto-group-4ucp-F9K {
          box-sizing: border-box;
          padding-left: 7.4rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .about-us-aSV {
            flex-shrink: 0;
            margin-right: 12.8rem;
            width: 25.5rem;
            row-gap: 0.6rem;
            display: flex;
            flex-direction: column;

            .auto-group-cjur-VpM {
              height: 2.4rem;
              position: relative;
              flex-shrink: 0;
              width: 7.4rem;

              .line-24-Rxu {
                object-fit: contain;
                vertical-align: top;
                width: 7.4rem;
                height: 0;
                position: absolute;
                left: 0;
                top: 2.2123rem;
              }
              .aboutus-Afb {
                height: 2.4rem;
                position: absolute;
                width: 7rem;
                display: flex;
                font-weight: 700;
                font-family: Arial, 'Source Sans Pro';
                top: 0;
                align-items: baseline;
                justify-content: center;
                letter-spacing: -0.016rem;
                color: #ffffff;
                white-space: nowrap;
                left: 0.2rem;
                font-size: 1.6rem;
                line-height: 1.5;

                .aboutus-Afb-sub-0 {
                  letter-spacing: -0.016rem;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                }
                .aboutus-Afb-sub-1 {
                  color: #ffff00;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                }
              }
            }
            .group-263-fEy {
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              margin-left: 0.1rem;
              box-sizing: border-box;
              padding-left: 0.3125rem;
              width: calc(100% - 0.1rem);

              .location-Bz1 {
                margin: 0.725rem 0.513rem 0rem 0rem;
                width: 0.875rem;
                height: 1.3029rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .jl-dharmawangsa-no138-d-airlangga-kec-gubeng-surabaya-jawa-timur-60282-Vzh {
                max-width: 23.7rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.7142857143;
                letter-spacing: -0.014rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
              }
            }
            .group-264-b29 {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 3.6rem;
              width: calc(100% - 3.6rem);

              .icon-envelope-closed-j8M {
                width: 1.6rem;
                height: 1.2rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.2rem 0.5rem 0rem 0rem;
              }
              .foodysbussinesgmailcom-cxq {
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-weight: 400;
                letter-spacing: -0.014rem;
                color: #ffffff;
                display: flex;
                font-size: 1.4rem;
                line-height: 1.7142857143;
              }
            }
            .group-265-vTj {
              box-sizing: border-box;
              padding-left: 0.1333rem;
              width: calc(100% - 13.5rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 13.5rem;

              .calling-ePj {
                width: 1.3333rem;
                height: 1.25rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.633rem 0.1rem 0rem;
              }
              .item-0274-2885822-AN5 {
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                letter-spacing: -0.014rem;
                white-space: nowrap;
                line-height: 1.7142857143;
                font-style: italic;
                color: #ffffff;
              }
            }
          }
          .comunity-Gvu {
            margin-right: 7.9954rem;
            width: 9.7046rem;
            flex-shrink: 0;

            .comunity-29P {
              margin: 0rem 0rem 0.1rem 1.2rem;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: -0.016rem;
              white-space: nowrap;
              font-size: 1.6rem;
              color: #ffffff;
              font-family: Arial, 'Source Sans Pro';
              display: flex;
              align-items: baseline;

              .comunity-29P-sub-0 {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
              }
              .comunity-29P-sub-1 {
                letter-spacing: -0.016rem;
                color: #ffff00;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
              }
            }
            .line-26-jxu {
              height: 0.1rem;
              background-color: #000000;
              margin-bottom: 1.4rem;
              width: 100%;
            }
            .group-266-Ghw {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              width: 6.7rem;
              height: 3rem;
            }
          }
          .sosmed-CrV {
            margin-top: 0.1rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .social-media-MUV {
              font-weight: 700;
              color: #ffffff;
              font-family: Arial, 'Source Sans Pro';
              display: flex;
              align-items: baseline;
              flex-shrink: 0;
              margin-left: 0.2rem;
              font-size: 1.6rem;
              line-height: 1.5;
              letter-spacing: -0.016rem;
              white-space: nowrap;

              .social-media-MUV-sub-0 {
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
              }
              .social-media-MUV-sub-1 {
                color: #ffff00;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
              }
            }
            .line-25-Tfw {
              width: 10.0045rem;
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
              margin-bottom: 1.4rem;
            }
            .list-sosmed-CNd {
              vertical-align: top;
              flex-shrink: 0;
              width: 14.1rem;
              height: 3rem;
              position: relative;
              object-fit: contain;
            }
          }
        }
      }
      .pemisah-j7f {
        margin-bottom: 3.3rem;
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .mark-list-fn1 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 21.2rem 0rem 33.9rem;
        width: calc(100% - 55.1rem);
        align-items: center;

        .copyright-2023-by-foodys-all-rights-reserved-nrd {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 9.6rem 1.7rem 0rem;
          font-size: 1.3rem;
          line-height: 1.8461538462;
          flex-shrink: 0;
          font-weight: 700;
          letter-spacing: -0.013rem;
          color: #ffffff;
        }
        .terima-kasih-telah-mengunjungi-foodys-jangan-ragu-untuk-menghubungi-kami-jika-anda-memiliki-pertanyaan-atau-saran-etq {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.8461538462;
          letter-spacing: -0.013rem;
        }
      }
    }
    .foodies-1-WAM {
      height: 27.7rem;
      position: absolute;
      left: 7.2rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 30.1rem;
    }
    .line-22-QmX {
      position: absolute;
      left: 0;
      top: 6.2rem;
      background-color: #000000;
      width: 151.2rem;
      height: 0.2rem;
    }
  }
  .navbar-user-vE5 {
    width: 151.2rem;
    height: 9.1rem;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #049904;

    .profil-r7j {
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-left: 0.1rem;
      height: 6rem;
      cursor: pointer;
      left: 125.4rem;
      top: 1.6rem;
      width: 19.8rem;
      position: absolute;

      .andi-akhsanul-9Mj {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 900;
        letter-spacing: -0.016rem;
        margin-right: 1.052rem;
        line-height: 1.5;
        color: #ffff00;
        white-space: nowrap;
      }
      .dropdown-menu-TNR {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:I313:2904;113:2168');
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.2rem 1.38rem 1.2rem 1.472rem;
        height: 100%;

        .profil-NkH {
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.496rem;
        }
      }
    }
    .line-21-Vpu {
      background-color: #000000;
      width: 151.2rem;
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 9.1rem;
    }
    .foodies-1-EGh {
      left: 2.1rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 30.1rem;
      height: 27.7rem;
      position: absolute;
    }
    .navigasi-McD {
      left: 76.05rem;
      top: 3.3rem;
      display: flex;
      align-items: center;
      width: 41.45rem;
      height: 2.4rem;
      position: absolute;

      .home-52R {
        font-family: Inter, 'Source Sans Pro';
        cursor: pointer;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.95rem;
        line-height: 1.5;
        letter-spacing: -0.016rem;
        color: #ffffff;
      }
      .outlet-Br9 {
        margin-right: 4.1rem;
        letter-spacing: -0.016rem;
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .contact-hJh {
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 700;
        color: #ffffff;
        flex-shrink: 0;
        margin-right: 3.15rem;
        text-align: center;
        line-height: 1.5;
        letter-spacing: -0.016rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .produk-1aH {
        flex-shrink: 0;
        cursor: pointer;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: -0.016rem;
        color: #ffff00;
        margin-right: 2.95rem;
        text-align: center;
        font-size: 1.6rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .edukasi-L6m {
        line-height: 1.5;
        letter-spacing: -0.016rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 700;
        color: #ffffff;
        flex-shrink: 0;
        text-align: center;
      }
    }
  }
  .rectangle-170-Rtu {
    width: 151.2rem;
    height: 182.5rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5799999833);
  }
  .group-275-kwB {
    position: absolute;
    left: 38.2rem;
    top: 46.3rem;
    background-color: #ffffff;
    border-radius: 1.5rem;
    width: 73.8rem;
    height: 77.4rem;

    .no-telp-4BB {
      height: 2.4rem;
      left: 9.15rem;
      top: 21rem;
      font-weight: 400;
      line-height: 0.8;
      white-space: nowrap;
      width: 9.3rem;
      position: absolute;
      text-align: center;
      font-size: 3rem;
      letter-spacing: -0.03rem;
      color: #000000;
      font-family: Arial, 'Source Sans Pro';
    }
    .kecamatan-LPb {
      text-align: center;
      font-size: 3rem;
      line-height: 0.8;
      letter-spacing: -0.03rem;
      height: 2.4rem;
      position: absolute;
      left: 9.05rem;
      top: 32.3rem;
      font-family: Arial, 'Source Sans Pro';
      width: 13.9rem;
      font-weight: 400;
      color: #000000;
      white-space: nowrap;
    }
    .detail-alamat-p3s {
      line-height: 0.8;
      color: #000000;
      white-space: nowrap;
      height: 2.4rem;
      top: 43.8rem;
      font-size: 3rem;
      text-align: center;
      font-weight: 400;
      letter-spacing: -0.03rem;
      font-family: Arial, 'Source Sans Pro';
      width: 16.4rem;
      position: absolute;
      left: 9rem;
    }
    .rectangle-81-ub7 {
      position: absolute;
      left: 8.6rem;
      top: 47.2rem;
      height: 13.5rem;
      border: solid 0.1rem #b2b2b2;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 0.5rem;
      width: 55.6rem;
    }
    .rectangle-78-biq {
      border-radius: 0.5rem;
      width: 55.6rem;
      position: absolute;
      left: 8.7rem;
      border: solid 0.1rem #b2b2b2;
      box-sizing: border-box;
      background-color: #ffffff;
      height: 4.7rem;
      top: 13.1rem;
    }
    .rectangle-79-69o {
      height: 4.7rem;
      border: solid 0.1rem #b2b2b2;
      box-sizing: border-box;
      border-radius: 0.5rem;
      width: 55.6rem;
      position: absolute;
      left: 8.7rem;
      top: 24.45rem;
      background-color: #ffffff;
    }
    .auto-group-xwaf-o4D {
      width: 55.6rem;
      height: 4.7rem;
      position: absolute;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      padding: 0.95rem 1.9rem 1.35rem 2.25rem;
      left: 8.7rem;
      top: 35.85rem;
      border: solid 0.1rem #b2b2b2;
      border-radius: 0.5rem;
      box-sizing: border-box;

      .gubeng-fcD {
        font-weight: 400;
        letter-spacing: -0.025rem;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 41.95rem;
        font-size: 2.5rem;
        color: #000000;
        text-align: center;
        line-height: 0.96;
      }
      .arrow-down-2-LyF {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.4rem;
        width: 1.4rem;
        height: 0.7rem;
      }
    }
    .auto-group-imym-Dn9 {
      height: 3rem;
      position: absolute;
      left: 2.9rem;
      top: 2.6rem;
      display: flex;
      align-items: flex-start;
      width: 68.2rem;

      .alamat-jEh {
        text-align: center;
        font-size: 3rem;
        line-height: 0.8;
        letter-spacing: -0.03rem;
        white-space: nowrap;
        margin-right: 55.9rem;
        font-weight: 700;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .iconly-light-close-square-3FP {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .nama-ZzR {
      position: absolute;
      top: 9.2rem;
      text-align: center;
      font-weight: 400;
      letter-spacing: -0.03rem;
      color: #000000;
      white-space: nowrap;
      width: 7.4rem;
      left: 9.1rem;
      font-size: 3rem;
      line-height: 0.8;
      font-family: Arial, 'Source Sans Pro';
      height: 2.4rem;
    }
    .auto-group-yqtr-f1s {
      top: 66.4rem;
      display: flex;
      justify-content: center;
      background-color: #049904;
      width: 7.3rem;
      left: 56.9rem;
      font-size: 3rem;
      font-weight: 400;
      height: 4.8rem;
      color: #ffffff;
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      line-height: 1.2575;
      align-items: center;
    }
  }
}
