
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 270.4rem;
}.hero-edukasi-Zcu {
  position: relative;
  column-gap: 5.3rem;
  border: dashed 0.1rem #9747ff;
  box-sizing: border-box;
  padding: 2rem 3.499rem 3.8rem 2rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  width: 100%;
  overflow: hidden;

  .property-1hero-1-ePT {
    border-radius: 1rem;
    flex-shrink: 0;
    width: 84.7671rem;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('REPLACE_IMAGE:35cd0db8747e99db4b53162902b9c60d9c19989f');
    box-sizing: border-box;
    padding-top: 29rem;
    height: 39.5rem;

    .konten-xf3 {
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) -0%, #c2c2c2 100%);
      border-radius: 0 0 1rem 1rem;
      box-sizing: border-box;
      padding: 1.1rem 2.4rem 1.6rem 1.3rem;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .konten-artikel-t2u {
        margin: 0rem 6.65rem 0.6rem 0rem;
        width: 64.55rem;
        flex-shrink: 0;

        .judul-1NR {
          width: 64.5rem;
          margin-left: 0.05rem;

          .neuromarketing-strategi-manfaat-memahami-otak-konsumen-ZPw {
            text-align: center;
            letter-spacing: -0.02rem;
            white-space: nowrap;
            width: 100%;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
          }
          .september-25-2023-marketing-eRP {
            align-items: baseline;
            width: 100%;
            font-size: 1rem;
            font-weight: 400;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            display: flex;
            text-align: center;
            line-height: 2.4;
            letter-spacing: -0.01rem;
            white-space: nowrap;

            .september-25-2023-marketing-eRP-sub-0 {
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1rem;
              font-weight: 400;
              line-height: 2.4;
              letter-spacing: -0.01rem;
            }
            .september-25-2023-marketing-eRP-sub-1 {
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1rem;
              font-weight: 400;
              line-height: 2.4;
              letter-spacing: -0.01rem;
              color: #000000;
            }
          }
        }
        .dalam-dunia-pemasaran-yang-semakin-kompleks-pemahaman-mendalam-tentang-perilaku-konsumen-menjadi-kunci-sukses-1of {
          width: 100%;
          text-align: center;
          font-weight: 400;
          line-height: 2.4;
          color: #000000;
          font-size: 1rem;
          letter-spacing: -0.01rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .read-more-6KK {
        align-items: center;
        flex-shrink: 0;
        margin-top: 5.4rem;
        display: flex;

        .read-more-Sty {
          color: #000000;
          flex-shrink: 0;
          text-align: center;
          font-size: 1.5rem;
          line-height: 1.6;
          letter-spacing: -0.015rem;
          font-weight: 500;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .group-Aa5 {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.1rem;
          width: 1.9rem;
          height: 1.3rem;
        }
      }
    }
  }
  .property-1hero-2-ado {
    width: 84.7671rem;
    cursor: pointer;
    background-size: 100% 100%;
    background-position: center;
    background-image: url('REPLACE_IMAGE:ea7cbd8f446fc0a003ac433ed32689fcbc165c52');
    border-radius: 1rem;
    box-sizing: border-box;
    padding-top: 29rem;
    height: 39.5rem;
    background-repeat: no-repeat;
    flex-shrink: 0;

    .konten-ug5 {
      height: 100%;
      display: flex;
      align-items: center;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) -0%, #c2c2c2 100%);
      border-radius: 0 0 1rem 1rem;
      box-sizing: border-box;
      padding: 1.1rem 2.4rem 1.6rem 1.333rem;
      width: 100%;

      .konten-artikel-2Eu {
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 12.2671rem;
        height: 100%;
        display: flex;

        .judul-Tr1 {
          width: 57.2rem;
          flex-shrink: 0;

          .tujuan-pemasaran-pengertian-jenis-contoh-caranya-28R {
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2;
            letter-spacing: -0.02rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .september-25-2023-marketing-KdK {
            white-space: nowrap;
            display: flex;
            width: 100%;
            font-size: 1rem;
            line-height: 2.4;
            font-family: Poppins, 'Source Sans Pro';
            align-items: baseline;
            text-align: center;
            font-weight: 400;
            letter-spacing: -0.01rem;
            color: #000000;

            .september-25-2023-marketing-KdK-sub-0 {
              line-height: 2.4;
              letter-spacing: -0.01rem;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1rem;
              font-weight: 400;
            }
            .september-25-2023-marketing-KdK-sub-1 {
              font-size: 1rem;
              font-weight: 400;
              line-height: 2.4;
              letter-spacing: -0.01rem;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
        }
        .memahami-tujuan-pemasaran-adalah-langkah-awal-yang-krusial-dalam-membangun-strategi-pemasaran-yang-efektif-tanpa-tujuan-yang-jelas-pyP {
          line-height: 1.5;
          letter-spacing: -0.01rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 58.9rem;
          font-size: 1rem;
          font-weight: 400;
        }
      }
      .read-more-Vpd {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-top: 5.4rem;

        .read-more-qtV {
          font-size: 1.5rem;
          text-align: center;
          font-weight: 500;
          line-height: 1.6;
          letter-spacing: -0.015rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .group-xy7 {
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.1rem;
          width: 1.9rem;
          height: 1.3rem;
          object-fit: contain;
        }
      }
    }
  }
  .property-1hero-3-QaD {
    box-sizing: border-box;
    padding-top: 29rem;
    width: 84.7671rem;
    background-repeat: no-repeat;
    background-position: center;
    flex-shrink: 0;
    height: 39.5rem;
    cursor: pointer;
    background-size: 100% 100%;
    background-image: url('REPLACE_IMAGE:6f28ce0386a9805e95ca308544afb77b158cc038');
    border-radius: 1rem;

    .konten-w4M {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) -0%, #c2c2c2 100%);
      border-radius: 0 0 1rem 1rem;
      box-sizing: border-box;
      padding: 1.1rem 2.4rem 1.6rem 1.266rem;

      .konten-artikel-rx1 {
        margin-right: 1.8342rem;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .judul-1a1 {
          width: 59.3rem;
          flex-shrink: 0;

          .strategi-pemasaran-online-terbaik-yang-terbukti-berhasil-mJH {
            line-height: 1.2;
            letter-spacing: -0.02rem;
            white-space: nowrap;
            width: 100%;
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
          }
          .september-25-2023-marketing-TB7 {
            line-height: 2.4;
            font-family: Poppins, 'Source Sans Pro';
            display: flex;
            width: 100%;
            text-align: center;
            letter-spacing: -0.01rem;
            color: #000000;
            white-space: nowrap;
            align-items: baseline;
            font-size: 1rem;
            font-weight: 400;

            .september-25-2023-marketing-TB7-sub-0 {
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
              font-size: 1rem;
              font-weight: 400;
              line-height: 2.4;
              letter-spacing: -0.01rem;
            }
            .september-25-2023-marketing-TB7-sub-1 {
              font-size: 1rem;
              font-weight: 400;
              line-height: 2.4;
              letter-spacing: -0.01rem;
              color: #000000;
              font-family: Poppins, 'Source Sans Pro';
            }
          }
        }
        .memiliki-strategi-pemasaran-online-yang-efektif-adalah-esensial-dengan-jutaan-pengguna-internet-di-seluruh-dunia-strategi-ini-menjadi-kunci-sukses-bagi-banyak-bisnis-mb7 {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.5;
          letter-spacing: -0.01rem;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 69.4rem;

          .memiliki-strategi-pemasaran-online-yang-efektif-adalah-esensial-dengan-jutaan-pengguna-internet-di-seluruh-dunia-strategi-ini-menjadi-kunci-sukses-bagi-banyak-bisnis-mb7-sub-0 {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.01rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
          }
          .memiliki-strategi-pemasaran-online-yang-efektif-adalah-esensial-dengan-jutaan-pengguna-internet-di-seluruh-dunia-strategi-ini-menjadi-kunci-sukses-bagi-banyak-bisnis-mb7-sub-1 {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.01rem;
            text-decoration-line: underline;
          }
          .memiliki-strategi-pemasaran-online-yang-efektif-adalah-esensial-dengan-jutaan-pengguna-internet-di-seluruh-dunia-strategi-ini-menjadi-kunci-sukses-bagi-banyak-bisnis-mb7-sub-2 {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: -0.01rem;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
      }
      .read-more-fiR {
        margin-top: 5.4rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .read-more-1GV {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 1.5rem;
          font-weight: 500;
          line-height: 1.6;
          letter-spacing: -0.015rem;
          flex-shrink: 0;
        }
        .group-vuF {
          width: 1.9rem;
          height: 1.3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.1rem;
        }
      }
    }
  }
}
