
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.landing-page-user-4XK {
  width: 100%;
  height: 321.8rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .hero-mRj {
    position: absolute;
    left: 0.1rem;
    top: 8.9rem;
    background-color: #ceff9d;
    width: 151.1rem;
    height: 51.1rem;

    .contact-us-sDs {
      position: absolute;
      left: 3.5rem;
      top: 35.7rem;
      background-color: #049904;
      border-radius: 1rem;
      width: 28rem;
      height: 6.6rem;
    }
    .mulai-usaha-sekarang-ACy {
      height: 2.4rem;
      left: 5.7rem;
      top: 37.6rem;
      font-weight: 700;
      line-height: 1.2;
      white-space: nowrap;
      width: 22.8rem;
      text-align: center;
      font-size: 2rem;
      letter-spacing: -0.02rem;
      color: #ffffff;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
    }
    .ellipse-15-DS9 {
      vertical-align: top;
      width: 43.9rem;
      height: 34.4rem;
      position: absolute;
      left: 102.5rem;
      top: 10.5rem;
      object-fit: contain;
    }
    .gambar-semanggi-1-iNu {
      height: 44.7rem;
      position: absolute;
      left: 77.4rem;
      top: 1.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 62.7rem;
    }
    .ingin-mencari-bahan-makanan-28h {
      font-family: Poppins, 'Source Sans Pro';
      width: 76.5rem;
      left: 3.55rem;
      top: 9.1rem;
      text-align: center;
      font-weight: 600;
      line-height: 0.48;
      color: #000000;
      white-space: nowrap;
      height: 2.4rem;
      position: absolute;
      font-size: 5rem;
      letter-spacing: -0.05rem;
    }
    .dengan-mudah--VHB {
      width: 44.9rem;
      left: 3.6rem;
      font-weight: 500;
      font-family: Poppins, 'Source Sans Pro';
      text-align: center;
      font-size: 5rem;
      letter-spacing: -0.05rem;
      font-style: italic;
      color: #000000;
      top: 15.3rem;
      white-space: nowrap;
      height: 2.4rem;
      position: absolute;
      line-height: 0.48;
    }
    .mudahbukausaha-YmF {
      width: 50.7rem;
      height: 2.4rem;
      font-size: 5rem;
      line-height: 0.48;
      color: #049904;
      white-space: nowrap;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      left: 2.75rem;
      top: 21.7rem;
      text-align: center;
      font-weight: 600;
      letter-spacing: -0.05rem;
    }
    .platform-mempermudah-masyarakat-untuk-mencari-bahan-makanan-tradisional-DMb {
      font-size: 1.7rem;
      line-height: 1.4117647059;
      letter-spacing: -0.017rem;
      color: #000000;
      height: 2.4rem;
      position: absolute;
      left: 3.5rem;
      text-align: center;
      font-family: Poppins, 'Source Sans Pro';
      width: 70.2rem;
      top: 27.1rem;
      font-weight: 600;
      white-space: nowrap;
    }
    .dan-manajemen-usaha-sendiri-serta-keuntungan-lainnya--fUV {
      height: 2.4rem;
      position: absolute;
      text-align: center;
      font-weight: 700;
      line-height: 1.3333333333;
      color: #000000;
      white-space: nowrap;
      width: 45.7rem;
      left: 5.4rem;
      top: 30.6rem;
      font-size: 1.8rem;
      letter-spacing: -0.018rem;
      font-family: Arial, 'Source Sans Pro';
    }
  }
  .section-2-v9X {
    height: 60.5rem;
    position: absolute;
    left: 0;
    top: 60rem;
    background-color: #f9f5f5;
    width: 151.2rem;

    .auto-group-pzwz-EAD {
      position: absolute;
      left: 6.1rem;
      top: 15.2rem;
      display: flex;
      align-items: center;
      width: 138.5rem;
      height: 27.6rem;

      .cards1-ibB {
        display: flex;
        background-color: #049904;
        margin-right: 9.4rem;
        box-sizing: border-box;
        padding: 1.1rem 7.6rem 3.5rem 7.7rem;
        width: 40.4rem;
        height: 100%;
        align-items: center;
        flex-direction: column;
        border-radius: 2.6rem;
        flex-shrink: 0;

        .desain-tanpa-judul-18-1-QD7 {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.4rem;
          width: 25.1rem;
          height: 17.2rem;
          object-fit: cover;
        }
        .mau-usaha-tapi-J3b {
          font-weight: 700;
          line-height: 0.96;
          letter-spacing: -0.025rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          margin: 0rem 0.1rem 0.6rem 0rem;
          text-align: center;
          font-size: 2.5rem;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .gatau-caranya-P53 {
          text-align: center;
          line-height: 0.96;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.5rem;
          font-size: 2.5rem;
          font-weight: 700;
          letter-spacing: -0.025rem;
        }
      }
      .cards2-Ged {
        height: 100%;
        align-items: center;
        display: flex;
        border-radius: 2.6rem;
        width: 40.4rem;
        box-sizing: border-box;
        padding: 1.3rem 7.1rem 3.8rem 7.4rem;
        flex-direction: column;
        background-color: #049904;
        flex-shrink: 0;
        margin-right: 7.9rem;

        .desain-tanpa-judul-19-1-Azu {
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          width: 25.9rem;
          height: 15.2rem;
          object-fit: cover;
        }
        .capek-ngumpulin-Hpd {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 1rem 0.6rem 0rem;
          text-align: center;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 0.96;
          letter-spacing: -0.025rem;
          white-space: nowrap;
        }
        .modal-yang-gede--b4d {
          white-space: nowrap;
          font-size: 2.5rem;
          font-weight: 700;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          text-align: center;
          line-height: 0.96;
          letter-spacing: -0.025rem;
          flex-shrink: 0;
        }
      }
      .cards3-g65 {
        box-sizing: border-box;
        padding: 2rem 3.9rem 3.8rem 5.9rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 40.4rem;
        height: 100%;
        background-color: #049904;
        border-radius: 2.6rem;
        flex-shrink: 0;

        .auto-group-aarf-BYd {
          margin: 0rem 1.5rem 0.8rem 0rem;
          width: 27.7rem;
          height: 18.6rem;
          position: relative;
          flex-shrink: 0;

          .desain-tanpa-judul-20-1-VZK {
            height: 17.3rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            width: 27.7rem;
          }
          .mau-jualan-tapi-gatau-DVK {
            width: 23.1rem;
            height: 2.4rem;
            position: absolute;
            text-align: center;
            color: #ffffff;
            font-family: Arial, 'Source Sans Pro';
            white-space: nowrap;
            left: 3.25rem;
            top: 16.2rem;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 0.96;
            letter-spacing: -0.025rem;
          }
        }
        .beli-bahan-makanan-dimana-JFs {
          text-align: center;
          font-size: 2.5rem;
          line-height: 0.96;
          color: #ffffff;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          font-weight: 700;
          letter-spacing: -0.025rem;
          flex-shrink: 0;
        }
      }
    }
    .platform-foodys-hadir-sebagai-solusi--yN1 {
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      width: 59.7rem;
      left: 43.85rem;
      top: 52.4rem;
      text-align: center;
      letter-spacing: -0.035rem;
      color: #049904;
      height: 2.4rem;
      position: absolute;
      font-size: 3.5rem;
      font-weight: 700;
      line-height: 0.6857142857;
    }
    .apakah-anda-mengalami-hal-tersebut-jika-iya-wajar-kok-anda-tidak-sendiri--Rjo {
      letter-spacing: -0.03rem;
      color: #049904;
      font-family: Arial, 'Source Sans Pro';
      width: 94.4rem;
      height: 2.4rem;
      position: absolute;
      font-size: 3rem;
      line-height: 0.8;
      white-space: nowrap;
      left: 28.45rem;
      top: 47.3rem;
      text-align: center;
      font-weight: 400;
    }
    .line-sLu {
      height: 1.3rem;
      position: absolute;
      left: 40.7519rem;
      top: 10.4rem;
      background-color: #049904;
      border-radius: 0.3rem;
      width: 63.1132rem;
    }
    .biasanya-ini-kendala-saat-akan-mulai-usaha-zAd {
      text-align: center;
      letter-spacing: -0.045rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 100.5rem;
      height: 2.4rem;
      left: 23.5rem;
      font-weight: 500;
      line-height: 0.5333333333;
      color: #049904;
      position: absolute;
      top: 5.7rem;
      font-size: 4.5rem;
    }
  }
  .section-3-FMT {
    grid-template-columns: repeat(2, 71.9233rem);
    background-color: #ceff9d;
    box-sizing: border-box;
    padding: 6.5rem 5.1rem 8.9rem 6.1rem;
    width: 151.2rem;
    height: 60.7rem;
    position: absolute;
    left: 0;
    top: 120.5rem;
    display: grid;
    grid-auto-rows: 30.2875rem;

    .auto-group-t6ix-t9X {
      width: 100%;
      display: flex;
      align-items: flex-end;

      .card1-pos {
        flex-direction: column;
        border-radius: 2.6rem;
        margin: 0rem 6rem 0.3rem 0rem;
        padding: 0.3rem 5.1rem 6.2rem 4rem;
        width: 42.8rem;
        display: flex;
        box-sizing: border-box;
        align-items: center;
        background-color: #049904;
        flex-shrink: 0;

        .desain-tanpa-judul-21-1-Jyw {
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.4rem 0rem;
          width: 19.8rem;
          height: 17.8rem;
          object-fit: cover;
          vertical-align: top;
        }
        .produk-pasti-laris-cUq {
          line-height: 0.6857142857;
          font-family: Arial, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 1.6rem 2.7rem 0rem;
          text-align: center;
          font-size: 3.5rem;
          font-weight: 700;
          letter-spacing: -0.035rem;
          color: #ffff00;
          white-space: nowrap;
        }
        .anda-tidak-perlu-pusing-mencari-bahan-kami-sudah-menyediakan-bahan-yang-mempermudah-untuk-dijual-iXs {
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          color: #ffffff;
          font-family: Arial, 'Source Sans Pro';
          max-width: 33.7rem;
        }
      }
      .card2-n1w {
        display: flex;
        background-color: #049904;
        border-radius: 2.6rem;
        width: 42.8rem;
        box-sizing: border-box;
        padding: 0.8rem 3.15rem 6.5rem 3.95rem;
        align-items: center;
        flex-direction: column;
        flex-shrink: 0;
        margin-right: 5.6rem;

        .desain-tanpa-judul-22-1-513 {
          flex-shrink: 0;
          margin: 0rem 1rem 1.2rem 0rem;
          width: 15.2rem;
          height: 16.7rem;
          object-fit: cover;
          vertical-align: top;
        }
        .tracking-outlet-AoB {
          margin: 0rem 1.1rem 2.2rem 0rem;
          text-align: center;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3.5rem;
          font-weight: 700;
          line-height: 0.6857142857;
          letter-spacing: -0.035rem;
          color: #ffff00;
        }
        .mendeteksi-outlet-terdekat-yang-telah-mendaftar-di-platform-memudahkan-pengusaha-untuk-mendeteksi-competitor-lain-TXP {
          max-width: 35.7rem;
          letter-spacing: -0.018rem;
          font-family: Arial, 'Source Sans Pro';
          text-align: center;
          font-size: 1.8rem;
          font-weight: 700;
          line-height: 1.3333333333;
          color: #ffffff;
          flex-shrink: 0;
        }
      }
      .card3-VDB {
        padding: 1.6rem 4.4rem 8.5rem 6.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        background-color: #049904;
        box-sizing: border-box;
        width: 42.8rem;
        border-radius: 2.6rem;
        flex-shrink: 0;

        .desain-tanpa-judul-23-1-PZT {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0rem 0.5rem 2rem;
          width: 26.8rem;
          height: 17.2rem;
          object-fit: cover;
        }
        .manajemen-usaha-6im {
          margin: 0rem 0rem 2rem 0.9rem;
          color: #ffff00;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 3.5rem;
          font-weight: 700;
          line-height: 0.6857142857;
          letter-spacing: -0.035rem;
          flex-shrink: 0;
        }
        .manajemen-outlet-sendiri-dapat-melihat-keuntungan-stok-profil-outlet-zJM {
          letter-spacing: -0.018rem;
          color: #ffffff;
          flex-shrink: 0;
          text-align: center;
          line-height: 1.3333333333;
          font-weight: 700;
          font-family: Arial, 'Source Sans Pro';
          max-width: 32.2rem;
          font-size: 1.8rem;
        }
      }
    }
    .line-ds7 {
      width: 63.1132rem;
      height: 1.3rem;
      background-color: #049904;
      border-radius: 0.3rem;
    }
    .kenapa-harus-di-foodys-aja--NZo {
      white-space: nowrap;
      text-align: center;
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 0.5333333333;
      letter-spacing: -0.045rem;
      color: #049904;
      font-family: Arial, 'Source Sans Pro';
    }
  }
  .section4-U73 {
    background-color: #f9f5f5;
    width: 151.2rem;
    height: 44.4rem;
    position: absolute;
    left: 0;
    top: 194rem;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 4.4rem 5.4rem 7.2rem 5.6rem;

    .auto-group-gjtd-Ysb {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 8.4rem 0.096rem 0rem;
      width: 41.8rem;
      height: 32.704rem;
      align-items: center;

      .produk-paling-laris-eQq {
        font-family: Arial, 'Source Sans Pro';
        flex-shrink: 0;
        margin: 0rem 0.6rem 5.2rem 0rem;
        font-weight: 700;
        letter-spacing: -0.045rem;
        color: #000000;
        white-space: nowrap;
        text-align: center;
        font-size: 4.5rem;
        line-height: 0.5333333333;
      }
      .daun-semanggi-jx5 {
        height: 25.104rem;
        position: relative;
        border-radius: 0.5rem;
        flex-shrink: 0;
        width: 100%;

        .foto-barang-ta5 {
          width: 41.1rem;
          height: 19.3844rem;
          position: absolute;
          left: 0.7rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
        }
        .tag-barang-oh3 {
          width: 41.8rem;
          height: 6.7638rem;
          position: absolute;
          left: 0;
          top: 18.3402rem;
          border-radius: 0.5rem;

          .nama-produk-harga-ceV {
            border-radius: 0.5rem;
            width: 41.1rem;
            height: 6.7638rem;
            position: absolute;
            left: 0.7rem;
            top: 0;
            background-color: #049904;
          }
          .daun-semanggi-XWZ {
            font-size: 2.5rem;
            line-height: 0.96;
            align-items: center;
            height: 2.4rem;
            position: absolute;
            font-weight: 900;
            color: #ffffff;
            width: 18.2rem;
            justify-content: center;
            white-space: nowrap;
            top: 0.6598rem;
            display: flex;
            letter-spacing: -0.025rem;
            font-family: Arial, 'Source Sans Pro';
            left: 3.35rem;
          }
          .rp-15000-PYm {
            height: 2.4rem;
            top: 3.6255rem;
            letter-spacing: -0.025rem;
            white-space: nowrap;
            color: #ffffff;
            font-family: Arial, 'Source Sans Pro';
            position: absolute;
            display: flex;
            font-size: 2.5rem;
            font-weight: 700;
            width: 10.6rem;
            left: 28.1088rem;
            align-items: center;
            justify-content: center;
            line-height: 0.96;
          }
        }
      }
    }
    .bawang-goreng-S1F {
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin: 7.496rem 8rem 0rem 0rem;
      width: 41.1rem;
      height: 25.1036rem;
      position: relative;

      .foto-barang-LsK {
        width: 40.2884rem;
        height: 23.2826rem;
        position: absolute;
        left: 0.8116rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
      }
      .tag-barang-FjP {
        width: 41.1rem;
        height: 6.7rem;
        position: absolute;
        left: 0;
        top: 18.4036rem;
        border-radius: 0.5rem;

        .nama-produk-harga-Bd3 {
          height: 6.7rem;
          position: absolute;
          left: 0.8116rem;
          top: 0;
          background-color: #049904;
          border-radius: 0.5rem;
          width: 40.2884rem;
        }
        .bawang-goreng-hbP {
          height: 2.4rem;
          display: flex;
          font-size: 2.5rem;
          letter-spacing: -0.025rem;
          white-space: nowrap;
          left: 2.4018rem;
          top: 0.6874rem;
          line-height: 0.96;
          width: 17.1rem;
          align-items: center;
          justify-content: center;
          font-family: Arial, 'Source Sans Pro';
          position: absolute;
          font-weight: 700;
          color: #ffffff;
        }
        .rp-7000-n73 {
          left: 29.9279rem;
          top: 3.6617rem;
          justify-content: center;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          color: #ffffff;
          width: 9.3rem;
          height: 2.4rem;
          align-items: center;
          font-size: 2.5rem;
          position: absolute;
          font-weight: 700;
          line-height: 0.96;
          letter-spacing: -0.025rem;
        }
      }
    }
    .lentho-ppR {
      width: 40.9rem;
      height: 25.2rem;
      position: relative;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin-top: 7.6rem;

      .foto-barang-kxy {
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        width: 40.9rem;
        height: 23.9936rem;
        position: absolute;
      }
      .tag-barang-gbj {
        position: absolute;
        left: 0;
        align-items: center;
        flex-direction: column;
        background-color: #049904;
        border-radius: 0.5rem;
        width: 40.9rem;
        padding: 1.045rem 1.609rem 0.694rem 1.797rem;
        height: 6.9046rem;
        top: 18.2954rem;
        display: flex;
        box-sizing: border-box;

        .lentho-ZvR {
          font-size: 2.5rem;
          line-height: 0.96;
          letter-spacing: -0.025rem;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 29.794rem 0.365rem 0rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          font-family: Roboto, 'Source Sans Pro';
        }
        .rp-4000-TF7 {
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          justify-content: center;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 0.96;
          margin-left: 27.5943rem;
          display: flex;
          letter-spacing: -0.025rem;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
  }
  .sectionproduct-Vhb {
    display: flex;
    align-items: center;
    background-color: #8fff73;
    box-sizing: border-box;
    padding: 3.2rem 101.535rem 3.3rem 8.61rem;
    height: 12.8rem;
    position: absolute;
    top: 181.2rem;
    width: 151.2rem;
    left: 0;

    .auto-group-97oy-Aoj {
      color: #000000;
      border-radius: 0.7rem;
      font-size: 3rem;
      width: 17.955rem;
      font-weight: 700;
      letter-spacing: -0.03rem;
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      display: flex;
      justify-content: center;
      margin-right: 5.145rem;
      background-color: #f9f5f5;
      flex-shrink: 0;
      text-align: center;
      line-height: 0.8;
      align-items: center;
      height: 100%;
    }
    .auto-group-gf4o-orh {
      white-space: nowrap;
      border-radius: 0.7rem;
      flex-shrink: 0;
      width: 17.955rem;
      font-size: 3rem;
      line-height: 0.8;
      letter-spacing: -0.03rem;
      align-items: center;
      justify-content: center;
      height: 100%;
      text-align: center;
      font-family: Arial, 'Source Sans Pro';
      background-color: #f9f5f5;
      font-weight: 700;
      color: #000000;
      display: flex;
    }
  }
  .auto-group-mnfv-4Gq {
    left: 0;
    top: 238.4rem;
    width: 151.2rem;
    height: 83.4rem;
    position: absolute;

    .section-5-zAV {
      background-color: #ceff9d;
      height: 27rem;
      position: absolute;
      top: 0;
      align-items: center;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 4.4rem 41.35rem 5.1rem 35.05rem;
      width: 151.2rem;
      left: 0;

      .segera-bergabung-dengan-kami--5Sq {
        margin: 0rem 0rem 3.1rem 4rem;
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 0.5333333333;
        flex-shrink: 0;
        text-align: center;
        letter-spacing: -0.045rem;
        color: #049904;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
      }
      .mencari-bahan-baku-makanan-tradisional-foodys-tempatnya--ADP {
        text-align: center;
        font-size: 2.8rem;
        font-weight: 400;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 3.2rem;
        line-height: 0.8571428571;
        letter-spacing: -0.028rem;
        color: #049904;
        flex-shrink: 0;
      }
      .group-397-Sgh {
        font-weight: 700;
        font-family: Arial, 'Source Sans Pro';
        border-radius: 1rem;
        cursor: pointer;
        line-height: 1.1428571429;
        color: #ffffff;
        justify-content: center;
        width: calc(100% - 47.7rem);
        text-align: center;
        white-space: nowrap;
        background-color: #049904;
        margin: 0rem 23.55rem 0rem 24.15rem;
        font-size: 2.1rem;
        letter-spacing: -0.021rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        height: 6.4rem;
      }
    }
    .footer-s1K {
      height: 62.6rem;
      position: absolute;
      left: 0;
      top: 20.8rem;
      width: 151.2rem;

      .footer-zrd {
        overflow: hidden;
        align-items: center;
        flex-direction: column;
        box-sizing: border-box;
        padding: 13.2rem 7rem 3rem 7rem;
        position: absolute;
        left: 0;
        top: 6.2rem;
        background-color: #049904;
        width: 151.2rem;
        height: 56.4rem;
        display: flex;

        .pemisah-gDf {
          width: 100%;
          height: 0.1rem;
          background-color: #000000;
          flex-shrink: 0;
          margin-bottom: 1.6rem;
        }
        .isi-footer-Ptm {
          margin: 0rem 15.3rem 2rem 15.3rem;
          width: calc(100% - 30.6rem);
          height: 26.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .quotes-745 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;

            .auto-group-bpaf-T7w {
              height: 2.4rem;
              position: relative;
              flex-shrink: 0;
              margin-bottom: 0.6rem;
              width: 6.9001rem;

              .tagline-nAD {
                font-weight: 700;
                letter-spacing: -0.016rem;
                font-family: Arial, 'Source Sans Pro';
                height: 2.4rem;
                display: flex;
                justify-content: center;
                font-size: 1.6rem;
                width: 5.3rem;
                left: 0.85rem;
                top: 0;
                line-height: 1.5;
                position: absolute;
                align-items: baseline;
                color: #ffffff;
                white-space: nowrap;

                .tagline-nAD-sub-0 {
                }
                .tagline-nAD-sub-1 {
                  font-family: Arial, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  color: #ffff00;
                }
              }
              .line-23-f7X {
                object-fit: contain;
                vertical-align: top;
                width: 6.9001rem;
                height: 0;
                position: absolute;
                left: 0;
                top: 2.225rem;
              }
            }
            .tujuan-kami-bukan-menciptakan-bisnis-yang-besar-tetapi-membangun-sesuatu-yang-membuat-perubahan-besar-zQh {
              font-family: Arial, 'Source Sans Pro';
              margin: 0rem 0rem 1rem 0rem;
              font-size: 1.4rem;
              line-height: 1.7142857143;
              letter-spacing: -0.014rem;
              font-style: italic;
              max-width: 22.9rem;
              font-weight: 400;
              color: #ffffff;
              flex-shrink: 0;
            }
            .semua-impian-kita-menjadi-kanyataan-jika-kita-mempunyai-keberanian-unutk-mengerjakannya-walt-disney-puX {
              font-size: 1.4rem;
              margin-bottom: 1rem;
              max-width: 22.8rem;
              font-weight: 400;
              line-height: 1.7142857143;
              letter-spacing: -0.014rem;
              font-style: italic;
              color: #ffffff;
              font-family: Arial, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .wirausahawan-sejadi-meciptakan-peluang-bisnis-sedangkan-wirausahawan-bisa-fokus-mengejar-uang-tPb {
              max-width: 25.1rem;
              font-weight: 400;
              line-height: 1.7142857143;
              font-style: italic;
              flex-shrink: 0;
              font-size: 1.4rem;
              letter-spacing: -0.014rem;
              color: #ffffff;
              font-family: Arial, 'Source Sans Pro';
            }
          }
          .auto-group-5eax-ZVj {
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-left: 11.4rem;

            .about-us-h69 {
              margin-right: 11.2rem;
              width: 27.1rem;
              flex-shrink: 0;

              .auto-group-ksao-RXw {
                margin-bottom: 0.6rem;
                width: 7.4rem;
                height: 2.4rem;
                position: relative;

                .line-24-kaD {
                  width: 7.4rem;
                  height: 0;
                  position: absolute;
                  left: 0;
                  top: 2.2123rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .aboutus-tRX {
                  height: 2.4rem;
                  display: flex;
                  align-items: baseline;
                  font-size: 1.6rem;
                  color: #ffffff;
                  font-family: Arial, 'Source Sans Pro';
                  position: absolute;
                  left: 0.75rem;
                  top: 0;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  white-space: nowrap;
                  width: 5.9rem;
                  justify-content: center;
                  font-weight: 700;

                  .aboutus-tRX-sub-0 {
                  }
                  .aboutus-tRX-sub-1 {
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.5;
                    letter-spacing: -0.016rem;
                    color: #ffff00;
                    font-family: Arial, 'Source Sans Pro';
                  }
                }
              }
              .group-263-S5f {
                margin: 0rem 0rem 3rem 0.1rem;
                box-sizing: border-box;
                padding-left: 0.3125rem;
                width: calc(100% - 0.1rem);
                display: flex;
                align-items: flex-start;

                .location-Y8h {
                  height: 1.3029rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0.725rem 0.513rem 0rem 0rem;
                  width: 0.875rem;
                }
                .jl-dharmawangsa-no138-d-airlangga-kec-gubeng-surabaya-jawa-timur-60282-EnD {
                  font-weight: 400;
                  line-height: 1.7142857143;
                  letter-spacing: -0.014rem;
                  color: #ffffff;
                  font-family: Arial, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 25.3rem;
                  font-size: 1.4rem;
                }
              }
              .group-264-75K {
                display: flex;
                align-items: center;
                margin: 0rem 8.4rem 0.6rem 0rem;
                width: calc(100% - 8.4rem);

                .icon-envelope-closed-RLu {
                  margin: 0.2rem 0.5rem 0rem 0rem;
                  width: 1.6rem;
                  height: 1.2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .foodysbussinesgmailcom-ums {
                  line-height: 1.7142857143;
                  color: #ffffff;
                  font-family: Arial, 'Source Sans Pro';
                  flex-shrink: 0;
                  display: flex;
                  font-weight: 400;
                  letter-spacing: -0.014rem;
                  white-space: nowrap;
                  font-size: 1.4rem;
                }
              }
              .group-265-25o {
                display: flex;
                align-items: center;
                margin: 0rem 17rem 0rem 0rem;
                box-sizing: border-box;
                padding-left: 0.1333rem;
                width: calc(100% - 17rem);

                .calling-jW1 {
                  margin: 0rem 0.633rem 0.1rem 0rem;
                  width: 1.3333rem;
                  height: 1.25rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .item-0274-2885822-3Fo {
                  font-size: 1.4rem;
                  font-weight: 400;
                  color: #ffffff;
                  flex-shrink: 0;
                  line-height: 1.7142857143;
                  letter-spacing: -0.014rem;
                  font-style: italic;
                  font-family: Arial, 'Source Sans Pro';
                  white-space: nowrap;
                }
              }
            }
            .auto-group-kgvp-juK {
              flex-shrink: 0;
              margin-right: 7.9954rem;
              width: 9.7046rem;
              height: 7rem;
              position: relative;

              .comunity-GuF {
                flex-direction: column;
                width: 7.9rem;
                height: 7rem;
                position: absolute;
                left: 0;
                top: 0;
                align-items: center;
                display: flex;

                .comunity-Cnu {
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 700;
                  font-family: Arial, 'Source Sans Pro';
                  color: #ffffff;
                  white-space: nowrap;
                  align-items: baseline;
                  flex-shrink: 0;
                  margin: 0rem 0rem 1.6rem 1.2rem;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;

                  .comunity-Cnu-sub-0 {
                  }
                  .comunity-Cnu-sub-1 {
                    font-weight: 700;
                    line-height: 1.5;
                    letter-spacing: -0.016rem;
                    color: #ffff00;
                    font-family: Arial, 'Source Sans Pro';
                    font-size: 1.6rem;
                  }
                }
                .group-266-8a5 {
                  width: 6.7rem;
                  height: 3rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.2rem;
                }
              }
              .line-26-Fub {
                position: absolute;
                left: 0;
                top: 2.5rem;
                background-color: #000000;
                width: 9.7046rem;
                height: 0.1rem;
              }
            }
            .sosmed-kbT {
              margin-top: 0.1rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .social-media-V3F {
                margin-left: 0.2rem;
                font-size: 1.6rem;
                font-weight: 700;
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Arial, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                line-height: 1.5;
                align-items: baseline;
                flex-shrink: 0;

                .social-media-V3F-sub-0 {
                }
                .social-media-V3F-sub-1 {
                  color: #ffff00;
                  font-family: Arial, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                }
              }
              .line-25-dof {
                background-color: #000000;
                flex-shrink: 0;
                margin-bottom: 1.4rem;
                width: 10.0045rem;
                height: 0.1rem;
              }
              .list-sosmed-xb3 {
                width: 14.1rem;
                height: 3rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .pemisah-UZP {
          margin-bottom: 3.3rem;
          width: 100%;
          height: 0.1rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .copyright-2023-by-foodys-all-rights-reserved-DG5 {
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.8461538462;
          letter-spacing: -0.013rem;
          color: #ffffff;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 2.7rem 1.7rem 0rem;
          flex-shrink: 0;
        }
        .terima-kasih-telah-mengunjungi-foodys-jangan-ragu-untuk-menghubungi-kami-jika-anda-memiliki-pertanyaan-atau-saran-53P {
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          letter-spacing: -0.013rem;
          color: #ffffff;
          margin-right: 4.3rem;
          font-size: 1.3rem;
          font-weight: 400;
          line-height: 1.8461538462;
        }
      }
      .foodies-1-uo7 {
        width: 30.1rem;
        height: 27.7rem;
        position: absolute;
        left: 7.2rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
      .line-22-Doo {
        background-color: #000000;
        width: 151.2rem;
        height: 0.2rem;
        position: absolute;
        left: 0;
        top: 6.2rem;
      }
    }
  }
  .navbar-user-wjo {
    width: 151.2rem;
    height: 9.1rem;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #049904;

    .profil-Ty3 {
      height: 6rem;
      position: absolute;
      top: 1.6rem;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-left: 0.1rem;
      width: 19.8rem;
      cursor: pointer;
      left: 125.4rem;

      .andi-akhsanul-xeu {
        text-align: center;
        font-size: 1.6rem;
        white-space: nowrap;
        flex-shrink: 0;
        color: #ffff00;
        font-family: Poppins, 'Source Sans Pro';
        margin-right: 1.052rem;
        font-weight: 900;
        line-height: 1.5;
        letter-spacing: -0.016rem;
      }
      .dropdown-menu-4T3 {
        background-image: url('REPLACE_IMAGE:I376:3471;29:2528');
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.2rem 1.38rem 1.2rem 1.472rem;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .profil-aAV {
          width: 3.496rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .line-21-gjK {
      left: 0;
      top: 9.1rem;
      background-color: #000000;
      width: 151.2rem;
      height: 0.1rem;
      position: absolute;
    }
    .navigasi-1Wh {
      height: 2.4rem;
      position: absolute;
      left: 93.75rem;
      top: 3.4rem;
      display: flex;
      align-items: center;
      width: 23.2rem;

      .home-iR7 {
        margin-right: 4.3rem;
        text-align: center;
        color: #ffff00;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 1.5;
        letter-spacing: -0.016rem;
      }
      .outlet-Dsf {
        margin-right: 4.6rem;
        cursor: pointer;
        font-weight: 900;
        color: #ffffff;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.5;
        letter-spacing: -0.016rem;
      }
      .contact-Kvh {
        white-space: nowrap;
        cursor: pointer;
        font-size: 1.6rem;
        letter-spacing: -0.016rem;
        color: #ffffff;
        font-family: Arial, 'Source Sans Pro';
        text-align: center;
        font-weight: 900;
        line-height: 1.5;
        flex-shrink: 0;
      }
    }
    .foodies-1-dwP {
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 30.1rem;
      height: 27.7rem;
      position: absolute;
      left: 2.1rem;
    }
  }
}
