
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 137.49rem;
}.list-barang-Wn5 {
  box-sizing: border-box;
  padding-right: 0rem;
  width: 100%;
  display: flex;
  align-items: flex-start;

  .auto-group-o98p-r5F {
    flex-direction: column;
    flex-shrink: 0;
    margin: 0.1rem 2.176rem 0rem 0rem;
    width: 32.7404rem;
    align-items: center;
    display: flex;

    .daun-semanggi-Yyf {
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin-bottom: 4.1rem;
      width: 100%;
      height: 19.3rem;
      position: relative;

      .foto-barang-tXj {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        width: 32.7404rem;
        height: 14.9028rem;
      }
      .tag-barang-RXf {
        border-radius: 0.5rem;
        height: 5.2rem;
        left: 0;
        background-color: #3dbc3d;
        position: absolute;
        top: 14.1rem;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        padding: 0.3rem 1.001rem 0.213rem 0.69rem;
        width: 32.7404rem;

        .daun-semanggi-JrM {
          display: flex;
          justify-content: center;
          font-weight: 700;
          letter-spacing: -0.02rem;
          color: #ffffff;
          margin: 0rem 8.25rem 2.287rem 0rem;
          align-items: center;
          font-size: 2rem;
          line-height: 1.2;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .rp-15000-zDP {
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 2.2867rem;
          align-items: center;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2;
          font-family: Arial, 'Source Sans Pro';
          display: flex;
          justify-content: center;
          letter-spacing: -0.02rem;
          color: #ffffff;
        }
      }
    }
    .lontong-4yw {
      position: relative;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin-bottom: 3.9rem;
      width: 100%;
      height: 19.5rem;

      .foto-barang-cEm {
        height: 17.9rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        width: 32.7404rem;
      }
      .tag-barang-8D7 {
        padding: 0.251rem 1.501rem 0.213rem 1.59rem;
        width: 32.7404rem;
        position: absolute;
        left: 0;
        align-items: center;
        box-sizing: border-box;
        height: 5.1511rem;
        top: 14.3489rem;
        display: flex;
        background-color: #3dbc3d;
        border-radius: 0.5rem;

        .lontong-DEZ {
          justify-content: center;
          font-size: 2rem;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          font-family: Arial, 'Source Sans Pro';
          margin: 0rem 14.95rem 2.287rem 0rem;
          align-items: center;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          font-weight: 700;
        }
        .rp-5000-7Kw {
          align-items: center;
          font-size: 2rem;
          letter-spacing: -0.02rem;
          color: #ffffff;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          margin-top: 2.2867rem;
          display: flex;
          flex-shrink: 0;
          line-height: 1.2;
          justify-content: center;
          font-weight: 700;
        }
      }
    }
    .lentho-PHT {
      border-radius: 0.5rem;
      flex-shrink: 0;
      width: 100%;
      height: 18.8rem;
      position: relative;

      .foto-barang-v2V {
        height: 17.9rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        width: 32.7404rem;
      }
      .tag-barang-SFj {
        box-sizing: border-box;
        position: absolute;
        top: 13.6489rem;
        display: flex;
        background-color: #3dbc3d;
        padding: 0.251rem 1.251rem 0.213rem 1.39rem;
        width: 32.7404rem;
        height: 5.1511rem;
        left: 0;
        align-items: center;
        border-radius: 0.5rem;

        .lentho-iyw {
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2;
          font-family: Roboto, 'Source Sans Pro';
          margin: 0rem 16rem 2.287rem 0rem;
          align-items: center;
          letter-spacing: -0.02rem;
          color: #ffffff;
          white-space: nowrap;
        }
        .rp-4000-Dvh {
          font-size: 2rem;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin-top: 2.2867rem;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          flex-shrink: 0;
          display: flex;
        }
      }
    }
  }
  .auto-group-k8w7-i6m {
    margin: 0.1rem 2.176rem 0rem 0rem;
    width: 32.7405rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    .taoge-2NM {
      height: 19.3rem;
      position: relative;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin: 0rem 0rem 4.2rem 0rem;
      width: calc(100% - 0rem);

      .foto-barang-M9j {
        vertical-align: top;
        border-radius: 0.5rem;
        width: 32.7404rem;
        height: 17.9rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
      }
      .tag-barang-5Ld {
        background-color: #3dbc3d;
        padding: 0.251rem 1.267rem 0.213rem 0.974rem;
        width: 32.7404rem;
        left: 0;
        top: 14.1489rem;
        align-items: center;
        box-sizing: border-box;
        height: 5.1511rem;
        position: absolute;
        display: flex;
        border-radius: 0.5rem;

        .taoge-aHP {
          display: flex;
          font-size: 2rem;
          font-weight: 700;
          flex-shrink: 0;
          letter-spacing: -0.02rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 16.6rem 2.287rem 0rem;
          align-items: center;
          justify-content: center;
          line-height: 1.2;
        }
        .rp-5000-gLR {
          font-size: 2rem;
          letter-spacing: -0.02rem;
          flex-shrink: 0;
          align-items: center;
          display: flex;
          justify-content: center;
          font-weight: 700;
          line-height: 1.2;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin-top: 2.2867rem;
        }
      }
    }
    .kacang-AmP {
      flex-shrink: 0;
      margin: 0rem 0rem 4.1rem 0rem;
      width: calc(100% - 0rem);
      height: 19.3rem;
      position: relative;
      border-radius: 0.5rem;

      .foto-barang-Hr1 {
        height: 17.9rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        width: 32.7404rem;
      }
      .tag-barang-q6q {
        width: 32.7404rem;
        height: 5.1511rem;
        left: 0;
        display: flex;
        border-radius: 0.5rem;
        box-sizing: border-box;
        padding: 0.451rem 1.017rem 0.213rem 0.473rem;
        position: absolute;
        top: 14.1489rem;
        align-items: center;
        background-color: #3dbc3d;

        .kacang-KGu {
          display: flex;
          font-size: 2rem;
          letter-spacing: -0.02rem;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 16.35rem 2.087rem 0rem;
          line-height: 1.2;
          color: #ffffff;
          font-family: Arial, 'Source Sans Pro';
          font-weight: 700;
        }
        .rp-13000-cmo {
          margin-top: 2.0867rem;
          align-items: center;
          font-weight: 700;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          justify-content: center;
          font-size: 2rem;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          color: #ffffff;
        }
      }
    }
    .tahu-JPj {
      margin-left: 0rem;
      width: calc(100% - 0rem);
      height: 18.7rem;
      position: relative;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .foto-barang-rAM {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        width: 32.7404rem;
        height: 17.9rem;
      }
      .tag-barang-ac9 {
        height: 5.1511rem;
        position: absolute;
        top: 13.5489rem;
        border-radius: 0.5rem;
        display: flex;
        align-items: center;
        background-color: #3dbc3d;
        box-sizing: border-box;
        padding: 0.251rem 1.267rem 0.213rem 0.873rem;
        width: 32.7404rem;
        left: 0;

        .tahu-tMw {
          letter-spacing: -0.02rem;
          color: #ffffff;
          white-space: nowrap;
          margin: 0rem 18.2rem 2.287rem 0rem;
          display: flex;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2;
          align-items: center;
          justify-content: center;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .rp-3000-Brq {
          justify-content: center;
          font-size: 2rem;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          display: flex;
          font-weight: 700;
          font-family: Roboto, 'Source Sans Pro';
          margin-top: 2.2867rem;
        }
      }
    }
  }
  .auto-group-nkqv-fX7 {
    flex-direction: column;
    flex-shrink: 0;
    margin-right: 1.4596rem;
    align-items: center;
    display: flex;

    .kangkung-otD {
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin: 0rem 0.057rem 4.2rem 0rem;
      width: 32.7404rem;
      height: 19.4rem;
      position: relative;

      .foto-barang-Y57 {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        width: 32.7404rem;
        height: 17.9rem;
      }
      .tag-barang-553 {
        box-sizing: border-box;
        height: 5.1511rem;
        left: 0;
        top: 14.2489rem;
        display: flex;
        align-items: center;
        border-radius: 0.5rem;
        padding: 0.251rem 1.534rem 0.213rem 0.807rem;
        width: 32.7404rem;
        position: absolute;
        background-color: #3dbc3d;

        .kangkung-mTf {
          font-size: 2rem;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          color: #ffffff;
          flex-shrink: 0;
          white-space: nowrap;
          margin: 0rem 13.7rem 2.287rem 0rem;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          font-family: Arial, 'Source Sans Pro';
        }
        .rp-2000-GvD {
          justify-content: center;
          color: #ffffff;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          margin-top: 2.2867rem;
          display: flex;
          align-items: center;
          letter-spacing: -0.02rem;
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2;
        }
      }
    }
    .kerupuk-semanggi-AVo {
      flex-shrink: 0;
      margin: 0rem 0rem 4.4rem 0.057rem;
      width: 32.7404rem;
      height: 19.2rem;
      position: relative;
      border-radius: 0.5rem;

      .foto-barang-9cd {
        border-radius: 0.5rem;
        width: 32.7404rem;
        height: 17.9rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
      .tag-barang-GSM {
        padding: 0.451rem 1.434rem 0.067rem 1.557rem;
        height: 5.1511rem;
        left: 0;
        top: 14.0489rem;
        display: flex;
        background-color: #3dbc3d;
        box-sizing: border-box;
        position: absolute;
        align-items: center;
        border-radius: 0.5rem;
        width: 32.7404rem;

        .kerupuk-semanggi-Wbb {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          letter-spacing: -0.02rem;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 4.85rem 2.233rem 0rem;
          font-weight: 700;
          line-height: 1.2;
          color: #ffffff;
          font-family: Arial, 'Source Sans Pro';
        }
        .rp-10000-oqb {
          display: flex;
          align-items: center;
          font-weight: 700;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          color: #ffffff;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-top: 2.2332rem;
          justify-content: center;
          font-size: 2rem;
        }
      }
    }
    .kubis-6ph {
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin-right: 0.0569rem;
      width: 32.7404rem;
      height: 18.9rem;
      position: relative;

      .foto-barang-qGV {
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        width: 32.7404rem;
        height: 17.9rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .tag-barang-mfw {
        align-items: center;
        padding: 0.251rem 1.284rem 0.213rem 1.757rem;
        width: 32.7404rem;
        height: 5.1511rem;
        position: absolute;
        left: 0;
        top: 13.7489rem;
        display: flex;
        background-color: #3dbc3d;
        box-sizing: border-box;
        border-radius: 0.5rem;

        .kubis-fWR {
          align-items: center;
          justify-content: center;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          white-space: nowrap;
          display: flex;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 16.7rem 2.287rem 0rem;
        }
        .rp-4000-NQq {
          letter-spacing: -0.02rem;
          white-space: nowrap;
          margin-top: 2.2867rem;
          align-items: center;
          justify-content: center;
          line-height: 1.2;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          display: flex;
          font-size: 2rem;
          font-weight: 700;
        }
      }
    }
  }
  .auto-group-cwm5-3ms {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin-top: 0.1rem;
    width: 33.4rem;
    align-items: flex-end;

    .petis-udang-amo {
      flex-shrink: 0;
      margin-bottom: 4.2rem;
      width: 32.7404rem;
      height: 19.3rem;
      position: relative;
      border-radius: 0.5rem;

      .foto-barang-XS9 {
        width: 32.7404rem;
        height: 17.9rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
      }
      .tag-barang-39b {
        height: 5.1511rem;
        position: absolute;
        left: 0;
        display: flex;
        background-color: #3dbc3d;
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 32.7404rem;
        align-items: center;
        padding: 0.251rem 1.05rem 0.213rem 1.09rem;
        top: 14.1489rem;

        .petis-udang-Y6M {
          letter-spacing: -0.02rem;
          color: #ffffff;
          margin: 0rem 11.8rem 2.287rem 0rem;
          justify-content: center;
          font-weight: 700;
          line-height: 1.2;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          display: flex;
          align-items: center;
          font-size: 2rem;
        }
        .rp-12000-EUy {
          margin-top: 2.2867rem;
          justify-content: center;
          font-weight: 700;
          line-height: 1.2;
          color: #ffffff;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          align-items: center;
          font-size: 2rem;
          letter-spacing: -0.02rem;
          flex-shrink: 0;
        }
      }
    }
    .bawang-goreng-KmK {
      height: 19.3rem;
      position: relative;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin-bottom: 4.3rem;
      width: 100%;

      .foto-barang-rWM {
        height: 17.9rem;
        position: absolute;
        left: 0.6596rem;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        width: 32.7404rem;
      }
      .tag-barang-PFP {
        height: 5.1511rem;
        position: absolute;
        left: 0;
        top: 14.1489rem;
        border-radius: 0.5rem;
        width: 33.4rem;

        .nama-produk-harga-KPw {
          top: 0;
          background-color: #3dbc3d;
          border-radius: 0.5rem;
          width: 32.7404rem;
          height: 5.1511rem;
          position: absolute;
          left: 0.6596rem;
        }
        .bawang-goreng-dvR {
          left: 2.05rem;
          font-weight: 700;
          width: 13.7rem;
          align-items: center;
          justify-content: center;
          line-height: 1.2;
          font-family: Arial, 'Source Sans Pro';
          position: absolute;
          display: flex;
          font-size: 2rem;
          letter-spacing: -0.02rem;
          color: #ffffff;
          top: 0.2511rem;
          white-space: nowrap;
          height: 2.4rem;
        }
        .rp-7000-u7F {
          letter-spacing: -0.02rem;
          display: flex;
          font-size: 2rem;
          top: 2.5378rem;
          align-items: center;
          font-weight: 700;
          line-height: 1.2;
          height: 2.4rem;
          left: 24.3498rem;
          justify-content: center;
          color: #ffffff;
          font-family: Arial, 'Source Sans Pro';
          width: 7.5rem;
          position: absolute;
          white-space: nowrap;
        }
      }
    }
    .telur-Mjw {
      position: relative;
      border-radius: 0.5rem;
      flex-shrink: 0;
      width: 32.7404rem;
      height: 19.4rem;

      .foto-barang-hYu {
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        width: 32.7404rem;
        height: 17.9rem;
        position: absolute;
        left: 0;
      }
      .tag-barang-2bB {
        width: 32.7404rem;
        height: 5.1511rem;
        left: 0;
        top: 14.2489rem;
        align-items: center;
        border-radius: 0.5rem;
        box-sizing: border-box;
        position: absolute;
        display: flex;
        background-color: #3dbc3d;
        padding: 0.651rem 0.75rem 0.4rem 2.09rem;

        .telur-KqB {
          display: flex;
          font-size: 2rem;
          font-weight: 700;
          letter-spacing: -0.02rem;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 16.2rem 1.7rem 0rem;
          align-items: center;
          justify-content: center;
          line-height: 1.2;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
        }
        .rp-20000-EBT {
          letter-spacing: -0.02rem;
          font-family: Roboto, 'Source Sans Pro';
          margin-top: 1.7rem;
          display: flex;
          justify-content: center;
          line-height: 1.2;
          white-space: nowrap;
          flex-shrink: 0;
          align-items: center;
          font-size: 2rem;
          font-weight: 700;
          color: #ffffff;
        }
      }
    }
  }
}
