
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 158.3rem;
}.navbar-guest-aUZ {
  align-items: center;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  padding: 2rem 2rem 13.1rem 2rem;
  width: 100%;
  position: relative;
  display: flex;
  border-radius: 0.5rem;
  box-sizing: border-box;
  overflow: hidden;

  .wireframe-6C1 {
    flex-shrink: 0;
    padding-top: 2.2rem;
    height: 9.1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 0rem 3.1rem 2rem 0rem;
    box-sizing: border-box;
    width: 151.2rem;
    position: relative;
    align-items: center;

    .auto-group-rw3q-zHP {
      height: 4.7rem;
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 6.6rem 2.2rem 8.5rem;
      width: calc(100% - 15.1rem);

      .logo-website-u9T {
        border-radius: 0.2rem;
        flex-shrink: 0;
        height: 100%;
        display: flex;
        align-items: center;

        .logo-TRs {
          height: 100%;
          font-weight: 700;
          color: #ffffff;
          background-color: #2d3648;
          letter-spacing: -0.018rem;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-right: 0.6rem;
          width: 11.9rem;
          display: flex;
          align-items: center;
          font-size: 1.8rem;
          line-height: 1.3333333333;
          justify-content: center;
          border-radius: 0.2rem;
          flex-shrink: 0;
        }
        .nama-web-6Dw {
          width: 12.2rem;
          letter-spacing: -0.012rem;
          white-space: nowrap;
          border-radius: 0.2rem;
          display: flex;
          font-weight: 700;
          background-color: #d9d9d9;
          margin: 0.8rem 0;
          height: calc(100% - 1.6rem);
          align-items: center;
          font-family: Inter, 'Source Sans Pro';
          justify-content: center;
          font-size: 1.2rem;
          line-height: 2;
          color: #000000;
          flex-shrink: 0;
        }
      }
      .auto-group-14ef-vim {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding-left: 60.35rem;
        height: 100%;

        .navigasi-4a5 {
          margin: 1.2rem 5.9rem 1.1rem 0rem;
          height: calc(100% - 2.3rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .home-Beh {
            font-size: 1.6rem;
            line-height: 1.5;
            letter-spacing: -0.016rem;
            color: #000000;
            margin-right: 3.95rem;
            font-weight: 700;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
          }
          .outlet-72Z {
            margin-right: 4.1rem;
            line-height: 1.5;
            letter-spacing: -0.016rem;
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-size: 1.6rem;
            font-weight: 700;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .contact-RJ9 {
            flex-shrink: 0;
            font-weight: 700;
            line-height: 1.5;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            text-align: center;
            font-size: 1.6rem;
            letter-spacing: -0.016rem;
          }
        }
        .button-8bs {
          border-radius: 0.2rem;
          flex-shrink: 0;
          margin-bottom: 0.1rem;
          height: 4.6rem;
          display: flex;
          align-items: center;

          .login-U9w {
            display: flex;
            background-color: #d9d9d9;
            font-size: 1.6rem;
            color: #000000;
            height: 100%;
            font-weight: 700;
            justify-content: center;
            border-radius: 0.2rem;
            margin-right: 1rem;
            width: 10.2rem;
            white-space: nowrap;
            flex-shrink: 0;
            line-height: 1.5;
            letter-spacing: -0.016rem;
            align-items: center;
            text-align: center;
            font-family: Inter, 'Source Sans Pro';
          }
          .register-7Cu {
            flex-shrink: 0;
            width: 10.2rem;
            height: 100%;
            border-radius: 0.2rem;

            .button-fVK {
              border-radius: 0.2rem;
              height: 100%;
              line-height: 1.5;
              background-color: #2d3648;
              align-items: center;
              text-align: center;
              font-weight: 700;
              font-family: Inter, 'Source Sans Pro';
              width: 100%;
              letter-spacing: -0.016rem;
              justify-content: center;
              display: flex;
              font-size: 1.6rem;
              color: #ffffff;
              white-space: nowrap;
            }
          }
        }
      }
    }
    .line-22-hwo {
      width: 100%;
      height: 0.1rem;
      background-color: #000000;
      flex-shrink: 0;
    }
  }
  .property-1layout-navbar-guest-2z5 {
    position: relative;
    overflow: hidden;
    background-color: #049904;
    flex-shrink: 0;
    margin-right: 3.1rem;
    width: 151.2rem;
    height: 9.1rem;

    .button-x73 {
      align-items: center;
      border-radius: 1rem;
      width: 21.4rem;
      height: 4.6rem;
      position: absolute;
      left: 123.2rem;
      top: 2.2rem;
      display: flex;

      .login-GtR {
        margin-right: 1rem;
        text-align: center;
        font-size: 1.6rem;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        font-weight: 700;
        line-height: 1.5;
        display: flex;
        border-radius: 1rem;
        width: 10.2rem;
        height: 100%;
        cursor: pointer;
        color: #000000;
        align-items: center;
        background-color: #ffffff;
        letter-spacing: -0.016rem;
        white-space: nowrap;
        justify-content: center;
      }
      .register-8vd {
        width: 10.2rem;
        height: 100%;
        cursor: pointer;
        border-radius: 1rem;
        flex-shrink: 0;

        .button-HYd {
          font-weight: 700;
          line-height: 1.5;
          letter-spacing: -0.016rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          display: flex;
          height: 100%;
          background-color: #ffb000;
          border-radius: 1rem;
          font-size: 1.6rem;
          text-align: center;
          align-items: center;
          justify-content: center;
          width: 100%;
        }
      }
    }
    .line-22-8ZF {
      left: 0;
      top: 9.1rem;
      background-color: #000000;
      width: 151.2rem;
      height: 0.1rem;
      position: absolute;
    }
    .navigasi-4ho {
      left: 93.4rem;
      top: 3.4rem;
      display: flex;
      align-items: center;
      width: 24.15rem;
      height: 2.4rem;
      position: absolute;

      .home-aw3 {
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.65rem;
        cursor: pointer;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 900;
        letter-spacing: -0.016rem;
      }
      .outlet-WJu {
        white-space: nowrap;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 1.5;
        color: #ffffff;
        margin-right: 3.7rem;
        text-align: center;
        letter-spacing: -0.016rem;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .contact-deR {
        text-align: center;
        font-size: 1.6rem;
        color: #ffffff;
        white-space: nowrap;
        cursor: pointer;
        font-weight: 900;
        line-height: 1.5;
        letter-spacing: -0.016rem;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .foodies-1-9cm {
      position: absolute;
      left: 2.1rem;
      top: -9.3rem;
      object-fit: cover;
      vertical-align: top;
      width: 30.1rem;
      height: 27.7rem;
    }
  }
}
