
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.outlet-page-member-qvq {
  width: 100%;
  height: 234.4rem;
  position: relative;
  overflow: hidden;
  background-color: #efeaea;

  .auto-group-rtew-NA5 {
    box-sizing: border-box;
    padding: 11.8rem 0.7rem 3.3rem 0.8rem;
    width: 151.2rem;
    height: 147.8rem;
    position: absolute;
    left: 0;
    top: 0;

    .outlet-qpM {
      text-align: center;
      font-size: 3.5rem;
      font-weight: 500;
      letter-spacing: -0.035rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 2.5rem;
      width: 100%;
      line-height: 0.6857142857;
      color: #049904;
    }
    .rekomendasi-YTs {
      margin-bottom: 7.6rem;
      width: 100%;
      display: flex;
      flex-direction: column;

      .auto-group-rcq3-HRT {
        width: 22.1rem;
        height: 2.4rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 0rem 1.2rem 6.1rem;

        .line-59-o8u {
          object-fit: contain;
          vertical-align: top;
          width: 22rem;
          height: 0;
          position: absolute;
          left: 0.1rem;
          top: 2.35rem;
        }
        .rekomendasi-outlet-KN9 {
          width: 20.1rem;
          height: 2.4rem;
          line-height: 1.2;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          color: #049904;
          position: absolute;
          left: 0;
          top: 0;
          font-size: 2rem;
          font-weight: 500;
          letter-spacing: -0.02rem;
        }
      }
      .slider-outlet-QeV {
        overflow: hidden;
        border: solid 0.1rem #ffffff;
        background-color: #ffffff;
        flex-shrink: 0;
        align-items: flex-start;
        box-sizing: border-box;
        padding-left: 0.7rem;
        width: 100%;
        height: 48.1rem;
        position: relative;
        display: flex;
        column-gap: 2.3rem;

        .cardoutletlanding-ur9 {
          margin-top: 0.3rem;
          width: 36.9rem;
          height: 47.7273rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-91-S5P {
            background-color: #3dbc3d;
            border-radius: 1.5rem;
            width: 36.9rem;
            height: 21rem;
            position: absolute;
            left: 0;
            top: 26.7273rem;
          }
          .rectangle-90-AGH {
            vertical-align: top;
            border-radius: 0.7rem;
            width: 36.9rem;
            height: 29.037rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
          }
          .outlet1-69w {
            height: 13.3rem;
            position: absolute;
            left: 2.1rem;
            top: 30.4rem;
            width: 22.9rem;

            .auto-group-gprr-1nh {
              margin: 0rem 7.2rem 1.8rem 0rem;
              width: calc(100% - 7.2rem);
              display: flex;
              align-items: center;

              .group-vPs {
                flex-shrink: 0;
                margin: 0.224rem 0.8rem 0rem 0rem;
                width: 1.6rem;
                height: 1.8346rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
              .surabaya-barat-qmj {
                letter-spacing: -0.02rem;
                color: #3dbc3d;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.2;
              }
            }
            .outlet-pak-hasan-mQV {
              text-align: center;
              line-height: 0.8;
              letter-spacing: -0.03rem;
              margin-bottom: 1.9rem;
              width: 100%;
              font-size: 3rem;
              font-weight: 700;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .jual-makanan-tradisional-surabaya-5g5 {
              font-family: Roboto, 'Source Sans Pro';
              max-width: 22.6rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2;
              letter-spacing: -0.02rem;
              color: #ffffff;
            }
          }
          .group-ymT {
            left: 0.2rem;
            top: 15.2rem;
            background-image: url('REPLACE_IMAGE:I394:4067;288:2719');
            opacity: 0;
            box-sizing: border-box;
            width: 8.4rem;
            height: 8.5rem;
            position: absolute;
            padding: 2.75rem 3.671rem 2.75rem 3.251rem;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

            .vector-5Zb {
              width: 1.4784rem;
              height: 3.0005rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .cardoutletlanding-c3j {
          margin-top: 0.3rem;
          width: 36.9rem;
          height: 47.7273rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-91-93f {
            background-color: #3dbc3d;
            border-radius: 1.5rem;
            width: 36.9rem;
            height: 21rem;
            position: absolute;
            left: 0;
            top: 26.7273rem;
          }
          .rectangle-90-5CD {
            top: 0;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.7rem;
            width: 36.9rem;
            height: 29.037rem;
            position: absolute;
            left: 0;
          }
          .outlet2-1Lm {
            top: 30.6rem;
            width: 22.9rem;
            height: 13.3rem;
            position: absolute;
            left: 2.2rem;

            .auto-group-urd1-Y5o {
              margin: 0rem 7.2rem 1.8rem 0rem;
              width: calc(100% - 7.2rem);
              display: flex;
              align-items: center;

              .group-fgD {
                flex-shrink: 0;
                margin: 0.224rem 0.8rem 0rem 0rem;
                width: 1.6rem;
                height: 1.8346rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
              .surabaya-barat-mz9 {
                color: #3dbc3d;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: -0.02rem;
              }
            }
            .outlet-pak-hasan-t3B {
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              line-height: 0.8;
              letter-spacing: -0.03rem;
              text-align: center;
              font-size: 3rem;
              font-weight: 700;
              margin-bottom: 1.9rem;
              width: 100%;
            }
            .jual-makanan-tradisional-surabaya-biH {
              font-family: Roboto, 'Source Sans Pro';
              max-width: 22.6rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2;
              letter-spacing: -0.02rem;
              color: #ffffff;
            }
          }
        }
        .cardoutletlanding-6Q9 {
          height: 47.7273rem;
          position: relative;
          flex-shrink: 0;
          margin-top: 0.4rem;
          width: 36.9rem;

          .rectangle-91-EFT {
            background-color: #3dbc3d;
            border-radius: 1.5rem;
            width: 36.9rem;
            height: 21rem;
            position: absolute;
            left: 0;
            top: 26.7273rem;
          }
          .rectangle-90-ZHj {
            vertical-align: top;
            border-radius: 0.7rem;
            width: 36.9rem;
            height: 29.037rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
          }
          .outlet3-VBP {
            width: 22.9rem;
            height: 13.3rem;
            position: absolute;
            left: 2.4rem;
            top: 30.5rem;

            .auto-group-xurb-Qp9 {
              margin: 0rem 7.2rem 1.8rem 0rem;
              width: calc(100% - 7.2rem);
              display: flex;
              align-items: center;

              .group-8VF {
                margin: 0.224rem 0.8rem 0rem 0rem;
                width: 1.6rem;
                height: 1.8346rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .surabaya-barat-F45 {
                color: #3dbc3d;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: -0.02rem;
              }
            }
            .outlet-pak-hasan-ZqT {
              letter-spacing: -0.03rem;
              margin-bottom: 1.9rem;
              width: 100%;
              text-align: center;
              font-size: 3rem;
              font-weight: 700;
              line-height: 0.8;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
            .jual-makanan-tradisional-surabaya-HFf {
              max-width: 22.6rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2;
              letter-spacing: -0.02rem;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
        }
        .cardoutletlanding-bGM {
          height: 47.7273rem;
          position: relative;
          flex-shrink: 0;
          width: 36.9rem;

          .rectangle-91-w5K {
            width: 36.9rem;
            height: 21rem;
            position: absolute;
            left: 0;
            top: 26.7273rem;
            background-color: #3dbc3d;
            border-radius: 1.5rem;
          }
          .rectangle-90-ri5 {
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.7rem;
            width: 36.9rem;
            height: 29.037rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .outlet4-aty {
            width: 22.9rem;
            height: 13.3rem;
            position: absolute;
            left: 2.4rem;
            top: 30.9rem;

            .auto-group-kbhu-iVP {
              margin: 0rem 7.2rem 1.8rem 0rem;
              width: calc(100% - 7.2rem);
              display: flex;
              align-items: center;

              .group-3Xf {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.224rem 0.8rem 0rem 0rem;
                width: 1.6rem;
                height: 1.8346rem;
                position: relative;
                object-fit: contain;
              }
              .surabaya-barat-Zku {
                line-height: 1.2;
                letter-spacing: -0.02rem;
                color: #3dbc3d;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 500;
              }
            }
            .outlet-pak-hasan-5z9 {
              width: 100%;
              text-align: center;
              white-space: nowrap;
              letter-spacing: -0.03rem;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              margin-bottom: 1.9rem;
              font-size: 3rem;
              font-weight: 700;
              line-height: 0.8;
            }
            .jual-makanan-tradisional-surabaya-oQM {
              max-width: 22.6rem;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2;
              letter-spacing: -0.02rem;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
          .group-uyB {
            height: 8.5rem;
            left: 23rem;
            background-size: cover;
            background-repeat: no-repeat;
            box-sizing: border-box;
            padding: 2.75rem 3.173rem 2.75rem 3.583rem;
            width: 8.2rem;
            cursor: pointer;
            position: absolute;
            top: 15.5rem;
            background-position: center;
            background-image: url('REPLACE_IMAGE:I394:4067;288:2716');

            .vector-pKT {
              width: 1.4432rem;
              height: 3.0005rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .cardoutletlanding-Xjf {
          width: 36.9rem;
          height: 47.7273rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-91-sYd {
            width: 36.9rem;
            height: 21rem;
            position: absolute;
            left: 0;
            top: 26.7273rem;
            background-color: #3dbc3d;
            border-radius: 1.5rem;
          }
          .rectangle-90-oBP {
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.7rem;
            width: 36.9rem;
            height: 29.037rem;
          }
          .outlet5-vmo {
            top: 30.7rem;
            width: 31.2rem;
            height: 10.9rem;
            position: absolute;
            left: 2.4rem;

            .auto-group-nf2s-35j {
              width: calc(100% - 15.5rem);
              display: flex;
              align-items: center;
              margin: 0rem 15.5rem 1.8rem 0rem;

              .group-mGd {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.224rem 0.8rem 0rem 0rem;
                width: 1.6rem;
                height: 1.8346rem;
                position: relative;
                object-fit: contain;
              }
              .surabaya-barat-t6M {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: -0.02rem;
                color: #3dbc3d;
                font-family: Roboto, 'Source Sans Pro';
              }
            }
            .outlet-pak-rudi-1Ay {
              margin-bottom: 1.9rem;
              font-size: 3rem;
              font-weight: 700;
              line-height: 0.8;
              letter-spacing: -0.03rem;
              color: #000000;
              font-family: Roboto, 'Source Sans Pro';
              width: 100%;
              text-align: center;
              white-space: nowrap;
            }
            .jual-makanan-tradisional-surabaya-ir5 {
              white-space: nowrap;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2;
              letter-spacing: -0.02rem;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
            }
          }
        }
        .cardoutletlanding-3dT {
          width: 36.9rem;
          height: 47.7273rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-91-z2u {
            background-color: #3dbc3d;
            border-radius: 1.5rem;
            width: 36.9rem;
            height: 21rem;
            position: absolute;
            left: 0;
            top: 26.7273rem;
          }
          .rectangle-90-X2q {
            top: 0;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.7rem;
            width: 36.9rem;
            height: 29.037rem;
            position: absolute;
            left: 0;
          }
          .outlet6-SvV {
            width: 31.2rem;
            height: 10.9rem;
            position: absolute;
            left: 2.4rem;
            top: 31.1rem;

            .auto-group-6v91-aWu {
              display: flex;
              align-items: center;
              margin: 0rem 15.5rem 1.8rem 0rem;
              width: calc(100% - 15.5rem);

              .group-WQZ {
                height: 1.8346rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.224rem 0.8rem 0rem 0rem;
                width: 1.6rem;
              }
              .surabaya-barat-pg9 {
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.2;
                letter-spacing: -0.02rem;
                color: #3dbc3d;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
            .outlet-pak-hasan-kZo {
              line-height: 0.8;
              color: #000000;
              white-space: nowrap;
              margin-bottom: 1.9rem;
              width: 100%;
              text-align: center;
              font-size: 3rem;
              font-weight: 700;
              letter-spacing: -0.03rem;
              font-family: Roboto, 'Source Sans Pro';
            }
            .jual-makanan-tradisional-surabaya-56H {
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2;
              letter-spacing: -0.02rem;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
        .cardoutletlanding-aYq {
          width: 36.9rem;
          height: 47.7273rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-91-WxH {
            position: absolute;
            left: 0;
            top: 26.7273rem;
            background-color: #3dbc3d;
            border-radius: 1.5rem;
            width: 36.9rem;
            height: 21rem;
          }
          .rectangle-90-Sb3 {
            width: 36.9rem;
            height: 29.037rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.7rem;
          }
          .outlet7-Zff {
            width: 31.2rem;
            height: 10.9rem;
            position: absolute;
            left: 2.4rem;
            top: 31.3rem;

            .auto-group-tns7-6fb {
              margin: 0rem 15.5rem 1.8rem 0rem;
              width: calc(100% - 15.5rem);
              display: flex;
              align-items: center;

              .group-Rhs {
                flex-shrink: 0;
                margin: 0.224rem 0.8rem 0rem 0rem;
                width: 1.6rem;
                height: 1.8346rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
              .surabaya-barat-YGh {
                letter-spacing: -0.02rem;
                color: #3dbc3d;
                font-family: Roboto, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.2;
              }
            }
            .outlet-pak-hasan-f6R {
              margin-bottom: 1.9rem;
              width: 100%;
              font-size: 3rem;
              letter-spacing: -0.03rem;
              font-family: Roboto, 'Source Sans Pro';
              text-align: center;
              font-weight: 700;
              line-height: 0.8;
              color: #000000;
              white-space: nowrap;
            }
            .jual-makanan-tradisional-surabaya-xrD {
              letter-spacing: -0.02rem;
              color: #ffffff;
              font-family: Roboto, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.2;
            }
          }
        }
      }
    }
    .section-search-q9K {
      margin: 0rem 3.1rem 3.4rem 3rem;
      box-sizing: border-box;
      padding: 1.3rem 11.5rem 1.526rem 11.5rem;
      width: calc(100% - 6.1rem);
      height: 8rem;
      background-color: #ffffff;
      border-radius: 1rem;

      .search-X29 {
        column-gap: 11.7rem;
        align-items: center;
        width: 100%;
        height: 100%;
        display: flex;

        .list-search-TRb {
          width: 32.4rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-318-bXo {
            width: 32.4rem;
            height: 4.3rem;
            position: absolute;
            left: 0;
            top: 0.5rem;
            background-color: #ffb000;
            border-radius: 0.5rem;
          }
          .group-7W9 {
            box-sizing: border-box;
            padding: 2.156rem 1.25rem 1.725rem 1.25rem;
            position: absolute;
            top: 0;
            background-size: cover;
            background-position: center;
            width: 5rem;
            height: 5.1744rem;
            left: 26.5rem;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:394:4224');

            .vector-otm {
              height: 1.2936rem;
              object-fit: contain;
              vertical-align: top;
              width: 2.5rem;
            }
          }
          .lokasi-outlet-LNu {
            font-weight: 600;
            letter-spacing: -0.02rem;
            color: #ffffff;
            white-space: nowrap;
            height: 2.4rem;
            position: absolute;
            left: 9.8rem;
            font-size: 2rem;
            font-family: Poppins, 'Source Sans Pro';
            width: 12.9rem;
            top: 1.4rem;
            text-align: center;
            line-height: 1.2;
          }
          .frame-EUH {
            position: absolute;
            left: 26.5rem;
            top: 0.2rem;
            overflow: hidden;
            width: 5rem;
            height: 5rem;
            cursor: pointer;
          }
        }
        .list-search-a2M {
          width: 32.4rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-318-ieM {
            height: 4.3rem;
            position: absolute;
            left: 0;
            top: 0.5rem;
            background-color: #ffb000;
            border-radius: 0.5rem;
            width: 32.4rem;
          }
          .group-FeH {
            width: 5rem;
            height: 5.1744rem;
            top: 0;
            background-size: cover;
            background-position: center;
            box-sizing: border-box;
            padding: 2.156rem 1.25rem 1.725rem 1.25rem;
            left: 26.3rem;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:394:4231');
            cursor: pointer;
            position: absolute;

            .vector-AmF {
              height: 1.2936rem;
              object-fit: contain;
              vertical-align: top;
              width: 2.5rem;
            }
          }
          .rating-outlet-VoX {
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2;
            height: 2.4rem;
            position: absolute;
            left: 9.65rem;
            top: 1.4rem;
            font-family: Poppins, 'Source Sans Pro';
            width: 13.1rem;
            letter-spacing: -0.02rem;
            color: #ffffff;
            white-space: nowrap;
          }
        }
        .list-search-BAZ {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          width: 32.4rem;

          .rectangle-318-XkD {
            height: 4.3rem;
            position: absolute;
            left: 0;
            top: 0.5rem;
            background-color: #ffb000;
            border-radius: 0.5rem;
            width: 32.4rem;
          }
          .group-f5j {
            left: 26.2rem;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:394:4237');
            box-sizing: border-box;
            width: 5rem;
            height: 5.1744rem;
            cursor: pointer;
            background-position: center;
            padding: 2.156rem 1.25rem 1.725rem 1.25rem;
            position: absolute;
            top: 0;
            background-size: cover;

            .vector-ycD {
              width: 2.5rem;
              height: 1.2936rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .status-outlet-WMF {
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            height: 2.4rem;
            position: absolute;
            top: 1.4rem;
            text-align: center;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1.2;
            letter-spacing: -0.02rem;
            width: 13rem;
            left: 9.75rem;
            white-space: nowrap;
          }
        }
      }
    }
    .group-6-mny {
      margin: 0rem 5.201rem 3.5rem 5.1rem;
      width: calc(100% - 10.3013rem);
      height: 26.8rem;
      position: relative;

      .rectangle-46-64Z {
        border-radius: 1rem 0.5rem 0.5rem 1rem;
        width: 139.2924rem;
        height: 26.7rem;
        position: absolute;
        left: 0.1063rem;
        top: 0.1rem;
        background-color: #3dbc3d;
      }
      .rectangle-47-PpM {
        background-position: center;
        background-image: url('REPLACE_IMAGE:197d81f62d2785f9728542642dde35981e85af8a');
        width: 39.2358rem;
        top: 0;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 1rem;
        height: 26.8rem;
        position: absolute;
        left: 0;
      }
      .frame-v3b {
        vertical-align: top;
        width: 3.3rem;
        height: 3.2rem;
        position: absolute;
        left: 64.4rem;
        top: 20rem;
        object-fit: contain;
      }
      .outlet1-EKB {
        width: 27.9rem;
        height: 18.7rem;
        position: absolute;
        left: 44.9rem;
        top: 4.1rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        .auto-group-xa75-kYR {
          flex-shrink: 0;
          margin: 0rem 12.2rem 1.8rem 0rem;
          width: calc(100% - 12.2rem);
          display: flex;
          align-items: center;

          .group-5Ko {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.224rem 0.8rem 0rem 0rem;
            width: 1.6rem;
            height: 1.8346rem;
            position: relative;
            object-fit: contain;
          }
          .surabaya-barat-PLV {
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.02rem;
            color: #ceff9d;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .outlet-pak-hasan-uJq {
          width: 100%;
          font-size: 3rem;
          line-height: 0.8;
          letter-spacing: -0.03rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.9rem;
          text-align: center;
          font-weight: 700;
          color: #000000;
          flex-shrink: 0;
        }
        .jual-makanan-tradisional-surabaya-1cm {
          margin: 0rem 5.3rem 3rem 0rem;
          max-width: 22.6rem;
          font-weight: 500;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          flex-shrink: 0;
          font-size: 2rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
        }
        .item-500-VXw {
          font-weight: 500;
          line-height: 0.96;
          color: #ffb000;
          flex-shrink: 0;
          white-space: nowrap;
          text-align: right;
          font-size: 2.5rem;
          letter-spacing: -0.025rem;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
    }
    .group-6-apH {
      margin: 0rem 5.201rem 0rem 5.1rem;
      width: calc(100% - 10.3013rem);
      height: 26.8rem;
      position: relative;

      .rectangle-46-u5s {
        border-radius: 1rem 0.5rem 0.5rem 1rem;
        width: 139.2924rem;
        height: 26.7rem;
        position: absolute;
        left: 0.1063rem;
        top: 0.1rem;
        background-color: #3dbc3d;
      }
      .rectangle-47-cFB {
        top: 0;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 1rem;
        position: absolute;
        left: 0;
        background-size: 100% 100%;
        background-image: url('REPLACE_IMAGE:197d81f62d2785f9728542642dde35981e85af8a');
        width: 39.2358rem;
        height: 26.8rem;
      }
      .frame-vmf {
        object-fit: contain;
        vertical-align: top;
        width: 3.3rem;
        height: 3.2rem;
        position: absolute;
        left: 64.4rem;
        top: 20rem;
      }
      .outlet1-47B {
        width: 28.75rem;
        height: 18.7rem;
        position: absolute;
        left: 44.05rem;
        top: 4.1rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        .auto-group-bcjf-AAD {
          flex-shrink: 0;
          margin: 0rem 11.6rem 1.8rem 0.85rem;
          width: calc(100% - 12.45rem);
          display: flex;
          align-items: center;

          .group-5Y5 {
            margin: 0.224rem 0.8rem 0rem 0rem;
            width: 1.6rem;
            height: 1.8346rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .surabaya-timur-oDB {
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.02rem;
            color: #ceff9d;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .outlet-pak-rangga-7zZ {
          text-align: center;
          font-weight: 700;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          margin-bottom: 1.9rem;
          width: 100%;
          letter-spacing: -0.03rem;
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3rem;
          line-height: 0.8;
        }
        .jual-makanan-tradisional-surabaya-di1 {
          margin: 0rem 5.3rem 3rem 0rem;
          font-size: 2rem;
          font-weight: 500;
          letter-spacing: -0.02rem;
          font-family: Roboto, 'Source Sans Pro';
          max-width: 22.6rem;
          line-height: 1.2;
          color: #ffffff;
          flex-shrink: 0;
        }
        .item-500-7dB {
          font-size: 2.5rem;
          font-weight: 500;
          white-space: nowrap;
          text-align: right;
          line-height: 0.96;
          letter-spacing: -0.025rem;
          color: #ffb000;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
    }
  }
  .buy-EC1 {
    position: absolute;
    left: 111.1172rem;
    top: 331.3507rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.85rem;
    height: 1.8099rem;
  }
  .auto-group-8vmd-YiV {
    height: 86.6rem;
    position: absolute;
    left: 0;
    top: 147.8rem;
    width: 151.2rem;

    .footer-skm {
      width: 151.2rem;
      height: 62.6rem;
      position: absolute;
      left: 0;
      top: 24rem;

      .footer-D3w {
        position: absolute;
        left: 0;
        top: 6.2rem;
        align-items: center;
        background-color: #049904;
        height: 56.4rem;
        padding: 13.2rem 7rem 3rem 7rem;
        width: 151.2rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;

        .pemisah-6dX {
          margin-bottom: 1.6rem;
          width: 100%;
          height: 0.1rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .isi-footer-SSV {
          margin: 0rem 15.3rem 2.4rem 2.8rem;
          width: calc(100% - 18.1rem);
          height: 26.2rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .quotes-jwP {
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
            display: flex;

            .auto-group-3fzm-Hxu {
              width: 6.9001rem;
              height: 2.4rem;
              position: relative;
              flex-shrink: 0;
              margin-bottom: 0.6rem;

              .tagline-RZK {
                height: 2.4rem;
                align-items: baseline;
                font-size: 1.6rem;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Arial, 'Source Sans Pro';
                width: 6.4rem;
                font-weight: 700;
                position: absolute;
                left: 0.3rem;
                top: 0;
                display: flex;
                justify-content: center;
                white-space: nowrap;

                .tagline-RZK-sub-0 {
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 700;
                }
                .tagline-RZK-sub-1 {
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  color: #ffff00;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
              .line-23-cXK {
                vertical-align: top;
                width: 6.9001rem;
                height: 0;
                position: absolute;
                left: 0;
                top: 2.225rem;
                object-fit: contain;
              }
            }
            .tujuan-kami-bukan-menciptakan-bisnis-yang-besar-tetapi-membangun-sesuatu-yang-membuat-perubahan-besar-MUu {
              margin-bottom: 0.8rem;
              font-size: 1.3rem;
              line-height: 1.8461538462;
              letter-spacing: -0.013rem;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
              max-width: 25.9rem;
              font-weight: 400;
              font-style: italic;
              color: #ffffff;
            }
            .semua-impian-kita-menjadi-kanyataan-jika-kita-mempunyai-keberanian-unutk-mengerjakannya-walt-disney-DGD {
              font-style: italic;
              max-width: 25.7rem;
              font-size: 1.3rem;
              font-weight: 400;
              line-height: 1.8461538462;
              letter-spacing: -0.013rem;
              margin: 0rem 0rem 0.8rem 5.3rem;
              color: #ffffff;
              font-family: Poppins, 'Source Sans Pro';
              flex-shrink: 0;
            }
            .wirausahawan-sejadi-meciptakan-peluang-bisnis-sedangkan-wirausahawan-bisa-fokus-mengejar-uang-SPs {
              font-size: 1.3rem;
              line-height: 1.8461538462;
              font-style: italic;
              font-family: Poppins, 'Source Sans Pro';
              margin-left: 13.5rem;
              font-weight: 400;
              letter-spacing: -0.013rem;
              color: #ffffff;
              flex-shrink: 0;
              max-width: 28.1rem;
            }
          }
          .auto-group-veck-i6V {
            padding-left: 7.4rem;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;
            box-sizing: border-box;

            .about-us-3eZ {
              flex-shrink: 0;
              margin-right: 12.8rem;
              width: 25.5rem;
              row-gap: 0.6rem;
              display: flex;
              flex-direction: column;

              .auto-group-krdh-NB3 {
                width: 7.4rem;
                height: 2.4rem;
                position: relative;
                flex-shrink: 0;

                .line-24-6cq {
                  width: 7.4rem;
                  height: 0;
                  position: absolute;
                  left: 0;
                  top: 2.2123rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .aboutus-qqK {
                  white-space: nowrap;
                  display: flex;
                  font-size: 1.6rem;
                  font-weight: 700;
                  font-family: Arial, 'Source Sans Pro';
                  height: 2.4rem;
                  top: 0;
                  width: 7rem;
                  left: 0.2rem;
                  align-items: baseline;
                  justify-content: center;
                  position: absolute;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  color: #ffffff;

                  .aboutus-qqK-sub-0 {
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.5;
                    letter-spacing: -0.016rem;
                    color: #ffffff;
                    font-family: Poppins, 'Source Sans Pro';
                  }
                  .aboutus-qqK-sub-1 {
                    font-size: 1.6rem;
                    font-weight: 700;
                    line-height: 1.5;
                    letter-spacing: -0.016rem;
                    color: #ffff00;
                    font-family: Poppins, 'Source Sans Pro';
                  }
                }
              }
              .group-263-X5s {
                padding-left: 0.3125rem;
                width: calc(100% - 0.1rem);
                display: flex;
                align-items: flex-start;
                flex-shrink: 0;
                margin-left: 0.1rem;
                box-sizing: border-box;

                .location-TER {
                  margin: 0.725rem 0.513rem 0rem 0rem;
                  width: 0.875rem;
                  height: 1.3029rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .jl-dharmawangsa-no138-d-airlangga-kec-gubeng-surabaya-jawa-timur-60282-AuX {
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.7142857143;
                  letter-spacing: -0.014rem;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 23.7rem;
                }
              }
              .group-264-3yK {
                margin-right: 3.6rem;
                width: calc(100% - 3.6rem);
                display: flex;
                align-items: center;
                flex-shrink: 0;

                .icon-envelope-closed-C5X {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0.2rem 0.5rem 0rem 0rem;
                  width: 1.6rem;
                  height: 1.2rem;
                }
                .foodysbussinesgmailcom-tyw {
                  display: flex;
                  line-height: 1.7142857143;
                  letter-spacing: -0.014rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  flex-shrink: 0;
                }
              }
              .group-265-btM {
                align-items: center;
                flex-shrink: 0;
                margin-right: 13.5rem;
                box-sizing: border-box;
                padding-left: 0.1333rem;
                width: calc(100% - 13.5rem);
                display: flex;

                .calling-Xn1 {
                  height: 1.25rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.633rem 0.1rem 0rem;
                  width: 1.3333rem;
                }
                .item-0274-2885822-Fxu {
                  flex-shrink: 0;
                  font-size: 1.4rem;
                  font-style: italic;
                  letter-spacing: -0.014rem;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  white-space: nowrap;
                  font-weight: 400;
                  line-height: 1.7142857143;
                }
              }
            }
            .comunity-Zyb {
              margin-right: 7.9954rem;
              width: 9.7046rem;
              flex-shrink: 0;

              .comunity-hpu {
                font-size: 1.6rem;
                font-weight: 700;
                font-family: Arial, 'Source Sans Pro';
                display: flex;
                margin: 0rem 0rem 0.1rem 1.2rem;
                letter-spacing: -0.016rem;
                color: #ffffff;
                white-space: nowrap;
                align-items: baseline;
                line-height: 1.5;

                .comunity-hpu-sub-0 {
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                }
                .comunity-hpu-sub-1 {
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  color: #ffff00;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 700;
                }
              }
              .line-26-2Vo {
                margin-bottom: 1.4rem;
                width: 100%;
                height: 0.1rem;
                background-color: #000000;
              }
              .group-266-NJm {
                width: 6.7rem;
                height: 3rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
              }
            }
            .sosmed-uJh {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;
              margin-top: 0.1rem;

              .social-media-3fo {
                font-family: Arial, 'Source Sans Pro';
                margin-left: 0.2rem;
                font-weight: 700;
                line-height: 1.5;
                color: #ffffff;
                align-items: baseline;
                flex-shrink: 0;
                font-size: 1.6rem;
                letter-spacing: -0.016rem;
                white-space: nowrap;
                display: flex;

                .social-media-3fo-sub-0 {
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .social-media-3fo-sub-1 {
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  color: #ffff00;
                }
              }
              .line-25-Mpu {
                margin-bottom: 1.4rem;
                width: 10.0045rem;
                height: 0.1rem;
                background-color: #000000;
                flex-shrink: 0;
              }
              .list-sosmed-6Xb {
                width: 14.1rem;
                height: 3rem;
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .pemisah-Edo {
          background-color: #000000;
          flex-shrink: 0;
          margin-bottom: 3.3rem;
          width: 100%;
          height: 0.1rem;
        }
        .mark-list-BZ3 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 0rem 21.2rem 0rem 33.9rem;
          width: calc(100% - 55.1rem);
          align-items: center;

          .copyright-2023-by-foodys-all-rights-reserved-WbK {
            margin: 0rem 9.6rem 1.7rem 0rem;
            font-size: 1.3rem;
            font-weight: 700;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            line-height: 1.8461538462;
            letter-spacing: -0.013rem;
            white-space: nowrap;
            flex-shrink: 0;
          }
          .terima-kasih-telah-mengunjungi-foodys-jangan-ragu-untuk-menghubungi-kami-jika-anda-memiliki-pertanyaan-atau-saran-nHw {
            line-height: 1.8461538462;
            letter-spacing: -0.013rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.3rem;
            font-weight: 700;
          }
        }
      }
      .foodies-1-3zZ {
        top: 0;
        object-fit: cover;
        vertical-align: top;
        width: 30.1rem;
        height: 27.7rem;
        position: absolute;
        left: 7.2rem;
      }
      .line-22-aUh {
        width: 151.2rem;
        height: 0.2rem;
        position: absolute;
        left: 0;
        top: 6.2rem;
        background-color: #000000;
      }
    }
    .group-6-i57 {
      left: 5.9rem;
      top: 0;
      width: 139.3987rem;
      height: 26.8rem;
      position: absolute;

      .rectangle-46-dhs {
        border-radius: 1rem 0.5rem 0.5rem 1rem;
        width: 139.2924rem;
        height: 26.7rem;
        position: absolute;
        left: 0.1063rem;
        top: 0.1rem;
        background-color: #3dbc3d;
      }
      .rectangle-47-wCm {
        width: 39.2358rem;
        height: 26.8rem;
        left: 0;
        top: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:197d81f62d2785f9728542642dde35981e85af8a');
        border-radius: 1rem;
        position: absolute;
      }
      .frame-e7B {
        width: 3.3rem;
        height: 3.2rem;
        position: absolute;
        left: 64.4rem;
        top: 20rem;
        object-fit: contain;
        vertical-align: top;
      }
      .outlet1-kvu {
        height: 18.7rem;
        position: absolute;
        left: 44.75rem;
        top: 4.1rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 28.05rem;

        .auto-group-2hat-GPT {
          margin: 0rem 10.2rem 1.8rem 0.15rem;
          width: calc(100% - 10.35rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-auw {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.224rem 0.8rem 0rem 0rem;
            width: 1.6rem;
            height: 1.8346rem;
            position: relative;
          }
          .surabaya-selatan-uBX {
            color: #ceff9d;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.02rem;
          }
        }
        .outlet-pak-hamid-2X3 {
          width: 100%;
          text-align: center;
          font-size: 3rem;
          color: #000000;
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          font-weight: 700;
          line-height: 0.8;
          letter-spacing: -0.03rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .jual-makanan-tradisional-surabaya-Lnd {
          max-width: 22.6rem;
          font-size: 2rem;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 5.3rem 3rem 0rem;
          font-weight: 500;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          color: #ffffff;
        }
        .item-500-pho {
          color: #ffb000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: right;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 0.96;
          letter-spacing: -0.025rem;
        }
      }
    }
  }
  .navbar-user-XMK {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #049904;
    width: 151.2rem;
    height: 9.1rem;

    .profil-Fo7 {
      padding-left: 0.1rem;
      width: 19.8rem;
      cursor: pointer;
      position: absolute;
      left: 125.4rem;
      top: 1.6rem;
      align-items: center;
      box-sizing: border-box;
      height: 6rem;
      display: flex;

      .andi-akhsanul-Zoo {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 900;
        letter-spacing: -0.016rem;
        color: #ffff00;
        white-space: nowrap;
        margin-right: 1.052rem;
        text-align: center;
        line-height: 1.5;
      }
      .dropdown-menu-t5P {
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:I113:3239;113:2168');
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.2rem 1.38rem 1.2rem 1.472rem;

        .profil-oi9 {
          width: 3.496rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .line-21-KwP {
      width: 151.2rem;
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 9.1rem;
      background-color: #000000;
    }
    .foodies-1-Tnh {
      left: 2.1rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 30.1rem;
      height: 27.7rem;
      position: absolute;
    }
    .navigasi-be1 {
      top: 3.3rem;
      display: flex;
      align-items: center;
      width: 41.45rem;
      height: 2.4rem;
      position: absolute;
      left: 76.05rem;

      .home-Wky {
        flex-shrink: 0;
        margin-right: 3.95rem;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: -0.016rem;
        color: #ffffff;
        white-space: nowrap;
        cursor: pointer;
        line-height: 1.5;
        font-family: Inter, 'Source Sans Pro';
      }
      .outlet-d4u {
        font-weight: 700;
        letter-spacing: -0.016rem;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.1rem;
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.5;
        color: #ffff00;
        font-family: Inter, 'Source Sans Pro';
      }
      .contact-jtd {
        color: #ffffff;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: -0.016rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 3.15rem;
        text-align: center;
        line-height: 1.5;
      }
      .produk-G7s {
        letter-spacing: -0.016rem;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.95rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.5;
        font-family: Inter, 'Source Sans Pro';
        cursor: pointer;
        font-size: 1.6rem;
      }
      .edukasi-nru {
        line-height: 1.5;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        cursor: pointer;
        text-align: center;
        font-weight: 700;
        font-size: 1.6rem;
        letter-spacing: -0.016rem;
        flex-shrink: 0;
      }
    }
  }
}
