
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.outlet-page-user-LRX {
  width: 100%;
  height: 153.8rem;
  position: relative;
  overflow: hidden;
  background-color: #efeaea;

  .auto-group-jty9-eh7 {
    top: 0;
    box-sizing: border-box;
    padding: 12.5rem 3.8rem 0.1rem 3.8rem;
    width: 151.2rem;
    height: 91.2rem;
    position: absolute;
    left: 0;

    .section-search-9Ny {
      width: 100%;
      height: 8rem;
      background-color: #ffffff;
      border-radius: 1rem;
      margin-bottom: 3.4rem;
      box-sizing: border-box;
      padding: 1.3rem 11.5rem 1.526rem 11.5rem;

      .search-T8m {
        width: 100%;
        height: 100%;
        display: flex;
        column-gap: 11.7rem;
        align-items: center;

        .list-search-nwj {
          position: relative;
          flex-shrink: 0;
          width: 32.4rem;
          height: 100%;

          .rectangle-318-wZj {
            position: absolute;
            left: 0;
            top: 0.5rem;
            background-color: #ffb000;
            border-radius: 0.5rem;
            width: 32.4rem;
            height: 4.3rem;
          }
          .group-G6D {
            height: 5.1744rem;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:428:2774');
            padding: 2.156rem 1.25rem 1.725rem 1.25rem;
            width: 5rem;
            position: absolute;
            left: 26.5rem;
            top: 0;
            background-size: cover;
            box-sizing: border-box;
            cursor: pointer;

            .vector-NQ9 {
              height: 1.2936rem;
              object-fit: contain;
              vertical-align: top;
              width: 2.5rem;
            }
          }
          .lokasi-outlet-5ZT {
            height: 2.4rem;
            left: 9.8rem;
            top: 1.4rem;
            font-weight: 600;
            line-height: 1.2;
            letter-spacing: -0.02rem;
            white-space: nowrap;
            width: 12.9rem;
            position: absolute;
            text-align: center;
            font-size: 2rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
          }
        }
        .list-search-kvV {
          position: relative;
          flex-shrink: 0;
          width: 32.4rem;
          height: 100%;

          .rectangle-318-W8y {
            top: 0.5rem;
            background-color: #ffb000;
            border-radius: 0.5rem;
            width: 32.4rem;
            height: 4.3rem;
            position: absolute;
            left: 0;
          }
          .group-R13 {
            height: 5.1744rem;
            cursor: pointer;
            position: absolute;
            left: 26.3rem;
            top: 0;
            background-size: cover;
            box-sizing: border-box;
            padding: 2.156rem 1.25rem 1.725rem 1.25rem;
            background-image: url('REPLACE_IMAGE:428:2780');
            background-repeat: no-repeat;
            background-position: center;
            width: 5rem;

            .vector-vTb {
              width: 2.5rem;
              height: 1.2936rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .rating-outlet-SB3 {
            text-align: center;
            font-size: 2rem;
            line-height: 1.2;
            width: 13.1rem;
            height: 2.4rem;
            position: absolute;
            left: 9.65rem;
            top: 1.4rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            font-weight: 600;
            letter-spacing: -0.02rem;
            white-space: nowrap;
          }
        }
        .list-search-iuF {
          width: 32.4rem;
          height: 100%;
          position: relative;
          flex-shrink: 0;

          .rectangle-318-g5P {
            left: 0;
            top: 0.5rem;
            background-color: #ffb000;
            border-radius: 0.5rem;
            width: 32.4rem;
            height: 4.3rem;
            position: absolute;
          }
          .group-D5K {
            background-position: center;
            background-image: url('REPLACE_IMAGE:428:2786');
            height: 5.1744rem;
            left: 26.2rem;
            background-size: cover;
            cursor: pointer;
            position: absolute;
            top: 0;
            background-repeat: no-repeat;
            box-sizing: border-box;
            padding: 2.156rem 1.25rem 1.725rem 1.25rem;
            width: 5rem;

            .vector-8i5 {
              height: 1.2936rem;
              object-fit: contain;
              vertical-align: top;
              width: 2.5rem;
            }
          }
          .status-outlet-fT7 {
            width: 13rem;
            position: absolute;
            line-height: 1.2;
            color: #ffffff;
            font-size: 2rem;
            font-weight: 600;
            letter-spacing: -0.02rem;
            font-family: Poppins, 'Source Sans Pro';
            height: 2.4rem;
            left: 9.75rem;
            top: 1.4rem;
            text-align: center;
            white-space: nowrap;
          }
        }
      }
    }
    .outlet-Y17 {
      font-weight: 700;
      line-height: 0.8;
      letter-spacing: -0.03rem;
      color: #049904;
      font-family: Poppins, 'Source Sans Pro';
      width: 100%;
      font-size: 3rem;
      white-space: nowrap;
      margin-bottom: 5rem;
      text-align: center;
    }
    .group-6-SsB {
      margin: 0rem 1.701rem 6.2rem 2.5rem;
      width: calc(100% - 4.2013rem);
      height: 26.8rem;
      position: relative;

      .rectangle-46-Zgu {
        width: 139.2924rem;
        height: 26.7rem;
        position: absolute;
        left: 0.1063rem;
        top: 0.1rem;
        background-color: #3dbc3d;
        border-radius: 1rem 0.5rem 0.5rem 1rem;
      }
      .rectangle-47-4df {
        top: 0;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:197d81f62d2785f9728542642dde35981e85af8a');
        width: 39.2358rem;
        height: 26.8rem;
        position: absolute;
        left: 0;
        border-radius: 1rem;
      }
      .frame-Awb {
        left: 64.4rem;
        top: 20rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.3rem;
        height: 3.2rem;
        position: absolute;
      }
      .outlet1-hRj {
        width: 27.9rem;
        height: 18.7rem;
        position: absolute;
        left: 44.9rem;
        top: 4.1rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;

        .auto-group-gkhm-D9B {
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 12.2rem 1.8rem 0rem;
          width: calc(100% - 12.2rem);
          display: flex;

          .group-7kM {
            margin: 0.224rem 0.8rem 0rem 0rem;
            width: 1.6rem;
            height: 1.8346rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .surabaya-barat-dTo {
            color: #ceff9d;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.02rem;
          }
        }
        .outlet-pak-hasan-9ww {
          font-weight: 700;
          letter-spacing: -0.03rem;
          color: #000000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          width: 100%;
          text-align: center;
          font-size: 3rem;
          line-height: 0.8;
          font-family: Roboto, 'Source Sans Pro';
        }
        .jual-makanan-tradisional-surabaya-sd3 {
          font-size: 2rem;
          line-height: 1.2;
          color: #ffffff;
          flex-shrink: 0;
          margin: 0rem 5.3rem 3rem 0rem;
          max-width: 22.6rem;
          font-weight: 500;
          letter-spacing: -0.02rem;
          font-family: Roboto, 'Source Sans Pro';
        }
        .item-500-9qT {
          font-weight: 500;
          color: #ffb000;
          flex-shrink: 0;
          text-align: right;
          font-size: 2.5rem;
          line-height: 0.96;
          letter-spacing: -0.025rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .group-6-G9P {
      margin: 0rem 1.701rem 0rem 2.5rem;
      width: calc(100% - 4.2013rem);
      height: 26.8rem;
      position: relative;

      .rectangle-46-afs {
        height: 26.7rem;
        position: absolute;
        left: 0.1063rem;
        top: 0.1rem;
        background-color: #3dbc3d;
        border-radius: 1rem 0.5rem 0.5rem 1rem;
        width: 139.2924rem;
      }
      .rectangle-47-HaH {
        background-image: url('REPLACE_IMAGE:197d81f62d2785f9728542642dde35981e85af8a');
        height: 26.8rem;
        left: 0;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 1rem;
        width: 39.2358rem;
        position: absolute;
        top: 0;
        background-size: 100% 100%;
      }
      .frame-PdK {
        width: 3.3rem;
        height: 3.2rem;
        position: absolute;
        left: 64.4rem;
        top: 20rem;
        object-fit: contain;
        vertical-align: top;
      }
      .outlet1-KG5 {
        left: 44.05rem;
        top: 4.1rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 28.75rem;
        height: 18.7rem;
        position: absolute;

        .auto-group-azt1-qkD {
          margin: 0rem 11.6rem 1.8rem 0.85rem;
          width: calc(100% - 12.45rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .group-mNy {
            margin: 0.224rem 0.8rem 0rem 0rem;
            width: 1.6rem;
            height: 1.8346rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .surabaya-timur-5uT {
            font-size: 2rem;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: -0.02rem;
            color: #ceff9d;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .outlet-pak-rangga-Qgq {
          letter-spacing: -0.03rem;
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          font-size: 3rem;
          line-height: 0.8;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          width: 100%;
          text-align: center;
          font-weight: 700;
        }
        .jual-makanan-tradisional-surabaya-XFf {
          margin: 0rem 5.3rem 3rem 0rem;
          max-width: 22.6rem;
          font-weight: 500;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 2rem;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          color: #ffffff;
        }
        .item-500-oiy {
          font-weight: 500;
          color: #ffb000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: right;
          font-size: 2.5rem;
          line-height: 0.96;
          letter-spacing: -0.025rem;
        }
      }
    }
  }
  .buy-8FT {
    vertical-align: top;
    width: 1.85rem;
    height: 1.8099rem;
    position: absolute;
    left: 111.1172rem;
    top: 331.3507rem;
    object-fit: contain;
  }
  .footer-rx9 {
    width: 151.2rem;
    height: 62.6rem;
    position: absolute;
    left: 0;
    top: 91.2rem;

    .footer-CWD {
      flex-direction: column;
      background-color: #049904;
      height: 56.4rem;
      left: 0;
      overflow: hidden;
      position: absolute;
      top: 6.2rem;
      align-items: center;
      display: flex;
      box-sizing: border-box;
      padding: 13.2rem 7rem 3rem 7rem;
      width: 151.2rem;

      .pemisah-VkD {
        margin-bottom: 1.6rem;
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .isi-footer-qJH {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 15.3rem 2.4rem 2.8rem;
        width: calc(100% - 18.1rem);
        height: 26.2rem;

        .quotes-kRF {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-n4gb-hrH {
            margin-bottom: 0.6rem;
            width: 6.9001rem;
            height: 2.4rem;
            position: relative;
            flex-shrink: 0;

            .tagline-ErD {
              justify-content: center;
              line-height: 1.5;
              align-items: baseline;
              color: #ffffff;
              width: 6.4rem;
              font-weight: 700;
              letter-spacing: -0.016rem;
              font-family: Arial, 'Source Sans Pro';
              white-space: nowrap;
              height: 2.4rem;
              position: absolute;
              left: 0.3rem;
              top: 0;
              display: flex;
              font-size: 1.6rem;

              .tagline-ErD-sub-0 {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
              }
              .tagline-ErD-sub-1 {
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffff00;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
              }
            }
            .line-23-F93 {
              object-fit: contain;
              vertical-align: top;
              width: 6.9001rem;
              height: 0;
              position: absolute;
              left: 0;
              top: 2.225rem;
            }
          }
          .tujuan-kami-bukan-menciptakan-bisnis-yang-besar-tetapi-membangun-sesuatu-yang-membuat-perubahan-besar-PFF {
            max-width: 25.9rem;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.8461538462;
            letter-spacing: -0.013rem;
            font-family: Poppins, 'Source Sans Pro';
            margin-bottom: 0.8rem;
            font-style: italic;
            color: #ffffff;
            flex-shrink: 0;
          }
          .semua-impian-kita-menjadi-kanyataan-jika-kita-mempunyai-keberanian-unutk-mengerjakannya-walt-disney-RSq {
            margin: 0rem 0rem 0.8rem 5.3rem;
            max-width: 25.7rem;
            font-weight: 400;
            line-height: 1.8461538462;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            font-size: 1.3rem;
            letter-spacing: -0.013rem;
            font-style: italic;
            color: #ffffff;
          }
          .wirausahawan-sejadi-meciptakan-peluang-bisnis-sedangkan-wirausahawan-bisa-fokus-mengejar-uang-51b {
            font-size: 1.3rem;
            font-weight: 400;
            font-style: italic;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            margin-left: 13.5rem;
            max-width: 28.1rem;
            line-height: 1.8461538462;
            letter-spacing: -0.013rem;
            flex-shrink: 0;
          }
        }
        .auto-group-j5tx-7ys {
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 7.4rem;
          height: 100%;

          .about-us-3Mj {
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 12.8rem;
            width: 25.5rem;
            row-gap: 0.6rem;
            display: flex;

            .auto-group-w6hq-NQ1 {
              width: 7.4rem;
              height: 2.4rem;
              position: relative;
              flex-shrink: 0;

              .line-24-7cV {
                width: 7.4rem;
                height: 0;
                position: absolute;
                left: 0;
                top: 2.2123rem;
                object-fit: contain;
                vertical-align: top;
              }
              .aboutus-Sem {
                height: 2.4rem;
                position: absolute;
                top: 0;
                display: flex;
                align-items: baseline;
                width: 7rem;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffffff;
                left: 0.2rem;
                justify-content: center;
                font-size: 1.6rem;
                font-family: Arial, 'Source Sans Pro';
                white-space: nowrap;
                font-weight: 700;

                .aboutus-Sem-sub-0 {
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .aboutus-Sem-sub-1 {
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  color: #ffff00;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
            }
            .group-263-uRs {
              align-items: flex-start;
              flex-shrink: 0;
              margin-left: 0.1rem;
              box-sizing: border-box;
              padding-left: 0.3125rem;
              width: calc(100% - 0.1rem);
              display: flex;

              .location-SAu {
                margin: 0.725rem 0.513rem 0rem 0rem;
                width: 0.875rem;
                height: 1.3029rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .jl-dharmawangsa-no138-d-airlangga-kec-gubeng-surabaya-jawa-timur-60282-Yjj {
                line-height: 1.7142857143;
                letter-spacing: -0.014rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 23.7rem;
                font-size: 1.4rem;
                font-weight: 400;
              }
            }
            .group-264-qTw {
              margin-right: 3.6rem;
              width: calc(100% - 3.6rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .icon-envelope-closed-msP {
                margin: 0.2rem 0.5rem 0rem 0rem;
                width: 1.6rem;
                height: 1.2rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .foodysbussinesgmailcom-V2h {
                font-weight: 400;
                line-height: 1.7142857143;
                white-space: nowrap;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                display: flex;
                font-size: 1.4rem;
                letter-spacing: -0.014rem;
              }
            }
            .group-265-zEM {
              flex-shrink: 0;
              margin-right: 13.5rem;
              box-sizing: border-box;
              padding-left: 0.1333rem;
              width: calc(100% - 13.5rem);
              display: flex;
              align-items: center;

              .calling-ucD {
                margin: 0rem 0.633rem 0.1rem 0rem;
                width: 1.3333rem;
                height: 1.25rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .item-0274-2885822-pjB {
                font-size: 1.4rem;
                flex-shrink: 0;
                font-style: italic;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                font-weight: 400;
                line-height: 1.7142857143;
                letter-spacing: -0.014rem;
              }
            }
          }
          .comunity-XtV {
            margin-right: 7.9954rem;
            width: 9.7046rem;
            flex-shrink: 0;

            .comunity-sSZ {
              display: flex;
              margin: 0rem 0rem 0.1rem 1.2rem;
              line-height: 1.5;
              font-family: Arial, 'Source Sans Pro';
              white-space: nowrap;
              align-items: baseline;
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: -0.016rem;
              color: #ffffff;

              .comunity-sSZ-sub-0 {
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
              }
              .comunity-sSZ-sub-1 {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffff00;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .line-26-z9o {
              margin-bottom: 1.4rem;
              width: 100%;
              height: 0.1rem;
              background-color: #000000;
            }
            .group-266-LDf {
              width: 6.7rem;
              height: 3rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .sosmed-5S9 {
            margin-top: 0.1rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .social-media-EK3 {
              color: #ffffff;
              font-family: Arial, 'Source Sans Pro';
              white-space: nowrap;
              display: flex;
              align-items: baseline;
              margin-left: 0.2rem;
              font-size: 1.6rem;
              line-height: 1.5;
              font-weight: 700;
              letter-spacing: -0.016rem;
              flex-shrink: 0;

              .social-media-EK3-sub-0 {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
              }
              .social-media-EK3-sub-1 {
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffff00;
              }
            }
            .line-25-MHB {
              flex-shrink: 0;
              margin-bottom: 1.4rem;
              width: 10.0045rem;
              height: 0.1rem;
              background-color: #000000;
            }
            .list-sosmed-smK {
              width: 14.1rem;
              height: 3rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .pemisah-oey {
        margin-bottom: 3.3rem;
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .mark-list-MAh {
        margin: 0rem 21.2rem 0rem 33.9rem;
        width: calc(100% - 55.1rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .copyright-2023-by-foodys-all-rights-reserved-TzR {
          letter-spacing: -0.013rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          font-weight: 700;
          font-size: 1.3rem;
          line-height: 1.8461538462;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 9.6rem 1.7rem 0rem;
        }
        .terima-kasih-telah-mengunjungi-foodys-jangan-ragu-untuk-menghubungi-kami-jika-anda-memiliki-pertanyaan-atau-saran-jh3 {
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.8461538462;
          letter-spacing: -0.013rem;
        }
      }
    }
    .foodies-1-ogu {
      object-fit: cover;
      vertical-align: top;
      width: 30.1rem;
      height: 27.7rem;
      position: absolute;
      left: 7.2rem;
      top: 0;
    }
    .line-22-jKf {
      width: 151.2rem;
      height: 0.2rem;
      position: absolute;
      left: 0;
      top: 6.2rem;
      background-color: #000000;
    }
  }
  .navbar-user-TmT {
    height: 9.1rem;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #049904;
    width: 151.2rem;

    .profil-QAu {
      width: 19.8rem;
      cursor: pointer;
      left: 125.4rem;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-left: 0.1rem;
      height: 6rem;
      position: absolute;
      top: 1.6rem;

      .andi-akhsanul-uNZ {
        margin-right: 1.052rem;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 900;
        color: #ffff00;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        line-height: 1.5;
        letter-spacing: -0.016rem;
        flex-shrink: 0;
      }
      .dropdown-menu-pEd {
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:I113:3414;29:2528');
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.2rem 1.38rem 1.2rem 1.472rem;

        .profil-wa9 {
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.496rem;
        }
      }
    }
    .line-21-Smo {
      width: 151.2rem;
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 9.1rem;
      background-color: #000000;
    }
    .navigasi-yWq {
      position: absolute;
      left: 93.75rem;
      top: 3.4rem;
      display: flex;
      align-items: center;
      width: 23.2rem;
      height: 2.4rem;

      .home-Vzy {
        cursor: pointer;
        text-align: center;
        font-weight: 900;
        letter-spacing: -0.016rem;
        font-family: Arial, 'Source Sans Pro';
        margin-right: 4.3rem;
        font-size: 1.6rem;
        line-height: 1.5;
        color: #ffffff;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .outlet-R7w {
        margin-right: 4.6rem;
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 1.5;
        flex-shrink: 0;
        text-align: center;
        letter-spacing: -0.016rem;
        color: #ffff00;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
      }
      .contact-93w {
        line-height: 1.5;
        letter-spacing: -0.016rem;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 900;
        text-align: center;
        color: #ffffff;
      }
    }
    .foodies-1-G8Z {
      width: 30.1rem;
      height: 27.7rem;
      position: absolute;
      left: 2.1rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
