
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 153.7rem;
}.slider-product-makanan-Urm {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: dashed 0.1rem #9747ff;
  border-radius: 0.5rem;
  box-sizing: border-box;
  padding: 2rem;
  width: 100%;

  .property-1frame-1-ou3 {
    position: relative;
    margin-bottom: 13.5rem;
    padding-left: 0.7rem;
    height: 48.1rem;
    overflow: hidden;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;

    .cardoutletlanding-K6h {
      width: 36.9rem;
      height: 47.7273rem;
      position: relative;
      flex-shrink: 0;
      margin: 0.227rem 2.3rem 0rem 0rem;

      .rectangle-91-oXf {
        background-color: #3dbc3d;
        border-radius: 1.5rem;
        width: 36.9rem;
        height: 21rem;
        position: absolute;
        left: 0;
        top: 26.7273rem;
      }
      .rectangle-90-JzD {
        vertical-align: top;
        border-radius: 0.7rem;
        width: 36.9rem;
        height: 29.037rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
      }
      .lontong-balap-2QR {
        display: flex;
        flex-direction: column;
        width: 34.65rem;
        height: 15.7rem;
        position: absolute;
        left: 1.1rem;
        top: 30.5rem;
        align-items: flex-end;

        .lontong-balap-MBo {
          font-size: 2.5rem;
          line-height: 0.96;
          letter-spacing: -0.025rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          width: 100%;
          font-weight: 700;
          margin-bottom: 1.4rem;
        }
        .jual-aneka-bahan-pembuatan-lontong-balap-3aR {
          font-size: 2rem;
          line-height: 1.2;
          color: #ffffff;
          flex-shrink: 0;
          font-family: Roboto, 'Source Sans Pro';
          margin: 0rem 11.55rem 1.2rem 0rem;
          max-width: 23.1rem;
          font-weight: 500;
          letter-spacing: -0.02rem;
        }
        .mulai-harga-JWM {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.1rem;
          width: 100%;
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          color: #ceff9d;
          flex-shrink: 0;
        }
        .rp5000-DNR {
          font-weight: 700;
          line-height: 0.6666666667;
          white-space: nowrap;
          width: 100%;
          text-align: center;
          font-size: 3.6rem;
          flex-shrink: 0;
          letter-spacing: -0.036rem;
          color: #ffb000;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
      .group-vnd {
        opacity: 0;
        width: 8.4rem;
        height: 8.5rem;
        position: absolute;
        top: 15.2rem;
        background-image: url('REPLACE_IMAGE:282:2970');
        box-sizing: border-box;
        padding: 2.75rem 3.671rem 2.75rem 3.251rem;
        left: 0.2rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .vector-DWq {
          width: 1.4784rem;
          height: 3.0005rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .cardoutletlanding-Y3K {
      flex-shrink: 0;
      margin: 0.227rem 2.3rem 0rem 0rem;
      width: 36.9rem;
      height: 47.7273rem;
      position: relative;

      .rectangle-91-SuP {
        border-radius: 1.5rem;
        width: 36.9rem;
        height: 21rem;
        position: absolute;
        left: 0;
        top: 26.7273rem;
        background-color: #3dbc3d;
      }
      .rectangle-90-Zz1 {
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.7rem;
        width: 36.9rem;
        height: 29.037rem;
        position: absolute;
      }
      .tahu-tek-haR {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 33.85rem;
        height: 15.7rem;
        position: absolute;
        left: 1.9rem;
        top: 30.5rem;

        .tahu-tek-2ch {
          font-size: 2.5rem;
          line-height: 0.96;
          letter-spacing: -0.025rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.4rem;
          text-align: center;
          font-weight: 700;
          flex-shrink: 0;
          width: 100%;
        }
        .jual-aneka-bahan-pembuatan-tahu-tek-wzZ {
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          margin: 0rem 15.45rem 1.2rem 0rem;
          max-width: 18.4rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          flex-shrink: 0;
        }
        .mulai-harga-dcV {
          letter-spacing: -0.02rem;
          font-family: Roboto, 'Source Sans Pro';
          margin-bottom: 1.1rem;
          width: 100%;
          font-size: 2rem;
          color: #ceff9d;
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-weight: 700;
          line-height: 1.2;
        }
        .rp5000-4C1 {
          width: 100%;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 0.6666666667;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          letter-spacing: -0.036rem;
          color: #ffb000;
          white-space: nowrap;
        }
      }
    }
    .cardoutletlanding-Mwo {
      margin: 0.4rem 2.3rem 0rem 0rem;
      width: 36.9rem;
      height: 47.7273rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-91-577 {
        border-radius: 1.5rem;
        width: 36.9rem;
        height: 21rem;
        position: absolute;
        left: 0;
        top: 26.7273rem;
        background-color: #3dbc3d;
      }
      .rectangle-90-QQH {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.7rem;
        width: 36.9rem;
        height: 29.037rem;
      }
      .rujak-cingur-jhT {
        height: 15.7rem;
        position: absolute;
        left: 1.5rem;
        top: 30.4rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 33.85rem;

        .rujak-cingur-fLD {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 2.5rem;
          line-height: 0.96;
          letter-spacing: -0.025rem;
          flex-shrink: 0;
          margin-bottom: 1.4rem;
          width: 100%;
          font-weight: 700;
        }
        .jual-aneka-bahan-pembuatan-rujak-cingur-P1K {
          font-weight: 500;
          line-height: 1.2;
          font-family: Roboto, 'Source Sans Pro';
          color: #ffffff;
          flex-shrink: 0;
          margin: 0rem 12.25rem 1.2rem 0rem;
          max-width: 21.6rem;
          font-size: 2rem;
          letter-spacing: -0.02rem;
        }
        .mulai-harga-SkH {
          flex-shrink: 0;
          margin-bottom: 1.1rem;
          width: 100%;
          text-align: center;
          color: #ceff9d;
          white-space: nowrap;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          font-family: Roboto, 'Source Sans Pro';
        }
        .rp5000-wS9 {
          width: 100%;
          letter-spacing: -0.036rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 0.6666666667;
          color: #ffb000;
          flex-shrink: 0;
        }
      }
    }
    .cardoutletlanding-4Wm {
      margin: 0rem 2.3rem 0.373rem 0rem;
      width: 36.9rem;
      height: 47.7273rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-91-yNq {
        border-radius: 1.5rem;
        width: 36.9rem;
        height: 21rem;
        position: absolute;
        left: 0;
        top: 26.7273rem;
        background-color: #3dbc3d;
      }
      .rectangle-90-JR7 {
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.7rem;
        width: 36.9rem;
        height: 29.037rem;
        position: absolute;
      }
      .pecel-surabaya-SXK {
        position: absolute;
        left: 1.7781rem;
        top: 30.8rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 33.8719rem;
        height: 15.7rem;

        .pecel-surabaya-xkZ {
          font-weight: 700;
          line-height: 0.96;
          letter-spacing: -0.025rem;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.4rem;
          width: 100%;
          text-align: center;
          font-size: 2.5rem;
          color: #000000;
          white-space: nowrap;
        }
        .jual-aneka-bahan-pembuatan-pecel-surabaya-t8R {
          font-size: 2rem;
          line-height: 1.2;
          margin: 0rem 9.85rem 1.2rem 0rem;
          font-weight: 500;
          letter-spacing: -0.02rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 24rem;
        }
        .mulai-harga-Abj {
          color: #ceff9d;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          white-space: nowrap;
          margin-bottom: 1.1rem;
          width: 100%;
          text-align: center;
          flex-shrink: 0;
        }
        .rp5000-t1w {
          white-space: nowrap;
          width: 100%;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 0.6666666667;
          letter-spacing: -0.036rem;
          text-align: center;
          color: #ffb000;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
      }
      .group-bS9 {
        top: 15.5rem;
        background-position: center;
        background-image: url('REPLACE_IMAGE:282:2967');
        box-sizing: border-box;
        padding: 2.75rem 3.173rem 2.75rem 3.583rem;
        width: 8.2rem;
        cursor: pointer;
        background-repeat: no-repeat;
        height: 8.5rem;
        position: absolute;
        left: 23rem;
        background-size: cover;

        .vector-W3K {
          object-fit: contain;
          vertical-align: top;
          width: 1.4432rem;
          height: 3.0005rem;
        }
      }
    }
    .auto-group-5lap-RRB {
      margin: 0rem 2.2rem 0.373rem 0rem;
      width: 37rem;
      height: 47.7273rem;
      position: relative;
      flex-shrink: 0;

      .cardoutletlanding-kCZ {
        width: 36.9rem;
        height: 47.7273rem;
        position: absolute;
        left: 0;
        top: 0;

        .rectangle-91-HiH {
          position: absolute;
          left: 0;
          top: 26.7273rem;
          background-color: #3dbc3d;
          border-radius: 1.5rem;
          width: 36.9rem;
          height: 21rem;
        }
        .rectangle-90-dGM {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.7rem;
          width: 36.9rem;
          height: 29.037rem;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      .semanggi-xZX {
        position: absolute;
        left: 1.8rem;
        top: 30.8rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 35.2rem;
        height: 15.7rem;

        .semanggi-Hbo {
          text-align: center;
          line-height: 0.96;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 1.4rem;
          font-size: 2.5rem;
          font-weight: 700;
          letter-spacing: -0.025rem;
          flex-shrink: 0;
          width: 100%;
        }
        .jual-aneka-bahan-pembuatan-semanggi-zWD {
          font-size: 2rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 3.6rem;
          font-weight: 500;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          color: #ffffff;
          flex-shrink: 0;
        }
        .mulai-harga-Vhs {
          text-align: center;
          letter-spacing: -0.02rem;
          white-space: nowrap;
          flex-shrink: 0;
          color: #ceff9d;
          font-family: Roboto, 'Source Sans Pro';
          margin-bottom: 1.1rem;
          width: 100%;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2;
        }
        .rp5000-d3P {
          white-space: nowrap;
          flex-shrink: 0;
          text-align: center;
          font-weight: 700;
          font-family: Roboto, 'Source Sans Pro';
          letter-spacing: -0.036rem;
          color: #ffb000;
          width: 100%;
          font-size: 3.6rem;
          line-height: 0.6666666667;
        }
      }
    }
    .auto-group-unhh-Yg9 {
      position: relative;
      flex-shrink: 0;
      margin-bottom: 0.3727rem;
      width: 78.3rem;
      height: calc(100% - 0.3727rem);

      .cardoutletlanding-H7w {
        left: 0;
        top: 0.4rem;
        width: 36.9rem;
        height: 47.7273rem;
        position: absolute;

        .rectangle-91-1Jq {
          position: absolute;
          left: 0;
          top: 26.7273rem;
          background-color: #3dbc3d;
          border-radius: 1.5rem;
          width: 36.9rem;
          height: 21rem;
        }
        .rectangle-90-X2H {
          width: 36.9rem;
          height: 29.037rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.7rem;
        }
      }
      .cardoutletlanding-qYm {
        left: 39.2rem;
        top: 0;
        width: 36.9rem;
        height: 47.7273rem;
        position: absolute;

        .rectangle-91-9JZ {
          top: 26.7273rem;
          background-color: #3dbc3d;
          border-radius: 1.5rem;
          width: 36.9rem;
          height: 21rem;
          position: absolute;
          left: 0;
        }
        .rectangle-90-Gty {
          width: 36.9rem;
          height: 29.037rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.7rem;
        }
      }
      .semanggi-zpy {
        position: absolute;
        left: 1.6281rem;
        top: 31.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 38.0719rem;
        height: 15.7rem;

        .tahu-campur-vCq {
          font-size: 2.5rem;
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 23.372rem 1.4rem 0rem;
          text-align: center;
          line-height: 0.96;
          letter-spacing: -0.025rem;
        }
        .jual-aneka-bahan-pembuatan-tahu-campur-R9b {
          font-weight: 500;
          letter-spacing: -0.02rem;
          color: #ffffff;
          white-space: nowrap;
          font-size: 2rem;
          line-height: 1.2;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 0rem 3.6rem 0.072rem;
        }
        .mulai-harga-hcu {
          font-weight: 700;
          letter-spacing: -0.02rem;
          flex-shrink: 0;
          text-align: center;
          font-size: 2rem;
          color: #ceff9d;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 0rem 1.1rem 18.572rem;
          line-height: 1.2;
        }
        .rp5000-1db {
          text-align: center;
          font-size: 3.6rem;
          color: #ffb000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 16.3719rem;
          font-weight: 700;
          line-height: 0.6666666667;
          letter-spacing: -0.036rem;
        }
      }
      .semanggi-jZb {
        height: 15.7rem;
        position: absolute;
        left: 40.7rem;
        top: 30.7rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 37.6rem;

        .soto-gubeng-465 {
          font-size: 2.5rem;
          line-height: 0.96;
          letter-spacing: -0.025rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin: 0rem 23.044rem 1.4rem 0rem;
          text-align: center;
          font-weight: 700;
          flex-shrink: 0;
        }
        .jual-aneka-bahan-pembuatan-soto-gubeng-xSM {
          line-height: 1.2;
          margin-bottom: 3.6rem;
          font-weight: 500;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2rem;
          letter-spacing: -0.02rem;
        }
        .mulai-harga-fbf {
          letter-spacing: -0.02rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2;
          color: #ceff9d;
          flex-shrink: 0;
          margin: 0rem 0rem 1.1rem 18.9rem;
        }
        .rp5000-B4D {
          letter-spacing: -0.036rem;
          color: #ffb000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 16.7rem;
          text-align: center;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 0.6666666667;
        }
      }
    }
  }
  .property-1frame-2-5vH {
    width: 100%;
    height: 48.1rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end;
    flex-shrink: 0;

    .cardoutletlanding-btd {
      height: 47.7273rem;
      position: relative;
      flex-shrink: 0;
      margin-right: 2.3rem;
      width: 36.9rem;

      .rectangle-91-8df {
        background-color: #3dbc3d;
        border-radius: 1.5rem;
        width: 36.9rem;
        height: 21rem;
        position: absolute;
        left: 0;
        top: 26.7273rem;
      }
      .rectangle-90-GUy {
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.7rem;
        width: 36.9rem;
        height: 29.037rem;
        position: absolute;
      }
      .pecel-surabaya-ny7 {
        flex-direction: column;
        width: 33.8719rem;
        height: 15.7rem;
        position: absolute;
        left: 0;
        top: 30.8rem;
        align-items: flex-end;
        display: flex;

        .pecel-surabaya-KTF {
          text-align: center;
          font-size: 2.5rem;
          font-weight: 700;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.4rem;
          width: 100%;
          line-height: 0.96;
          letter-spacing: -0.025rem;
        }
        .jual-aneka-bahan-pembuatan-pecel-surabaya-RmB {
          margin: 0rem 9.85rem 1.2rem 0rem;
          font-weight: 500;
          line-height: 1.2;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 24rem;
          font-size: 2rem;
          letter-spacing: -0.02rem;
        }
        .mulai-harga-vT3 {
          width: 100%;
          letter-spacing: -0.02rem;
          color: #ceff9d;
          flex-shrink: 0;
          margin-bottom: 1.1rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rp5000-qpu {
          width: 100%;
          white-space: nowrap;
          flex-shrink: 0;
          letter-spacing: -0.036rem;
          color: #ffb000;
          font-family: Roboto, 'Source Sans Pro';
          text-align: center;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 0.6666666667;
        }
      }
      .group-mCm {
        height: 8.5rem;
        position: absolute;
        left: 2.9rem;
        background-size: cover;
        background-repeat: no-repeat;
        box-sizing: border-box;
        padding: 2.75rem 3.671rem 2.75rem 3.251rem;
        width: 8.4rem;
        cursor: pointer;
        top: 15.1rem;
        background-position: center;
        background-image: url('REPLACE_IMAGE:282:3025');

        .vector-4hf {
          width: 1.4784rem;
          height: 3.0005rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .auto-group-tb4p-ag1 {
      margin-right: 44.3rem;
      width: 76.1rem;
      height: 47.7273rem;
      position: relative;
      flex-shrink: 0;

      .cardoutletlanding-WpZ {
        top: 0;
        width: 36.9rem;
        height: 47.7273rem;
        position: absolute;
        left: 0;

        .rectangle-91-3pV {
          left: 0;
          top: 26.7273rem;
          background-color: #3dbc3d;
          border-radius: 1.5rem;
          width: 36.9rem;
          height: 21rem;
          position: absolute;
        }
        .rectangle-90-n1P {
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.7rem;
          width: 36.9rem;
          height: 29.037rem;
        }
      }
      .cardoutletlanding-6Gy {
        height: 47.7273rem;
        position: absolute;
        left: 0;
        top: 0;
        width: 36.9rem;

        .rectangle-91-EPB {
          top: 26.7273rem;
          background-color: #3dbc3d;
          border-radius: 1.5rem;
          width: 36.9rem;
          height: 21rem;
          position: absolute;
          left: 0;
        }
        .rectangle-90-ZgM {
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.7rem;
          width: 36.9rem;
          height: 29.037rem;
          position: absolute;
        }
        .tahu-tek-6wB {
          flex-direction: column;
          width: 34.3rem;
          height: 15.7rem;
          position: absolute;
          left: 0;
          top: 30.5rem;
          align-items: flex-end;
          display: flex;

          .tahu-tek-SEM {
            font-size: 2.5rem;
            line-height: 0.96;
            color: #000000;
            margin-bottom: 1.4rem;
            width: 100%;
            letter-spacing: -0.025rem;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            text-align: center;
            font-weight: 700;
          }
          .jual-aneka-bahan-pembuatan-tahu-tek-9eZ {
            flex-shrink: 0;
            margin-bottom: 3.6rem;
            font-size: 2rem;
            letter-spacing: -0.02rem;
            white-space: nowrap;
            font-weight: 500;
            line-height: 1.2;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
          }
          .mulai-harga-FSh {
            text-align: center;
            font-weight: 700;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            letter-spacing: -0.02rem;
            color: #ceff9d;
            white-space: nowrap;
            margin-bottom: 1.1rem;
            width: 100%;
            font-size: 2rem;
            line-height: 1.2;
          }
          .rp5000-ZiH {
            line-height: 0.6666666667;
            letter-spacing: -0.036rem;
            font-family: Roboto, 'Source Sans Pro';
            flex-shrink: 0;
            width: 100%;
            font-size: 3.6rem;
            color: #ffb000;
            white-space: nowrap;
            text-align: center;
            font-weight: 700;
          }
        }
      }
      .lontong-balap-Vbw {
        left: 0;
        top: 30.5rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 39rem;
        height: 15.7rem;
        position: absolute;

        .lontong-balap-pu7 {
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          text-align: center;
          letter-spacing: -0.025rem;
          font-weight: 700;
          line-height: 0.96;
          white-space: nowrap;
          margin: 0rem 22.844rem 1.4rem 0rem;
          font-size: 2.5rem;
        }
        .jual-aneka-bahan-pembuatan-lontong-balap-L6m {
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          white-space: nowrap;
          margin-bottom: 3.6rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
        }
        .mulai-harga-qpD {
          margin: 0rem 0rem 1.1rem 18.9rem;
          text-align: center;
          font-size: 2rem;
          line-height: 1.2;
          color: #ceff9d;
          font-weight: 700;
          letter-spacing: -0.02rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .rp5000-Yid {
          line-height: 0.6666666667;
          letter-spacing: -0.036rem;
          color: #ffb000;
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 16.9rem;
          text-align: center;
          font-size: 3.6rem;
          font-weight: 700;
          font-family: Roboto, 'Source Sans Pro';
        }
      }
    }
    .auto-group-jd5m-GPj {
      margin-right: 3.1rem;
      width: 38.9rem;
      height: 47.7273rem;
      position: relative;
      flex-shrink: 0;

      .cardoutletlanding-CoB {
        left: 0;
        top: 0;
        width: 36.9rem;
        height: 47.7273rem;
        position: absolute;

        .rectangle-91-Ys3 {
          height: 21rem;
          position: absolute;
          left: 0;
          top: 26.7273rem;
          background-color: #3dbc3d;
          border-radius: 1.5rem;
          width: 36.9rem;
        }
        .rectangle-90-gCZ {
          border-radius: 0.7rem;
          width: 36.9rem;
          height: 29.037rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
        }
      }
      .rujak-cingur-Cgh {
        height: 15.7rem;
        position: absolute;
        left: 0;
        top: 30.4rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 37.4rem;

        .rujak-cingur-w8V {
          line-height: 0.96;
          letter-spacing: -0.025rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          margin: 0rem 22.444rem 1.4rem 0rem;
          text-align: center;
          font-size: 2.5rem;
          font-weight: 700;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .jual-aneka-bahan-pembuatan-rujak-cingur-ENV {
          letter-spacing: -0.02rem;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 3.6rem;
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2;
          color: #ffffff;
          flex-shrink: 0;
        }
        .mulai-harga-wGu {
          margin: 0rem 0rem 1.1rem 19.1rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2;
          font-family: Roboto, 'Source Sans Pro';
          letter-spacing: -0.02rem;
          color: #ceff9d;
          white-space: nowrap;
          flex-shrink: 0;
        }
        .rp5000-dvR {
          font-weight: 700;
          line-height: 0.6666666667;
          flex-shrink: 0;
          color: #ffb000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          margin-left: 16.9rem;
          text-align: center;
          font-size: 3.6rem;
          letter-spacing: -0.036rem;
        }
      }
    }
    .cardoutletlanding-vuX {
      margin-right: 2.3rem;
      width: 36.9rem;
      height: 47.7273rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-91-TPf {
        height: 21rem;
        position: absolute;
        left: 0;
        top: 26.7273rem;
        background-color: #3dbc3d;
        border-radius: 1.5rem;
        width: 36.9rem;
      }
      .rectangle-90-BaZ {
        vertical-align: top;
        border-radius: 0.7rem;
        width: 36.9rem;
        height: 29.037rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
      }
      .semanggi-6Bj {
        top: 30.8rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 33.85rem;
        height: 15.7rem;
        position: absolute;
        left: 1.8rem;

        .semanggi-DGM {
          font-weight: 700;
          color: #000000;
          white-space: nowrap;
          text-align: center;
          width: 100%;
          font-size: 2.5rem;
          line-height: 0.96;
          letter-spacing: -0.025rem;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin-bottom: 1.4rem;
        }
        .jual-aneka-bahan-pembuatan-semanggi-XXw {
          flex-shrink: 0;
          margin: 0rem 14.55rem 1.2rem 0rem;
          max-width: 19.3rem;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          font-size: 2rem;
          font-weight: 500;
          line-height: 1.2;
          letter-spacing: -0.02rem;
        }
        .mulai-harga-Qrd {
          margin-bottom: 1.1rem;
          width: 100%;
          font-size: 2rem;
          font-weight: 700;
          white-space: nowrap;
          text-align: center;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          color: #ceff9d;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .rp5000-Kih {
          width: 100%;
          font-size: 3.6rem;
          font-weight: 700;
          line-height: 0.6666666667;
          font-family: Roboto, 'Source Sans Pro';
          text-align: center;
          letter-spacing: -0.036rem;
          color: #ffb000;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .cardoutletlanding-qS9 {
      margin-right: 2.3rem;
      width: 36.9rem;
      height: 47.7273rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-91-xmf {
        border-radius: 1.5rem;
        width: 36.9rem;
        height: 21rem;
        position: absolute;
        left: 0;
        top: 26.7273rem;
        background-color: #3dbc3d;
      }
      .rectangle-90-6N5 {
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.7rem;
        width: 36.9rem;
        height: 29.037rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .semanggi-2mX {
        left: 1.6281rem;
        top: 30.8rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 33.9219rem;
        height: 15.7rem;
        position: absolute;

        .tahu-campur-Yzm {
          font-size: 2.5rem;
          color: #000000;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.4rem;
          width: 100%;
          text-align: center;
          font-weight: 700;
          line-height: 0.96;
          letter-spacing: -0.025rem;
        }
        .jual-aneka-bahan-pembuatan-tahu-campur-5E1 {
          flex-shrink: 0;
          margin: 0rem 11.65rem 1.2rem 0rem;
          max-width: 22.2rem;
          font-weight: 500;
          line-height: 1.2;
          color: #ffffff;
          font-size: 2rem;
          letter-spacing: -0.02rem;
          font-family: Roboto, 'Source Sans Pro';
        }
        .mulai-harga-MBX {
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2;
          flex-shrink: 0;
          margin-bottom: 1.1rem;
          width: 100%;
          text-align: center;
          letter-spacing: -0.02rem;
          color: #ceff9d;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rp5000-sQm {
          text-align: center;
          font-weight: 700;
          line-height: 0.6666666667;
          letter-spacing: -0.036rem;
          color: #ffb000;
          font-family: Roboto, 'Source Sans Pro';
          width: 100%;
          font-size: 3.6rem;
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .cardoutletlanding-BwF {
      position: relative;
      flex-shrink: 0;
      margin-bottom: 0.3727rem;
      width: 36.9rem;
      height: 47.7273rem;

      .rectangle-91-KXf {
        width: 36.9rem;
        height: 21rem;
        position: absolute;
        left: 0;
        top: 26.7273rem;
        background-color: #3dbc3d;
        border-radius: 1.5rem;
      }
      .rectangle-90-epq {
        vertical-align: top;
        border-radius: 0.7rem;
        width: 36.9rem;
        height: 29.037rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
      }
      .semanggi-xqX {
        position: absolute;
        left: 1.5rem;
        top: 30.7rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 33.85rem;
        height: 15.7rem;

        .soto-gubeng-V4m {
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.4rem;
          width: 100%;
          font-weight: 700;
          letter-spacing: -0.025rem;
          color: #000000;
          text-align: center;
          font-size: 2.5rem;
          line-height: 0.96;
        }
        .jual-aneka-bahan-pembuatan-soto-gubeng-QSd {
          font-weight: 500;
          line-height: 1.2;
          color: #ffffff;
          font-family: Roboto, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 12.05rem 1.2rem 0rem;
          max-width: 21.8rem;
          font-size: 2rem;
          letter-spacing: -0.02rem;
        }
        .mulai-harga-6KT {
          width: 100%;
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 1.1rem;
          font-size: 2rem;
          font-weight: 700;
          line-height: 1.2;
          letter-spacing: -0.02rem;
          color: #ceff9d;
          font-family: Roboto, 'Source Sans Pro';
          text-align: center;
        }
        .rp5000-R6q {
          width: 100%;
          text-align: center;
          line-height: 0.6666666667;
          letter-spacing: -0.036rem;
          color: #ffb000;
          font-size: 3.6rem;
          font-weight: 700;
          font-family: Roboto, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .group-81F {
        background-position: center;
        opacity: 0;
        background-size: cover;
        width: 8.2rem;
        height: 8.5rem;
        position: absolute;
        left: 28.5rem;
        top: 15.5rem;
        background-repeat: no-repeat;
        box-sizing: border-box;
        padding: 2.75rem 3.173rem 2.75rem 3.583rem;
        background-image: url('REPLACE_IMAGE:282:3022');

        .vector-DoP {
          width: 1.4432rem;
          height: 3.0005rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
  }
}
