
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.status-pesanan-page-d53 {
  overflow: hidden;
  background-color: #efeaea;
  width: 100%;
  height: 159.9rem;
  position: relative;

  .pesanan-saya-kQZ {
    left: 6.3rem;
    top: 12.7rem;
    font-size: 3rem;
    line-height: 0.8;
    letter-spacing: -0.03rem;
    font-family: Inter, 'Source Sans Pro';
    width: 20.8rem;
    height: 2.4rem;
    white-space: nowrap;
    font-weight: 700;
    color: #049904;
    position: absolute;
    text-align: center;
  }
  .navbar-user-otd {
    background-color: #049904;
    width: 151.2rem;
    height: 9.1rem;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;

    .profil-YbK {
      padding-left: 0.1rem;
      cursor: pointer;
      left: 125.4rem;
      display: flex;
      box-sizing: border-box;
      width: 19.8rem;
      height: 6rem;
      position: absolute;
      top: 1.6rem;
      align-items: center;

      .andi-akhsanul-e8Z {
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 1.5;
        letter-spacing: -0.016rem;
        color: #ffff00;
        flex-shrink: 0;
        margin-right: 1.052rem;
        text-align: center;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .dropdown-menu-Yzd {
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:I113:3920;113:2168');
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.2rem 1.38rem 1.2rem 1.472rem;
        height: 100%;
        background-size: cover;

        .profil-tHo {
          vertical-align: top;
          width: 3.496rem;
          height: 3.6rem;
          object-fit: contain;
        }
      }
    }
    .line-21-17X {
      position: absolute;
      left: 0;
      top: 9.1rem;
      background-color: #000000;
      width: 151.2rem;
      height: 0.1rem;
    }
    .foodies-1-XLm {
      width: 30.1rem;
      height: 27.7rem;
      position: absolute;
      left: 2.1rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .navigasi-egH {
      height: 2.4rem;
      position: absolute;
      left: 76.05rem;
      top: 3.3rem;
      display: flex;
      align-items: center;
      width: 41.45rem;

      .home-kjK {
        text-align: center;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: -0.016rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.95rem;
        cursor: pointer;
        font-size: 1.6rem;
        color: #ffffff;
      }
      .outlet-frH {
        line-height: 1.5;
        margin-right: 4.1rem;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: -0.016rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        cursor: pointer;
        flex-shrink: 0;
      }
      .contact-PnH {
        color: #ffffff;
        margin-right: 3.15rem;
        cursor: pointer;
        text-align: center;
        line-height: 1.5;
        letter-spacing: -0.016rem;
        font-size: 1.6rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .produk-6gh {
        letter-spacing: -0.016rem;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.95rem;
        font-size: 1.6rem;
        font-weight: 700;
        color: #ffff00;
        font-family: Inter, 'Source Sans Pro';
        cursor: pointer;
        text-align: center;
        line-height: 1.5;
      }
      .edukasi-DmK {
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: -0.016rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        cursor: pointer;
        text-align: center;
        font-size: 1.6rem;
        color: #ffffff;
        flex-shrink: 0;
      }
    }
  }
  .footer-wSR {
    width: 151.2rem;
    height: 62.6rem;
    position: absolute;
    left: 0;
    top: 97.3rem;

    .footer-5Hj {
      display: flex;
      box-sizing: border-box;
      padding: 13.2rem 7rem 3rem 7rem;
      height: 56.4rem;
      position: absolute;
      top: 6.2rem;
      align-items: center;
      width: 151.2rem;
      left: 0;
      overflow: hidden;
      flex-direction: column;
      background-color: #049904;

      .pemisah-kem {
        margin-bottom: 1.6rem;
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .isi-footer-6Tj {
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 15.3rem 2.4rem 2.8rem;
        width: calc(100% - 18.1rem);
        height: 26.2rem;
        display: flex;

        .quotes-DHT {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-f1wh-m45 {
            height: 2.4rem;
            position: relative;
            flex-shrink: 0;
            margin-bottom: 0.6rem;
            width: 6.9001rem;

            .tagline-hCd {
              align-items: baseline;
              justify-content: center;
              font-size: 1.6rem;
              font-weight: 700;
              line-height: 1.5;
              left: 0.3rem;
              position: absolute;
              top: 0;
              display: flex;
              font-family: Arial, 'Source Sans Pro';
              white-space: nowrap;
              height: 2.4rem;
              width: 6.4rem;
              color: #ffffff;
              letter-spacing: -0.016rem;

              .tagline-hCd-sub-0 {
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffffff;
              }
              .tagline-hCd-sub-1 {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffff00;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .line-23-UWD {
              object-fit: contain;
              vertical-align: top;
              width: 6.9001rem;
              height: 0;
              position: absolute;
              left: 0;
              top: 2.225rem;
            }
          }
          .tujuan-kami-bukan-menciptakan-bisnis-yang-besar-tetapi-membangun-sesuatu-yang-membuat-perubahan-besar-Qem {
            margin-bottom: 0.8rem;
            max-width: 25.9rem;
            font-size: 1.3rem;
            font-weight: 400;
            letter-spacing: -0.013rem;
            font-style: italic;
            font-family: Poppins, 'Source Sans Pro';
            line-height: 1.8461538462;
            color: #ffffff;
            flex-shrink: 0;
          }
          .semua-impian-kita-menjadi-kanyataan-jika-kita-mempunyai-keberanian-unutk-mengerjakannya-walt-disney-FvH {
            font-style: italic;
            flex-shrink: 0;
            font-size: 1.3rem;
            line-height: 1.8461538462;
            font-weight: 400;
            letter-spacing: -0.013rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            margin: 0rem 0rem 0.8rem 5.3rem;
            max-width: 25.7rem;
          }
          .wirausahawan-sejadi-meciptakan-peluang-bisnis-sedangkan-wirausahawan-bisa-fokus-mengejar-uang-swf {
            margin-left: 13.5rem;
            max-width: 28.1rem;
            font-size: 1.3rem;
            line-height: 1.8461538462;
            letter-spacing: -0.013rem;
            font-family: Poppins, 'Source Sans Pro';
            font-weight: 400;
            font-style: italic;
            color: #ffffff;
            flex-shrink: 0;
          }
        }
        .auto-group-mbaj-wAq {
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 7.4rem;

          .about-us-Tus {
            margin-right: 12.8rem;
            width: 25.5rem;
            row-gap: 0.6rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .auto-group-vrjs-nx9 {
              width: 7.4rem;
              height: 2.4rem;
              position: relative;
              flex-shrink: 0;

              .line-24-Xuj {
                position: absolute;
                left: 0;
                top: 2.2123rem;
                object-fit: contain;
                vertical-align: top;
                width: 7.4rem;
                height: 0;
              }
              .aboutus-4uf {
                height: 2.4rem;
                top: 0;
                display: flex;
                line-height: 1.5;
                width: 7rem;
                position: absolute;
                font-weight: 700;
                color: #ffffff;
                font-family: Arial, 'Source Sans Pro';
                white-space: nowrap;
                letter-spacing: -0.016rem;
                left: 0.2rem;
                align-items: baseline;
                justify-content: center;
                font-size: 1.6rem;

                .aboutus-4uf-sub-0 {
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 700;
                }
                .aboutus-4uf-sub-1 {
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  color: #ffff00;
                  font-family: Poppins, 'Source Sans Pro';
                }
              }
            }
            .group-263-Z7f {
              margin-left: 0.1rem;
              box-sizing: border-box;
              padding-left: 0.3125rem;
              width: calc(100% - 0.1rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;

              .location-sPF {
                width: 0.875rem;
                height: 1.3029rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.725rem 0.513rem 0rem 0rem;
              }
              .jl-dharmawangsa-no138-d-airlangga-kec-gubeng-surabaya-jawa-timur-60282-bKF {
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 23.7rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.7142857143;
                letter-spacing: -0.014rem;
              }
            }
            .group-264-g5o {
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 3.6rem;
              width: calc(100% - 3.6rem);

              .icon-envelope-closed-1ds {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.2rem 0.5rem 0rem 0rem;
                width: 1.6rem;
                height: 1.2rem;
                object-fit: contain;
              }
              .foodysbussinesgmailcom-KPf {
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.7142857143;
                display: flex;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                letter-spacing: -0.014rem;
              }
            }
            .group-265-dQM {
              align-items: center;
              flex-shrink: 0;
              margin-right: 13.5rem;
              box-sizing: border-box;
              padding-left: 0.1333rem;
              width: calc(100% - 13.5rem);
              display: flex;

              .calling-a4h {
                margin: 0rem 0.633rem 0.1rem 0rem;
                width: 1.3333rem;
                height: 1.25rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .item-0274-2885822-633 {
                font-weight: 400;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                white-space: nowrap;
                font-size: 1.4rem;
                line-height: 1.7142857143;
                letter-spacing: -0.014rem;
                font-style: italic;
              }
            }
          }
          .comunity-zeD {
            margin-right: 7.9954rem;
            width: 9.7046rem;
            flex-shrink: 0;

            .comunity-8kR {
              display: flex;
              margin: 0rem 0rem 0.1rem 1.2rem;
              font-weight: 700;
              line-height: 1.5;
              letter-spacing: -0.016rem;
              font-family: Arial, 'Source Sans Pro';
              font-size: 1.6rem;
              color: #ffffff;
              white-space: nowrap;
              align-items: baseline;

              .comunity-8kR-sub-0 {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
              }
              .comunity-8kR-sub-1 {
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffff00;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
              }
            }
            .line-26-Rsw {
              background-color: #000000;
              margin-bottom: 1.4rem;
              width: 100%;
              height: 0.1rem;
            }
            .group-266-NoB {
              object-fit: contain;
              vertical-align: top;
              width: 6.7rem;
              height: 3rem;
              position: relative;
            }
          }
          .sosmed-KiR {
            margin-top: 0.1rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .social-media-TZj {
              white-space: nowrap;
              display: flex;
              align-items: baseline;
              margin-left: 0.2rem;
              font-weight: 700;
              letter-spacing: -0.016rem;
              color: #ffffff;
              font-size: 1.6rem;
              line-height: 1.5;
              font-family: Arial, 'Source Sans Pro';
              flex-shrink: 0;

              .social-media-TZj-sub-0 {
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
              }
              .social-media-TZj-sub-1 {
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffff00;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
              }
            }
            .line-25-myj {
              margin-bottom: 1.4rem;
              width: 10.0045rem;
              height: 0.1rem;
              background-color: #000000;
              flex-shrink: 0;
            }
            .list-sosmed-ie5 {
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              width: 14.1rem;
              height: 3rem;
            }
          }
        }
      }
      .pemisah-eGq {
        flex-shrink: 0;
        margin-bottom: 3.3rem;
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
      }
      .mark-list-PkD {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 21.2rem 0rem 33.9rem;
        width: calc(100% - 55.1rem);
        align-items: center;

        .copyright-2023-by-foodys-all-rights-reserved-iGh {
          letter-spacing: -0.013rem;
          color: #ffffff;
          margin: 0rem 9.6rem 1.7rem 0rem;
          font-size: 1.3rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-weight: 700;
          line-height: 1.8461538462;
        }
        .terima-kasih-telah-mengunjungi-foodys-jangan-ragu-untuk-menghubungi-kami-jika-anda-memiliki-pertanyaan-atau-saran-nnM {
          font-weight: 700;
          line-height: 1.8461538462;
          letter-spacing: -0.013rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.3rem;
        }
      }
    }
    .foodies-1-EeM {
      height: 27.7rem;
      position: absolute;
      left: 7.2rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 30.1rem;
    }
    .line-22-xaM {
      position: absolute;
      left: 0;
      top: 6.2rem;
      background-color: #000000;
      width: 151.2rem;
      height: 0.2rem;
    }
  }
  .auto-group-87zm-5us {
    width: 151.2rem;
    height: 82.2rem;
    position: absolute;
    left: 0;
    top: 15.1rem;

    .group-26-cQ1 {
      box-sizing: border-box;
      position: absolute;
      border-radius: 0.5rem;
      background-color: #ffffff;
      padding: 2.8rem 14.9rem 3.1rem 13.867rem;
      width: 132rem;
      height: 27rem;
      left: 8.9rem;
      top: 20.3rem;
      display: flex;
      align-items: center;

      .foto-barang-guf {
        height: 15rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin: 0rem 2.949rem 0.3rem 0rem;
        width: 16.0845rem;
      }
      .auto-group-qlsx-Cd7 {
        height: calc(100% - 7.3rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 3.8rem 31.093rem 3.5rem 0rem;

        .daun-semanggi-8Fs {
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 1.4rem 0.007rem;
        }
        .ukuran--qvy {
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 1rem 0.1rem;
        }
        .gram-ko3 {
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
        }
      }
      .auto-group-2ei7-6M7 {
        margin: 8.2rem 4.5rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .x-2-ECR {
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 5.1rem 0.2rem;
          font-size: 3rem;
          font-weight: 400;
        }
        .total-pesanan--xPK {
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
        }
      }
      .auto-group-abxw-h61 {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        height: 100%;

        .selesai-eX3 {
          color: #049904;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 4.5rem;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
        }
        .item-15000-z57 {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.3rem 5.2rem 0rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
        }
        .item-30000-6tq {
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 0.3rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
        }
      }
    }
    .group-27-Q8q {
      left: 8.9rem;
      top: 51.8rem;
      align-items: center;
      border-radius: 0.5rem;
      padding: 2.2rem 13rem 3.1rem 13.867rem;
      position: absolute;
      height: 27rem;
      display: flex;
      background-color: #ffffff;
      box-sizing: border-box;
      width: 132rem;

      .foto-barang-VAH {
        margin: 0.3rem 2.949rem 0rem 0rem;
        width: 16.0845rem;
        height: 15rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 0.5rem;
        flex-shrink: 0;
      }
      .auto-group-m4vf-oRs {
        margin: 4.4rem 31.093rem 3.5rem 0rem;
        height: calc(100% - 7.9rem);
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .daun-semanggi-Wr5 {
          margin: 0rem 0rem 1.4rem 0.007rem;
          font-size: 3rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .ukuran--SDw {
          margin: 0rem 0rem 1rem 0.1rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .gram-YGy {
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2575;
        }
      }
      .auto-group-pzz1-GTs {
        margin: 8.8rem 4.4rem 0rem 0rem;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .x-3-nh7 {
          flex-shrink: 0;
          margin: 0rem 0rem 5.1rem 0.2rem;
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
        }
        .total-pesanan--VLd {
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 3rem;
          font-weight: 400;
        }
      }
      .auto-group-28v7-cw3 {
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .dikemas-N9X {
          flex-shrink: 0;
          margin-bottom: 5.1rem;
          font-size: 2.5rem;
          font-weight: 500;
          line-height: 1.5;
          color: #049904;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-15000-uQM {
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0rem 5.2rem 0.3rem;
          font-size: 3rem;
        }
        .item-45000-pnD {
          font-size: 3rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-left: 0.3rem;
        }
      }
    }
    .group-25-Kiy {
      position: absolute;
      top: 5.8rem;
      display: flex;
      align-items: center;
      border-radius: 0.5rem;
      box-sizing: border-box;
      width: 132rem;
      height: 9rem;
      left: 8.9rem;
      background-color: #ffffff;
      padding: 2.8rem 17.729rem 2.4rem 15.611rem;

      .semua-cTB {
        margin-right: 32.2281rem;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .dikemas-Yrd {
        margin-right: 15.4075rem;
        font-weight: 700;
        line-height: 1.2575;
        white-space: nowrap;
        cursor: pointer;
        font-size: 3rem;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        flex-shrink: 0;
      }
      .dikirim-s8D {
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 11.3243rem;
        font-size: 3rem;
        font-weight: 700;
        color: #000000;
        cursor: pointer;
        line-height: 1.2575;
      }
      .selesai-b4D {
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        cursor: pointer;
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
      }
    }
    .line-63-JjK {
      position: absolute;
      left: 22.5956rem;
      top: 14.95rem;
      background-color: #049904;
      width: 14.1088rem;
      height: 0.3rem;
    }
  }
}
