
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.user-admin-product-erd {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 144.7rem;

  .rectangle-146-Yh7 {
    height: 1.7rem;
    position: absolute;
    left: 41.2rem;
    top: 13.6rem;
    object-fit: contain;
    vertical-align: top;
    width: 40.4rem;
  }
  .footer-dyT {
    width: 151.2rem;
    height: 62.6rem;
    position: absolute;
    left: 0;
    top: 82.1rem;

    .footer-Z6R {
      left: 0;
      top: 6.2rem;
      background-color: #049904;
      position: absolute;
      overflow: hidden;
      align-items: center;
      display: flex;
      box-sizing: border-box;
      padding: 13.2rem 7rem 3rem 7rem;
      width: 151.2rem;
      height: 56.4rem;
      flex-direction: column;

      .pemisah-CfB {
        margin-bottom: 1.6rem;
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .isi-footer-8Yq {
        height: 26.2rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 15.3rem 2.4rem 2.8rem;
        width: calc(100% - 18.1rem);

        .quotes-2u7 {
          flex-shrink: 0;
          height: 100%;
          display: flex;
          flex-direction: column;

          .auto-group-w1h5-ndP {
            margin-bottom: 0.6rem;
            width: 6.9001rem;
            height: 2.4rem;
            position: relative;
            flex-shrink: 0;

            .tagline-6ty {
              font-weight: 700;
              line-height: 1.5;
              white-space: nowrap;
              width: 6.4rem;
              letter-spacing: -0.016rem;
              color: #ffffff;
              align-items: baseline;
              justify-content: center;
              font-size: 1.6rem;
              top: 0;
              display: flex;
              font-family: Arial, 'Source Sans Pro';
              height: 2.4rem;
              position: absolute;
              left: 0.3rem;

              .tagline-6ty-sub-0 {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
              }
              .tagline-6ty-sub-1 {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffff00;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .line-23-4Mw {
              width: 6.9001rem;
              height: 0;
              position: absolute;
              left: 0;
              top: 2.225rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .tujuan-kami-bukan-menciptakan-bisnis-yang-besar-tetapi-membangun-sesuatu-yang-membuat-perubahan-besar-BhT {
            margin-bottom: 0.8rem;
            font-size: 1.3rem;
            line-height: 1.8461538462;
            font-style: italic;
            color: #ffffff;
            max-width: 25.9rem;
            font-weight: 400;
            letter-spacing: -0.013rem;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
          }
          .semua-impian-kita-menjadi-kanyataan-jika-kita-mempunyai-keberanian-unutk-mengerjakannya-walt-disney-SNV {
            margin: 0rem 0rem 0.8rem 5.3rem;
            max-width: 25.7rem;
            font-size: 1.3rem;
            font-weight: 400;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            line-height: 1.8461538462;
            letter-spacing: -0.013rem;
            font-style: italic;
            color: #ffffff;
          }
          .wirausahawan-sejadi-meciptakan-peluang-bisnis-sedangkan-wirausahawan-bisa-fokus-mengejar-uang-UKB {
            font-size: 1.3rem;
            line-height: 1.8461538462;
            letter-spacing: -0.013rem;
            color: #ffffff;
            margin-left: 13.5rem;
            max-width: 28.1rem;
            font-weight: 400;
            font-style: italic;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
        .auto-group-6d4p-izD {
          box-sizing: border-box;
          padding-left: 7.4rem;
          height: 100%;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .about-us-ess {
            row-gap: 0.6rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 12.8rem;
            width: 25.5rem;

            .auto-group-c2xd-Zzq {
              position: relative;
              flex-shrink: 0;
              width: 7.4rem;
              height: 2.4rem;

              .line-24-uYu {
                top: 2.2123rem;
                object-fit: contain;
                vertical-align: top;
                width: 7.4rem;
                height: 0;
                position: absolute;
                left: 0;
              }
              .aboutus-qSZ {
                color: #ffffff;
                font-family: Arial, 'Source Sans Pro';
                left: 0.2rem;
                top: 0;
                align-items: baseline;
                font-weight: 700;
                justify-content: center;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                width: 7rem;
                height: 2.4rem;
                white-space: nowrap;
                position: absolute;
                display: flex;
                font-size: 1.6rem;

                .aboutus-qSZ-sub-0 {
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                }
                .aboutus-qSZ-sub-1 {
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  color: #ffff00;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.6rem;
                }
              }
            }
            .group-263-tp9 {
              box-sizing: border-box;
              padding-left: 0.3125rem;
              width: calc(100% - 0.1rem);
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              margin-left: 0.1rem;

              .location-ogD {
                flex-shrink: 0;
                margin: 0.725rem 0.513rem 0rem 0rem;
                width: 0.875rem;
                height: 1.3028rem;
                object-fit: contain;
                vertical-align: top;
              }
              .jl-dharmawangsa-no138-d-airlangga-kec-gubeng-surabaya-jawa-timur-60282-KPf {
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 23.7rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.7142857143;
                letter-spacing: -0.014rem;
              }
            }
            .group-264-P8d {
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 3.6rem 0rem 0rem;
              width: calc(100% - 3.6rem);
              display: flex;

              .icon-envelope-closed-6oj {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.2rem 0.5rem 0rem 0rem;
                width: 1.6rem;
                height: 1.2rem;
                object-fit: contain;
              }
              .foodysbussinesgmailcom-oTF {
                font-family: Poppins, 'Source Sans Pro';
                font-weight: 400;
                line-height: 1.7142857143;
                letter-spacing: -0.014rem;
                white-space: nowrap;
                flex-shrink: 0;
                display: flex;
                font-size: 1.4rem;
                color: #ffffff;
              }
            }
            .group-265-i4R {
              width: calc(100% - 13.5rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin: 0rem 13.5rem 0rem 0rem;
              box-sizing: border-box;
              padding-left: 0.1333rem;

              .calling-Dms {
                width: 1.3333rem;
                height: 1.25rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0rem 0.633rem 0.1rem 0rem;
              }
              .item-0274-2885822-K4D {
                font-size: 1.4rem;
                line-height: 1.7142857143;
                letter-spacing: -0.014rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                font-weight: 400;
                font-style: italic;
                flex-shrink: 0;
              }
            }
          }
          .comunity-1Bw {
            margin-right: 7.9954rem;
            width: 9.7046rem;
            flex-shrink: 0;

            .comunity-jtd {
              letter-spacing: -0.016rem;
              color: #ffffff;
              font-family: Arial, 'Source Sans Pro';
              display: flex;
              margin: 0rem 0rem 0.1rem 1.2rem;
              font-weight: 700;
              white-space: nowrap;
              align-items: baseline;
              font-size: 1.6rem;
              line-height: 1.5;

              .comunity-jtd-sub-0 {
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
              }
              .comunity-jtd-sub-1 {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffff00;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .line-26-anm {
              margin-bottom: 1.4rem;
              width: 100%;
              height: 0.1rem;
              background-color: #000000;
            }
            .group-266-vbj {
              width: 6.7rem;
              height: 3rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .sosmed-4T3 {
            flex-direction: column;
            flex-shrink: 0;
            margin-top: 0.1rem;
            display: flex;

            .social-media-Cp9 {
              line-height: 1.5;
              color: #ffffff;
              display: flex;
              align-items: baseline;
              flex-shrink: 0;
              margin-left: 0.2rem;
              font-size: 1.6rem;
              font-weight: 700;
              letter-spacing: -0.016rem;
              font-family: Arial, 'Source Sans Pro';
              white-space: nowrap;

              .social-media-Cp9-sub-0 {
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
              }
              .social-media-Cp9-sub-1 {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffff00;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .line-25-73w {
              background-color: #000000;
              flex-shrink: 0;
              margin-bottom: 1.4rem;
              width: 10.0045rem;
              height: 0.1rem;
            }
            .list-sosmed-2wb {
              width: 14.1rem;
              height: 3rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .pemisah-AH7 {
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
        margin-bottom: 3.3rem;
      }
      .mark-list-J8R {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 21.2rem 0rem 33.9rem;
        width: calc(100% - 55.1rem);
        align-items: center;

        .copyright-2023-by-foodys-all-rights-reserved-cQ1 {
          color: #ffffff;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 9.6rem 1.7rem 0rem;
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.8461538462;
          letter-spacing: -0.013rem;
          font-family: Poppins, 'Source Sans Pro';
        }
        .terima-kasih-telah-mengunjungi-foodys-jangan-ragu-untuk-menghubungi-kami-jika-anda-memiliki-pertanyaan-atau-saran-5Hb {
          font-weight: 700;
          line-height: 1.8461538462;
          letter-spacing: -0.013rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.3rem;
        }
      }
    }
    .foodies-1-j7F {
      width: 30.1rem;
      height: 27.7rem;
      position: absolute;
      left: 7.2rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .line-22-qg5 {
      height: 0.2rem;
      position: absolute;
      left: 0;
      top: 6.2rem;
      background-color: #000000;
      width: 151.2rem;
    }
  }
  .sidebar-ZMB {
    box-sizing: border-box;
    padding: 3.978rem 1.1rem 50.536rem 1.1rem;
    position: absolute;
    top: 9.1rem;
    align-items: center;
    flex-direction: column;
    background-color: #3dbc3d;
    width: 32.2rem;
    height: 79.2rem;
    left: 0;
    display: flex;

    .footer-button-user-my-foodys--qZb {
      flex-shrink: 0;
      margin: 0rem 1.4rem 0.585rem 0rem;
      width: 28.6rem;
      height: 5.8498rem;
      cursor: pointer;
      position: relative;

      .rectangle-119-LFT {
        border-radius: 1.4rem;
        width: 28.6rem;
        height: 5.3818rem;
        position: absolute;
        left: 0;
        top: 0.234rem;
        background-color: #ffb000;
      }
      .dasboard-FtD {
        font-size: 2rem;
        width: 10.2rem;
        position: absolute;
        left: 9.1rem;
        top: 0;
        text-align: center;
        font-weight: 700;
        line-height: 2.475;
        color: #ffffff;
        height: 5rem;
        white-space: nowrap;
        font-family: Poppins, 'Source Sans Pro';
      }
    }
    .footer-button-user-my-foodys--k4H {
      margin: 0rem 1.4rem 0.351rem 0rem;
      width: 28.6rem;
      height: 5.8498rem;
      cursor: pointer;
      position: relative;
      flex-shrink: 0;

      .rectangle-119-qrR {
        top: 0.234rem;
        background-color: #ffb000;
        border-radius: 1.4rem;
        width: 28.6rem;
        height: 5.3818rem;
        position: absolute;
        left: 0;
      }
      .dasboard-kyP {
        width: 7rem;
        left: 10.7rem;
        top: 0;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 5rem;
        position: absolute;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.475;
        color: #ffffff;
      }
    }
    .footer-button-user-my-foodys--s2R {
      cursor: pointer;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 1.4rem 0.585rem 0rem;
      width: 28.6rem;
      height: 5.8498rem;

      .rectangle-119-aBj {
        height: 5.3818rem;
        position: absolute;
        left: 0;
        top: 0.234rem;
        background-color: #ffb000;
        border-radius: 1.4rem;
        width: 28.6rem;
      }
      .dasboard-tiD {
        color: #ffffff;
        height: 5rem;
        position: absolute;
        top: 0;
        font-size: 2rem;
        line-height: 2.475;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        width: 10.2rem;
        left: 9.1rem;
        text-align: center;
        font-weight: 700;
      }
    }
    .footer-button-user-my-foodys--yzZ {
      width: 28.6rem;
      height: 5.6158rem;
      position: relative;
      flex-shrink: 0;
      margin-right: 1.4rem;

      .rectangle-119-gty {
        border: solid 0.3rem #ffb000;
        border-radius: 1.4rem;
        width: 28.6rem;
        position: absolute;
        left: 0;
        top: 0.234rem;
        box-sizing: border-box;
        background-color: #ffffff;
        height: 5.3818rem;
      }
      .dasboard-Nmo {
        text-align: center;
        font-weight: 700;
        line-height: 2.475;
        color: #ffb000;
        font-family: Poppins, 'Source Sans Pro';
        height: 5rem;
        position: absolute;
        left: 10.5rem;
        white-space: nowrap;
        width: 7.4rem;
        top: 0;
        font-size: 2rem;
      }
    }
  }
  .section1-fF7 {
    padding: 3.1rem 1.4rem 7.3rem 2.7rem;
    width: 112.8rem;
    left: 35.9rem;
    border-radius: 1.5rem;
    box-sizing: border-box;
    height: 60.6rem;
    position: absolute;
    top: 21.5rem;
    background: linear-gradient(120.37deg, #42ff00 31.52%, #dfff1b 72.66%);

    .search-Ls3 {
      object-fit: contain;
      vertical-align: top;
      margin: 0rem 0rem 2.9rem 1rem;
      width: 37.6rem;
      height: 4.3rem;
      position: relative;
    }
    .auto-group-hk8b-r4h {
      margin: 0rem 4rem 3.2rem 2.7rem;
      width: calc(100% - 6.7rem);
      height: 3.9rem;
      display: flex;
      align-items: center;

      .kategori-LVf {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 4.8rem 0.1rem 0rem;
      }
      .dropdown1-FMj {
        background-color: #ffffff;
        border-radius: 0.7rem;
        flex-shrink: 0;
        margin: 0.2rem 11.8rem 0.1rem 0rem;
        box-sizing: border-box;
        padding: 0.7rem 0.4rem 0.5rem 13.2rem;
        height: calc(100% - 0.3rem);

        .icon-Y5w {
          width: 2.4rem;
          height: 2.4rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .produk-4KB {
        flex-shrink: 0;
        margin: 0rem 2.8rem 0.1rem 0rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .dropdown1-ZFw {
        padding: 0.7rem 0.4rem 0.5rem 13.2rem;
        background-color: #ffffff;
        border-radius: 0.7rem;
        flex-shrink: 0;
        margin: 0.3rem 13.5rem 0rem 0rem;
        box-sizing: border-box;

        .icon-FPf {
          height: 2.4rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          width: 2.4rem;
        }
      }
      .date-9zq {
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 2.8rem 0.9rem 0rem;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1.6341797511;
      }
      .dropdown1-fyB {
        margin-bottom: 0.3rem;
        box-sizing: border-box;
        padding: 1.5rem 0.9rem 1.3rem 13.7rem;
        background-color: #ffffff;
        border-radius: 0.7rem;
        flex-shrink: 0;

        .icon-bM3 {
          vertical-align: top;
          width: 1.4rem;
          height: 0.8rem;
          object-fit: contain;
        }
      }
    }
    .order-K29 {
      display: flex;
      flex-direction: column;
      border-radius: 1rem;
      border: solid 0 #000000;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 3.1rem 2.843rem 4rem 2.895rem;
      width: 100%;
      align-items: center;

      .thead-2BT {
        display: flex;
        border-radius: 10rem;
        flex-shrink: 0;
        border: solid 0.1rem #857171;
        background-color: #f3f3f3;
        box-sizing: border-box;
        padding: 2.9rem 3.264rem 2.2rem 3.895rem;
        width: 100%;
        align-items: center;

        .id-order-8kH {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 5.838rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6341797511;
          color: #000000;
        }
        .id-kategori-Fa1 {
          flex-shrink: 0;
          margin: 0.1rem 5.723rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .id-product-Agy {
          font-weight: 600;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 7.492rem 0rem 0rem;
          font-size: 1.2rem;
        }
        .nama-product-gQR {
          margin: 0.1rem 6.997rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .jumlah-zR7 {
          flex-shrink: 0;
          margin: 0.1rem 7.302rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .harga-Jgh {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 10.518rem 0.1rem 0rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .status-QUq {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 8.633rem 0.1rem 0rem;
        }
        .action-ikR {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.0219rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
      }
      .tbody-oG5 {
        margin-left: 0.7369rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .row1-953 {
          align-items: center;
          border: solid 0 #f0f0f0;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.106rem 4.316rem 2.13rem 4.316rem;
          height: 7.2rem;
          display: flex;

          .item-1-2ed {
            flex-shrink: 0;
            margin: 0rem 12.765rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-1-YN5 {
            margin: 0rem 11.186rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-1-rNm {
            margin: 0rem 11.712rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .lontong-APT {
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 11.629rem 0.176rem 0rem;
          }
          .item-4-sof {
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 8.991rem 0.176rem 0rem;
          }
          .item-15000-nvd {
            margin: 0rem 8.728rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .auto-group-f2zo-tTs {
            height: 100%;
            line-height: 1.5;
            align-items: center;
            background-position: center;
            background-image: url('REPLACE_IMAGE:413:3789');
            flex-shrink: 0;
            margin-right: 6.2115rem;
            font-size: 1.2rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            background-size: cover;
            width: 9.5803rem;
            white-space: nowrap;
            display: flex;
            justify-content: center;
            background-repeat: no-repeat;
            font-weight: 700;
          }
          .group-96-wBF {
            margin-bottom: 0.5783rem;
            width: 1.6844rem;
            height: 0.41rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row2-qXX {
          height: 7.2rem;
          display: flex;
          align-items: center;
          border: solid 0 #f0f0f0;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.106rem 4.316rem 2.13rem 4.316rem;

          .item-1-jN1 {
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 12.765rem 0.176rem 0rem;
          }
          .item-1-dTP {
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 11.186rem 0.176rem 0rem;
            font-size: 1.2rem;
          }
          .item-1-Y4Z {
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 11.712rem 0.176rem 0rem;
          }
          .lontong-FDs {
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 11.629rem 0.176rem 0rem;
          }
          .item-4-xty {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 8.991rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
          }
          .item-15000-sm3 {
            flex-shrink: 0;
            margin: 0rem 8.728rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .auto-group-pu67-bBF {
            line-height: 1.5;
            align-items: center;
            width: 9.5803rem;
            font-weight: 700;
            background-repeat: no-repeat;
            margin-right: 6.2115rem;
            height: 100%;
            display: flex;
            justify-content: center;
            background-size: cover;
            background-image: url('REPLACE_IMAGE:413:3803');
            flex-shrink: 0;
            font-size: 1.2rem;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            background-position: center;
          }
          .group-96-fS1 {
            margin-bottom: 0.5783rem;
            width: 1.6844rem;
            height: 0.41rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row3-AtZ {
          flex-shrink: 0;
          background-color: #ffffff;
          box-sizing: border-box;
          padding: 2.106rem 4.316rem 2.13rem 4.316rem;
          height: 7.2rem;
          display: flex;
          align-items: center;
          border: solid 0 #f0f0f0;
          margin-right: 0.1053rem;

          .item-1-3xM {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 12.765rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
          }
          .item-1-NDw {
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 11.186rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
          }
          .item-1-gkR {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 11.712rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .lontong-Cim {
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 11.629rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
          }
          .item-4-tLh {
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 8.991rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
          }
          .item-15000-bF7 {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 8.728rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .auto-group-rvx1-VrH {
            background-size: cover;
            background-repeat: no-repeat;
            flex-shrink: 0;
            margin-right: 6.2115rem;
            font-family: Poppins, 'Source Sans Pro';
            display: flex;
            font-weight: 700;
            color: #ffffff;
            background-position: center;
            white-space: nowrap;
            align-items: center;
            background-image: url('REPLACE_IMAGE:413:3817');
            width: 9.5803rem;
            height: 100%;
            font-size: 1.2rem;
            line-height: 1.5;
            justify-content: center;
          }
          .group-96-a73 {
            margin-bottom: 0.5783rem;
            width: 1.6844rem;
            height: 0.41rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .produk-MGD {
    line-height: 1.2375;
    font-family: Poppins, 'Source Sans Pro';
    position: absolute;
    left: 38.7rem;
    top: 13.5rem;
    text-align: center;
    font-size: 4rem;
    width: 14.3rem;
    height: 5rem;
    font-weight: 600;
    color: #000000;
    white-space: nowrap;
  }
  .navbar-user-djX {
    overflow: hidden;
    background-color: #049904;
    width: 151.2rem;
    height: 9.1rem;
    position: absolute;
    left: 0;
    top: 0;

    .profil-wkD {
      cursor: pointer;
      display: flex;
      left: 125.4rem;
      top: 1.6rem;
      align-items: center;
      box-sizing: border-box;
      padding-left: 0.1rem;
      width: 19.8rem;
      height: 6rem;
      position: absolute;

      .andi-akhsanul-EDX {
        letter-spacing: -0.016rem;
        font-family: Poppins, 'Source Sans Pro';
        color: #ffff00;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.052rem;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 1.5;
      }
      .dropdown-menu-pqw {
        background-position: center;
        background-image: url('REPLACE_IMAGE:I113:4850;113:2168');
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.2rem 1.38rem 1.2rem 1.472rem;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;

        .profil-YG9 {
          width: 3.496rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .line-21-rXj {
      width: 151.2rem;
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 9.1rem;
      background-color: #000000;
    }
    .foodies-1-AYR {
      object-fit: cover;
      vertical-align: top;
      width: 30.1rem;
      height: 27.7rem;
      position: absolute;
      left: 2.1rem;
      top: 0;
    }
    .navigasi-5QV {
      display: flex;
      align-items: center;
      width: 41.45rem;
      height: 2.4rem;
      position: absolute;
      left: 76.05rem;
      top: 3.3rem;

      .home-xjB {
        cursor: pointer;
        font-size: 1.6rem;
        letter-spacing: -0.016rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.95rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
      }
      .outlet-SuF {
        line-height: 1.5;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        cursor: pointer;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        margin-right: 4.1rem;
        letter-spacing: -0.016rem;
        color: #ffffff;
        flex-shrink: 0;
      }
      .contact-9of {
        line-height: 1.5;
        letter-spacing: -0.016rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        margin-right: 3.15rem;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        flex-shrink: 0;
        cursor: pointer;
        white-space: nowrap;
      }
      .produk-49w {
        cursor: pointer;
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        margin-right: 2.95rem;
        text-align: center;
        font-size: 1.6rem;
        letter-spacing: -0.016rem;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .edukasi-y21 {
        cursor: pointer;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: -0.016rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
  }
}
