
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.user-admin-home--dMB {
  width: 100%;
  height: 240.1rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .section1-vr5 {
    width: 112.8rem;
    left: 36.6rem;
    top: 12.1rem;
    align-items: center;
    border-radius: 1.5rem;
    box-sizing: border-box;
    padding: 2.1rem 51.3rem 2.1rem 2.7rem;
    display: flex;
    background: linear-gradient(120.37deg, #42ff00 31.52%, #dfff1b 72.66%);
    height: 19.9rem;
    position: absolute;

    .mask-group-Bn1 {
      margin: 0rem 2.198rem 2.612rem 0rem;
      width: 13.002rem;
      height: 13.0883rem;
      position: relative;
      object-fit: contain;
      vertical-align: top;
      flex-shrink: 0;
    }
    .auto-group-ny9u-tgR {
      flex-direction: column;
      flex-shrink: 0;
      margin: 0rem 2.5rem 6.6rem 0rem;
      display: flex;

      .rangga-prathama-Dih {
        flex-shrink: 0;
        margin-bottom: 0.4rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .id-12923034-jh3 {
        flex-shrink: 0;
        margin-left: 0.1rem;
        font-size: 1.8rem;
        font-weight: 600;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .group-382-f4u {
      align-items: center;
      border: solid 0.2rem #f0f0f0;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;
      margin: 2rem 0rem 5rem 0rem;
      box-sizing: border-box;
      display: flex;
      padding: 1.1rem 4.3rem 2rem 1.8rem;
      height: calc(100% - 7rem);

      .desain-tanpa-judul-27-2-kc9 {
        height: 5.4rem;
        object-fit: cover;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.8rem 0.2rem 0rem;
        width: 5.8rem;
      }
      .auto-group-et55-SUy {
        flex-shrink: 0;
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;

        .pendapatan-b6y {
          margin-bottom: 0.3rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.5;
          color: #858585;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item-1250000-ihP {
          flex-shrink: 0;
          font-size: 2rem;
          font-weight: 600;
          line-height: 1.5;
          color: #1cd1a1;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .section2-KhB {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    border-radius: 1.5rem;
    background: linear-gradient(122.88deg, #44ff00 27.33%, #dfff1c 69.63%);
    padding: 2.2rem 3.5rem 5.7rem 2.8rem;
    width: 112.8rem;
    height: 78.7rem;
    left: 36.6rem;
    top: 96.2rem;
    align-items: center;
    flex-direction: column;

    .auto-group-cjhv-cAV {
      flex-shrink: 0;
      margin: 0rem 0.9rem 5.1rem 1rem;
      width: calc(100% - 1.9rem);
      display: flex;
      align-items: center;

      .transaksi-hxd {
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 77.8rem;
        font-size: 3.6rem;
        font-weight: 500;
      }
      .lihat-semua-2k1 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.3rem;
      }
    }
    .statistics-kg1 {
      padding: 4.5rem 4.1rem 4.9rem 4.9rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: #ffffff;
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;

      .auto-group-pfd5-Uc1 {
        width: calc(100% - 5rem);
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin: 0rem 4.7rem 4.8rem 0.3rem;

        .statistik-zqF {
          flex-shrink: 0;
          margin-right: 84.9rem;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
        }
        .group-96-imF {
          width: 1.6rem;
          height: 0.3733rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.3267rem;
        }
      }
      .title-assesment-report-qqs {
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 2rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 2.0833333333;
      }
      .auto-group-erhz-xvV {
        margin: 0rem 2.4rem 0.999rem 1.9rem;
        width: calc(100% - 4.3rem);
        height: 36.9009rem;
        display: flex;
        align-items: flex-end;
        flex-shrink: 0;

        .auto-group-etnf-U89 {
          flex-shrink: 0;
          margin: 0rem 2.514rem 5.401rem 0rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .item-66-yqb {
            line-height: 1.1666666667;
            color: #858585;
            font-family: Arial, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 4.3rem;
            font-size: 1.2rem;
            font-weight: 400;
          }
          .item-65-6QR {
            font-family: Arial, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 4.7rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1666666667;
            color: #858585;
          }
          .item-64-d9T {
            font-family: Arial, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 4.7rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1666666667;
            color: #858585;
          }
          .item-63-xBj {
            flex-shrink: 0;
            margin-bottom: 4.8rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1666666667;
            color: #858585;
            font-family: Arial, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-62-rnu {
            color: #858585;
            font-family: Arial, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 4.6rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1666666667;
          }
          .item-61-nAm {
            color: #858585;
            font-family: Arial, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.1666666667;
          }
        }
        .vertical-lines-grid-7D3 {
          height: 36.0872rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-right: 0.0667rem;
          opacity: 0.5;
          width: 0.091rem;
        }
        .auto-group-h5i3-RDj {
          margin: 0rem 1.638rem 0.001rem 0rem;
          width: 86.1904rem;
          height: calc(100% - 0.0009rem);
          position: relative;
          flex-shrink: 0;

          .horizontal-lines-grid-Uxh {
            align-items: center;
            display: flex;
            left: 0;
            top: 0.7764rem;
            height: 30.1169rem;
            position: absolute;
            flex-direction: column;
            opacity: 0.5;
            width: 86.1904rem;

            .line-7-Aad {
              flex-shrink: 0;
              margin: 0rem 0.074rem 5.85rem 0rem;
              width: 86.1169rem;
              height: 0.0966rem;
              object-fit: contain;
              vertical-align: top;
            }
            .line-6-sV3 {
              height: 0.0966rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.074rem 5.849rem 0rem;
              width: 86.1169rem;
            }
            .line-5-zpZ {
              height: 0.0966rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0rem 5.777rem 0.074rem;
              width: 86.1169rem;
            }
            .line-4-iVf {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin: 0rem 0.074rem 6.212rem 0rem;
              width: 86.1169rem;
              height: 0.0966rem;
            }
            .line-3-d6q {
              margin: 0rem 0rem 5.85rem 0.074rem;
              width: 86.1169rem;
              height: 0.0966rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
            .line-2-kSM {
              width: 86.1169rem;
              height: 0.0966rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-right: 0.0735rem;
            }
          }
          .shape-2-HBP {
            width: 1.6rem;
            height: 24.2rem;
            position: absolute;
            left: 2.7286rem;
            top: 12.7rem;
            background: linear-gradient(358.18deg, #60e730 113.56%, #deedef 258.3%);
            border-radius: 5.5rem 5.5rem 0 0;
          }
          .shape-3-kqf {
            top: 8.6rem;
            background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
            border-radius: 5.5rem 5.5rem 0 0;
            width: 1.7rem;
            height: 28.2rem;
            position: absolute;
            left: 9.9286rem;
          }
          .shape-4-ew3 {
            background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
            border-radius: 5.5rem 5.5rem 0 0;
            width: 1.7rem;
            height: 12.2rem;
            position: absolute;
            left: 17.6286rem;
            top: 24.7rem;
          }
          .shape-5-YFj {
            width: 1.6rem;
            height: 21rem;
            position: absolute;
            left: 25.2286rem;
            top: 15.9rem;
            background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
            border-radius: 5.5rem 5.5rem 0 0;
          }
          .shape-6-2Ro {
            height: 25.2rem;
            position: absolute;
            left: 35.2286rem;
            top: 11.5rem;
            background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
            border-radius: 5.5rem 5.5rem 0 0;
            width: 1.6rem;
          }
          .shape-7-JeD {
            height: 22.1rem;
            position: absolute;
            left: 41.7286rem;
            top: 14.8rem;
            background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
            border-radius: 5.5rem 5.5rem 0 0;
            width: 1.6rem;
          }
          .shape-8-PQm {
            background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
            border-radius: 5.5rem 5.5rem 0 0;
            width: 1.6rem;
            height: 15.9rem;
            position: absolute;
            left: 48.1286rem;
            top: 21rem;
          }
          .background-mark-explanation-sKw {
            background-color: #ffb000;
            border-radius: 0.4rem;
            width: 15.3rem;
            height: 8.6rem;
            position: absolute;
            left: 28.5286rem;
            top: 0;
          }
          .shape-9-ak9 {
            border-radius: 5.5rem 5.5rem 0 0;
            width: 1.6rem;
            height: 24.2rem;
            position: absolute;
            left: 55.4286rem;
            top: 12.7rem;
            object-fit: contain;
            vertical-align: top;
          }
          .shape-10-H8m {
            background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
            border-radius: 5.5rem 5.5rem 0 0;
            width: 1.7rem;
            height: 28.3rem;
            position: absolute;
            left: 63.2286rem;
            top: 8.6rem;
          }
          .shape-11-ko3 {
            width: 1.6rem;
            height: 29.6rem;
            position: absolute;
            left: 71.9286rem;
            top: 7.3rem;
            background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
            border-radius: 5.5rem 5.5rem 0 0;
          }
          .shape-12-EiD {
            height: 27.4rem;
            position: absolute;
            left: 79.5286rem;
            top: 9.5rem;
            background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
            border-radius: 5.5rem 5.5rem 0 0;
            width: 1.5rem;
          }
          .base-vL9 {
            top: 6.4rem;
            background-color: #ffffff;
            border-radius: 0.25rem;
            width: 13rem;
            height: 0.5rem;
            position: absolute;
            left: 29.7286rem;
          }
          .base-copy-3Qm {
            left: 29.7286rem;
            top: 6.4rem;
            background: linear-gradient(265.14deg, #009a4d 22.62%, #f2f2f2 95.9%);
            border-radius: 0.25rem;
            width: 9rem;
            height: 0.5rem;
            position: absolute;
          }
          .amount-all-8h7 {
            left: 34.2286rem;
            top: 3.9rem;
            font-size: 1rem;
            font-weight: 700;
            color: #000000;
            font-family: Arial, 'Source Sans Pro';
            white-space: nowrap;
            width: 3.8rem;
            height: 1.3rem;
            position: absolute;
            line-height: 1.2575;
            letter-spacing: 0.03rem;
          }
          .text-information-Psw {
            height: 1.3rem;
            position: absolute;
            left: 32.4286rem;
            font-weight: 700;
            color: #000000;
            font-family: Arial, 'Source Sans Pro';
            width: 6.1rem;
            font-size: 1rem;
            line-height: 1.2575;
            white-space: nowrap;
            top: 1.4rem;
          }
          .oval-4-UuP {
            left: 33.0286rem;
            top: 9.2rem;
            object-fit: contain;
            vertical-align: top;
            width: 5.9rem;
            height: 5.9rem;
            position: absolute;
          }
          .oval-5-18d {
            width: 3.6rem;
            height: 3.6rem;
            position: absolute;
            left: 34.2286rem;
            top: 10.4rem;
            object-fit: contain;
            vertical-align: top;
          }
          .oval-6-Xcm {
            top: 11.3rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.8rem;
            height: 1.8rem;
            position: absolute;
            left: 35.1286rem;
          }
        }
        .shape-13-ehP {
          margin-bottom: 0.0009rem;
          width: 1.5rem;
          height: 27.4rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
          flex-shrink: 0;
        }
      }
      .auto-group-immd-utD {
        margin-left: 6.9rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .jon-ford-dJR {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.7rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.3333333333;
        }
        .jon-ford-MER {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 3.2rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.3333333333;
        }
        .jon-ford-H85 {
          font-weight: 400;
          line-height: 1.3333333333;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.3rem;
          font-size: 1.2rem;
        }
        .jon-ford-DGd {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 7.8rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.3333333333;
        }
        .jon-ford-k1f {
          line-height: 1.3333333333;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.2rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .jon-ford-H1b {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.3rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.3333333333;
          color: #000000;
        }
        .jon-ford-QM7 {
          line-height: 1.3333333333;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 4.1rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .jon-ford-M1T {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.3333333333;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.1rem;
        }
        .jon-ford-tGH {
          line-height: 1.3333333333;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.8rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .jon-ford-pvd {
          line-height: 1.3333333333;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 2.2rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .jon-ford-a97 {
          line-height: 1.3333333333;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 1.5rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .jon-ford-Jqo {
          font-weight: 400;
          line-height: 1.3333333333;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
        }
      }
    }
  }
  .group-383-P6Z {
    width: 23.3rem;
    height: 42.2893rem;
    position: absolute;
    left: 100rem;
    top: 16.2rem;

    .rectangle-311-5zy {
      background-color: #ffffff;
      width: 22.1rem;
      left: 0;
      top: 0;
      border: solid 0.2rem #f0f0f0;
      height: 8.7rem;
      position: absolute;
      box-sizing: border-box;
      border-radius: 1rem;
    }
    .group-298-CZo {
      left: 11.8rem;
      top: 3.7rem;
      border-radius: 0.05rem;
      width: 11.5rem;
      height: 38.5893rem;
      position: absolute;

      .item-3-io3 {
        color: #1cd1a1;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 6.8994rem;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.5;
      }
      .path-2-Syw {
        border-radius: 0.05rem;
        margin: 0rem 0rem 25.356rem 3.003rem;
        width: 0.7584rem;
        height: 0.3343rem;
        object-fit: contain;
        vertical-align: top;
      }
      .item-228-xxH {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 1.3103rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2.5;
        color: #1cd1a1;
      }
    }
    .product-gtH {
      color: #858585;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      left: 11.8103rem;
      top: 1.6539rem;
      font-weight: 600;
      width: 4.8rem;
      height: 1.8rem;
      font-size: 1.2rem;
      line-height: 1.5;
    }
    .desain-tanpa-judul-28-1-Vaq {
      vertical-align: top;
      width: 8rem;
      height: 5.5rem;
      position: absolute;
      left: 1.5rem;
      top: 1.6rem;
      object-fit: cover;
    }
  }
  .group-384-obX {
    height: 42.2893rem;
    position: absolute;
    left: 123.8rem;
    top: 16.2rem;
    width: 22.1rem;

    .rectangle-311-Wkq {
      position: absolute;
      left: 0;
      border: solid 0.2rem #f0f0f0;
      box-sizing: border-box;
      background-color: #ffffff;
      border-radius: 1rem;
      width: 22.1rem;
      cursor: pointer;
      top: 0;
      height: 8.7rem;
    }
    .group-298-Dv9 {
      width: 4.8507rem;
      height: 28.6898rem;
      position: absolute;
      left: 13.1103rem;
      top: 13.5994rem;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      border-radius: 0.05rem;

      .path-2-kQH {
        flex-shrink: 0;
        margin-bottom: 25.3556rem;
        width: 0.7584rem;
        height: 0.3343rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.05rem;
      }
      .item-228-sjo {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 2.5;
        color: #1cd1a1;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.5507rem;
      }
    }
    .group-299-BVb {
      left: 10.4rem;
      top: 3.7rem;
      border-radius: 0.05rem;
      width: 11.5rem;
      height: 36.7384rem;
      position: absolute;

      .item-3-iEd {
        line-height: 1.5;
        color: #1cd1a1;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 6.3846rem;
        font-size: 2rem;
        font-weight: 600;
      }
      .path-2-Eyf {
        margin: 0rem 0rem 24.037rem 3.003rem;
        width: 0.7584rem;
        height: 0.3169rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.05rem;
      }
      .item-228-YzM {
        line-height: 2.5;
        color: #1cd1a1;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 1.3103rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
    .favorit-TrR {
      position: absolute;
      left: 10.4103rem;
      line-height: 1.5;
      font-size: 1.2rem;
      font-weight: 600;
      color: #858585;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.3rem;
      height: 1.8rem;
      top: 1.6539rem;
    }
    .desain-tanpa-judul-29-1-aAM {
      width: 5.9rem;
      height: 6.4rem;
      position: absolute;
      left: 2.3rem;
      top: 1.1rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
  .section2-sv9 {
    padding: 2.3rem 2.3rem 4.3rem 1.8rem;
    height: 52.8rem;
    left: 36.6rem;
    top: 37.7rem;
    display: flex;
    border-radius: 1.5rem;
    box-sizing: border-box;
    width: 112.8rem;
    position: absolute;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(122.88deg, #44ff00 27.33%, #dfff1c 69.63%);

    .auto-group-qqk9-APT {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 1.9rem 4.9rem 2rem;
      width: calc(100% - 3.9rem);

      .order-5mK {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 85.2rem;
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 1.5;
        color: #000000;
      }
      .lihat-semua-DMj {
        margin-top: 0.1rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.5;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .order-LSM {
      border-radius: 1rem;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      border: solid 0 #000000;
      flex-shrink: 0;
      padding: 3.1rem 2.842rem 4rem 2.895rem;
      align-items: center;
      flex-direction: column;
      background-color: #ffffff;

      .thead-4dF {
        border-radius: 10rem;
        flex-shrink: 0;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        border: solid 0.1rem #857171;
        padding: 2.9rem 3.264rem 2.2rem 3.895rem;
        width: 100%;
        background-color: #f3f3f3;

        .id-order-xyX {
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 5.838rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6341797511;
        }
        .id-kategori-tcH {
          line-height: 1.6341797511;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 5.723rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 600;
        }
        .id-product-DeZ {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 7.492rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6341797511;
          color: #000000;
        }
        .nama-product-9YD {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.1rem 6.997rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .jumlah-5Rs {
          margin: 0.1rem 7.302rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .harga-1KX {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 10.518rem 0.1rem 0rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
        }
        .status-Xof {
          flex-shrink: 0;
          margin: 0rem 8.633rem 0.1rem 0rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .action-TxD {
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 0.0219rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.6341797511;
          color: #000000;
        }
      }
      .tbody-ALq {
        margin-left: 0.7368rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .row1-gpy {
          display: flex;
          align-items: center;
          border: solid 0 #f0f0f0;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.106rem 4.173rem 2.13rem 4.316rem;
          height: 7.2rem;

          .item-1-afT {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 12.765rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .item-1-hVB {
            flex-shrink: 0;
            margin: 0rem 11.186rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-1-2GZ {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 11.712rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .lontong-Ykh {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 11.629rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .item-4-S5P {
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 8.991rem 0.176rem 0rem;
            font-size: 1.2rem;
          }
          .item-15000-LwT {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 8.728rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
          }
          .auto-group-tbbq-qtD {
            height: 100%;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            background-image: url('REPLACE_IMAGE:413:3734');
            font-weight: 700;
            line-height: 1.5;
            color: #ffffff;
            display: flex;
            flex-shrink: 0;
            margin-right: 6.3549rem;
            width: 9.5804rem;
            font-size: 1.2rem;
            background-position: center;
            justify-content: center;
            background-size: cover;
            background-repeat: no-repeat;
          }
          .titik-dropdown-753 {
            height: 0.41rem;
            cursor: pointer;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-top: 0.0342rem;
            width: 1.6845rem;
          }
        }
        .row2-oyT {
          border: solid 0 #f0f0f0;
          background-color: #ffffff;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.106rem 4.316rem 2.13rem 4.316rem;
          height: 7.2rem;
          display: flex;
          align-items: center;

          .item-1-uWh {
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 12.765rem 0.176rem 0rem;
            font-size: 1.2rem;
          }
          .item-1-cvu {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 11.186rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
          }
          .item-1-k1X {
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 11.712rem 0.176rem 0rem;
            font-size: 1.2rem;
          }
          .lontong-f8V {
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 11.629rem 0.176rem 0rem;
          }
          .item-4-Nob {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 8.991rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
          }
          .item-15000-VdK {
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 8.728rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
          }
          .auto-group-uo31-15s {
            font-size: 1.2rem;
            font-weight: 700;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            background-repeat: no-repeat;
            margin-right: 6.2114rem;
            line-height: 1.5;
            background-position: center;
            height: 100%;
            background-size: cover;
            background-image: url('REPLACE_IMAGE:413:3748');
            flex-shrink: 0;
            width: 9.5804rem;
            display: flex;
          }
          .group-96-UEM {
            margin-bottom: 0.5783rem;
            width: 1.6845rem;
            height: 0.41rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .row3-mDT {
          padding: 2.106rem 4.316rem 2.13rem 4.316rem;
          height: 7.2rem;
          display: flex;
          align-items: center;
          border: solid 0 #f0f0f0;
          background-color: #ffffff;
          margin-right: 0.1053rem;
          box-sizing: border-box;
          flex-shrink: 0;

          .item-1-2v5 {
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 12.765rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
          }
          .item-1-YdX {
            flex-shrink: 0;
            margin: 0rem 11.186rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-1-fCM {
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 11.712rem 0.176rem 0rem;
          }
          .lontong-yiq {
            margin: 0rem 11.629rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .item-4-u6h {
            flex-shrink: 0;
            margin: 0rem 8.991rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
          }
          .item-15000-pDf {
            font-family: Poppins, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin: 0rem 8.728rem 0.176rem 0rem;
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
            color: #000000;
          }
          .auto-group-fcaw-KRK {
            height: 100%;
            font-family: Poppins, 'Source Sans Pro';
            justify-content: center;
            background-size: cover;
            background-repeat: no-repeat;
            font-weight: 700;
            color: #ffffff;
            background-position: center;
            flex-shrink: 0;
            margin-right: 6.2114rem;
            white-space: nowrap;
            width: 9.5804rem;
            font-size: 1.2rem;
            line-height: 1.5;
            display: flex;
            align-items: center;
            background-image: url('REPLACE_IMAGE:413:3762');
          }
          .group-96-PRB {
            margin-bottom: 0.5783rem;
            width: 1.6845rem;
            height: 0.41rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
    }
  }
  .footer-Nnu {
    width: 151.2rem;
    height: 62.6rem;
    position: absolute;
    left: 0;
    top: 177.5rem;

    .footer-JRf {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 13.2rem 7rem 3rem 7rem;
      position: absolute;
      left: 0;
      top: 6.2rem;
      overflow: hidden;
      background-color: #049904;
      box-sizing: border-box;
      width: 151.2rem;
      height: 56.4rem;

      .pemisah-ma9 {
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
        margin-bottom: 1.6rem;
      }
      .isi-footer-tuf {
        margin: 0rem 15.3rem 2.4rem 2.8rem;
        width: calc(100% - 18.1rem);
        height: 26.2rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .quotes-CfT {
          height: 100%;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-n8gs-YzD {
            margin-bottom: 0.6rem;
            width: 6.9001rem;
            height: 2.4rem;
            position: relative;
            flex-shrink: 0;

            .tagline-HB7 {
              top: 0;
              white-space: nowrap;
              letter-spacing: -0.016rem;
              color: #ffffff;
              font-family: Arial, 'Source Sans Pro';
              height: 2.4rem;
              position: absolute;
              display: flex;
              line-height: 1.5;
              width: 6.4rem;
              align-items: baseline;
              font-size: 1.6rem;
              font-weight: 700;
              left: 0.3rem;
              justify-content: center;

              .tagline-HB7-sub-0 {
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
              }
              .tagline-HB7-sub-1 {
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffff00;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
              }
            }
            .line-23-T7X {
              width: 6.9001rem;
              height: 0;
              position: absolute;
              left: 0;
              top: 2.225rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .tujuan-kami-bukan-menciptakan-bisnis-yang-besar-tetapi-membangun-sesuatu-yang-membuat-perubahan-besar-P1B {
            margin-bottom: 0.8rem;
            font-style: italic;
            font-family: Poppins, 'Source Sans Pro';
            flex-shrink: 0;
            color: #ffffff;
            max-width: 25.9rem;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.8461538462;
            letter-spacing: -0.013rem;
          }
          .semua-impian-kita-menjadi-kanyataan-jika-kita-mempunyai-keberanian-unutk-mengerjakannya-walt-disney-RTf {
            font-size: 1.3rem;
            letter-spacing: -0.013rem;
            flex-shrink: 0;
            margin: 0rem 0rem 0.8rem 5.3rem;
            font-weight: 400;
            line-height: 1.8461538462;
            font-style: italic;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            max-width: 25.7rem;
          }
          .wirausahawan-sejadi-meciptakan-peluang-bisnis-sedangkan-wirausahawan-bisa-fokus-mengejar-uang-fcu {
            flex-shrink: 0;
            margin-left: 13.5rem;
            max-width: 28.1rem;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.8461538462;
            letter-spacing: -0.013rem;
            font-family: Poppins, 'Source Sans Pro';
            font-style: italic;
            color: #ffffff;
          }
        }
        .auto-group-i1ru-vHw {
          align-items: flex-start;
          flex-shrink: 0;
          box-sizing: border-box;
          padding-left: 7.4rem;
          height: 100%;
          display: flex;

          .about-us-3tM {
            width: 25.5rem;
            row-gap: 0.6rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 12.8rem;

            .auto-group-ezhq-Mu3 {
              width: 7.4rem;
              height: 2.4rem;
              position: relative;
              flex-shrink: 0;

              .line-24-6Lq {
                position: absolute;
                left: 0;
                top: 2.2123rem;
                object-fit: contain;
                vertical-align: top;
                width: 7.4rem;
                height: 0;
              }
              .aboutus-EC9 {
                top: 0;
                font-size: 1.6rem;
                letter-spacing: -0.016rem;
                width: 7rem;
                left: 0.2rem;
                display: flex;
                align-items: baseline;
                color: #ffffff;
                justify-content: center;
                font-family: Arial, 'Source Sans Pro';
                height: 2.4rem;
                position: absolute;
                font-weight: 700;
                line-height: 1.5;
                white-space: nowrap;

                .aboutus-EC9-sub-0 {
                  letter-spacing: -0.016rem;
                  color: #ffffff;
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                }
                .aboutus-EC9-sub-1 {
                  font-family: Poppins, 'Source Sans Pro';
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  color: #ffff00;
                }
              }
            }
            .group-263-G2M {
              display: flex;
              align-items: flex-start;
              flex-shrink: 0;
              margin-left: 0.1rem;
              box-sizing: border-box;
              padding-left: 0.3125rem;
              width: calc(100% - 0.1rem);

              .location-nWV {
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.725rem 0.513rem 0rem 0rem;
                width: 0.875rem;
                height: 1.3028rem;
                object-fit: contain;
              }
              .jl-dharmawangsa-no138-d-airlangga-kec-gubeng-surabaya-jawa-timur-60282-HTF {
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                max-width: 23.7rem;
                font-size: 1.4rem;
                font-weight: 400;
                line-height: 1.7142857143;
                letter-spacing: -0.014rem;
                color: #ffffff;
              }
            }
            .group-264-wnh {
              margin-right: 3.6rem;
              width: calc(100% - 3.6rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .icon-envelope-closed-5P7 {
                width: 1.6rem;
                height: 1.2rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin: 0.2rem 0.5rem 0rem 0rem;
              }
              .foodysbussinesgmailcom-n2d {
                line-height: 1.7142857143;
                font-family: Poppins, 'Source Sans Pro';
                flex-shrink: 0;
                color: #ffffff;
                white-space: nowrap;
                display: flex;
                font-size: 1.4rem;
                font-weight: 400;
                letter-spacing: -0.014rem;
              }
            }
            .group-265-gNu {
              width: calc(100% - 13.5rem);
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-right: 13.5rem;
              box-sizing: border-box;
              padding-left: 0.1333rem;

              .calling-c1f {
                margin: 0rem 0.633rem 0.1rem 0rem;
                width: 1.3333rem;
                height: 1.25rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
              .item-0274-2885822-vY9 {
                letter-spacing: -0.014rem;
                flex-shrink: 0;
                font-size: 1.4rem;
                font-weight: 400;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                line-height: 1.7142857143;
                font-style: italic;
              }
            }
          }
          .comunity-EYq {
            margin-right: 7.9954rem;
            width: 9.7046rem;
            flex-shrink: 0;

            .comunity-NQ9 {
              line-height: 1.5;
              white-space: nowrap;
              align-items: baseline;
              margin: 0rem 0rem 0.1rem 1.2rem;
              font-size: 1.6rem;
              color: #ffffff;
              font-family: Arial, 'Source Sans Pro';
              display: flex;
              font-weight: 700;
              letter-spacing: -0.016rem;

              .comunity-NQ9-sub-0 {
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
              }
              .comunity-NQ9-sub-1 {
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                color: #ffff00;
                font-family: Poppins, 'Source Sans Pro';
              }
            }
            .line-26-tmo {
              height: 0.1rem;
              background-color: #000000;
              margin-bottom: 1.4rem;
              width: 100%;
            }
            .group-266-SYR {
              vertical-align: top;
              width: 6.7rem;
              height: 3rem;
              position: relative;
              object-fit: contain;
            }
          }
          .sosmed-Bku {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-top: 0.1rem;

            .social-media-8AM {
              align-items: baseline;
              flex-shrink: 0;
              margin-left: 0.2rem;
              font-size: 1.6rem;
              font-weight: 700;
              color: #ffffff;
              font-family: Arial, 'Source Sans Pro';
              white-space: nowrap;
              line-height: 1.5;
              letter-spacing: -0.016rem;
              display: flex;

              .social-media-8AM-sub-0 {
                letter-spacing: -0.016rem;
                color: #ffffff;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
              }
              .social-media-8AM-sub-1 {
                letter-spacing: -0.016rem;
                color: #ffff00;
                font-family: Poppins, 'Source Sans Pro';
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
              }
            }
            .line-25-RHs {
              flex-shrink: 0;
              margin-bottom: 1.4rem;
              width: 10.0045rem;
              height: 0.1rem;
              background-color: #000000;
            }
            .list-sosmed-YdP {
              width: 14.1rem;
              height: 3rem;
              position: relative;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
      }
      .pemisah-5dK {
        margin-bottom: 3.3rem;
        width: 100%;
        height: 0.1rem;
        background-color: #000000;
        flex-shrink: 0;
      }
      .mark-list-oZK {
        margin: 0rem 21.2rem 0rem 33.9rem;
        width: calc(100% - 55.1rem);
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .copyright-2023-by-foodys-all-rights-reserved-7pu {
          line-height: 1.8461538462;
          letter-spacing: -0.013rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 9.6rem 1.7rem 0rem;
          font-size: 1.3rem;
          font-weight: 700;
          color: #ffffff;
        }
        .terima-kasih-telah-mengunjungi-foodys-jangan-ragu-untuk-menghubungi-kami-jika-anda-memiliki-pertanyaan-atau-saran-PnR {
          font-size: 1.3rem;
          font-weight: 700;
          line-height: 1.8461538462;
          letter-spacing: -0.013rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .foodies-1-fjw {
      width: 30.1rem;
      height: 27.7rem;
      position: absolute;
      left: 7.2rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .line-22-Pvq {
      background-color: #000000;
      width: 151.2rem;
      height: 0.2rem;
      position: absolute;
      left: 0;
      top: 6.2rem;
    }
  }
  .sidebar-7rq {
    box-sizing: border-box;
    padding: 3.4rem 1.1rem 149.9rem 1.1rem;
    width: 32.2rem;
    height: 174.6rem;
    align-items: center;
    flex-direction: column;
    background-color: #3dbc3d;
    position: absolute;
    left: 0;
    top: 9.1rem;
    display: flex;

    .footer-button-user-my-foodys--nxy {
      width: 28.6rem;
      height: 5rem;
      position: relative;
      flex-shrink: 0;
      margin: 0rem 1.4rem 0.5rem 0rem;

      .rectangle-119-uXo {
        position: absolute;
        background-color: #ffffff;
        border-radius: 1.4rem;
        width: 28.6rem;
        height: 4.6rem;
        left: 0;
        top: 0.2rem;
        border: solid 0.3rem #ffb000;
        box-sizing: border-box;
      }
      .dasboard-CWu {
        height: 5rem;
        left: 9.1rem;
        font-weight: 700;
        color: #ffb000;
        white-space: nowrap;
        font-family: Poppins, 'Source Sans Pro';
        width: 10.2rem;
        position: absolute;
        top: 0;
        text-align: center;
        font-size: 2rem;
        line-height: 2.475;
      }
    }
    .footer-button-user-my-foodys--hiZ {
      margin: 0rem 1.4rem 0.3rem 0rem;
      width: 28.6rem;
      height: 5rem;
      cursor: pointer;
      position: relative;
      flex-shrink: 0;

      .rectangle-119-Qss {
        width: 28.6rem;
        height: 4.6rem;
        position: absolute;
        left: 0;
        top: 0.2rem;
        background-color: #ffb000;
        border-radius: 1.4rem;
      }
      .dasboard-jfF {
        top: 0;
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.475;
        white-space: nowrap;
        width: 7rem;
        height: 5rem;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        position: absolute;
        left: 10.7rem;
      }
    }
    .footer-button-user-my-foodys--SpZ {
      flex-shrink: 0;
      margin: 0rem 1.4rem 0.5rem 0rem;
      width: 28.6rem;
      height: 5rem;
      cursor: pointer;
      position: relative;

      .rectangle-119-9ys {
        width: 28.6rem;
        height: 4.6rem;
        position: absolute;
        left: 0;
        top: 0.2rem;
        background-color: #ffb000;
        border-radius: 1.4rem;
      }
      .dasboard-gU1 {
        height: 5rem;
        left: 9.1rem;
        top: 0;
        text-align: center;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        width: 10.2rem;
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.475;
        white-space: nowrap;
        position: absolute;
      }
    }
    .footer-button-user-my-foodys--PdK {
      margin-right: 1.4rem;
      width: 28.6rem;
      height: 5rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-119-XDj {
        position: absolute;
        left: 0;
        top: 0.2rem;
        background-color: #ffb000;
        border-radius: 1.4rem;
        width: 28.6rem;
        height: 4.6rem;
        cursor: pointer;
      }
      .dasboard-eZF {
        position: absolute;
        left: 10.5rem;
        top: 0;
        text-align: center;
        font-size: 2rem;
        line-height: 2.475;
        color: #ffffff;
        width: 7.4rem;
        height: 5rem;
        font-weight: 700;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .navbar-user-wYM {
    overflow: hidden;
    background-color: #049904;
    width: 151.2rem;
    height: 9.1rem;
    position: absolute;
    left: 0;
    top: 0;

    .profil-fjF {
      width: 19.8rem;
      position: absolute;
      left: 125.4rem;
      display: flex;
      align-items: center;
      box-sizing: border-box;
      padding-left: 0.1rem;
      height: 6rem;
      cursor: pointer;
      top: 1.6rem;

      .andi-akhsanul-yE9 {
        color: #ffff00;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.6rem;
        letter-spacing: -0.016rem;
        font-weight: 900;
        line-height: 1.5;
        flex-shrink: 0;
        margin-right: 1.052rem;
        text-align: center;
      }
      .dropdown-menu-Uwb {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url('REPLACE_IMAGE:I113:4465;113:2168');
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.2rem 1.38rem 1.2rem 1.472rem;
        height: 100%;

        .profil-D8V {
          width: 3.496rem;
          height: 3.6rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
    }
    .line-21-929 {
      width: 151.2rem;
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 9.1rem;
      background-color: #000000;
    }
    .foodies-1-fmB {
      object-fit: cover;
      vertical-align: top;
      width: 30.1rem;
      height: 27.7rem;
      position: absolute;
      left: 2.1rem;
      top: 0;
    }
    .navigasi-beq {
      position: absolute;
      left: 76.05rem;
      top: 3.3rem;
      display: flex;
      align-items: center;
      width: 41.45rem;
      height: 2.4rem;

      .home-K53 {
        color: #ffffff;
        cursor: pointer;
        font-size: 1.6rem;
        font-weight: 700;
        letter-spacing: -0.016rem;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 3.95rem;
        text-align: center;
        line-height: 1.5;
        font-family: Inter, 'Source Sans Pro';
      }
      .outlet-RNy {
        cursor: pointer;
        line-height: 1.5;
        letter-spacing: -0.016rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 4.1rem;
        text-align: center;
        font-size: 1.6rem;
        font-weight: 700;
        white-space: nowrap;
      }
      .contact-8YH {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-right: 3.15rem;
        cursor: pointer;
        text-align: center;
        letter-spacing: -0.016rem;
        color: #ffffff;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.5;
      }
      .produk-Fso {
        color: #ffffff;
        cursor: pointer;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: -0.016rem;
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 2.95rem;
        text-align: center;
        font-size: 1.6rem;
        font-family: Inter, 'Source Sans Pro';
      }
      .edukasi-BWZ {
        text-align: center;
        font-size: 1.6rem;
        line-height: 1.5;
        letter-spacing: -0.016rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        cursor: pointer;
        white-space: nowrap;
        font-weight: 700;
      }
    }
  }
}
