
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.user-admin-favorit-i1P {
  width: 100%;
  height: 135.8rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}

.fd img{
  height: 60px;
  margin-top: 10px;
  margin-left: 65px;
  width: 150px;
}
.user-admin-favorit-i1P .footer-paD {
  width: 151.2rem;
  height: 62.6rem;
  position: absolute;
  left: 0;
  top: 73.2rem;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH {
  box-sizing: border-box;
  padding: 13.2rem 7rem 3rem 7rem;
  width: 151.2rem;
  height: 56.4rem;
  position: absolute;
  left: 0;
  top: 6.2rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #049904;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .pemisah-C4y {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 {
  margin: 0rem 15.3rem 2.4rem 2.8rem;
  width: calc(100% - 18.1rem);
  height: 26.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .quotes-ps3 {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .quotes-ps3 .auto-group-wmhd-Ndf {
  margin-bottom: 0.6rem;
  width: 6.9001rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .quotes-ps3 .auto-group-wmhd-Ndf .tagline-hfw {
  width: 6.4rem;
  height: 2.4rem;
  position: absolute;
  left: 0.3rem;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .quotes-ps3 .auto-group-wmhd-Ndf .tagline-hfw .tagline-hfw-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .quotes-ps3 .auto-group-wmhd-Ndf .tagline-hfw .tagline-hfw-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .quotes-ps3 .auto-group-wmhd-Ndf .line-23-UCq {
  width: 6.9001rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 2.225rem;
  object-fit: contain;
  vertical-align: top;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .quotes-ps3 .tujuan-kami-bukan-menciptakan-bisnis-yang-besar-tetapi-membangun-sesuatu-yang-membuat-perubahan-besar-Np1 {
  margin-bottom: 0.8rem;
  max-width: 25.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .quotes-ps3 .semua-impian-kita-menjadi-kanyataan-jika-kita-mempunyai-keberanian-unutk-mengerjakannya-walt-disney-cTT {
  margin: 0rem 0rem 0.8rem 5.3rem;
  max-width: 25.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .quotes-ps3 .wirausahawan-sejadi-meciptakan-peluang-bisnis-sedangkan-wirausahawan-bisa-fokus-mengejar-uang-FFX {
  margin-left: 13.5rem;
  max-width: 28.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK {
  box-sizing: border-box;
  padding-left: 7.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .about-us-Dbf {
  margin-right: 12.8rem;
  width: 25.5rem;
  row-gap: 0.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .about-us-Dbf .auto-group-jzsq-XcM {
  width: 7.4rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .about-us-Dbf .auto-group-jzsq-XcM .line-24-sRK {
  width: 7.4rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 2.2123rem;
  object-fit: contain;
  vertical-align: top;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .about-us-Dbf .auto-group-jzsq-XcM .aboutus-CTb {
  width: 7rem;
  height: 2.4rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .about-us-Dbf .auto-group-jzsq-XcM .aboutus-CTb .aboutus-CTb-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .about-us-Dbf .auto-group-jzsq-XcM .aboutus-CTb .aboutus-CTb-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .about-us-Dbf .group-263-dSR {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding-left: 0.3125rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .about-us-Dbf .group-263-dSR .location-wi1 {
  margin: 0.725rem 0.513rem 0rem 0rem;
  width: 0.875rem;
  height: 1.3028rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .about-us-Dbf .group-263-dSR .jl-dharmawangsa-no138-d-airlangga-kec-gubeng-surabaya-jawa-timur-60282-3W9 {
  max-width: 23.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .about-us-Dbf .group-264-i6V {
  margin-right: 3.6rem;
  width: calc(100% - 3.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .about-us-Dbf .group-264-i6V .icon-envelope-closed-eVw {
  margin: 0.2rem 0.5rem 0rem 0rem;
  width: 1.6rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .about-us-Dbf .group-264-i6V .foodysbussinesgmailcom-kJ5 {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .about-us-Dbf .group-265-3ny {
  margin-right: 13.5rem;
  box-sizing: border-box;
  padding-left: 0.1333rem;
  width: calc(100% - 13.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .about-us-Dbf .group-265-3ny .calling-NqF {
  margin: 0rem 0.633rem 0.1rem 0rem;
  width: 1.3333rem;
  height: 1.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .about-us-Dbf .group-265-3ny .item-0274-2885822-h6q {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .comunity-nPB {
  margin-right: 7.9954rem;
  width: 9.7046rem;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .comunity-nPB .comunity-i1w {
  margin: 0rem 0rem 0.1rem 1.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .comunity-nPB .comunity-i1w .comunity-i1w-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .comunity-nPB .comunity-i1w .comunity-i1w-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .comunity-nPB .line-26-Bpd {
  margin-bottom: 1.4rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .comunity-nPB .group-266-Kfw {
  width: 6.7rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .sosmed-rfs {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .sosmed-rfs .social-media-QSV {
  margin-left: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .sosmed-rfs .social-media-QSV .social-media-QSV-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .sosmed-rfs .social-media-QSV .social-media-QSV-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .sosmed-rfs .line-25-6Cq {
  margin-bottom: 1.4rem;
  width: 10.0045rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .isi-footer-ip1 .auto-group-bb6b-hdK .sosmed-rfs .list-sosmed-qZj {
  width: 14.1rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .pemisah-NJm {
  margin-bottom: 3.3rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .mark-list-uJh {
  margin: 0rem 21.2rem 0rem 33.9rem;
  width: calc(100% - 55.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .mark-list-uJh .copyright-2023-by-foodys-all-rights-reserved-1cd {
  margin: 0rem 9.6rem 1.7rem 0rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .footer-jSH .mark-list-uJh .terima-kasih-telah-mengunjungi-foodys-jangan-ragu-untuk-menghubungi-kami-jika-anda-memiliki-pertanyaan-atau-saran-56h {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .footer-paD .foodies-1-vND {
  width: 30.1rem;
  height: 27.7rem;
  position: absolute;
  left: 7.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.user-admin-favorit-i1P .footer-paD .line-22-SLZ {
  width: 151.2rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 6.2rem;
  background-color: #000000;
}
.user-admin-favorit-i1P .sidebar-m7w {
  box-sizing: border-box;
  padding: 3.4rem 1.1rem 45.6rem 1.1rem;
  width: 32.2rem;
  height: 70.3rem;
  position: absolute;
  left: 0;
  top: 9.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #3dbc3d;
}
.user-admin-favorit-i1P .sidebar-m7w .footer-button-user-my-foodys--2pZ {
  margin: 0rem 1.4rem 0.5rem 0rem;
  width: 28.6rem;
  height: 5rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .sidebar-m7w .footer-button-user-my-foodys--2pZ .rectangle-119-jDB {
  width: 28.6rem;
  height: 4.6rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  border: solid 0.3rem #ffb000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.4rem;
}
.user-admin-favorit-i1P .sidebar-m7w .footer-button-user-my-foodys--2pZ .dasboard-cnm {
  width: 10.2rem;
  height: 5rem;
  position: absolute;
  left: 9.1rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.475;
  color: #ffb000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-favorit-i1P .sidebar-m7w .footer-button-user-my-foodys--ums {
  margin: 0rem 1.4rem 0.3rem 0rem;
  width: 28.6rem;
  height: 5rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .sidebar-m7w .footer-button-user-my-foodys--ums .rectangle-119-cgH {
  width: 28.6rem;
  height: 4.6rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  background-color: #ffb000;
  border-radius: 1.4rem;
}
.user-admin-favorit-i1P .sidebar-m7w .footer-button-user-my-foodys--ums .dasboard-XHT {
  width: 7rem;
  height: 5rem;
  position: absolute;
  left: 10.7rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.475;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-favorit-i1P .sidebar-m7w .footer-button-user-my-foodys--cph {
  margin: 0rem 1.4rem 0.5rem 0rem;
  width: 28.6rem;
  height: 5rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .sidebar-m7w .footer-button-user-my-foodys--cph .rectangle-119-iMw {
  width: 28.6rem;
  height: 4.6rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  background-color: #ffb000;
  border-radius: 1.4rem;
}
.user-admin-favorit-i1P .sidebar-m7w .footer-button-user-my-foodys--cph .dasboard-E5P {
  width: 10.2rem;
  height: 5rem;
  position: absolute;
  left: 9.1rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.475;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-favorit-i1P .sidebar-m7w .footer-button-user-my-foodys--vU1 {
  margin-right: 1.4rem;
  width: 28.6rem;
  height: 5rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .sidebar-m7w .footer-button-user-my-foodys--vU1 .rectangle-119-SBT {
  width: 28.6rem;
  height: 4.6rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  background-color: #ffb000;
  border-radius: 1.4rem;
}
.user-admin-favorit-i1P .sidebar-m7w .footer-button-user-my-foodys--vU1 .dasboard-Xih {
  width: 7.4rem;
  height: 5rem;
  position: absolute;
  left: 10.5rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.475;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-favorit-i1P .favorit-R3P {
  width: 13.8rem;
  height: 5rem;
  position: absolute;
  left: 36.2rem;
  top: 12.3rem;
  text-align: center;
  font-size: 3.9rem;
  font-weight: 600;
  line-height: 1.2692307692;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-favorit-i1P .section2-K8m {
  box-sizing: border-box;
  padding: 2.8rem 2.3rem 6.9rem 1.8rem;
  width: 112.8rem;
  height: 52.8rem;
  position: absolute;
  left: 35.4rem;
  top: 20.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(122.88deg, #44ff00 27.33%, #dfff1c 69.63%);
  border-radius: 1.5rem;
}
.user-admin-favorit-i1P .section2-K8m .auto-group-cjby-no3 {
  margin: 0rem 0.471rem 2.3rem 1rem;
  width: calc(100% - 1.4706rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .auto-group-cjby-no3 .auto-group-osz5-ucm {
  margin: 0rem 81.7rem 1.2rem 0rem;
  width: 15.5rem;
  height: 3.7rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6341797113;
  color: #ffb000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .auto-group-cjby-no3 .group-387-ZBX {
  margin-top: 2.1rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .auto-group-cjby-no3 .group-387-ZBX .icon-left-h2q {
  margin: 0rem 0.944rem 0.044rem 0rem;
  width: 2.756rem;
  height: 2.756rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .auto-group-cjby-no3 .group-387-ZBX .item-1-1-PgM {
  margin-right: 1.7294rem;
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.6341797324;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .auto-group-cjby-no3 .group-387-ZBX .item-1-1-PgM .item-1-1-PgM-sub-0 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.6341797324;
  color: #ffb000;
  font-family: Poppins, 'Source Sans Pro';
}
.user-admin-favorit-i1P .section2-K8m .auto-group-cjby-no3 .group-387-ZBX .item-1-1-PgM .item-1-1-PgM-sub-1 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1.6341797324;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.user-admin-favorit-i1P .section2-K8m .auto-group-cjby-no3 .group-387-ZBX .icon-left-Fry {
  margin-bottom: 0.0444rem;
  width: 2.7rem;
  height: 2.7556rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq {
  box-sizing: border-box;
  padding: 3.1rem 2.843rem 4rem 2.895rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0 #000000;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .thead-sdT {
  box-sizing: border-box;
  padding: 2.9rem 4.464rem 2.161rem 3.895rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #857171;
  background-color: #f3f3f3;
  border-radius: 10rem;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .thead-sdT .id-favorit-nkR {
  margin: 0rem 5.038rem 0.139rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .thead-sdT .id-kategori-Veq {
  margin: 0rem 5.723rem 0.139rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .thead-sdT .id-product-ofX {
  margin: 0rem 8.992rem 0.139rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .thead-sdT .nama-product-uiZ {
  margin: 0rem 17.499rem 0.139rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .thead-sdT .harga-RB7 {
  margin: 0rem 21.951rem 0.139rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .thead-sdT .action-8bK {
  margin-top: 0.1391rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq {
  margin-left: 0.7369rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row1-wof {
  box-sizing: border-box;
  padding: 2.6rem 5.316rem 2.8rem 4.316rem;
  display: flex;
  align-items: center;
  border: solid 0 #f0f0f0;
  background-color: #ffffff;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row1-wof .item-1-TGD {
  margin-right: 12.7651rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row1-wof .item-1-mnh {
  margin-right: 11.1859rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row1-wof .item-1-WEV {
  margin-right: 13.1123rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row1-wof .lontong-2yX {
  margin-right: 20.0196rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row1-wof .item-15000-MF7 {
  margin-right: 23.5199rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row1-wof .group-96-5B7 {
  margin-bottom: 0.4025rem;
  width: 1.6845rem;
  height: 0.41rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row2-BE9 {
  box-sizing: border-box;
  padding: 2.6rem 5.216rem 2.8rem 4.316rem;
  display: flex;
  align-items: center;
  border: solid 0 #f0f0f0;
  background-color: #ffffff;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row2-BE9 .item-2-gwb {
  margin-right: 12.5651rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row2-BE9 .item-1-pnu {
  margin-right: 11.1859rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row2-BE9 .item-1-N3j {
  margin-right: 13.1123rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row2-BE9 .lontong-6kR {
  margin-right: 20.0196rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row2-BE9 .item-15000-qT7 {
  margin-right: 23.6199rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row2-BE9 .group-96-yJR {
  margin-bottom: 0.4025rem;
  width: 1.6845rem;
  height: 0.41rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row3-gid {
  margin-right: 0.1053rem;
  box-sizing: border-box;
  padding: 2.6rem 4.916rem 2.8rem 4.316rem;
  display: flex;
  align-items: center;
  border: solid 0 #f0f0f0;
  background-color: #ffffff;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row3-gid .item-3-BvH {
  margin-right: 12.4651rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row3-gid .item-1-XUM {
  margin-right: 11.1859rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row3-gid .item-1-rmX {
  margin-right: 13.1123rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row3-gid .lontong-QHF {
  margin-right: 20.0196rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row3-gid .item-15000-9Vj {
  margin-right: 23.9199rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .section2-K8m .order-kYq .tbody-QYq .row3-gid .group-96-HM3 {
  margin-bottom: 0.4025rem;
  width: 1.6845rem;
  height: 0.41rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .navbar-user-K2q {
  width: 151.2rem;
  height: 9.1rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #049904;
}
.user-admin-favorit-i1P .navbar-user-K2q .profil-SdF {
  box-sizing: border-box;
  padding-left: 0.1rem;
  width: 19.8rem;
  height: 6rem;
  cursor: pointer;
  position: absolute;
  left: 125.4rem;
  top: 1.6rem;
  display: flex;
  align-items: center;
}
.user-admin-favorit-i1P .navbar-user-K2q .profil-SdF .andi-akhsanul-wpu {
  margin-right: 1.052rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .navbar-user-K2q .profil-SdF .dropdown-menu-3sw {
  box-sizing: border-box;
  padding: 1.2rem 1.38rem 1.2rem 1.472rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-6-epH.png');
  flex-shrink: 0;
}
.user-admin-favorit-i1P .navbar-user-K2q .profil-SdF .dropdown-menu-3sw .profil-n4q {
  width: 3.496rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
}
.user-admin-favorit-i1P .navbar-user-K2q .line-21-777 {
  width: 151.2rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 9.1rem;
  background-color: #000000;
}
.user-admin-favorit-i1P .navbar-user-K2q .foodies-1-EhX {
  width: 30.1rem;
  height: 27.7rem;
  position: absolute;
  left: 2.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.user-admin-favorit-i1P .navbar-user-K2q .navigasi-ZE1 {
  width: 41.45rem;
  height: 2.4rem;
  position: absolute;
  left: 76.05rem;
  top: 3.3rem;
  display: flex;
  align-items: center;
}
.user-admin-favorit-i1P .navbar-user-K2q .navigasi-ZE1 .home-TaH {
  margin-right: 3.95rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .navbar-user-K2q .navigasi-ZE1 .outlet-MvZ {
  margin-right: 4.1rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .navbar-user-K2q .navigasi-ZE1 .contact-55s {
  margin-right: 3.15rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .navbar-user-K2q .navigasi-ZE1 .produk-mzH {
  margin-right: 2.95rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-favorit-i1P .navbar-user-K2q .navigasi-ZE1 .edukasi-5zy {
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
