
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.user-admin-home--dMB {
  width: 100%;
  height: 240.1rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.fd img{
  height: 60px;
  margin-top: 10px;
  margin-left: 65px;
  width: 150px;
}
.user-admin-home--dMB .section1-vr5 {
  box-sizing: border-box;
  padding: 2.1rem 51.3rem 2.1rem 2.7rem;
  width: 112.8rem;
  height: 19.9rem;
  position: absolute;
  left: 36.6rem;
  top: 12.1rem;
  display: flex;
  align-items: center;
  background: linear-gradient(120.37deg, #42ff00 31.52%, #dfff1b 72.66%);
  border-radius: 1.5rem;
}
.user-admin-home--dMB .section1-vr5 .mask-group-Bn1 {
  margin: 0rem 2.198rem 2.612rem 0rem;
  width: 13.002rem;
  height: 13.0883rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-home--dMB .section1-vr5 .auto-group-ny9u-tgR {
  margin: 0rem 2.5rem 6.6rem 0rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.user-admin-home--dMB .section1-vr5 .auto-group-ny9u-tgR .rangga-prathama-Dih {
  margin-bottom: 0.4rem;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section1-vr5 .auto-group-ny9u-tgR .id-12923034-jh3 {
  margin-left: 0.1rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section1-vr5 .group-382-f4u {
  margin: 2rem 0rem 5rem 0rem;
  box-sizing: border-box;
  padding: 1.1rem 4.3rem 2rem 1.8rem;
  height: calc(100% - 7rem);
  display: flex;
  align-items: center;
  border: solid 0.2rem #f0f0f0;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.user-admin-home--dMB .section1-vr5 .group-382-f4u .desain-tanpa-judul-27-2-kc9 {
  margin: 0rem 0.8rem 0.2rem 0rem;
  width: 5.8rem;
  height: 5.4rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-home--dMB .section1-vr5 .group-382-f4u .auto-group-et55-SUy {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.user-admin-home--dMB .section1-vr5 .group-382-f4u .auto-group-et55-SUy .pendapatan-b6y {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #858585;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section1-vr5 .group-382-f4u .auto-group-et55-SUy .item-1250000-ihP {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #1cd1a1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB {
  box-sizing: border-box;
  padding: 2.2rem 3.5rem 5.7rem 2.8rem;
  width: 112.8rem;
  height: 78.7rem;
  position: absolute;
  left: 36.6rem;
  top: 96.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(122.88deg, #44ff00 27.33%, #dfff1c 69.63%);
  border-radius: 1.5rem;
}
.user-admin-home--dMB .section2-KhB .auto-group-cjhv-cAV {
  margin: 0rem 0.9rem 5.1rem 1rem;
  width: calc(100% - 1.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .auto-group-cjhv-cAV .transaksi-hxd {
  margin-right: 77.8rem;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .auto-group-cjhv-cAV .lihat-semua-2k1 {
  margin-top: 0.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 {
  box-sizing: border-box;
  padding: 4.5rem 4.1rem 4.9rem 4.9rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-pfd5-Uc1 {
  margin: 0rem 4.7rem 4.8rem 0.3rem;
  width: calc(100% - 5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-pfd5-Uc1 .statistik-zqF {
  margin-right: 84.9rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-pfd5-Uc1 .group-96-imF {
  margin-bottom: 0.3267rem;
  width: 1.6rem;
  height: 0.3733rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .title-assesment-report-qqs {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.0833333333;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV {
  margin: 0rem 2.4rem 0.999rem 1.9rem;
  width: calc(100% - 4.3rem);
  height: 36.9009rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-etnf-U89 {
  margin: 0rem 2.514rem 5.401rem 0rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-etnf-U89 .item-66-yqb {
  margin-bottom: 4.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #858585;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-etnf-U89 .item-65-6QR {
  margin-bottom: 4.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #858585;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-etnf-U89 .item-64-d9T {
  margin-bottom: 4.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #858585;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-etnf-U89 .item-63-xBj {
  margin-bottom: 4.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #858585;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-etnf-U89 .item-62-rnu {
  margin-bottom: 4.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #858585;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-etnf-U89 .item-61-nAm {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #858585;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .vertical-lines-grid-7D3 {
  margin-right: 0.0667rem;
  opacity: 0.5;
  width: 0.091rem;
  height: 36.0872rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj {
  margin: 0rem 1.638rem 0.001rem 0rem;
  width: 86.1904rem;
  height: calc(100% - 0.0009rem);
  position: relative;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .horizontal-lines-grid-Uxh {
  opacity: 0.5;
  width: 86.1904rem;
  height: 30.1169rem;
  position: absolute;
  left: 0;
  top: 0.7764rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .horizontal-lines-grid-Uxh .line-7-Aad {
  margin: 0rem 0.074rem 5.85rem 0rem;
  width: 86.1169rem;
  height: 0.0966rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .horizontal-lines-grid-Uxh .line-6-sV3 {
  margin: 0rem 0.074rem 5.849rem 0rem;
  width: 86.1169rem;
  height: 0.0966rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .horizontal-lines-grid-Uxh .line-5-zpZ {
  margin: 0rem 0rem 5.777rem 0.074rem;
  width: 86.1169rem;
  height: 0.0966rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .horizontal-lines-grid-Uxh .line-4-iVf {
  margin: 0rem 0.074rem 6.212rem 0rem;
  width: 86.1169rem;
  height: 0.0966rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .horizontal-lines-grid-Uxh .line-3-d6q {
  margin: 0rem 0rem 5.85rem 0.074rem;
  width: 86.1169rem;
  height: 0.0966rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .horizontal-lines-grid-Uxh .line-2-kSM {
  margin-right: 0.0735rem;
  width: 86.1169rem;
  height: 0.0966rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .shape-2-HBP {
  width: 1.6rem;
  height: 24.2rem;
  position: absolute;
  left: 2.7286rem;
  top: 12.7rem;
  background: linear-gradient(358.18deg, #60e730 113.56%, #deedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .shape-3-kqf {
  width: 1.7rem;
  height: 28.2rem;
  position: absolute;
  left: 9.9286rem;
  top: 8.6rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .shape-4-ew3 {
  width: 1.7rem;
  height: 12.2rem;
  position: absolute;
  left: 17.6286rem;
  top: 24.7rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .shape-5-YFj {
  width: 1.6rem;
  height: 21rem;
  position: absolute;
  left: 25.2286rem;
  top: 15.9rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .shape-6-2Ro {
  width: 1.6rem;
  height: 25.2rem;
  position: absolute;
  left: 35.2286rem;
  top: 11.5rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .shape-7-JeD {
  width: 1.6rem;
  height: 22.1rem;
  position: absolute;
  left: 41.7286rem;
  top: 14.8rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .shape-8-PQm {
  width: 1.6rem;
  height: 15.9rem;
  position: absolute;
  left: 48.1286rem;
  top: 21rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .background-mark-explanation-sKw {
  width: 15.3rem;
  height: 8.6rem;
  position: absolute;
  left: 28.5286rem;
  top: 0;
  background-color: #ffb000;
  border-radius: 0.4rem;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .shape-9-ak9 {
  width: 1.6rem;
  height: 24.2rem;
  position: absolute;
  left: 55.4286rem;
  top: 12.7rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 5.5rem 5.5rem 0 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .shape-10-H8m {
  width: 1.7rem;
  height: 28.3rem;
  position: absolute;
  left: 63.2286rem;
  top: 8.6rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .shape-11-ko3 {
  width: 1.6rem;
  height: 29.6rem;
  position: absolute;
  left: 71.9286rem;
  top: 7.3rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .shape-12-EiD {
  width: 1.5rem;
  height: 27.4rem;
  position: absolute;
  left: 79.5286rem;
  top: 9.5rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .base-vL9 {
  width: 13rem;
  height: 0.5rem;
  position: absolute;
  left: 29.7286rem;
  top: 6.4rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .base-copy-3Qm {
  width: 9rem;
  height: 0.5rem;
  position: absolute;
  left: 29.7286rem;
  top: 6.4rem;
  background: linear-gradient(265.14deg, #009a4d 22.62%, #f2f2f2 95.9%);
  border-radius: 0.25rem;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .amount-all-8h7 {
  width: 3.8rem;
  height: 1.3rem;
  position: absolute;
  left: 34.2286rem;
  top: 3.9rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.03rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .text-information-Psw {
  width: 6.1rem;
  height: 1.3rem;
  position: absolute;
  left: 32.4286rem;
  top: 1.4rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .oval-4-UuP {
  width: 5.9rem;
  height: 5.9rem;
  position: absolute;
  left: 33.0286rem;
  top: 9.2rem;
  object-fit: contain;
  vertical-align: top;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .oval-5-18d {
  width: 3.6rem;
  height: 3.6rem;
  position: absolute;
  left: 34.2286rem;
  top: 10.4rem;
  object-fit: contain;
  vertical-align: top;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .auto-group-h5i3-RDj .oval-6-Xcm {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 35.1286rem;
  top: 11.3rem;
  object-fit: contain;
  vertical-align: top;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-erhz-xvV .shape-13-ehP {
  margin-bottom: 0.0009rem;
  width: 1.5rem;
  height: 27.4rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-immd-utD {
  margin-left: 6.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-immd-utD .jon-ford-dJR {
  margin-right: 2.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-immd-utD .jon-ford-MER {
  margin-right: 3.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-immd-utD .jon-ford-H85 {
  margin-right: 4.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-immd-utD .jon-ford-DGd {
  margin-right: 7.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-immd-utD .jon-ford-k1f {
  margin-right: 4.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-immd-utD .jon-ford-H1b {
  margin-right: 4.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-immd-utD .jon-ford-QM7 {
  margin-right: 4.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-immd-utD .jon-ford-M1T {
  margin-right: 2.1rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-immd-utD .jon-ford-tGH {
  margin-right: 2.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-immd-utD .jon-ford-pvd {
  margin-right: 2.2rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-immd-utD .jon-ford-a97 {
  margin-right: 1.5rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-KhB .statistics-kg1 .auto-group-immd-utD .jon-ford-Jqo {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .group-383-P6Z {
  width: 23.3rem;
  height: 42.2893rem;
  position: absolute;
  left: 100rem;
  top: 16.2rem;
}
.user-admin-home--dMB .group-383-P6Z .rectangle-311-5zy {
  width: 22.1rem;
  height: 8.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #f0f0f0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.user-admin-home--dMB .group-383-P6Z .group-298-CZo {
  width: 11.5rem;
  height: 38.5893rem;
  position: absolute;
  left: 11.8rem;
  top: 3.7rem;
  border-radius: 0.05rem;
}
.user-admin-home--dMB .group-383-P6Z .group-298-CZo .item-3-io3 {
  margin-bottom: 6.8994rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #1cd1a1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-home--dMB .group-383-P6Z .group-298-CZo .path-2-Syw {
  margin: 0rem 0rem 25.356rem 3.003rem;
  width: 0.7584rem;
  height: 0.3343rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.05rem;
}
.user-admin-home--dMB .group-383-P6Z .group-298-CZo .item-228-xxH {
  margin-left: 1.3103rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.5;
  color: #1cd1a1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-home--dMB .group-383-P6Z .product-gtH {
  width: 4.8rem;
  height: 1.8rem;
  position: absolute;
  left: 11.8103rem;
  top: 1.6539rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #858585;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-home--dMB .group-383-P6Z .desain-tanpa-judul-28-1-Vaq {
  width: 8rem;
  height: 5.5rem;
  position: absolute;
  left: 1.5rem;
  top: 1.6rem;
  object-fit: cover;
  vertical-align: top;
}
.user-admin-home--dMB .group-384-obX {
  width: 22.1rem;
  height: 42.2893rem;
  position: absolute;
  left: 123.8rem;
  top: 16.2rem;
}
.user-admin-home--dMB .group-384-obX .rectangle-311-Wkq {
  width: 22.1rem;
  height: 8.7rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.2rem #f0f0f0;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
}
.user-admin-home--dMB .group-384-obX .group-298-Dv9 {
  width: 4.8507rem;
  height: 28.6898rem;
  position: absolute;
  left: 13.1103rem;
  top: 13.5994rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  border-radius: 0.05rem;
}
.user-admin-home--dMB .group-384-obX .group-298-Dv9 .path-2-kQH {
  margin-bottom: 25.3556rem;
  width: 0.7584rem;
  height: 0.3343rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.05rem;
  flex-shrink: 0;
}
.user-admin-home--dMB .group-384-obX .group-298-Dv9 .item-228-sjo {
  margin-right: 1.5507rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.5;
  color: #1cd1a1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .group-384-obX .group-299-BVb {
  width: 11.5rem;
  height: 36.7384rem;
  position: absolute;
  left: 10.4rem;
  top: 3.7rem;
  border-radius: 0.05rem;
}
.user-admin-home--dMB .group-384-obX .group-299-BVb .item-3-iEd {
  margin-bottom: 6.3846rem;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #1cd1a1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-home--dMB .group-384-obX .group-299-BVb .path-2-Eyf {
  margin: 0rem 0rem 24.037rem 3.003rem;
  width: 0.7584rem;
  height: 0.3169rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.05rem;
}
.user-admin-home--dMB .group-384-obX .group-299-BVb .item-228-YzM {
  margin-left: 1.3103rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.5;
  color: #1cd1a1;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-home--dMB .group-384-obX .favorit-TrR {
  width: 4.3rem;
  height: 1.8rem;
  position: absolute;
  left: 10.4103rem;
  top: 1.6539rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: #858585;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-home--dMB .group-384-obX .desain-tanpa-judul-29-1-aAM {
  width: 5.9rem;
  height: 6.4rem;
  position: absolute;
  left: 2.3rem;
  top: 1.1rem;
  object-fit: cover;
  vertical-align: top;
}
.user-admin-home--dMB .section2-sv9 {
  box-sizing: border-box;
  padding: 2.3rem 2.3rem 4.3rem 1.8rem;
  width: 112.8rem;
  height: 52.8rem;
  position: absolute;
  left: 36.6rem;
  top: 37.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background: linear-gradient(122.88deg, #44ff00 27.33%, #dfff1c 69.63%);
  border-radius: 1.5rem;
}
.user-admin-home--dMB .section2-sv9 .auto-group-qqk9-APT {
  margin: 0rem 1.9rem 4.9rem 2rem;
  width: calc(100% - 3.9rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .auto-group-qqk9-APT .order-5mK {
  margin-right: 85.2rem;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .auto-group-qqk9-APT .lihat-semua-DMj {
  margin-top: 0.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM {
  box-sizing: border-box;
  padding: 3.1rem 2.842rem 4rem 2.895rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0 #000000;
  background-color: #ffffff;
  border-radius: 1rem;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .thead-4dF {
  box-sizing: border-box;
  padding: 2.9rem 3.264rem 2.2rem 3.895rem;
  width: 100%;
  display: flex;
  align-items: center;
  border: solid 0.1rem #857171;
  background-color: #f3f3f3;
  border-radius: 10rem;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .thead-4dF .id-order-xyX {
  margin: 0.1rem 5.838rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .thead-4dF .id-kategori-tcH {
  margin: 0.1rem 5.723rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .thead-4dF .id-product-DeZ {
  margin: 0.1rem 7.492rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .thead-4dF .nama-product-9YD {
  margin: 0.1rem 6.997rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .thead-4dF .jumlah-5Rs {
  margin: 0.1rem 7.302rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .thead-4dF .harga-1KX {
  margin: 0rem 10.518rem 0.1rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .thead-4dF .status-Xof {
  margin: 0rem 8.633rem 0.1rem 0rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .thead-4dF .action-TxD {
  margin-bottom: 0.0219rem;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq {
  margin-left: 0.7368rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row1-gpy {
  box-sizing: border-box;
  padding: 2.106rem 4.173rem 2.13rem 4.316rem;
  height: 7.2rem;
  display: flex;
  align-items: center;
  border: solid 0 #f0f0f0;
  background-color: #ffffff;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row1-gpy .item-1-afT {
  margin: 0rem 12.765rem 0.176rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row1-gpy .item-1-hVB {
  margin: 0rem 11.186rem 0.176rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row1-gpy .item-1-2GZ {
  margin: 0rem 11.712rem 0.176rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row1-gpy .lontong-Ykh {
  margin: 0rem 11.629rem 0.176rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row1-gpy .item-4-S5P {
  margin: 0rem 8.991rem 0.176rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row1-gpy .item-15000-LwT {
  margin: 0rem 8.728rem 0.176rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row1-gpy .auto-group-tbbq-qtD {
  margin-right: 6.3549rem;
  width: 9.5804rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-291-fXw.png');
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row1-gpy .titik-dropdown-753 {
  margin-top: 0.0342rem;
  width: 1.6845rem;
  height: 0.41rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row2-oyT {
  box-sizing: border-box;
  padding: 2.106rem 4.316rem 2.13rem 4.316rem;
  height: 7.2rem;
  display: flex;
  align-items: center;
  border: solid 0 #f0f0f0;
  background-color: #ffffff;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row2-oyT .item-1-uWh {
  margin: 0rem 12.765rem 0.176rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row2-oyT .item-1-cvu {
  margin: 0rem 11.186rem 0.176rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row2-oyT .item-1-k1X {
  margin: 0rem 11.712rem 0.176rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row2-oyT .lontong-f8V {
  margin: 0rem 11.629rem 0.176rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row2-oyT .item-4-Nob {
  margin: 0rem 8.991rem 0.176rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row2-oyT .item-15000-VdK {
  margin: 0rem 8.728rem 0.176rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row2-oyT .auto-group-uo31-15s {
  margin-right: 6.2114rem;
  width: 9.5804rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-291-R5b.png');
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row2-oyT .group-96-UEM {
  margin-bottom: 0.5783rem;
  width: 1.6845rem;
  height: 0.41rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row3-mDT {
  margin-right: 0.1053rem;
  box-sizing: border-box;
  padding: 2.106rem 4.316rem 2.13rem 4.316rem;
  height: 7.2rem;
  display: flex;
  align-items: center;
  border: solid 0 #f0f0f0;
  background-color: #ffffff;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row3-mDT .item-1-2v5 {
  margin: 0rem 12.765rem 0.176rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row3-mDT .item-1-YdX {
  margin: 0rem 11.186rem 0.176rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row3-mDT .item-1-fCM {
  margin: 0rem 11.712rem 0.176rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row3-mDT .lontong-yiq {
  margin: 0rem 11.629rem 0.176rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row3-mDT .item-4-u6h {
  margin: 0rem 8.991rem 0.176rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row3-mDT .item-15000-pDf {
  margin: 0rem 8.728rem 0.176rem 0rem;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row3-mDT .auto-group-fcaw-KRK {
  margin-right: 6.2114rem;
  width: 9.5804rem;
  height: 100%;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-291-dW9.png');
  flex-shrink: 0;
}
.user-admin-home--dMB .section2-sv9 .order-LSM .tbody-ALq .row3-mDT .group-96-PRB {
  margin-bottom: 0.5783rem;
  width: 1.6845rem;
  height: 0.41rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu {
  width: 151.2rem;
  height: 62.6rem;
  position: absolute;
  left: 0;
  top: 177.5rem;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf {
  box-sizing: border-box;
  padding: 13.2rem 7rem 3rem 7rem;
  width: 151.2rem;
  height: 56.4rem;
  position: absolute;
  left: 0;
  top: 6.2rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #049904;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .pemisah-ma9 {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf {
  margin: 0rem 15.3rem 2.4rem 2.8rem;
  width: calc(100% - 18.1rem);
  height: 26.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .quotes-CfT {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .quotes-CfT .auto-group-n8gs-YzD {
  margin-bottom: 0.6rem;
  width: 6.9001rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .quotes-CfT .auto-group-n8gs-YzD .tagline-HB7 {
  width: 6.4rem;
  height: 2.4rem;
  position: absolute;
  left: 0.3rem;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .quotes-CfT .auto-group-n8gs-YzD .tagline-HB7 .tagline-HB7-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .quotes-CfT .auto-group-n8gs-YzD .tagline-HB7 .tagline-HB7-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .quotes-CfT .auto-group-n8gs-YzD .line-23-T7X {
  width: 6.9001rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 2.225rem;
  object-fit: contain;
  vertical-align: top;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .quotes-CfT .tujuan-kami-bukan-menciptakan-bisnis-yang-besar-tetapi-membangun-sesuatu-yang-membuat-perubahan-besar-P1B {
  margin-bottom: 0.8rem;
  max-width: 25.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .quotes-CfT .semua-impian-kita-menjadi-kanyataan-jika-kita-mempunyai-keberanian-unutk-mengerjakannya-walt-disney-RTf {
  margin: 0rem 0rem 0.8rem 5.3rem;
  max-width: 25.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .quotes-CfT .wirausahawan-sejadi-meciptakan-peluang-bisnis-sedangkan-wirausahawan-bisa-fokus-mengejar-uang-fcu {
  margin-left: 13.5rem;
  max-width: 28.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw {
  box-sizing: border-box;
  padding-left: 7.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .about-us-3tM {
  margin-right: 12.8rem;
  width: 25.5rem;
  row-gap: 0.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .about-us-3tM .auto-group-ezhq-Mu3 {
  width: 7.4rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .about-us-3tM .auto-group-ezhq-Mu3 .line-24-6Lq {
  width: 7.4rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 2.2123rem;
  object-fit: contain;
  vertical-align: top;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .about-us-3tM .auto-group-ezhq-Mu3 .aboutus-EC9 {
  width: 7rem;
  height: 2.4rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .about-us-3tM .auto-group-ezhq-Mu3 .aboutus-EC9 .aboutus-EC9-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .about-us-3tM .auto-group-ezhq-Mu3 .aboutus-EC9 .aboutus-EC9-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .about-us-3tM .group-263-G2M {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding-left: 0.3125rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .about-us-3tM .group-263-G2M .location-nWV {
  margin: 0.725rem 0.513rem 0rem 0rem;
  width: 0.875rem;
  height: 1.3028rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .about-us-3tM .group-263-G2M .jl-dharmawangsa-no138-d-airlangga-kec-gubeng-surabaya-jawa-timur-60282-HTF {
  max-width: 23.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .about-us-3tM .group-264-wnh {
  margin-right: 3.6rem;
  width: calc(100% - 3.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .about-us-3tM .group-264-wnh .icon-envelope-closed-5P7 {
  margin: 0.2rem 0.5rem 0rem 0rem;
  width: 1.6rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .about-us-3tM .group-264-wnh .foodysbussinesgmailcom-n2d {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .about-us-3tM .group-265-gNu {
  margin-right: 13.5rem;
  box-sizing: border-box;
  padding-left: 0.1333rem;
  width: calc(100% - 13.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .about-us-3tM .group-265-gNu .calling-c1f {
  margin: 0rem 0.633rem 0.1rem 0rem;
  width: 1.3333rem;
  height: 1.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .about-us-3tM .group-265-gNu .item-0274-2885822-vY9 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .comunity-EYq {
  margin-right: 7.9954rem;
  width: 9.7046rem;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .comunity-EYq .comunity-NQ9 {
  margin: 0rem 0rem 0.1rem 1.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .comunity-EYq .comunity-NQ9 .comunity-NQ9-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .comunity-EYq .comunity-NQ9 .comunity-NQ9-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .comunity-EYq .line-26-tmo {
  margin-bottom: 1.4rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .comunity-EYq .group-266-SYR {
  width: 6.7rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .sosmed-Bku {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .sosmed-Bku .social-media-8AM {
  margin-left: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .sosmed-Bku .social-media-8AM .social-media-8AM-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .sosmed-Bku .social-media-8AM .social-media-8AM-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .sosmed-Bku .line-25-RHs {
  margin-bottom: 1.4rem;
  width: 10.0045rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .isi-footer-tuf .auto-group-i1ru-vHw .sosmed-Bku .list-sosmed-YdP {
  width: 14.1rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .pemisah-5dK {
  margin-bottom: 3.3rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .mark-list-oZK {
  margin: 0rem 21.2rem 0rem 33.9rem;
  width: calc(100% - 55.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .mark-list-oZK .copyright-2023-by-foodys-all-rights-reserved-7pu {
  margin: 0rem 9.6rem 1.7rem 0rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .footer-JRf .mark-list-oZK .terima-kasih-telah-mengunjungi-foodys-jangan-ragu-untuk-menghubungi-kami-jika-anda-memiliki-pertanyaan-atau-saran-PnR {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .footer-Nnu .foodies-1-fjw {
  width: 30.1rem;
  height: 27.7rem;
  position: absolute;
  left: 7.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.user-admin-home--dMB .footer-Nnu .line-22-Pvq {
  width: 151.2rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 6.2rem;
  background-color: #000000;
}
.user-admin-home--dMB .sidebar-7rq {
  box-sizing: border-box;
  padding: 3.4rem 1.1rem 149.9rem 1.1rem;
  width: 32.2rem;
  height: 174.6rem;
  position: absolute;
  left: 0;
  top: 9.1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #3dbc3d;
}
.user-admin-home--dMB .sidebar-7rq .footer-button-user-my-foodys--nxy {
  margin: 0rem 1.4rem 0.5rem 0rem;
  width: 28.6rem;
  height: 5rem;
  position: relative;
  flex-shrink: 0;
}
.user-admin-home--dMB .sidebar-7rq .footer-button-user-my-foodys--nxy .rectangle-119-uXo {
  width: 28.6rem;
  height: 4.6rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  border: solid 0.3rem #ffb000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1.4rem;
}
.user-admin-home--dMB .sidebar-7rq .footer-button-user-my-foodys--nxy .dasboard-CWu {
  width: 10.2rem;
  height: 5rem;
  position: absolute;
  left: 9.1rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.475;
  color: #ffb000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-home--dMB .sidebar-7rq .footer-button-user-my-foodys--hiZ {
  margin: 0rem 1.4rem 0.3rem 0rem;
  width: 28.6rem;
  height: 5rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.user-admin-home--dMB .sidebar-7rq .footer-button-user-my-foodys--hiZ .rectangle-119-Qss {
  width: 28.6rem;
  height: 4.6rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  background-color: #ffb000;
  border-radius: 1.4rem;
}
.user-admin-home--dMB .sidebar-7rq .footer-button-user-my-foodys--hiZ .dasboard-jfF {
  width: 7rem;
  height: 5rem;
  position: absolute;
  left: 10.7rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.475;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-home--dMB .sidebar-7rq .footer-button-user-my-foodys--SpZ {
  margin: 0rem 1.4rem 0.5rem 0rem;
  width: 28.6rem;
  height: 5rem;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}
.user-admin-home--dMB .sidebar-7rq .footer-button-user-my-foodys--SpZ .rectangle-119-9ys {
  width: 28.6rem;
  height: 4.6rem;
  position: absolute;
  left: 0;
  top: 0.2rem;
  background-color: #ffb000;
  border-radius: 1.4rem;
}
.user-admin-home--dMB .sidebar-7rq .footer-button-user-my-foodys--SpZ .dasboard-gU1 {
  width: 10.2rem;
  height: 5rem;
  position: absolute;
  left: 9.1rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.475;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-home--dMB .sidebar-7rq .footer-button-user-my-foodys--PdK {
  margin-right: 1.4rem;
  width: 28.6rem;
  height: 5rem;
  position: relative;
  flex-shrink: 0;
}
.user-admin-home--dMB .sidebar-7rq .footer-button-user-my-foodys--PdK .rectangle-119-XDj {
  width: 28.6rem;
  height: 4.6rem;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0.2rem;
  background-color: #ffb000;
  border-radius: 1.4rem;
}
.user-admin-home--dMB .sidebar-7rq .footer-button-user-my-foodys--PdK .dasboard-eZF {
  width: 7.4rem;
  height: 5rem;
  position: absolute;
  left: 10.5rem;
  top: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.475;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.user-admin-home--dMB .navbar-user-wYM {
  width: 151.2rem;
  height: 9.1rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #049904;
}
.user-admin-home--dMB .navbar-user-wYM .profil-fjF {
  box-sizing: border-box;
  padding-left: 0.1rem;
  width: 19.8rem;
  height: 6rem;
  cursor: pointer;
  position: absolute;
  left: 125.4rem;
  top: 1.6rem;
  display: flex;
  align-items: center;
}
.user-admin-home--dMB .navbar-user-wYM .profil-fjF .andi-akhsanul-yE9 {
  margin-right: 1.052rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .navbar-user-wYM .profil-fjF .dropdown-menu-Uwb {
  box-sizing: border-box;
  padding: 1.2rem 1.38rem 1.2rem 1.472rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-6-wMT.png');
  flex-shrink: 0;
}
.user-admin-home--dMB .navbar-user-wYM .profil-fjF .dropdown-menu-Uwb .profil-D8V {
  width: 3.496rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
}
.user-admin-home--dMB .navbar-user-wYM .line-21-929 {
  width: 151.2rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 9.1rem;
  background-color: #000000;
}
.user-admin-home--dMB .navbar-user-wYM .foodies-1-fmB {
  width: 30.1rem;
  height: 27.7rem;
  position: absolute;
  left: 2.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.user-admin-home--dMB .navbar-user-wYM .navigasi-beq {
  width: 41.45rem;
  height: 2.4rem;
  position: absolute;
  left: 76.05rem;
  top: 3.3rem;
  display: flex;
  align-items: center;
}
.user-admin-home--dMB .navbar-user-wYM .navigasi-beq .home-K53 {
  margin-right: 3.95rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .navbar-user-wYM .navigasi-beq .outlet-RNy {
  margin-right: 4.1rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .navbar-user-wYM .navigasi-beq .contact-8YH {
  margin-right: 3.15rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .navbar-user-wYM .navigasi-beq .produk-Fso {
  margin-right: 2.95rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.user-admin-home--dMB .navbar-user-wYM .navigasi-beq .edukasi-BWZ {
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
