
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.outlet-page-member-qvq {
  width: 100%;
  height: 234.4rem;
  position: relative;
  overflow: hidden;
  background-color: #efeaea;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 {
  box-sizing: border-box;
  padding: 11.8rem 0.7rem 3.3rem 0.8rem;
  width: 151.2rem;
  height: 147.8rem;
  position: absolute;
  left: 0;
  top: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .outlet-qpM {
  margin-bottom: 2.5rem;
  width: 100%;
  text-align: center;
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 0.6857142857;
  letter-spacing: -0.035rem;
  color: #049904;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs {
  margin-bottom: 7.6rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .auto-group-rcq3-HRT {
  margin: 0rem 0rem 1.2rem 6.1rem;
  width: 22.1rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .auto-group-rcq3-HRT .line-59-o8u {
  width: 22rem;
  height: 0;
  position: absolute;
  left: 0.1rem;
  top: 2.35rem;
  object-fit: contain;
  vertical-align: top;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .auto-group-rcq3-HRT .rekomendasi-outlet-KN9 {
  width: 20.1rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #049904;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV {
  box-sizing: border-box;
  padding-left: 0.7rem;
  width: 100%;
  height: 48.1rem;
  overflow: hidden;
  position: relative;
  display: flex;
  column-gap: 2.3rem;
  align-items: flex-start;
  border: solid 0.1rem #ffffff;
  background-color: #ffffff;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-ur9 {
  margin-top: 0.3rem;
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-ur9 .rectangle-91-S5P {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-ur9 .rectangle-90-AGH {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-ur9 .outlet1-69w {
  width: 22.9rem;
  height: 13.3rem;
  position: absolute;
  left: 2.1rem;
  top: 30.4rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-ur9 .outlet1-69w .auto-group-gprr-1nh {
  margin: 0rem 7.2rem 1.8rem 0rem;
  width: calc(100% - 7.2rem);
  display: flex;
  align-items: center;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-ur9 .outlet1-69w .auto-group-gprr-1nh .group-vPs {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-ur9 .outlet1-69w .auto-group-gprr-1nh .surabaya-barat-qmj {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-ur9 .outlet1-69w .outlet-pak-hasan-mQV {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-ur9 .outlet1-69w .jual-makanan-tradisional-surabaya-5g5 {
  max-width: 22.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-ur9 .group-ymT {
  opacity: 0;
  box-sizing: border-box;
  padding: 2.75rem 3.671rem 2.75rem 3.251rem;
  width: 8.4rem;
  height: 8.5rem;
  position: absolute;
  left: 0.2rem;
  top: 15.2rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-cXs.png');
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-ur9 .group-ymT .vector-5Zb {
  width: 1.4784rem;
  height: 3.0005rem;
  object-fit: contain;
  vertical-align: top;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-c3j {
  margin-top: 0.3rem;
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-c3j .rectangle-91-93f {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-c3j .rectangle-90-5CD {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-c3j .outlet2-1Lm {
  width: 22.9rem;
  height: 13.3rem;
  position: absolute;
  left: 2.2rem;
  top: 30.6rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-c3j .outlet2-1Lm .auto-group-urd1-Y5o {
  margin: 0rem 7.2rem 1.8rem 0rem;
  width: calc(100% - 7.2rem);
  display: flex;
  align-items: center;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-c3j .outlet2-1Lm .auto-group-urd1-Y5o .group-fgD {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-c3j .outlet2-1Lm .auto-group-urd1-Y5o .surabaya-barat-mz9 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-c3j .outlet2-1Lm .outlet-pak-hasan-t3B {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-c3j .outlet2-1Lm .jual-makanan-tradisional-surabaya-biH {
  max-width: 22.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-6Q9 {
  margin-top: 0.4rem;
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-6Q9 .rectangle-91-EFT {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-6Q9 .rectangle-90-ZHj {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-6Q9 .outlet3-VBP {
  width: 22.9rem;
  height: 13.3rem;
  position: absolute;
  left: 2.4rem;
  top: 30.5rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-6Q9 .outlet3-VBP .auto-group-xurb-Qp9 {
  margin: 0rem 7.2rem 1.8rem 0rem;
  width: calc(100% - 7.2rem);
  display: flex;
  align-items: center;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-6Q9 .outlet3-VBP .auto-group-xurb-Qp9 .group-8VF {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-6Q9 .outlet3-VBP .auto-group-xurb-Qp9 .surabaya-barat-F45 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-6Q9 .outlet3-VBP .outlet-pak-hasan-ZqT {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-6Q9 .outlet3-VBP .jual-makanan-tradisional-surabaya-HFf {
  max-width: 22.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-bGM {
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-bGM .rectangle-91-w5K {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-bGM .rectangle-90-ri5 {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-bGM .outlet4-aty {
  width: 22.9rem;
  height: 13.3rem;
  position: absolute;
  left: 2.4rem;
  top: 30.9rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-bGM .outlet4-aty .auto-group-kbhu-iVP {
  margin: 0rem 7.2rem 1.8rem 0rem;
  width: calc(100% - 7.2rem);
  display: flex;
  align-items: center;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-bGM .outlet4-aty .auto-group-kbhu-iVP .group-3Xf {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-bGM .outlet4-aty .auto-group-kbhu-iVP .surabaya-barat-Zku {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-bGM .outlet4-aty .outlet-pak-hasan-5z9 {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-bGM .outlet4-aty .jual-makanan-tradisional-surabaya-oQM {
  max-width: 22.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-bGM .group-uyB {
  box-sizing: border-box;
  padding: 2.75rem 3.173rem 2.75rem 3.583rem;
  width: 8.2rem;
  height: 8.5rem;
  cursor: pointer;
  position: absolute;
  left: 23rem;
  top: 15.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-LY1.png');
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-bGM .group-uyB .vector-pKT {
  width: 1.4432rem;
  height: 3.0005rem;
  object-fit: contain;
  vertical-align: top;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-Xjf {
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-Xjf .rectangle-91-sYd {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-Xjf .rectangle-90-oBP {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-Xjf .outlet5-vmo {
  width: 31.2rem;
  height: 10.9rem;
  position: absolute;
  left: 2.4rem;
  top: 30.7rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-Xjf .outlet5-vmo .auto-group-nf2s-35j {
  margin: 0rem 15.5rem 1.8rem 0rem;
  width: calc(100% - 15.5rem);
  display: flex;
  align-items: center;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-Xjf .outlet5-vmo .auto-group-nf2s-35j .group-mGd {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-Xjf .outlet5-vmo .auto-group-nf2s-35j .surabaya-barat-t6M {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-Xjf .outlet5-vmo .outlet-pak-rudi-1Ay {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-Xjf .outlet5-vmo .jual-makanan-tradisional-surabaya-ir5 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-3dT {
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-3dT .rectangle-91-z2u {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-3dT .rectangle-90-X2q {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-3dT .outlet6-SvV {
  width: 31.2rem;
  height: 10.9rem;
  position: absolute;
  left: 2.4rem;
  top: 31.1rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-3dT .outlet6-SvV .auto-group-6v91-aWu {
  margin: 0rem 15.5rem 1.8rem 0rem;
  width: calc(100% - 15.5rem);
  display: flex;
  align-items: center;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-3dT .outlet6-SvV .auto-group-6v91-aWu .group-WQZ {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-3dT .outlet6-SvV .auto-group-6v91-aWu .surabaya-barat-pg9 {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-3dT .outlet6-SvV .outlet-pak-hasan-kZo {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-3dT .outlet6-SvV .jual-makanan-tradisional-surabaya-56H {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-aYq {
  width: 36.9rem;
  height: 47.7273rem;
  position: relative;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-aYq .rectangle-91-WxH {
  width: 36.9rem;
  height: 21rem;
  position: absolute;
  left: 0;
  top: 26.7273rem;
  background-color: #3dbc3d;
  border-radius: 1.5rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-aYq .rectangle-90-Sb3 {
  width: 36.9rem;
  height: 29.037rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.7rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-aYq .outlet7-Zff {
  width: 31.2rem;
  height: 10.9rem;
  position: absolute;
  left: 2.4rem;
  top: 31.3rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-aYq .outlet7-Zff .auto-group-tns7-6fb {
  margin: 0rem 15.5rem 1.8rem 0rem;
  width: calc(100% - 15.5rem);
  display: flex;
  align-items: center;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-aYq .outlet7-Zff .auto-group-tns7-6fb .group-Rhs {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-aYq .outlet7-Zff .auto-group-tns7-6fb .surabaya-barat-YGh {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #3dbc3d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-aYq .outlet7-Zff .outlet-pak-hasan-f6R {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .rekomendasi-YTs .slider-outlet-QeV .cardoutletlanding-aYq .outlet7-Zff .jual-makanan-tradisional-surabaya-xrD {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .section-search-q9K {
  margin: 0rem 3.1rem 3.4rem 3rem;
  box-sizing: border-box;
  padding: 1.3rem 11.5rem 1.526rem 11.5rem;
  width: calc(100% - 6.1rem);
  height: 8rem;
  background-color: #ffffff;
  border-radius: 1rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .section-search-q9K .search-X29 {
  width: 100%;
  height: 100%;
  display: flex;
  column-gap: 11.7rem;
  align-items: center;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .section-search-q9K .search-X29 .list-search-TRb {
  width: 32.4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .section-search-q9K .search-X29 .list-search-TRb .rectangle-318-bXo {
  width: 32.4rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #ffb000;
  border-radius: 0.5rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .section-search-q9K .search-X29 .list-search-TRb .group-7W9 {
  box-sizing: border-box;
  padding: 2.156rem 1.25rem 1.725rem 1.25rem;
  width: 5rem;
  height: 5.1744rem;
  position: absolute;
  left: 26.5rem;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-ccR.png');
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .section-search-q9K .search-X29 .list-search-TRb .group-7W9 .vector-otm {
  width: 2.5rem;
  height: 1.2936rem;
  object-fit: contain;
  vertical-align: top;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .section-search-q9K .search-X29 .list-search-TRb .lokasi-outlet-LNu {
  width: 12.9rem;
  height: 2.4rem;
  position: absolute;
  left: 9.8rem;
  top: 1.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .section-search-q9K .search-X29 .list-search-TRb .frame-EUH {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  position: absolute;
  left: 26.5rem;
  top: 0.2rem;
  overflow: hidden;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .section-search-q9K .search-X29 .list-search-a2M {
  width: 32.4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .section-search-q9K .search-X29 .list-search-a2M .rectangle-318-ieM {
  width: 32.4rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #ffb000;
  border-radius: 0.5rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .section-search-q9K .search-X29 .list-search-a2M .group-FeH {
  box-sizing: border-box;
  padding: 2.156rem 1.25rem 1.725rem 1.25rem;
  width: 5rem;
  height: 5.1744rem;
  cursor: pointer;
  position: absolute;
  left: 26.3rem;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-NMX.png');
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .section-search-q9K .search-X29 .list-search-a2M .group-FeH .vector-AmF {
  width: 2.5rem;
  height: 1.2936rem;
  object-fit: contain;
  vertical-align: top;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .section-search-q9K .search-X29 .list-search-a2M .rating-outlet-VoX {
  width: 13.1rem;
  height: 2.4rem;
  position: absolute;
  left: 9.65rem;
  top: 1.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .section-search-q9K .search-X29 .list-search-BAZ {
  width: 32.4rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .section-search-q9K .search-X29 .list-search-BAZ .rectangle-318-XkD {
  width: 32.4rem;
  height: 4.3rem;
  position: absolute;
  left: 0;
  top: 0.5rem;
  background-color: #ffb000;
  border-radius: 0.5rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .section-search-q9K .search-X29 .list-search-BAZ .group-f5j {
  box-sizing: border-box;
  padding: 2.156rem 1.25rem 1.725rem 1.25rem;
  width: 5rem;
  height: 5.1744rem;
  cursor: pointer;
  position: absolute;
  left: 26.2rem;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/vector-FZK.png');
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .section-search-q9K .search-X29 .list-search-BAZ .group-f5j .vector-ycD {
  width: 2.5rem;
  height: 1.2936rem;
  object-fit: contain;
  vertical-align: top;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .section-search-q9K .search-X29 .list-search-BAZ .status-outlet-WMF {
  width: 13rem;
  height: 2.4rem;
  position: absolute;
  left: 9.75rem;
  top: 1.4rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-mny {
  margin: 0rem 5.201rem 3.5rem 5.1rem;
  width: calc(100% - 10.3013rem);
  height: 26.8rem;
  position: relative;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-mny .rectangle-46-64Z {
  width: 139.2924rem;
  height: 26.7rem;
  position: absolute;
  left: 0.1063rem;
  top: 0.1rem;
  background-color: #3dbc3d;
  border-radius: 1rem 0.5rem 0.5rem 1rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-mny .rectangle-47-PpM {
  width: 39.2358rem;
  height: 26.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-47-bg-D7w.png');
  border-radius: 1rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-mny .frame-v3b {
  width: 3.3rem;
  height: 3.2rem;
  position: absolute;
  left: 64.4rem;
  top: 20rem;
  object-fit: contain;
  vertical-align: top;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-mny .outlet1-EKB {
  width: 27.9rem;
  height: 18.7rem;
  position: absolute;
  left: 44.9rem;
  top: 4.1rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-mny .outlet1-EKB .auto-group-xa75-kYR {
  margin: 0rem 12.2rem 1.8rem 0rem;
  width: calc(100% - 12.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-mny .outlet1-EKB .auto-group-xa75-kYR .group-5Ko {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-mny .outlet1-EKB .auto-group-xa75-kYR .surabaya-barat-PLV {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ceff9d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-mny .outlet1-EKB .outlet-pak-hasan-uJq {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-mny .outlet1-EKB .jual-makanan-tradisional-surabaya-1cm {
  margin: 0rem 5.3rem 3rem 0rem;
  max-width: 22.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-mny .outlet1-EKB .item-500-VXw {
  text-align: right;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 0.96;
  letter-spacing: -0.025rem;
  color: #ffb000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-apH {
  margin: 0rem 5.201rem 0rem 5.1rem;
  width: calc(100% - 10.3013rem);
  height: 26.8rem;
  position: relative;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-apH .rectangle-46-u5s {
  width: 139.2924rem;
  height: 26.7rem;
  position: absolute;
  left: 0.1063rem;
  top: 0.1rem;
  background-color: #3dbc3d;
  border-radius: 1rem 0.5rem 0.5rem 1rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-apH .rectangle-47-cFB {
  width: 39.2358rem;
  height: 26.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-47-bg-XTP.png');
  border-radius: 1rem;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-apH .frame-vmf {
  width: 3.3rem;
  height: 3.2rem;
  position: absolute;
  left: 64.4rem;
  top: 20rem;
  object-fit: contain;
  vertical-align: top;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-apH .outlet1-47B {
  width: 28.75rem;
  height: 18.7rem;
  position: absolute;
  left: 44.05rem;
  top: 4.1rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-apH .outlet1-47B .auto-group-bcjf-AAD {
  margin: 0rem 11.6rem 1.8rem 0.85rem;
  width: calc(100% - 12.45rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-apH .outlet1-47B .auto-group-bcjf-AAD .group-5Y5 {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-apH .outlet1-47B .auto-group-bcjf-AAD .surabaya-timur-oDB {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ceff9d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-apH .outlet1-47B .outlet-pak-rangga-7zZ {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-apH .outlet1-47B .jual-makanan-tradisional-surabaya-di1 {
  margin: 0rem 5.3rem 3rem 0rem;
  max-width: 22.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-rtew-NA5 .group-6-apH .outlet1-47B .item-500-7dB {
  text-align: right;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 0.96;
  letter-spacing: -0.025rem;
  color: #ffb000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .buy-EC1 {
  width: 1.85rem;
  height: 1.8099rem;
  position: absolute;
  left: 111.1172rem;
  top: 331.3507rem;
  object-fit: contain;
  vertical-align: top;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV {
  width: 151.2rem;
  height: 86.6rem;
  position: absolute;
  left: 0;
  top: 147.8rem;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm {
  width: 151.2rem;
  height: 62.6rem;
  position: absolute;
  left: 0;
  top: 24rem;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w {
  box-sizing: border-box;
  padding: 13.2rem 7rem 3rem 7rem;
  width: 151.2rem;
  height: 56.4rem;
  position: absolute;
  left: 0;
  top: 6.2rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #049904;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .pemisah-6dX {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV {
  margin: 0rem 15.3rem 2.4rem 2.8rem;
  width: calc(100% - 18.1rem);
  height: 26.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .quotes-jwP {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .quotes-jwP .auto-group-3fzm-Hxu {
  margin-bottom: 0.6rem;
  width: 6.9001rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .quotes-jwP .auto-group-3fzm-Hxu .tagline-RZK {
  width: 6.4rem;
  height: 2.4rem;
  position: absolute;
  left: 0.3rem;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .quotes-jwP .auto-group-3fzm-Hxu .tagline-RZK .tagline-RZK-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .quotes-jwP .auto-group-3fzm-Hxu .tagline-RZK .tagline-RZK-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .quotes-jwP .auto-group-3fzm-Hxu .line-23-cXK {
  width: 6.9001rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 2.225rem;
  object-fit: contain;
  vertical-align: top;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .quotes-jwP .tujuan-kami-bukan-menciptakan-bisnis-yang-besar-tetapi-membangun-sesuatu-yang-membuat-perubahan-besar-MUu {
  margin-bottom: 0.8rem;
  max-width: 25.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .quotes-jwP .semua-impian-kita-menjadi-kanyataan-jika-kita-mempunyai-keberanian-unutk-mengerjakannya-walt-disney-DGD {
  margin: 0rem 0rem 0.8rem 5.3rem;
  max-width: 25.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .quotes-jwP .wirausahawan-sejadi-meciptakan-peluang-bisnis-sedangkan-wirausahawan-bisa-fokus-mengejar-uang-SPs {
  margin-left: 13.5rem;
  max-width: 28.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V {
  box-sizing: border-box;
  padding-left: 7.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .about-us-3eZ {
  margin-right: 12.8rem;
  width: 25.5rem;
  row-gap: 0.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .about-us-3eZ .auto-group-krdh-NB3 {
  width: 7.4rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .about-us-3eZ .auto-group-krdh-NB3 .line-24-6cq {
  width: 7.4rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 2.2123rem;
  object-fit: contain;
  vertical-align: top;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .about-us-3eZ .auto-group-krdh-NB3 .aboutus-qqK {
  width: 7rem;
  height: 2.4rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .about-us-3eZ .auto-group-krdh-NB3 .aboutus-qqK .aboutus-qqK-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .about-us-3eZ .auto-group-krdh-NB3 .aboutus-qqK .aboutus-qqK-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .about-us-3eZ .group-263-X5s {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding-left: 0.3125rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .about-us-3eZ .group-263-X5s .location-TER {
  margin: 0.725rem 0.513rem 0rem 0rem;
  width: 0.875rem;
  height: 1.3029rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .about-us-3eZ .group-263-X5s .jl-dharmawangsa-no138-d-airlangga-kec-gubeng-surabaya-jawa-timur-60282-AuX {
  max-width: 23.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .about-us-3eZ .group-264-3yK {
  margin-right: 3.6rem;
  width: calc(100% - 3.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .about-us-3eZ .group-264-3yK .icon-envelope-closed-C5X {
  margin: 0.2rem 0.5rem 0rem 0rem;
  width: 1.6rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .about-us-3eZ .group-264-3yK .foodysbussinesgmailcom-tyw {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .about-us-3eZ .group-265-btM {
  margin-right: 13.5rem;
  box-sizing: border-box;
  padding-left: 0.1333rem;
  width: calc(100% - 13.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .about-us-3eZ .group-265-btM .calling-Xn1 {
  margin: 0rem 0.633rem 0.1rem 0rem;
  width: 1.3333rem;
  height: 1.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .about-us-3eZ .group-265-btM .item-0274-2885822-Fxu {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .comunity-Zyb {
  margin-right: 7.9954rem;
  width: 9.7046rem;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .comunity-Zyb .comunity-hpu {
  margin: 0rem 0rem 0.1rem 1.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .comunity-Zyb .comunity-hpu .comunity-hpu-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .comunity-Zyb .comunity-hpu .comunity-hpu-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .comunity-Zyb .line-26-2Vo {
  margin-bottom: 1.4rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .comunity-Zyb .group-266-NJm {
  width: 6.7rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .sosmed-uJh {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .sosmed-uJh .social-media-3fo {
  margin-left: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .sosmed-uJh .social-media-3fo .social-media-3fo-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .sosmed-uJh .social-media-3fo .social-media-3fo-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .sosmed-uJh .line-25-Mpu {
  margin-bottom: 1.4rem;
  width: 10.0045rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .isi-footer-SSV .auto-group-veck-i6V .sosmed-uJh .list-sosmed-6Xb {
  width: 14.1rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .pemisah-Edo {
  margin-bottom: 3.3rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .mark-list-BZ3 {
  margin: 0rem 21.2rem 0rem 33.9rem;
  width: calc(100% - 55.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .mark-list-BZ3 .copyright-2023-by-foodys-all-rights-reserved-WbK {
  margin: 0rem 9.6rem 1.7rem 0rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .footer-D3w .mark-list-BZ3 .terima-kasih-telah-mengunjungi-foodys-jangan-ragu-untuk-menghubungi-kami-jika-anda-memiliki-pertanyaan-atau-saran-nHw {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .foodies-1-3zZ {
  width: 30.1rem;
  height: 27.7rem;
  position: absolute;
  left: 7.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .footer-skm .line-22-aUh {
  width: 151.2rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 6.2rem;
  background-color: #000000;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .group-6-i57 {
  width: 139.3987rem;
  height: 26.8rem;
  position: absolute;
  left: 5.9rem;
  top: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .group-6-i57 .rectangle-46-dhs {
  width: 139.2924rem;
  height: 26.7rem;
  position: absolute;
  left: 0.1063rem;
  top: 0.1rem;
  background-color: #3dbc3d;
  border-radius: 1rem 0.5rem 0.5rem 1rem;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .group-6-i57 .rectangle-47-wCm {
  width: 39.2358rem;
  height: 26.8rem;
  position: absolute;
  left: 0;
  top: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-47-bg-SWd.png');
  border-radius: 1rem;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .group-6-i57 .frame-e7B {
  width: 3.3rem;
  height: 3.2rem;
  position: absolute;
  left: 64.4rem;
  top: 20rem;
  object-fit: contain;
  vertical-align: top;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .group-6-i57 .outlet1-kvu {
  width: 28.05rem;
  height: 18.7rem;
  position: absolute;
  left: 44.75rem;
  top: 4.1rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .group-6-i57 .outlet1-kvu .auto-group-2hat-GPT {
  margin: 0rem 10.2rem 1.8rem 0.15rem;
  width: calc(100% - 10.35rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .group-6-i57 .outlet1-kvu .auto-group-2hat-GPT .group-auw {
  margin: 0.224rem 0.8rem 0rem 0rem;
  width: 1.6rem;
  height: 1.8346rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .group-6-i57 .outlet1-kvu .auto-group-2hat-GPT .surabaya-selatan-uBX {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ceff9d;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .group-6-i57 .outlet1-kvu .outlet-pak-hamid-2X3 {
  margin-bottom: 1.9rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .group-6-i57 .outlet1-kvu .jual-makanan-tradisional-surabaya-Lnd {
  margin: 0rem 5.3rem 3rem 0rem;
  max-width: 22.6rem;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffffff;
  font-family: Roboto, 'Source Sans Pro';
  flex-shrink: 0;
}
.outlet-page-member-qvq .auto-group-8vmd-YiV .group-6-i57 .outlet1-kvu .item-500-pho {
  text-align: right;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 0.96;
  letter-spacing: -0.025rem;
  color: #ffb000;
  font-family: Roboto, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .navbar-user-XMK {
  width: 151.2rem;
  height: 9.1rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #049904;
}
.outlet-page-member-qvq .navbar-user-XMK .profil-Fo7 {
  box-sizing: border-box;
  padding-left: 0.1rem;
  width: 19.8rem;
  height: 6rem;
  cursor: pointer;
  position: absolute;
  left: 125.4rem;
  top: 1.6rem;
  display: flex;
  align-items: center;
}
.outlet-page-member-qvq .navbar-user-XMK .profil-Fo7 .andi-akhsanul-Zoo {
  margin-right: 1.052rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .navbar-user-XMK .profil-Fo7 .dropdown-menu-t5P {
  box-sizing: border-box;
  padding: 1.2rem 1.38rem 1.2rem 1.472rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-6-eNV.png');
  flex-shrink: 0;
}
.outlet-page-member-qvq .navbar-user-XMK .profil-Fo7 .dropdown-menu-t5P .profil-oi9 {
  width: 3.496rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
}
.outlet-page-member-qvq .navbar-user-XMK .line-21-KwP {
  width: 151.2rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 9.1rem;
  background-color: #000000;
}
.outlet-page-member-qvq .navbar-user-XMK .foodies-1-Tnh {
  width: 30.1rem;
  height: 27.7rem;
  position: absolute;
  left: 2.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.outlet-page-member-qvq .navbar-user-XMK .navigasi-be1 {
  width: 41.45rem;
  height: 2.4rem;
  position: absolute;
  left: 76.05rem;
  top: 3.3rem;
  display: flex;
  align-items: center;
}
.outlet-page-member-qvq .navbar-user-XMK .navigasi-be1 .home-Wky {
  margin-right: 3.95rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .navbar-user-XMK .navigasi-be1 .outlet-d4u {
  margin-right: 4.1rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .navbar-user-XMK .navigasi-be1 .contact-jtd {
  margin-right: 3.15rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .navbar-user-XMK .navigasi-be1 .produk-G7s {
  margin-right: 2.95rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.outlet-page-member-qvq .navbar-user-XMK .navigasi-be1 .edukasi-nru {
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
