@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
       background-color:#EFEAEA; 
}

/* NAVBAR */


.nav-link {
    color: white;
    transition: color 0.3s;
    font-weight: 700;
   
  }
  .nav-link:hover {
    color: rgb(225, 255, 0);
  }

  .nav-link.active {
    color: rgb(225, 255, 0) !important;
}
.custom-button {
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    font-weight: 700;
  }

  .nav-item a, .nav-item button {
    margin-right: 10px;
  }

  .nav-item{
    margin-left: 10px;
  }

  .profile-image-wrapper {
    width: 50px; 
    height: 50px; 
    overflow: hidden;
    border-radius: 50%;
    background-color: white; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-image-wrapper img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}


  
#dropdown{
    background-color: #EFEAEA;
   margin-top: 7rem;
    
}

#dropdown .container{
    background-color: white;
    padding: 30px 0;
    border-radius: 30px;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
}

#dropdown .dropdown button{
    width: 15rem;
    height: 3rem;
    font-size: 20px;
}


#outlet{
    display: flex;
    justify-content: center;
    background-color: #EFEAEA;
   margin-top: 5rem;
}

#outlet .card {
    background-color: #3EBC3E ;
   border-radius: 10px;
    width: 90vw;
    height: 18vw;
    overflow: hidden;
   
}

#outlet img{
    border-radius: 10px;
    width: 350px; 
    height: 100%;
    margin-left: -13px;
}




#footer {
    padding: 30px 0;
   margin-top: 6rem;
    background-color: #049904;
}

.tengah .deskrisifooter {
    font-size: 10px;
    font-style: italic;
}

.tengah .deskrisifooter img{
    width: 15px;
    height: 15px;
    margin-left: 20px;
    margin-right: 10px;
   
}
