
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 38.2rem;
}.calendar-rY9 {
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0 3.5rem 10rem rgba(43, 3, 49, 0.0799999982);
  width: 100%;
  height: 52.6rem;
  position: relative;
  border: solid 0.1rem #f0f0f0;
  box-sizing: border-box;

  .numbers-C6D {
    align-items: center;
    border-radius: 1.5rem;
    width: 26.3rem;
    height: 17.5rem;
    position: absolute;
    left: 6.2rem;
    top: 22.7rem;
    display: flex;

    .auto-group-lwbd-hHs {
      row-gap: 2.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 2.6rem;
      height: 100%;

      .item-29-cfj {
        font-weight: 700;
        line-height: 1.25;
        color: #b3b2b2;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
      }
      .item-5-vwK {
        flex-shrink: 0;
        white-space: nowrap;
        margin-left: 0.1rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
      }
      .item-12-Sem {
        margin-right: 0.1rem;
        font-size: 1.2rem;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-weight: 700;
        line-height: 1.25;
      }
      .item-19-kQZ {
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        margin-right: 0.1rem;
        text-align: center;
        white-space: nowrap;
      }
      .item-26-rTb {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
    }
    .auto-group-ulq9-xWd {
      margin-right: 2.7rem;
      height: 100%;
      row-gap: 2.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item-30-UE5 {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #b3b2b2;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
      .item-6-P69 {
        font-weight: 700;
        line-height: 1.25;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        margin-left: 0.2rem;
      }
      .item-13-u4V {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
      .item-20-R2q {
        text-align: center;
        font-size: 1.2rem;
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.1rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
      }
      .item-27-7wF {
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
      }
    }
    .auto-group-snx3-TER {
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 2.35rem;
      height: 100%;
      row-gap: 2.5rem;
      align-items: center;
      display: flex;

      .item-31-P85 {
        margin-right: 0.1rem;
        font-weight: 700;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.25;
        color: #b3b2b2;
        white-space: nowrap;
      }
      .item-7-WTb {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
      }
      .item-14-qkm {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
      }
      .item-21-B3w {
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 0.1rem;
        font-weight: 700;
        line-height: 1.25;
        white-space: nowrap;
        text-align: center;
        font-size: 1.2rem;
      }
      .item-28-gmP {
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
      }
    }
    .auto-group-ztoh-pMo {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 2.3rem;
      height: 100%;
      row-gap: 2.5rem;
      align-items: center;

      .item-1-Lqw {
        font-size: 1.2rem;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        flex-shrink: 0;
        margin-left: 0.1rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.25;
        white-space: nowrap;
      }
      .item-8-TvZ {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
      .item-15-oDj {
        text-align: center;
        font-size: 1.2rem;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        margin-left: 0.1rem;
        font-weight: 700;
        line-height: 1.25;
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item-22-Khs {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
      }
      .item-29-FbX {
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
      }
    }
    .auto-group-dwtz-AiV {
      height: 100%;
      row-gap: 2.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      margin-right: 2.35rem;

      .item-2-Ho7 {
        margin-left: 0.2rem;
        text-align: center;
        line-height: 1.25;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 700;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-9-Cv5 {
        font-weight: 700;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-left: 0.1rem;
        font-size: 1.2rem;
        text-align: center;
        line-height: 1.25;
      }
      .item-16-idX {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
      }
      .item-23-4Bb {
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-30-nNV {
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-tq39-iX3 {
      flex-shrink: 0;
      margin-right: 1.8rem;
      height: 100%;
      row-gap: 2.5rem;
      align-items: center;
      display: flex;
      flex-direction: column;

      .item-3-ST3 {
        color: #5c5c5c;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 0.1rem;
        text-align: center;
      }
      .item-10-ZnZ {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
      }
      .item-17-uLd {
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
      }
      .item-24-Edo {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
      }
      .item-31-mdj {
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        font-size: 1.2rem;
      }
    }
    .auto-group-pxrm-CsT {
      width: 3rem;
      height: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .item-4-Lim {
        white-space: nowrap;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
        margin: 0rem 0rem 1.8rem 0.1rem;
        line-height: 1.25;
        flex-shrink: 0;
      }
      .auto-group-jt4x-RkD {
        font-size: 1.2rem;
        white-space: nowrap;
        justify-content: center;
        flex-shrink: 0;
        height: 3rem;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        align-items: center;
        border-radius: 1.5rem;
        margin-bottom: 1.7rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.1666666667;
        width: 100%;
        background-color: #ceff9d;
      }
      .item-18-H1j {
        margin: 0rem 0.1rem 2.5rem 0rem;
        font-size: 1.2rem;
        font-weight: 700;
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        line-height: 1.25;
        color: #5c5c5c;
        font-family: Poppins, 'Source Sans Pro';
      }
      .item-25-BN1 {
        text-align: center;
        font-size: 1.2rem;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 0.1rem 2.5rem 0rem;
        font-weight: 700;
        line-height: 1.25;
        color: #5c5c5c;
      }
      .item-1-gJm {
        font-weight: 700;
        line-height: 1.25;
        color: #b3b2b2;
        flex-shrink: 0;
        font-size: 1.2rem;
        text-align: center;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        margin-left: 0.1rem;
      }
    }
  }
  .days-yYm {
    height: 1.4rem;
    position: absolute;
    left: 5.6rem;
    top: 17.8rem;
    display: flex;
    align-items: center;
    width: 26.45rem;

    .mon-H3f {
      color: #3dbc3d;
      white-space: nowrap;
      margin-right: 1.45rem;
      text-align: center;
      font-size: 1.2rem;
      line-height: 1.1666666667;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
    }
    .tue-bKF {
      color: #3dbc3d;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      margin-right: 1.4rem;
      font-size: 1.2rem;
      font-weight: 700;
      text-align: center;
      line-height: 1.1666666667;
      white-space: nowrap;
    }
    .wed-7YV {
      font-size: 1.2rem;
      flex-shrink: 0;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      margin-right: 1.35rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.1666666667;
      color: #3dbc3d;
    }
    .thu-Ed7 {
      flex-shrink: 0;
      margin-right: 2rem;
      line-height: 1.1666666667;
      color: #3dbc3d;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 700;
    }
    .fri-9k5 {
      white-space: nowrap;
      margin-right: 2.2rem;
      font-size: 1.2rem;
      line-height: 1.1666666667;
      color: #3dbc3d;
      font-family: Poppins, 'Source Sans Pro';
      flex-shrink: 0;
      text-align: center;
      font-weight: 700;
    }
    .sat-H5b {
      margin-right: 1.65rem;
      text-align: center;
      white-space: nowrap;
      flex-shrink: 0;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.1666666667;
      color: #3dbc3d;
      font-family: Poppins, 'Source Sans Pro';
    }
    .sun-bry {
      color: #3dbc3d;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      text-align: center;
      font-size: 1.2rem;
      font-weight: 700;
      line-height: 1.1666666667;
    }
  }
  .july-2018-KHB {
    height: 2.1rem;
    position: absolute;
    left: 15.5rem;
    top: 9.9rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-family: Poppins, 'Source Sans Pro';
    width: 7.3rem;
    text-align: center;
    font-weight: 400;
    line-height: 1.3125;
    color: #858585;
    white-space: nowrap;
  }
  .t-CLy {
    white-space: nowrap;
    position: absolute;
    left: 13.1rem;
    top: 5.8rem;
    font-size: 1.6rem;
    font-family: Poppins, 'Source Sans Pro';
    color: #858585;
    width: 12rem;
    height: 2.1rem;
    font-weight: 700;
    line-height: 1.3125;
    text-transform: uppercase;
  }
  .close-6SM {
    height: 1.2rem;
    position: absolute;
    left: 32.6rem;
    top: 3.4rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.2rem;
  }
  .button-Qhw {
    position: absolute;
    text-align: center;
    color: #ffffff;
    justify-content: center;
    border-radius: 10rem;
    width: 10rem;
    font-size: 1rem;
    line-height: 1.6;
    left: 14.1rem;
    top: 44.7rem;
    font-weight: 400;
    background-color: #3dbc3d;
    height: 4rem;
    font-family: Poppins, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: center;
  }
}
