
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.detail-user-nKb {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ceff9d;

  .group-380-iDF {
    width: 22.9524rem;
    height: 92.9108rem;
    position: absolute;
    left: 0;
    top: 9.1892rem;
    background-color: rgba(4, 153, 4, 0.5899999738);

    .overview-cpR {
      border-radius: 0.2rem;
      width: 18.2769rem;
      left: 1.7002rem;
      background-color: #ffb000;
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
      height: 3.6408rem;
      position: absolute;
      top: 7.5617rem;
    }
    .overview-uHj {
      align-items: baseline;
      width: 6.8rem;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      left: 7.7905rem;
      font-size: 1.6rem;
      height: 5rem;
      top: 6.6737rem;
      text-align: center;
      white-space: nowrap;
      display: flex;
      cursor: pointer;
      font-weight: 700;
      line-height: 3.09375;

      .overview-uHj-sub-0 {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 3.09375;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
      }
      .overview-uHj-sub-1 {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 3.09375;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
      }
    }
    .transaksi-SKb {
      width: 18.2769rem;
      position: absolute;
      left: 1.7002rem;
      top: 11.8237rem;
      box-sizing: border-box;
      background-color: #ffb000;
      border-radius: 0.2rem;
      height: 3.6408rem;
      border: solid 0.1rem #fff8f8;
    }
    .transaksi-8TK {
      top: 11.1576rem;
      text-align: center;
      font-size: 1.6rem;
      font-family: Arial, 'Source Sans Pro';
      cursor: pointer;
      position: absolute;
      left: 7.7952rem;
      font-weight: 700;
      line-height: 3.09375;
      color: #000000;
      white-space: nowrap;
      width: 6.6rem;
      height: 5rem;
    }
    .user-EFT {
      top: 20.1577rem;
      box-sizing: border-box;
      width: 18.2769rem;
      height: 3.6408rem;
      position: absolute;
      border-radius: 0.2rem;
      left: 1.7002rem;
      border: solid 0.1rem #ffffff;
      background-color: #ffb000;
    }
    .users-iAd {
      height: 5rem;
      left: 7.8619rem;
      top: 19.6041rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 3.09375;
      font-family: Arial, 'Source Sans Pro';
      width: 3.8rem;
      position: absolute;
      color: #ffff00;
      white-space: nowrap;
    }
    .statistik-1Qd {
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
      position: absolute;
      left: 1.7002rem;
      top: 15.9913rem;
      background-color: #ffb000;
      border-radius: 0.2rem;
      width: 18.2769rem;
      height: 3.6408rem;
    }
    .statistik-tzD {
      line-height: 3.09375;
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.8rem;
      left: 7.481rem;
      font-weight: 700;
      top: 15.3287rem;
      text-align: center;
      font-size: 1.6rem;
      color: #000000;
      height: 5rem;
      cursor: pointer;
      position: absolute;
    }
    .product-nJu {
      box-sizing: border-box;
      background-color: #ffb000;
      height: 3.6408rem;
      left: 1.7002rem;
      top: 24.316rem;
      border: solid 0.1rem #ffffff;
      border-radius: 0.2rem;
      width: 18.2769rem;
      position: absolute;
    }
    .produk-sr9 {
      cursor: pointer;
      top: 23.7751rem;
      font-size: 1.6rem;
      line-height: 3.09375;
      font-family: Arial, 'Source Sans Pro';
      font-weight: 700;
      color: #000000;
      white-space: nowrap;
      width: 5.2rem;
      height: 5rem;
      position: absolute;
      left: 7.8286rem;
      text-align: center;
    }
  }
  .group-406-N2D {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 114.8099rem;
    height: 80.2rem;
    position: absolute;
    left: 26.3rem;
    top: 18rem;

    .auto-group-18nf-U5F {
      box-sizing: border-box;
      padding-bottom: 2.2779rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .auto-group-fdfq-BkM {
        margin: 0rem 52.61rem 2rem 0rem;
        width: calc(100% - 52.6099rem);
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .users-Vm3 {
          margin-right: 45.6rem;
          font-size: 1.6rem;
          font-weight: 700;
          line-height: 1.5;
          color: #858585;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .mask-group-cKs {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-top: 0.6rem;
          width: 12rem;
          height: 12rem;
          position: relative;
        }
      }
      .ramon-ridwan-V8m {
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.6341797511;
        color: #858585;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 1.11rem 1.159rem 0rem;
      }
      .ramonridwanprotonmailcom-vzm {
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 4.21rem 0.141rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
      }
      .auto-group-uqkd-qM3 {
        width: calc(100% - 95.5099rem);
        height: 4.0379rem;
        position: relative;
        flex-shrink: 0;
        margin: 0rem 51.11rem 1.295rem 44.4rem;

        .down-jxD {
          width: 3.1rem;
          top: 1.4932rem;
          font-size: 1.2rem;
          font-weight: 700;
          line-height: 1.2575;
          white-space: nowrap;
          height: 1.6rem;
          position: absolute;
          left: 4.899rem;
          color: #ffffff;
          font-family: Arial, 'Source Sans Pro';
        }
        .status-dnh {
          left: 0;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          background-color: #ffffff;
          border-radius: 0.5rem;
          width: 9.757rem;
          font-weight: 700;
          font-family: Arial, 'Source Sans Pro';
          border: solid 0.1rem #049904;
          white-space: nowrap;
          height: 3.7237rem;
          font-size: 1.2rem;
          line-height: 1.2575;
          color: #000000;
          position: absolute;
          top: 0;
          justify-content: center;
        }
        .section-status-Tmj {
          top: 0;
          border-radius: 0.5rem;
          width: 9.7rem;
          height: 4.0379rem;
          position: absolute;
          left: 9.6rem;

          .member-CDX {
            width: 100%;
            height: 100%;
            position: relative;
            border-radius: 0.5rem;

            .rectangle-97-98m {
              border-radius: 0.5rem;
              width: 9.0827rem;
              height: 3.6rem;
              position: absolute;
              left: 0.6173rem;
              top: 0;
              background-color: #6fff2d;
            }
            .desain-tanpa-judul-26-1-rYy {
              width: 4.1259rem;
              height: 2.802rem;
              position: absolute;
              left: 0;
              top: 0.4rem;
              object-fit: cover;
              vertical-align: top;
              border-radius: 0.5rem;
            }
            .member-x6D {
              letter-spacing: -0.01rem;
              color: #000000;
              position: absolute;
              top: 0.3447rem;
              justify-content: center;
              font-size: 1rem;
              width: 4.3rem;
              font-weight: 600;
              line-height: 2.4;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              height: 2.4rem;
              left: 4.3528rem;
              display: flex;
              align-items: center;
            }
            .bronze-Qyo {
              display: flex;
              align-items: center;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              height: 2.4rem;
              position: absolute;
              font-size: 0.6rem;
              color: #ffffff;
              width: 2rem;
              top: 1.6379rem;
              left: 5.3089rem;
              justify-content: center;
              letter-spacing: -0.006rem;
              font-weight: 500;
              line-height: 4;
            }
          }
        }
      }
      .auto-group-amoy-GFK {
        margin: 0rem 17.729rem 0rem 14.41rem;
        width: calc(100% - 32.1392rem);
        height: 7.9894rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .group-381-ALh {
          height: 7.9303rem;
          position: relative;
          flex-shrink: 0;
          margin: 0.059rem 2.167rem 0rem 0rem;
          width: 26.1122rem;

          .rectangle-275-foF {
            border-radius: 1rem;
            width: 26.1122rem;
            height: 7.7971rem;
            position: absolute;
            background-color: #ffffff;
            left: 0;
            top: 0;
            border: solid 0.2rem #f0f0f0;
            box-sizing: border-box;
          }
          .group-263-NSm {
            width: 4.5507rem;
            height: 3rem;
            position: absolute;
            top: 4.4892rem;
            display: flex;
            align-items: flex-start;
            border-radius: 0.05rem;
            padding-right: 0rem;
            left: 13.1103rem;
            box-sizing: border-box;

            .item-228-sPX {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 0.4922rem;
              font-size: 1.2rem;
              font-weight: 400;
              line-height: 2.5;
              color: #1cd1a1;
              font-family: Poppins, 'Source Sans Pro';
            }
            .path-2-zDF {
              margin-top: 0.4726rem;
              width: 0.7584rem;
              height: 0.2363rem;
              object-fit: contain;
              vertical-align: top;
              border-radius: 0.05rem;
              flex-shrink: 0;
            }
          }
          .jumlah-transaksi-tpR {
            font-weight: 700;
            color: #858585;
            white-space: nowrap;
            position: absolute;
            left: 13.1103rem;
            top: 1.6539rem;
            font-size: 1.2rem;
            line-height: 1.2575;
            font-family: Arial, 'Source Sans Pro';
            width: 9.4rem;
            height: 1.6rem;
          }
          .group-257-z6m {
            top: 0.6498rem;
            width: 10.8762rem;
            height: 7.2806rem;
            position: absolute;
            left: 1.6032rem;

            .path-4-MbX {
              width: 9.2599rem;
              height: 5.3872rem;
              position: absolute;
              left: 1.6163rem;
              top: 1.0554rem;
              object-fit: contain;
              vertical-align: top;
            }
            .path-2-copy-GiV {
              height: 2.6457rem;
              position: absolute;
              left: 3.8107rem;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 5.3132rem;
            }
            .item-75-Cc9 {
              line-height: 4.125;
              white-space: nowrap;
              width: 3.6rem;
              left: 2.4308rem;
              top: 2.2806rem;
              text-align: center;
              font-weight: 700;
              height: 5rem;
              position: absolute;
              font-size: 1.2rem;
              font-family: Poppins, 'Source Sans Pro';
            }
            .ellipse-7-gXK {
              height: 4.6648rem;
              position: absolute;
              left: 0;
              top: 0.4665rem;
              object-fit: contain;
              vertical-align: top;
              width: 8.5567rem;
            }
            .ellipse-8-D1T {
              width: 8.5567rem;
              height: 4.6648rem;
              position: absolute;
              left: 0;
              top: 0.4665rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
        }
        .group-382-vwT {
          display: flex;
          align-items: center;
          border: solid 0.2rem #f0f0f0;
          flex-shrink: 0;
          margin: 0.059rem 2.167rem 0.133rem 0rem;
          padding: 0.65rem 5.902rem 0.308rem 1.603rem;
          height: calc(100% - 0.1923rem);
          background-color: #ffffff;
          border-radius: 1rem;
          box-sizing: border-box;

          .group-299-Qbj {
            height: 6.4427rem;
            position: relative;
            flex-shrink: 0;
            margin: 0rem 0.631rem 0.397rem 0rem;
            width: 10.8762rem;

            .path-4-icR {
              top: 1.0554rem;
              object-fit: contain;
              vertical-align: top;
              width: 9.2599rem;
              height: 5.3872rem;
              position: absolute;
              left: 1.6163rem;
            }
            .path-2-copy-38u {
              left: 3.8107rem;
              top: 0;
              object-fit: contain;
              vertical-align: top;
              width: 5.3132rem;
              height: 2.6457rem;
              position: absolute;
            }
            .item-75-NS5 {
              left: 1.906rem;
              text-align: center;
              font-weight: 700;
              font-family: Poppins, 'Source Sans Pro';
              white-space: nowrap;
              height: 1.8rem;
              position: absolute;
              font-size: 1.2rem;
              line-height: 1.5;
              width: 4.9rem;
              top: 2.3037rem;
            }
            .ellipse-7-GXT {
              object-fit: contain;
              vertical-align: top;
              width: 8.5567rem;
              height: 4.6648rem;
              position: absolute;
              left: 0;
              top: 0.4665rem;
            }
            .ellipse-8-oXP {
              top: 0.4665rem;
              object-fit: contain;
              vertical-align: top;
              width: 8.5567rem;
              height: 4.6648rem;
              position: absolute;
              left: 0;
            }
          }
          .auto-group-p7es-8Jm {
            flex-shrink: 0;
            margin-top: 1.0042rem;
            width: 7.1rem;
            height: 5.8353rem;
            position: relative;

            .group-298-rEm {
              padding-right: 0rem;
              width: 4.5507rem;
              height: 3rem;
              display: flex;
              align-items: flex-start;
              border-radius: 0.05rem;
              box-sizing: border-box;
              position: absolute;
              left: 0;
              top: 2.8353rem;

              .item-228-kqw {
                font-weight: 400;
                line-height: 2.5;
                color: #1cd1a1;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 0.4922rem;
                font-size: 1.2rem;
              }
              .path-2-57X {
                height: 0.2363rem;
                object-fit: contain;
                vertical-align: top;
                border-radius: 0.05rem;
                flex-shrink: 0;
                margin-top: 0.4726rem;
                width: 0.7584rem;
              }
            }
            .total-amount-earned-Auf {
              width: 7.1rem;
              height: 3.1rem;
              position: absolute;
              left: 0;
              line-height: 1.2575;
              color: #858585;
              top: 0;
              font-size: 1.2rem;
              font-weight: 700;
              font-family: Arial, 'Source Sans Pro';
            }
          }
        }
        .auto-group-3qc3-2gy {
          height: 7.7971rem;
          position: relative;
          flex-shrink: 0;
          width: 26.1122rem;

          .group-300-kss {
            top: 4.9618rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.05rem;
            width: 0.7584rem;
            height: 0.2363rem;
            position: absolute;
            left: 16.9025rem;
          }
          .group-383-TnH {
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            align-items: center;
            box-sizing: border-box;
            width: 26.1122rem;
            height: 7.7971rem;
            border-radius: 1rem;
            padding: 0.65rem 4.402rem 0.308rem 1.603rem;
            border: solid 0.2rem #f0f0f0;
            background-color: #ffffff;

            .group-301-kmP {
              flex-shrink: 0;
              margin: 0rem 0.631rem 0.397rem 0rem;
              width: 10.8762rem;
              height: 6.4427rem;
              position: relative;

              .path-4-Tvh {
                height: 5.3872rem;
                position: absolute;
                left: 1.6163rem;
                top: 1.0555rem;
                object-fit: contain;
                vertical-align: top;
                width: 9.2599rem;
              }
              .path-2-copy-zQq {
                height: 2.6457rem;
                position: absolute;
                left: 3.8107rem;
                top: 0;
                object-fit: contain;
                vertical-align: top;
                width: 5.3132rem;
              }
              .item-75-vZP {
                position: absolute;
                top: 2.3037rem;
                font-size: 1.2rem;
                white-space: nowrap;
                font-family: Poppins, 'Source Sans Pro';
                width: 1.9rem;
                height: 1.8rem;
                left: 3.406rem;
                text-align: center;
                font-weight: 700;
                line-height: 1.5;
              }
              .ellipse-7-2MX {
                height: 4.6648rem;
                position: absolute;
                left: 0;
                top: 0.4665rem;
                object-fit: contain;
                vertical-align: top;
                width: 8.5567rem;
              }
              .ellipse-8-Meh {
                position: absolute;
                left: 0;
                top: 0.4665rem;
                object-fit: contain;
                vertical-align: top;
                width: 8.5567rem;
                height: 4.6648rem;
              }
            }
            .auto-group-9m1v-ssw {
              margin-top: 1.0042rem;
              width: 8.6rem;
              height: 5.8353rem;
              position: relative;
              flex-shrink: 0;

              .item-228-omb {
                color: #1cd1a1;
                width: 3.3rem;
                height: 3rem;
                position: absolute;
                left: 0;
                top: 2.8353rem;
                font-size: 1.2rem;
                line-height: 2.5;
                font-family: Poppins, 'Source Sans Pro';
                white-space: nowrap;
                font-weight: 400;
              }
              .total-amount-in-wallet-hry {
                font-size: 1.2rem;
                line-height: 1.2575;
                width: 8.6rem;
                height: 3.1rem;
                position: absolute;
                color: #858585;
                font-family: Arial, 'Source Sans Pro';
                left: 0;
                top: 0;
                font-weight: 700;
              }
            }
          }
        }
      }
    }
    .auto-group-f57q-Lf3 {
      width: 100%;
      height: 42.7rem;
      position: relative;
      flex-shrink: 0;

      .rectangle-310-xAd {
        border: solid 0.2rem #f0f0f0;
        border-radius: 1rem;
        height: 42.7rem;
        position: absolute;
        left: 0;
        top: 0;
        width: 114.8rem;
        box-sizing: border-box;
        background-color: #ffffff;
      }
      .rectangle-325-FfX {
        height: 3.8395rem;
        position: absolute;
        left: 5.6342rem;
        border: solid 0.1rem #f0f0f0;
        width: 100.2233rem;
        top: 5.8586rem;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 10rem;
      }
      .transaction-id-Xsw {
        top: 2.7279rem;
        font-weight: 700;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.2rem;
        line-height: 1.6341797511;
        color: #858585;
        width: 7.6rem;
        height: 2rem;
        position: absolute;
        left: 8.0179rem;
      }
      .item-22-12-2019-RiR {
        white-space: nowrap;
        width: 5.7rem;
        height: 2rem;
        left: 27.5208rem;
        font-size: 1.2rem;
        line-height: 1.6341797511;
        color: #858585;
        position: absolute;
        top: 7.2762rem;
        font-weight: 400;
        font-family: Arial, 'Source Sans Pro';
      }
      .item-289272304-7r9 {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 9.5348rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: #858585;
        width: 6.5rem;
        height: 2rem;
        top: 7.2762rem;
        line-height: 1.6341797511;
      }
      .item-3900000-R69 {
        color: #858585;
        white-space: nowrap;
        height: 2rem;
        position: absolute;
        top: 7.2762rem;
        font-size: 1.2rem;
        font-family: Arial, 'Source Sans Pro';
        width: 5.4rem;
        left: 62.5177rem;
        font-weight: 400;
        line-height: 1.6341797511;
      }
      .date-6i5 {
        width: 2.5rem;
        height: 2rem;
        line-height: 1.6341797511;
        color: #858585;
        white-space: nowrap;
        position: absolute;
        left: 30.0128rem;
        top: 2.7279rem;
        font-size: 1.2rem;
        font-weight: 700;
        font-family: Arial, 'Source Sans Pro';
      }
      .products-Cm7 {
        color: #858585;
        white-space: nowrap;
        height: 2rem;
        left: 45.5068rem;
        font-size: 1.2rem;
        font-weight: 700;
        font-family: Arial, 'Source Sans Pro';
        width: 4.8rem;
        position: absolute;
        top: 2.7279rem;
        line-height: 1.6341797511;
      }
      .status-6rV {
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        height: 2rem;
        position: absolute;
        line-height: 1.6341797511;
        font-size: 1.2rem;
        font-weight: 700;
        color: #858585;
        width: 3.4rem;
        left: 82.2373rem;
        top: 2.7279rem;
      }
      .action-zws {
        height: 2rem;
        position: absolute;
        top: 2.7279rem;
        font-weight: 700;
        line-height: 1.6341797511;
        font-family: Arial, 'Source Sans Pro';
        width: 3.4rem;
        left: 98.9231rem;
        font-size: 1.2rem;
        color: #858585;
        white-space: nowrap;
      }
      .amounts-u3F {
        width: 4.8rem;
        height: 2rem;
        left: 63.8179rem;
        font-size: 1.2rem;
        line-height: 1.6341797511;
        white-space: nowrap;
        position: absolute;
        top: 2.7279rem;
        font-weight: 700;
        color: #858585;
        font-family: Arial, 'Source Sans Pro';
      }
      .rectangle-329-CHF {
        position: absolute;
        left: 79.8536rem;
        top: 6.9218rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 21.5rem;
        width: 9.8598rem;
        height: 1.5949rem;
      }
      .successful-JbB {
        width: 5.6rem;
        height: 1.6rem;
        font-weight: 700;
        line-height: 1.2575;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 81.9835rem;
        top: 7.2172rem;
        text-align: center;
        font-size: 1.2rem;
        color: #ffffff;
      }
      .group-96-oH3 {
        position: absolute;
        left: 100.44rem;
        top: 7.5125rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.7336rem;
        height: 0.2205rem;
      }
      .rectangle-331-8KK {
        position: absolute;
        left: 5.6342rem;
        background-color: #ffffff;
        border-radius: 10rem;
        width: 100.2233rem;
        height: 3.8395rem;
        top: 10.2887rem;
        border: solid 0.1rem #f0f0f0;
        box-sizing: border-box;
      }
      .item-22-12-2019-phw {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #858585;
        left: 27.5208rem;
        top: 11.7064rem;
        position: absolute;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.7rem;
        height: 2rem;
      }
      .item-3900000-uUV {
        height: 2rem;
        position: absolute;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.6341797511;
        color: #858585;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.4rem;
        left: 62.5177rem;
        top: 11.7064rem;
      }
      .rectangle-332-nYH {
        vertical-align: top;
        border-radius: 21.5rem;
        width: 9.8598rem;
        height: 1.5949rem;
        position: absolute;
        left: 79.8536rem;
        top: 11.352rem;
        object-fit: contain;
      }
      .successful-uN1 {
        font-size: 1.2rem;
        color: #ffffff;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.6rem;
        position: absolute;
        left: 81.9835rem;
        top: 11.6473rem;
        text-align: center;
        font-weight: 700;
        line-height: 1.2575;
        height: 1.6rem;
      }
      .group-96-zPT {
        width: 1.7336rem;
        height: 0.2205rem;
        position: absolute;
        left: 100.44rem;
        top: 11.9427rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-333-WMo {
        position: absolute;
        top: 14.7189rem;
        border: solid 0.1rem #f0f0f0;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 10rem;
        height: 3.8395rem;
        left: 5.6342rem;
        width: 100.2233rem;
      }
      .item-22-12-2019-znm {
        font-size: 1.2rem;
        line-height: 1.6341797511;
        color: #858585;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        height: 2rem;
        position: absolute;
        top: 16.1366rem;
        width: 5.7rem;
        left: 27.5208rem;
        font-weight: 400;
      }
      .item-3900000-H1B {
        top: 16.1366rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: #858585;
        white-space: nowrap;
        left: 62.5177rem;
        height: 2rem;
        position: absolute;
        line-height: 1.6341797511;
        font-family: Arial, 'Source Sans Pro';
        width: 5.4rem;
      }
      .rectangle-334-NHX {
        left: 79.8536rem;
        top: 15.7822rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 21.5rem;
        width: 9.8598rem;
        height: 1.5949rem;
        position: absolute;
      }
      .decline-5xd {
        width: 4rem;
        height: 1.6rem;
        position: absolute;
        text-align: center;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        left: 82.7835rem;
        top: 16.0775rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #ffffff;
      }
      .group-96-nc9 {
        width: 1.7336rem;
        height: 0.2205rem;
        position: absolute;
        left: 100.44rem;
        top: 16.3729rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-335-JqP {
        position: absolute;
        left: 5.6342rem;
        border: solid 0.1rem #f0f0f0;
        border-radius: 10rem;
        width: 100.2233rem;
        height: 3.8395rem;
        top: 19.1491rem;
        box-sizing: border-box;
        background-color: #ffffff;
      }
      .item-22-12-2019-1E1 {
        width: 5.7rem;
        height: 2rem;
        left: 27.5208rem;
        top: 20.5667rem;
        line-height: 1.6341797511;
        color: #858585;
        white-space: nowrap;
        position: absolute;
        font-size: 1.2rem;
        font-weight: 400;
        font-family: Arial, 'Source Sans Pro';
      }
      .item-3900000-hcd {
        width: 5.4rem;
        height: 2rem;
        top: 20.5667rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: #858585;
        position: absolute;
        left: 62.5177rem;
        line-height: 1.6341797511;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rectangle-336-Q1F {
        position: absolute;
        left: 79.8536rem;
        top: 20.2124rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 21.5rem;
        width: 9.8598rem;
        height: 1.5949rem;
      }
      .successful-JcR {
        height: 1.6rem;
        left: 81.9835rem;
        font-weight: 700;
        color: #ffffff;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        width: 5.6rem;
        top: 20.5077rem;
        text-align: center;
        font-size: 1.2rem;
        line-height: 1.2575;
        position: absolute;
      }
      .group-96-zVF {
        height: 0.2205rem;
        position: absolute;
        left: 100.44rem;
        top: 20.8031rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.7336rem;
      }
      .rectangle-337-7Zs {
        background-color: #ffffff;
        border-radius: 10rem;
        height: 3.8395rem;
        box-sizing: border-box;
        left: 5.6342rem;
        top: 23.5793rem;
        border: solid 0.1rem #f0f0f0;
        width: 100.2233rem;
        position: absolute;
      }
      .item-22-12-2019-D77 {
        width: 5.7rem;
        height: 2rem;
        position: absolute;
        font-size: 1.2rem;
        color: #858585;
        white-space: nowrap;
        left: 27.5208rem;
        top: 24.9969rem;
        font-weight: 400;
        line-height: 1.6341797511;
        font-family: Arial, 'Source Sans Pro';
      }
      .item-3900000-7TP {
        width: 5.4rem;
        height: 2rem;
        position: absolute;
        top: 24.9969rem;
        color: #858585;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        left: 62.5177rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
      }
      .rectangle-338-12y {
        height: 1.5949rem;
        position: absolute;
        left: 79.8536rem;
        top: 24.6426rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 21.5rem;
        width: 9.8598rem;
      }
      .successful-v9w {
        left: 81.9835rem;
        line-height: 1.2575;
        white-space: nowrap;
        width: 5.6rem;
        height: 1.6rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 700;
        color: #ffffff;
        font-family: Arial, 'Source Sans Pro';
        position: absolute;
        top: 24.9378rem;
      }
      .group-96-zvV {
        width: 1.7336rem;
        height: 0.2205rem;
        position: absolute;
        left: 100.44rem;
        top: 25.2332rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-339-unZ {
        position: absolute;
        left: 5.6342rem;
        top: 28.0095rem;
        background-color: #ffffff;
        height: 3.8395rem;
        border: solid 0.1rem #f0f0f0;
        box-sizing: border-box;
        border-radius: 10rem;
        width: 100.2233rem;
      }
      .item-22-12-2019-1Ko {
        width: 5.7rem;
        height: 2rem;
        position: absolute;
        top: 29.4271rem;
        color: #858585;
        left: 27.5208rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-3900000-VVs {
        width: 5.4rem;
        height: 2rem;
        position: absolute;
        left: 62.5177rem;
        font-weight: 400;
        color: #858585;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        top: 29.4271rem;
        font-size: 1.2rem;
        line-height: 1.6341797511;
      }
      .rectangle-340-a1X {
        vertical-align: top;
        border-radius: 21.5rem;
        width: 9.8598rem;
        height: 1.5949rem;
        position: absolute;
        left: 79.8536rem;
        top: 29.0727rem;
        object-fit: contain;
      }
      .decline-sFX {
        height: 1.6rem;
        top: 29.368rem;
        text-align: center;
        font-weight: 700;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        width: 3.9rem;
        position: absolute;
        left: 82.8335rem;
        font-size: 1.2rem;
        line-height: 1.2575;
        color: #ffffff;
      }
      .group-96-AVX {
        height: 0.2205rem;
        position: absolute;
        left: 100.44rem;
        top: 29.6634rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.7336rem;
      }
      .rectangle-341-VGu {
        background-color: #ffffff;
        border-radius: 10rem;
        width: 100.2233rem;
        position: absolute;
        left: 5.6342rem;
        top: 32.4396rem;
        height: 3.8395rem;
        border: solid 0.1rem #f0f0f0;
        box-sizing: border-box;
      }
      .item-22-12-2019-P7P {
        font-size: 1.2rem;
        line-height: 1.6341797511;
        height: 2rem;
        position: absolute;
        left: 27.5208rem;
        top: 33.8573rem;
        white-space: nowrap;
        width: 5.7rem;
        font-weight: 400;
        color: #858585;
        font-family: Arial, 'Source Sans Pro';
      }
      .item-3900000-fah {
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        top: 33.8573rem;
        font-size: 1.2rem;
        line-height: 1.6341797511;
        color: #858585;
        font-weight: 400;
        width: 5.4rem;
        height: 2rem;
        position: absolute;
        left: 62.5177rem;
      }
      .rectangle-342-ZRB {
        border-radius: 21.5rem;
        width: 9.8598rem;
        height: 1.5949rem;
        position: absolute;
        left: 79.8536rem;
        top: 33.5029rem;
        object-fit: contain;
        vertical-align: top;
      }
      .successful-GqP {
        left: 81.9835rem;
        top: 33.7982rem;
        text-align: center;
        white-space: nowrap;
        font-weight: 700;
        line-height: 1.2575;
        color: #ffffff;
        font-family: Arial, 'Source Sans Pro';
        width: 5.6rem;
        height: 1.6rem;
        position: absolute;
        font-size: 1.2rem;
      }
      .group-96-mn9 {
        width: 1.7336rem;
        height: 0.2205rem;
        position: absolute;
        left: 100.44rem;
        top: 34.0936rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-343-u7f {
        top: 36.8698rem;
        border: solid 0.1rem #f0f0f0;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 10rem;
        width: 100.2233rem;
        height: 3.8395rem;
        position: absolute;
        left: 5.6342rem;
      }
      .item-22-12-2019-zQ1 {
        white-space: nowrap;
        width: 5.7rem;
        top: 38.2875rem;
        left: 27.5208rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #858585;
        font-family: Arial, 'Source Sans Pro';
        height: 2rem;
        position: absolute;
      }
      .item-3900000-syb {
        color: #858585;
        white-space: nowrap;
        width: 5.4rem;
        left: 62.5177rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        font-family: Arial, 'Source Sans Pro';
        height: 2rem;
        position: absolute;
        top: 38.2875rem;
      }
      .rectangle-344-N9f {
        object-fit: contain;
        vertical-align: top;
        border-radius: 21.5rem;
        width: 9.8598rem;
        height: 1.5949rem;
        position: absolute;
        left: 79.8536rem;
        top: 37.9331rem;
      }
      .decline-HXX {
        width: 4rem;
        height: 1.6rem;
        left: 82.7835rem;
        top: 38.2284rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.2575;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        text-align: center;
        color: #ffffff;
      }
      .group-96-mxV {
        position: absolute;
        left: 100.44rem;
        top: 38.5237rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.7336rem;
        height: 0.2205rem;
      }
      .group-267-u37 {
        cursor: pointer;
        position: absolute;
        left: 104.3rem;
        top: 7.3rem;
        width: 10.5099rem;
        height: 3.5083rem;

        .group-2-QkZ {
          position: absolute;
          left: 0;
          top: 0;
          width: 10.5099rem;
          height: 3.2488rem;

          .group-16-Yrm {
            height: 3.2488rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: contain;
            vertical-align: top;
            width: 10.5099rem;
          }
          .payment-details-tQq {
            width: 8.2rem;
            left: 1.2091rem;
            top: 0.451rem;
            line-height: 1.5;
            color: #ffffff;
            font-family: Poppins, 'Source Sans Pro';
            height: 1.5rem;
            position: absolute;
            text-align: center;
            font-size: 1rem;
            font-weight: 400;
            white-space: nowrap;
          }
        }
        .block-user-B93 {
          font-weight: 400;
          font-family: Poppins, 'Source Sans Pro';
          width: 5.1rem;
          height: 1.5rem;
          position: absolute;
          top: 2.0083rem;
          color: #858585;
          white-space: nowrap;
          left: 1.0797rem;
          text-align: center;
          font-size: 1rem;
          line-height: 1.5;
        }
      }
      .group-2-sXf {
        width: 10.5099rem;
        height: 1.6037rem;
        position: absolute;
        left: 100.6567rem;
        top: 38.9963rem;

        .group-16-zsB {
          vertical-align: top;
          width: 10.5099rem;
          height: 1.5949rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: contain;
        }
        .block-user-8yP {
          height: 1.5rem;
          left: 2.3562rem;
          top: 0.1037rem;
          text-align: center;
          font-weight: 400;
          color: #ffffff;
          width: 5.1rem;
          position: absolute;
          font-size: 1rem;
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .item-289272304-qso {
        font-size: 1.2rem;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        width: 6.5rem;
        position: absolute;
        left: 9.5348rem;
        top: 11.6473rem;
        line-height: 1.6341797511;
        color: #858585;
        white-space: nowrap;
        height: 2rem;
      }
      .item-289272304-8ru {
        position: absolute;
        left: 9.5348rem;
        top: 16.1366rem;
        line-height: 1.6341797511;
        color: #858585;
        white-space: nowrap;
        height: 2rem;
        font-size: 1.2rem;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        width: 6.5rem;
      }
      .item-289272304-Ssb {
        width: 6.5rem;
        position: absolute;
        left: 9.5348rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: #858585;
        font-family: Poppins, 'Source Sans Pro';
        height: 2rem;
        top: 20.5077rem;
        line-height: 1.6341797511;
        white-space: nowrap;
      }
      .item-289272304-AHo {
        color: #858585;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        font-weight: 400;
        line-height: 1.6341797511;
        width: 6.5rem;
        height: 2rem;
        position: absolute;
        left: 9.5348rem;
        top: 24.9378rem;
        font-size: 1.2rem;
      }
      .item-289272304-59s {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 9.5348rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #858585;
        width: 6.5rem;
        height: 2rem;
        top: 29.368rem;
        font-size: 1.2rem;
      }
      .item-289272304-Nuf {
        width: 6.5rem;
        height: 2rem;
        left: 9.5348rem;
        color: #858585;
        position: absolute;
        top: 33.7392rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-289272304-HWq {
        width: 6.5rem;
        left: 9.5348rem;
        font-size: 1.2rem;
        font-weight: 400;
        font-family: Poppins, 'Source Sans Pro';
        height: 2rem;
        position: absolute;
        top: 38.2284rem;
        line-height: 1.6341797511;
        color: #858585;
        white-space: nowrap;
      }
    }
  }
  .layout-navbar-admin-aF3 {
    width: 144rem;
    height: 9.1rem;
    position: absolute;
    left: 0;
    top: 0.1rem;
    overflow: hidden;
    background-color: #049904;

    .group-254-szq {
      height: 3.1341rem;
      position: absolute;
      left: 136.9rem;
      top: 3.1rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.1209rem;
    }
    .oval-2-QUy {
      vertical-align: top;
      width: 2.381rem;
      height: 2.4rem;
      position: absolute;
      left: 134.5rem;
      top: 2.2rem;
      object-fit: contain;
    }
    .item-12-jXF {
      height: 1.5rem;
      text-align: center;
      font-weight: 700;
      white-space: nowrap;
      letter-spacing: -0.0429rem;
      color: #000000;
      width: 0.6rem;
      position: absolute;
      left: 135.4rem;
      top: 2.6rem;
      font-size: 1rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
    }
    .search-bro-329 {
      position: absolute;
      left: 67.4rem;
      top: 2.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 42.2rem;
      height: 4rem;
    }
    .foodies-1-ZmB {
      position: absolute;
      left: 2.1rem;
      top: -0.1rem;
      object-fit: cover;
      vertical-align: top;
      width: 30.1rem;
      height: 27.7rem;
    }
    .dropdown-menu-5jX {
      left: 127.1rem;
      top: 1.7rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      padding: 1.2rem 1.38rem 1.2rem 1.472rem;
      height: 6rem;
      position: absolute;
      background-image: url('REPLACE_IMAGE:I113:5112;31:146');
      box-sizing: border-box;
      width: 6.348rem;

      .profil-aRP {
        vertical-align: top;
        width: 3.496rem;
        height: 3.6rem;
        object-fit: contain;
      }
    }
    .andi-akhsanul-6Pj {
      color: #ffff00;
      font-family: Arial, 'Source Sans Pro';
      width: 10.1rem;
      height: 2.4rem;
      top: 3.5rem;
      letter-spacing: -0.016rem;
      font-weight: 900;
      line-height: 1.5;
      white-space: nowrap;
      position: absolute;
      left: 114.3rem;
      text-align: center;
      font-size: 1.6rem;
    }
  }
}
