
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.landing-page-guest-rT3 {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 321.8rem;

  .hero-ZsF {
    box-sizing: border-box;
    padding: 1.7rem 4.7rem 1.7rem 4.1rem;
    top: 8.9rem;
    display: flex;
    align-items: center;
    width: 151.1rem;
    height: 51.1rem;
    position: absolute;
    left: 0.1rem;
    background-color: #ceff9d;

    .auto-group-2gax-EyP {
      margin: 7.2rem 6.6rem 7rem 0rem;
      width: 66.7rem;
      height: calc(100% - 14.2rem);
      flex-shrink: 0;

      .ingin-mencari-bahan-makanan-M2R {
        width: 100%;
        line-height: 0.48;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 4rem;
        text-align: center;
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: -0.05rem;
      }
      .dengan-mudah--EM7 {
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        margin-bottom: 4rem;
        font-size: 5rem;
        font-weight: 700;
        letter-spacing: -0.05rem;
        white-space: nowrap;
        width: 100%;
        text-align: center;
        line-height: 0.48;
      }
      .mudahbukausaha-k4Z {
        text-align: center;
        line-height: 0.48;
        letter-spacing: -0.05rem;
        font-family: Arial, 'Source Sans Pro';
        margin-bottom: 3rem;
        font-size: 5rem;
        font-weight: 700;
        color: #049904;
        white-space: nowrap;
        width: 100%;
      }
      .platform-mempermudah-masyarakat-untuk-mencari-bahan-makanan-tradisional-Sxy {
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        line-height: 1.3333333333;
        letter-spacing: -0.018rem;
        white-space: nowrap;
        margin-bottom: 0.9rem;
        width: 100%;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
      }
      .dan-manajemen-usaha-sendiri-serta-keuntungan-lainnya--jx5 {
        width: 100%;
        letter-spacing: -0.018rem;
        color: #000000;
        white-space: nowrap;
        margin-bottom: 3.2rem;
        text-align: center;
        font-size: 1.8rem;
        font-weight: 700;
        line-height: 1.3333333333;
        font-family: Arial, 'Source Sans Pro';
      }
      .auto-group-mo9m-dGm {
        width: 27.1rem;
        display: flex;
        font-weight: 700;
        font-family: Arial, 'Source Sans Pro';
        justify-content: center;
        border-radius: 1rem;
        text-align: center;
        line-height: 1.1428571429;
        letter-spacing: -0.021rem;
        align-items: center;
        background-color: #049904;
        height: 6.4rem;
        font-size: 2.1rem;
        color: #ffffff;
        white-space: nowrap;
      }
    }
    .auto-group-hk7h-HcD {
      flex-shrink: 0;
      margin-bottom: 3rem;
      width: 69rem;
      height: 44.7rem;
      position: relative;

      .ellipse-15-2Zo {
        width: 43.9rem;
        height: 34.4rem;
        position: absolute;
        left: 25.1rem;
        top: 8.8rem;
        object-fit: contain;
        vertical-align: top;
      }
      .gambar-semanggi-1-xCZ {
        width: 62.7rem;
        height: 44.7rem;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        vertical-align: top;
      }
    }
  }
  .section-2-FxM {
    background-color: #f9f5f5;
    width: 151.2rem;
    height: 60.5rem;
    position: absolute;
    left: 0;
    top: 60rem;

    .line-xbs {
      position: absolute;
      left: 40.7519rem;
      top: 10.4rem;
      background-color: #049904;
      border-radius: 0.3rem;
      width: 63.1132rem;
      height: 1.3rem;
    }
    .auto-group-hv7v-UKK {
      height: 27.6rem;
      position: absolute;
      left: 6.1rem;
      top: 15.2rem;
      display: flex;
      align-items: center;
      width: 138.5rem;

      .card1-z2m {
        padding: 1.1rem 7.6rem 3.5rem 7.7rem;
        height: 100%;
        align-items: center;
        flex-shrink: 0;
        margin-right: 9.4rem;
        box-sizing: border-box;
        width: 40.4rem;
        display: flex;
        flex-direction: column;
        background-color: #049904;
        border-radius: 2.6rem;

        .desain-tanpa-judul-18-1-gAV {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.3rem;
          width: 25.1rem;
          height: 17.2rem;
        }
        .mau-usaha-tapi-nzD {
          text-align: center;
          font-size: 2.5rem;
          font-weight: 700;
          letter-spacing: -0.025rem;
          color: #ffffff;
          margin: 0rem 0.4rem 0.7rem 0rem;
          line-height: 0.96;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .gatau-caranya-4gq {
          font-size: 2.5rem;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          color: #ffffff;
          margin-right: 0.5rem;
          text-align: center;
          font-weight: 700;
          line-height: 0.96;
          letter-spacing: -0.025rem;
        }
      }
      .card1-vj3 {
        margin-right: 7.9rem;
        box-sizing: border-box;
        padding: 1.3rem 7.1rem 3.8rem 7.4rem;
        flex-shrink: 0;
        flex-direction: column;
        background-color: #049904;
        border-radius: 2.6rem;
        width: 40.4rem;
        height: 100%;
        align-items: center;
        display: flex;

        .desain-tanpa-judul-19-1-1Vb {
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 1.9rem;
          width: 25.9rem;
          height: 15.2rem;
        }
        .capek-ngumpulin-vsT {
          text-align: center;
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 1rem 0.6rem 0rem;
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 0.96;
          letter-spacing: -0.025rem;
          color: #ffffff;
          font-family: Arial, 'Source Sans Pro';
        }
        .modal-yang-gede--2Qh {
          letter-spacing: -0.025rem;
          color: #ffffff;
          font-family: Arial, 'Source Sans Pro';
          margin-right: 0.1rem;
          font-size: 2.5rem;
          font-weight: 700;
          flex-shrink: 0;
          text-align: center;
          line-height: 0.96;
          white-space: nowrap;
        }
      }
      .card1-hFw {
        height: 100%;
        flex-direction: column;
        border-radius: 2.6rem;
        align-items: center;
        display: flex;
        background-color: #049904;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2rem 3.9rem 3.8rem 5.9rem;
        width: 40.4rem;

        .auto-group-a8zf-Qw3 {
          flex-shrink: 0;
          margin: 0rem 1.5rem 0.8rem 0rem;
          width: 27.7rem;
          height: 18.6rem;
          position: relative;

          .desain-tanpa-judul-20-1-XVs {
            vertical-align: top;
            width: 27.7rem;
            height: 17.3rem;
            position: absolute;
            left: 0;
            top: 0;
            object-fit: cover;
          }
          .mau-jualan-tapi-gatau-FRs {
            position: absolute;
            left: 3.25rem;
            text-align: center;
            line-height: 0.96;
            letter-spacing: -0.025rem;
            white-space: nowrap;
            width: 23.1rem;
            height: 2.4rem;
            font-weight: 700;
            color: #ffffff;
            font-family: Arial, 'Source Sans Pro';
            top: 16.2rem;
            font-size: 2.5rem;
          }
        }
        .beli-bahan-makanan-dimana-7ys {
          font-size: 2.5rem;
          font-weight: 700;
          line-height: 0.96;
          letter-spacing: -0.025rem;
          color: #ffffff;
          flex-shrink: 0;
          text-align: center;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .biasanya-ini-kendala-saat-akan-mulai-usaha-o61 {
      text-align: center;
      font-weight: 700;
      line-height: 0.5333333333;
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      width: 86.4rem;
      left: 30.5rem;
      top: 5.7rem;
      letter-spacing: -0.045rem;
      color: #049904;
      height: 2.4rem;
      position: absolute;
      font-size: 4.5rem;
    }
    .platform-foodys-hadir-sebagai-solusi--53X {
      top: 52.4rem;
      font-weight: 700;
      line-height: 0.6666666667;
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      letter-spacing: -0.036rem;
      color: #049904;
      width: 61.4rem;
      height: 2.4rem;
      position: absolute;
      left: 43.05rem;
      text-align: center;
      font-size: 3.6rem;
    }
    .apakah-anda-mengalami-hal-tersebut-jika-iya-wajar-kok-anda-tidak-sendiri--8Gh {
      font-weight: 400;
      font-family: Arial, 'Source Sans Pro';
      top: 47.3rem;
      text-align: center;
      position: absolute;
      left: 31.6rem;
      font-size: 2.8rem;
      line-height: 0.8571428571;
      letter-spacing: -0.028rem;
      color: #049904;
      width: 88.1rem;
      height: 2.4rem;
      white-space: nowrap;
    }
  }
  .section-3-mKf {
    display: grid;
    grid-template-columns: repeat(2, 71.9233rem);
    height: 60.7rem;
    position: absolute;
    left: 0;
    top: 120.5rem;
    grid-auto-rows: 30.2875rem;
    box-sizing: border-box;
    padding: 6.5rem 5.1rem 8.9rem 6.1rem;
    width: 151.2rem;
    background-color: #ceff9d;

    .auto-group-ser7-DBf {
      width: 100%;
      display: flex;
      align-items: flex-end;

      .card1-kxH {
        box-sizing: border-box;
        width: 42.8rem;
        align-items: center;
        border-radius: 2.6rem;
        flex-shrink: 0;
        margin: 0rem 6rem 0.3rem 0rem;
        padding: 0.3rem 5.1rem 6.2rem 4rem;
        display: flex;
        flex-direction: column;
        background-color: #049904;

        .desain-tanpa-judul-21-1-3gV {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 1.3rem 0.4rem 0rem;
          width: 19.8rem;
          height: 17.8rem;
          object-fit: cover;
        }
        .produk-pasti-laris-YdF {
          margin: 0rem 1.6rem 2.7rem 0rem;
          line-height: 0.6315789474;
          letter-spacing: -0.038rem;
          color: #ffff00;
          flex-shrink: 0;
          text-align: center;
          font-size: 3.8rem;
          font-weight: 700;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
        }
        .anda-tidak-perlu-pusing-mencari-bahan-kami-sudah-menyediakan-bahan-yang-mempermudah-untuk-dijual-2oK {
          line-height: 1.2;
          letter-spacing: -0.02rem;
          color: #ffffff;
          font-family: Arial, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 33.7rem;
          text-align: center;
          font-size: 2rem;
          font-weight: 700;
        }
      }
      .card1-Ttd {
        display: flex;
        flex-direction: column;
        border-radius: 2.6rem;
        flex-shrink: 0;
        margin-right: 5.6rem;
        box-sizing: border-box;
        padding: 0.8rem 3.15rem 6.5rem 3.95rem;
        width: 42.8rem;
        align-items: center;
        background-color: #049904;

        .desain-tanpa-judul-22-1-AY9 {
          flex-shrink: 0;
          margin: 0rem 1rem 1.2rem 0rem;
          width: 15.2rem;
          height: 16.7rem;
          object-fit: cover;
          vertical-align: top;
        }
        .tracking-outlet-sSZ {
          font-weight: 700;
          font-family: Arial, 'Source Sans Pro';
          flex-shrink: 0;
          font-size: 3.8rem;
          text-align: center;
          line-height: 0.6315789474;
          letter-spacing: -0.038rem;
          color: #ffff00;
          white-space: nowrap;
          margin: 0rem 1.2rem 2.2rem 0rem;
        }
        .mendeteksi-outlet-terdekat-yang-telah-mendaftar-di-platform-memudahkan-pengusaha-untuk-mendeteksi-competitor-lain-MsX {
          font-size: 1.8rem;
          font-weight: 700;
          color: #ffffff;
          font-family: Arial, 'Source Sans Pro';
          max-width: 35.7rem;
          text-align: center;
          line-height: 1.3333333333;
          letter-spacing: -0.018rem;
          flex-shrink: 0;
        }
      }
      .card1-C7T {
        width: 42.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 1.6rem 4.4rem 8.5rem 6.2rem;
        background-color: #049904;
        border-radius: 2.6rem;

        .desain-tanpa-judul-23-1-WP3 {
          margin: 0rem 0rem 0.5rem 2rem;
          width: 26.8rem;
          height: 17.2rem;
          object-fit: cover;
          vertical-align: top;
          flex-shrink: 0;
        }
        .manajemen-usaha-Cmf {
          letter-spacing: -0.038rem;
          color: #ffff00;
          margin: 0rem 0rem 2rem 0.9rem;
          text-align: center;
          font-size: 3.8rem;
          font-weight: 700;
          line-height: 0.6315789474;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .manajemen-outlet-sendiri-dapat-melihat-keuntungan-stok-profil-outlet-JJu {
          flex-shrink: 0;
          max-width: 32.2rem;
          font-size: 1.8rem;
          color: #ffffff;
          letter-spacing: -0.018rem;
          font-family: Arial, 'Source Sans Pro';
          text-align: center;
          font-weight: 700;
          line-height: 1.3333333333;
        }
      }
    }
    .kenapa-harus-di-foodys-aja--9KX {
      font-size: 4.5rem;
      font-weight: 700;
      line-height: 0.5333333333;
      letter-spacing: -0.045rem;
      color: #049904;
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      text-align: center;
    }
    .line-TLD {
      width: 63.1132rem;
      height: 1.3rem;
      background-color: #049904;
      border-radius: 0.3rem;
    }
  }
  .section4-y3f {
    width: 151.2rem;
    height: 57.2rem;
    position: absolute;
    left: 0;
    top: 181.2rem;
    background-color: #f9f5f5;
    box-sizing: border-box;
    padding-bottom: 7.2rem;

    .auto-group-bpxd-tAd {
      width: 100%;
      height: 12.8rem;
      display: flex;
      align-items: center;
      background-color: #8fff73;
      margin-bottom: 4.4rem;
      box-sizing: border-box;
      padding: 3.2rem 101.535rem 3.3rem 8.61rem;

      .auto-group-49po-B9j {
        height: 100%;
        font-size: 2.9rem;
        letter-spacing: -0.029rem;
        align-items: center;
        justify-content: center;
        width: 17.955rem;
        background-color: #f9f5f5;
        margin-right: 5.145rem;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        flex-shrink: 0;
        text-align: center;
        font-weight: 700;
        line-height: 0.8275862069;
        white-space: nowrap;
        display: flex;
        border-radius: 0.7rem;
      }
      .auto-group-216k-Rpm {
        display: flex;
        justify-content: center;
        height: 100%;
        letter-spacing: -0.029rem;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        align-items: center;
        text-align: center;
        font-weight: 700;
        line-height: 0.8275862069;
        background-color: #f9f5f5;
        border-radius: 0.7rem;
        flex-shrink: 0;
        width: 17.955rem;
        font-size: 2.9rem;
        white-space: nowrap;
      }
    }
    .produk-paling-laris-tCZ {
      text-align: center;
      font-size: 4.5rem;
      color: #000000;
      white-space: nowrap;
      margin-bottom: 5.1964rem;
      width: 100%;
      font-weight: 700;
      line-height: 0.5333333333;
      letter-spacing: -0.045rem;
      font-family: Arial, 'Source Sans Pro';
    }
    .auto-group-qimr-mXF {
      margin: 0rem 5.4rem 0rem 5.6rem;
      width: calc(100% - 11rem);
      height: 25.2036rem;
      display: flex;
      align-items: center;

      .daun-semanggi-s4V {
        flex-shrink: 0;
        margin: 0rem 8.4rem 0.092rem 0rem;
        width: 41.8rem;
        height: 25.104rem;
        position: relative;
        border-radius: 0.5rem;

        .foto-barang-Zxu {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 41.1rem;
          height: 19.3844rem;
          position: absolute;
          left: 0.7rem;
          top: 0;
        }
        .tag-barang-HP7 {
          top: 18.3402rem;
          border-radius: 0.5rem;
          width: 41.8rem;
          height: 6.7638rem;
          position: absolute;
          left: 0;

          .nama-produk-harga-Cky {
            background-color: #049904;
            border-radius: 0.5rem;
            width: 41.1rem;
            height: 6.7638rem;
            position: absolute;
            left: 0.7rem;
            top: 0;
          }
          .daun-semanggi-88q {
            align-items: center;
            font-weight: 900;
            white-space: nowrap;
            left: 3.35rem;
            top: 0.6598rem;
            position: absolute;
            font-size: 2.5rem;
            width: 18.2rem;
            height: 2.4rem;
            color: #ffffff;
            display: flex;
            line-height: 0.96;
            font-family: Arial, 'Source Sans Pro';
            justify-content: center;
            letter-spacing: -0.025rem;
          }
          .rp-15000-PqT {
            height: 2.4rem;
            display: flex;
            line-height: 0.96;
            color: #ffffff;
            width: 10.6rem;
            left: 28.1088rem;
            font-size: 2.5rem;
            letter-spacing: -0.025rem;
            white-space: nowrap;
            position: absolute;
            font-family: Arial, 'Source Sans Pro';
            font-weight: 700;
            align-items: center;
            justify-content: center;
            top: 3.6255rem;
          }
        }
      }
      .bawang-goreng-emP {
        height: 25.1036rem;
        position: relative;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin: 0rem 8rem 0.1rem 0rem;
        width: 41.1rem;

        .foto-barang-NBb {
          height: 23.2826rem;
          position: absolute;
          left: 0.8116rem;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 40.2884rem;
        }
        .tag-barang-t9w {
          position: absolute;
          left: 0;
          top: 18.4036rem;
          border-radius: 0.5rem;
          width: 41.1rem;
          height: 6.7rem;

          .nama-produk-harga-p3b {
            border-radius: 0.5rem;
            width: 40.2884rem;
            height: 6.7rem;
            position: absolute;
            left: 0.8116rem;
            top: 0;
            background-color: #8fff73;
          }
          .bawang-goreng-jAZ {
            top: 0.6874rem;
            justify-content: center;
            color: #ffffff;
            white-space: nowrap;
            font-weight: 700;
            font-family: Arial, 'Source Sans Pro';
            width: 17.1rem;
            left: 2.4018rem;
            display: flex;
            align-items: center;
            font-size: 2.5rem;
            height: 2.4rem;
            position: absolute;
            letter-spacing: -0.025rem;
            line-height: 0.96;
          }
          .rp-7000-D5j {
            display: flex;
            position: absolute;
            align-items: center;
            font-family: Arial, 'Source Sans Pro';
            white-space: nowrap;
            left: 29.9279rem;
            justify-content: center;
            font-weight: 700;
            color: #ffffff;
            letter-spacing: -0.025rem;
            width: 9.3rem;
            height: 2.4rem;
            top: 3.6617rem;
            font-size: 2.5rem;
            line-height: 0.96;
          }
        }
      }
      .lentho-sAH {
        position: relative;
        border-radius: 0.5rem;
        flex-shrink: 0;
        margin-top: 0.0036rem;
        width: 40.9rem;
        height: calc(100% - 0.0036rem);

        .foto-barang-nY9 {
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 40.9rem;
          height: 23.9936rem;
          position: absolute;
          left: 0;
          top: 0;
        }
        .tag-barang-Wyw {
          width: 40.9rem;
          left: 0;
          top: 18.2954rem;
          display: flex;
          background-color: #8fff73;
          padding: 0.745rem 1.609rem 0.694rem 1.697rem;
          height: 6.9046rem;
          position: absolute;
          align-items: center;
          flex-direction: column;
          border-radius: 0.5rem;
          box-sizing: border-box;

          .lentho-Dms {
            margin: 0rem 29.894rem 0.665rem 0rem;
            display: flex;
            justify-content: center;
            font-weight: 700;
            line-height: 0.96;
            letter-spacing: -0.025rem;
            align-items: center;
            font-size: 2.5rem;
            color: #ffffff;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
          .rp-4000-JoK {
            margin-left: 27.6943rem;
            align-items: center;
            flex-shrink: 0;
            font-family: Roboto, 'Source Sans Pro';
            display: flex;
            justify-content: center;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 0.96;
            letter-spacing: -0.025rem;
            color: #ffffff;
            white-space: nowrap;
          }
        }
      }
    }
  }
  .auto-group-mumy-xN5 {
    position: absolute;
    left: 0;
    top: 238.4rem;
    width: 151.2rem;
    height: 83.4rem;

    .section-5-GNm {
      box-sizing: border-box;
      align-items: center;
      flex-direction: column;
      background-color: #ceff9d;
      left: 0;
      top: 0;
      display: flex;
      padding: 4.4rem 41.35rem 5.1rem 35.05rem;
      width: 151.2rem;
      height: 27rem;
      position: absolute;

      .segera-bergabung-dengan-kami--8vm {
        line-height: 0.5333333333;
        letter-spacing: -0.045rem;
        flex-shrink: 0;
        margin: 0rem 0rem 3.1rem 4rem;
        text-align: center;
        color: #049904;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 4.5rem;
        font-weight: 700;
      }
      .mencari-bahan-baku-makanan-tradisional-foodys-tempatnya--DhK {
        font-weight: 400;
        letter-spacing: -0.028rem;
        margin-bottom: 3.2rem;
        font-size: 2.8rem;
        color: #049904;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        line-height: 0.8571428571;
      }
      .auto-group-vbrv-Vuj {
        margin: 0rem 23.55rem 0rem 24.15rem;
        height: 6.4rem;
        text-align: center;
        line-height: 1.1428571429;
        letter-spacing: -0.021rem;
        background-color: #049904;
        border-radius: 1rem;
        color: #ffffff;
        font-family: Arial, 'Source Sans Pro';
        display: flex;
        align-items: center;
        width: calc(100% - 47.7rem);
        font-size: 2.1rem;
        font-weight: 700;
        white-space: nowrap;
        justify-content: center;
        flex-shrink: 0;
      }
    }
    .footer-vEM {
      position: absolute;
      left: 0;
      top: 20.8rem;
      width: 151.2rem;
      height: 62.6rem;

      .footer-qcD {
        padding: 13.2rem 7rem 3rem 7rem;
        top: 6.2rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 151.2rem;
        height: 56.4rem;
        position: absolute;
        left: 0;
        align-items: center;
        background-color: #049904;

        .pemisah-KGV {
          margin-bottom: 1.6rem;
          width: 100%;
          height: 0.1rem;
          background-color: #000000;
          flex-shrink: 0;
        }
        .isi-footer-eZf {
          width: calc(100% - 30.6rem);
          height: 26.6rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;
          margin: 0rem 15.3rem 2rem 15.3rem;

          .quotes-x4Z {
            flex-shrink: 0;
            height: 100%;
            display: flex;
            flex-direction: column;

            .auto-group-p5kq-6wT {
              margin-bottom: 0.6rem;
              width: 6.9001rem;
              height: 2.4rem;
              position: relative;
              flex-shrink: 0;

              .tagline-2KK {
                justify-content: center;
                letter-spacing: -0.016rem;
                white-space: nowrap;
                display: flex;
                height: 2.4rem;
                position: absolute;
                top: 0;
                align-items: baseline;
                font-size: 1.6rem;
                font-weight: 700;
                color: #ffffff;
                width: 5.3rem;
                line-height: 1.5;
                font-family: Arial, 'Source Sans Pro';
                left: 0.85rem;

                .tagline-2KK-sub-0 {
                }
                .tagline-2KK-sub-1 {
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  color: #ffff00;
                  font-family: Arial, 'Source Sans Pro';
                }
              }
              .line-23-Phb {
                height: 0;
                position: absolute;
                left: 0;
                top: 2.225rem;
                object-fit: contain;
                vertical-align: top;
                width: 6.9001rem;
              }
            }
            .tujuan-kami-bukan-menciptakan-bisnis-yang-besar-tetapi-membangun-sesuatu-yang-membuat-perubahan-besar-K5T {
              line-height: 1.7142857143;
              font-style: italic;
              flex-shrink: 0;
              max-width: 22.9rem;
              font-size: 1.4rem;
              letter-spacing: -0.014rem;
              color: #ffffff;
              font-family: Arial, 'Source Sans Pro';
              margin: 0rem 0rem 1rem 0rem;
              font-weight: 400;
            }
            .semua-impian-kita-menjadi-kanyataan-jika-kita-mempunyai-keberanian-unutk-mengerjakannya-walt-disney-kRf {
              max-width: 22.8rem;
              font-size: 1.4rem;
              font-weight: 400;
              color: #ffffff;
              flex-shrink: 0;
              margin-bottom: 1rem;
              line-height: 1.7142857143;
              letter-spacing: -0.014rem;
              font-style: italic;
              font-family: Arial, 'Source Sans Pro';
            }
            .wirausahawan-sejadi-meciptakan-peluang-bisnis-sedangkan-wirausahawan-bisa-fokus-mengejar-uang-bSH {
              font-family: Arial, 'Source Sans Pro';
              font-weight: 400;
              line-height: 1.7142857143;
              color: #ffffff;
              font-style: italic;
              flex-shrink: 0;
              max-width: 25.1rem;
              font-size: 1.4rem;
              letter-spacing: -0.014rem;
            }
          }
          .auto-group-agwf-44y {
            box-sizing: border-box;
            padding-left: 11.4rem;
            height: 100%;
            display: flex;
            align-items: flex-start;
            flex-shrink: 0;

            .about-us-yhj {
              margin-right: 11.2rem;
              width: 27.1rem;
              flex-shrink: 0;

              .auto-group-9has-Jk1 {
                width: 7.4rem;
                height: 2.4rem;
                position: relative;
                margin-bottom: 0.6rem;

                .line-24-SLR {
                  vertical-align: top;
                  width: 7.4rem;
                  height: 0;
                  position: absolute;
                  left: 0;
                  top: 2.2123rem;
                  object-fit: contain;
                }
                .aboutus-aSd {
                  display: flex;
                  align-items: baseline;
                  white-space: nowrap;
                  position: absolute;
                  justify-content: center;
                  font-weight: 700;
                  line-height: 1.5;
                  left: 0.75rem;
                  letter-spacing: -0.016rem;
                  color: #ffffff;
                  font-family: Arial, 'Source Sans Pro';
                  width: 5.9rem;
                  height: 2.4rem;
                  top: 0;
                  font-size: 1.6rem;

                  .aboutus-aSd-sub-0 {
                  }
                  .aboutus-aSd-sub-1 {
                    line-height: 1.5;
                    letter-spacing: -0.016rem;
                    color: #ffff00;
                    font-family: Arial, 'Source Sans Pro';
                    font-size: 1.6rem;
                    font-weight: 700;
                  }
                }
              }
              .group-263-uNR {
                display: flex;
                align-items: flex-start;
                margin: 0rem 0rem 3rem 0.1rem;
                box-sizing: border-box;
                padding-left: 0.3125rem;
                width: calc(100% - 0.1rem);

                .location-CsK {
                  width: 0.875rem;
                  height: 1.3029rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0.725rem 0.513rem 0rem 0rem;
                }
                .jl-dharmawangsa-no138-d-airlangga-kec-gubeng-surabaya-jawa-timur-60282-7UV {
                  font-family: Arial, 'Source Sans Pro';
                  flex-shrink: 0;
                  max-width: 25.3rem;
                  font-size: 1.4rem;
                  font-weight: 400;
                  line-height: 1.7142857143;
                  letter-spacing: -0.014rem;
                  color: #ffffff;
                }
              }
              .group-264-zoB {
                margin: 0rem 8.4rem 0.6rem 0rem;
                width: calc(100% - 8.4rem);
                display: flex;
                align-items: center;

                .icon-envelope-closed-iDP {
                  margin: 0.2rem 0.5rem 0rem 0rem;
                  width: 1.6rem;
                  height: 1.2rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .foodysbussinesgmailcom-DA9 {
                  font-size: 1.4rem;
                  line-height: 1.7142857143;
                  color: #ffffff;
                  white-space: nowrap;
                  flex-shrink: 0;
                  display: flex;
                  letter-spacing: -0.014rem;
                  font-family: Arial, 'Source Sans Pro';
                  font-weight: 400;
                }
              }
              .group-265-82D {
                padding-left: 0.1333rem;
                width: calc(100% - 17rem);
                display: flex;
                align-items: center;
                margin: 0rem 17rem 0rem 0rem;
                box-sizing: border-box;

                .calling-djf {
                  width: 1.3333rem;
                  height: 1.25rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin: 0rem 0.633rem 0.1rem 0rem;
                }
                .item-0274-2885822-M9s {
                  font-size: 1.4rem;
                  line-height: 1.7142857143;
                  font-family: Arial, 'Source Sans Pro';
                  flex-shrink: 0;
                  font-weight: 400;
                  letter-spacing: -0.014rem;
                  font-style: italic;
                  color: #ffffff;
                  white-space: nowrap;
                }
              }
            }
            .auto-group-5b47-ePs {
              width: 9.7046rem;
              height: 7rem;
              position: relative;
              flex-shrink: 0;
              margin-right: 7.9954rem;

              .comunity-Ad7 {
                width: 7.9rem;
                height: 7rem;
                position: absolute;
                left: 0;
                top: 0;
                align-items: center;
                display: flex;
                flex-direction: column;

                .comunity-h7F {
                  font-weight: 700;
                  line-height: 1.5;
                  color: #ffffff;
                  white-space: nowrap;
                  flex-shrink: 0;
                  align-items: baseline;
                  margin: 0rem 0rem 1.6rem 1.2rem;
                  font-size: 1.6rem;
                  letter-spacing: -0.016rem;
                  font-family: Arial, 'Source Sans Pro';
                  display: flex;

                  .comunity-h7F-sub-0 {
                  }
                  .comunity-h7F-sub-1 {
                    font-weight: 700;
                    line-height: 1.5;
                    letter-spacing: -0.016rem;
                    color: #ffff00;
                    font-family: Arial, 'Source Sans Pro';
                    font-size: 1.6rem;
                  }
                }
                .group-266-SDF {
                  width: 6.7rem;
                  height: 3rem;
                  position: relative;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  margin-right: 1.2rem;
                }
              }
              .line-26-ji9 {
                width: 9.7046rem;
                height: 0.1rem;
                position: absolute;
                left: 0;
                top: 2.5rem;
                background-color: #000000;
              }
            }
            .sosmed-rGy {
              margin-top: 0.1rem;
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .social-media-ycV {
                color: #ffffff;
                white-space: nowrap;
                display: flex;
                align-items: baseline;
                font-size: 1.6rem;
                font-weight: 700;
                line-height: 1.5;
                letter-spacing: -0.016rem;
                font-family: Arial, 'Source Sans Pro';
                flex-shrink: 0;
                margin-left: 0.2rem;

                .social-media-ycV-sub-0 {
                }
                .social-media-ycV-sub-1 {
                  font-size: 1.6rem;
                  font-weight: 700;
                  line-height: 1.5;
                  letter-spacing: -0.016rem;
                  color: #ffff00;
                  font-family: Arial, 'Source Sans Pro';
                }
              }
              .line-25-wSq {
                margin-bottom: 1.4rem;
                width: 10.0045rem;
                height: 0.1rem;
                background-color: #000000;
                flex-shrink: 0;
              }
              .list-sosmed-ftd {
                position: relative;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                width: 14.1rem;
                height: 3rem;
              }
            }
          }
        }
        .pemisah-Q5X {
          height: 0.1rem;
          background-color: #000000;
          flex-shrink: 0;
          margin-bottom: 3.3rem;
          width: 100%;
        }
        .copyright-2023-by-foodys-all-rights-reserved-vpZ {
          flex-shrink: 0;
          margin: 0rem 2.7rem 1.7rem 0rem;
          font-size: 1.3rem;
          letter-spacing: -0.013rem;
          font-family: Arial, 'Source Sans Pro';
          font-weight: 400;
          line-height: 1.8461538462;
          color: #ffffff;
          white-space: nowrap;
        }
        .terima-kasih-telah-mengunjungi-foodys-jangan-ragu-untuk-menghubungi-kami-jika-anda-memiliki-pertanyaan-atau-saran-nLy {
          font-size: 1.3rem;
          line-height: 1.8461538462;
          white-space: nowrap;
          margin-right: 4.3rem;
          letter-spacing: -0.013rem;
          color: #ffffff;
          font-family: Arial, 'Source Sans Pro';
          flex-shrink: 0;
          font-weight: 400;
        }
      }
      .foodies-1-dsP {
        vertical-align: top;
        width: 30.1rem;
        height: 27.7rem;
        position: absolute;
        left: 7.2rem;
        top: 0;
        object-fit: cover;
      }
      .line-22-wt5 {
        position: absolute;
        left: 0;
        top: 6.2rem;
        background-color: #000000;
        width: 151.2rem;
        height: 0.2rem;
      }
    }
  }
  .layout-navbar-guest-fZB {
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #049904;
    width: 151.2rem;
    height: 9.1rem;
    position: absolute;

    .button-PEH {
      border-radius: 1rem;
      width: 21.4rem;
      height: 4.6rem;
      position: absolute;
      left: 123.2rem;
      top: 2.1rem;
      display: flex;
      align-items: center;

      .login-W41 {
        font-weight: 700;
        background-color: #ffffff;
        flex-shrink: 0;
        line-height: 1.5;
        width: 10.2rem;
        height: 100%;
        font-size: 1.6rem;
        color: #000000;
        white-space: nowrap;
        border-radius: 1rem;
        margin-right: 1rem;
        letter-spacing: -0.016rem;
        font-family: Arial, 'Source Sans Pro';
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
      }
      .register-kj3 {
        width: 10.2rem;
        height: 100%;
        border-radius: 1rem;
        flex-shrink: 0;

        .button-JkZ {
          height: 100%;
          letter-spacing: -0.016rem;
          align-items: center;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          text-align: center;
          font-size: 1.6rem;
          color: #ffffff;
          display: flex;
          background-color: #ffb000;
          border-radius: 1rem;
          width: 100%;
          font-weight: 700;
          line-height: 1.5;
          justify-content: center;
        }
      }
    }
    .line-22-xq7 {
      height: 0.1rem;
      position: absolute;
      left: 0;
      top: 9rem;
      background-color: #000000;
      width: 151.2rem;
    }
    .navigasi-6Ad {
      width: 23.2rem;
      height: 2.4rem;
      position: absolute;
      left: 93.75rem;
      top: 3.3rem;
      display: flex;
      align-items: center;

      .home-CUZ {
        color: #ffff00;
        flex-shrink: 0;
        margin-right: 4.3rem;
        font-size: 1.6rem;
        font-weight: 900;
        letter-spacing: -0.016rem;
        text-align: center;
        line-height: 1.5;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
      }
      .outlet-7Ld {
        white-space: nowrap;
        flex-shrink: 0;
        text-align: center;
        letter-spacing: -0.016rem;
        color: #ffffff;
        font-family: Arial, 'Source Sans Pro';
        margin-right: 4.6rem;
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 1.5;
      }
      .contact-R6R {
        text-align: center;
        flex-shrink: 0;
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 1.5;
        letter-spacing: -0.016rem;
        color: #ffffff;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .foodies-1-vos {
      width: 30.1rem;
      height: 27.7rem;
      position: absolute;
      left: 2.1rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
