
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.produk--rX3 {
  width: 100%;
  height: 98.2rem;
  position: relative;
  overflow: hidden;
  background-color: #d6eed4;

  .group-380-z7T {
    height: 89.1rem;
    position: absolute;
    left: 0;
    top: 9.1rem;
    background-color: #57c343;
    width: 24.1rem;

    .overview-VK7 {
      border-radius: 0.2rem;
      height: 3.4915rem;
      position: absolute;
      top: 7.2515rem;
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
      background-color: #ffb000;
      width: 19.1907rem;
      left: 1.7852rem;
    }
    .overview-aLZ {
      width: 6.8rem;
      cursor: pointer;
      line-height: 3.09375;
      display: flex;
      left: 8.35rem;
      text-align: center;
      font-family: Poppins, 'Source Sans Pro';
      top: 6.4rem;
      font-size: 1.6rem;
      white-space: nowrap;
      align-items: baseline;
      height: 5rem;
      position: absolute;
      font-weight: 700;
      color: #000000;

      .overview-aLZ-sub-0 {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 3.09375;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
      }
      .overview-aLZ-sub-1 {
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 3.09375;
      }
    }
    .transaksi-M8M {
      position: absolute;
      left: 1.7852rem;
      border: solid 0.1rem #fff8f8;
      width: 19.1907rem;
      top: 11.3387rem;
      box-sizing: border-box;
      background-color: #ffb000;
      border-radius: 0.2rem;
      height: 3.4915rem;
    }
    .transaksi-31B {
      color: #000000;
      white-space: nowrap;
      width: 6.6rem;
      height: 5rem;
      top: 10.7rem;
      text-align: center;
      font-weight: 700;
      line-height: 3.09375;
      cursor: pointer;
      position: absolute;
      left: 8.35rem;
      font-size: 1.6rem;
      font-family: Arial, 'Source Sans Pro';
    }
    .user-Xh3 {
      border: solid 0.1rem #ffffff;
      width: 19.1907rem;
      position: absolute;
      top: 19.331rem;
      background-color: #ffb000;
      border-radius: 0.2rem;
      height: 3.4915rem;
      left: 1.7852rem;
      box-sizing: border-box;
    }
    .users-dVB {
      height: 5rem;
      cursor: pointer;
      position: absolute;
      left: 8.35rem;
      line-height: 3.09375;
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      width: 3.8rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 700;
      color: #000000;
      top: 18.8rem;
    }
    .statistik-Wos {
      box-sizing: border-box;
      width: 19.1907rem;
      height: 3.4915rem;
      border: solid 0.1rem #ffffff;
      background-color: #ffb000;
      border-radius: 0.2rem;
      position: absolute;
      left: 1.7852rem;
      top: 15.3354rem;
    }
    .statistik-QuF {
      width: 5.8rem;
      top: 14.7rem;
      text-align: center;
      font-size: 1.6rem;
      color: #000000;
      font-family: Arial, 'Source Sans Pro';
      height: 5rem;
      cursor: pointer;
      position: absolute;
      left: 8rem;
      font-weight: 700;
      line-height: 3.09375;
      white-space: nowrap;
    }
    .product-6n5 {
      height: 3.4915rem;
      left: 1.7852rem;
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
      background-color: #ffb000;
      border-radius: 0.2rem;
      width: 19.1907rem;
      position: absolute;
      top: 23.3186rem;
    }
    .produk-YPB {
      line-height: 3.09375;
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.2rem;
      position: absolute;
      left: 8.35rem;
      top: 22.8rem;
      font-size: 1.6rem;
      height: 5rem;
      text-align: center;
      font-weight: 700;
      color: #ffff00;
    }
  }
  .auto-group-yspt-Rhs {
    position: absolute;
    left: 26.7rem;
    top: 13.6rem;
    width: 120.2rem;
    height: 82rem;

    .kategori-vPj {
      padding: 1.3rem 1.4rem 1.1rem 1.8rem;
      width: calc(100% - 103.4rem);
      display: flex;
      align-items: center;
      background-color: #ffb000;
      margin-right: 103.4rem;
      box-sizing: border-box;

      .kategori-1g5 {
        white-space: nowrap;
        font-size: 2.4rem;
        line-height: 1;
        letter-spacing: -0.024rem;
        justify-content: center;
        font-weight: 700;
        color: #ffffff;
        font-family: Arial, 'Source Sans Pro';
        flex-shrink: 0;
        margin-right: 3.4rem;
        display: flex;
        align-items: center;
      }
      .iconly-light-arrow-down-2-KAy {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.4159rem;
        width: 1.4rem;
        height: 0.6869rem;
        object-fit: contain;
      }
    }
    .auto-group-ggyb-pNd {
      position: relative;
      margin-left: 0.1rem;
      width: 120.1rem;
      height: 77.2rem;

      .rectangle-358-Xnq {
        position: absolute;
        left: 0;
        top: 3.2rem;
        background-color: #d6eed4;
        width: 120.1rem;
        height: 74rem;
      }
      .foto-produk-4Xs {
        left: 5.35rem;
        display: flex;
        justify-content: center;
        font-family: Arial, 'Source Sans Pro';
        width: 12.2rem;
        top: 4.25rem;
        letter-spacing: -0.024rem;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1;
        height: 2.4rem;
        align-items: center;
      }
      .harga-t17 {
        align-items: center;
        font-weight: 700;
        height: 2.4rem;
        letter-spacing: -0.024rem;
        font-family: Arial, 'Source Sans Pro';
        width: 6rem;
        left: 103.25rem;
        top: 5.3rem;
        display: flex;
        color: #000000;
        white-space: nowrap;
        position: absolute;
        justify-content: center;
        font-size: 2.4rem;
        line-height: 1;
      }
      .taoge-9Sq {
        display: flex;
        align-items: flex-start;
        border-radius: 0.5rem;
        width: 113.6684rem;
        height: 15.753rem;
        position: absolute;
        left: 5.4rem;
        top: 25.2rem;

        .foto-barang-s7w {
          vertical-align: top;
          border-radius: 0.5rem;
          flex-shrink: 0;
          margin-right: 4rem;
          width: 13.3rem;
          height: 15rem;
          object-fit: cover;
        }
        .tag-barang-BPX {
          margin-top: 0.1411rem;
          width: 96.3684rem;
          height: 15.6119rem;
          position: relative;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .nama-produk-harga-gr5 {
            position: absolute;
            left: 0;
            top: 0;
            background-color: #ffb000;
            border-radius: 0.5rem;
            width: 90.6rem;
            height: 14.8589rem;
          }
          .taoge-Qn5 {
            top: 7.6089rem;
            font-size: 2rem;
            font-weight: 700;
            align-items: center;
            font-family: Roboto, 'Source Sans Pro';
            height: 2.4rem;
            position: absolute;
            display: flex;
            line-height: 1.2;
            letter-spacing: -0.02rem;
            color: #ffffff;
            white-space: nowrap;
            width: 5.9rem;
            left: 4rem;
            justify-content: center;
          }
          .rp-5000-Hay {
            align-items: center;
            font-size: 2rem;
            color: #ffffff;
            font-weight: 700;
            letter-spacing: -0.02rem;
            white-space: nowrap;
            height: 2.4rem;
            top: 10.9175rem;
            display: flex;
            justify-content: center;
            line-height: 1.2;
            width: 8rem;
            position: absolute;
            left: 79.1538rem;
            font-family: Roboto, 'Source Sans Pro';
          }
          .kg-9NH {
            left: 25.15rem;
            line-height: 1.2;
            letter-spacing: -0.02rem;
            color: #ffffff;
            width: 4.9rem;
            position: absolute;
            top: 5.7589rem;
            font-size: 2rem;
            display: flex;
            height: 2.4rem;
            align-items: center;
            justify-content: center;
            font-weight: 700;
            font-family: Roboto, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .kangkung-CLZ {
        width: 114.3292rem;
        height: 15.8552rem;
        position: absolute;
        left: 5.3rem;
        top: 42rem;
        border-radius: 0.5rem;

        .foto-barang-tz5 {
          height: 15rem;
          position: absolute;
          left: 0;
          top: 0;
          object-fit: cover;
          vertical-align: top;
          border-radius: 0.5rem;
          width: 13.3rem;
        }
        .group-384-psj {
          border-radius: 0.5rem;
          width: 104.3292rem;
          height: 15.8552rem;
          position: absolute;
          left: 10rem;
          top: 0;

          .tag-barang-ZKX {
            width: 100%;
            height: 100%;
            position: relative;
            border-radius: 0.5rem;

            .nama-produk-harga-ueH {
              background-color: #ffb000;
              border-radius: 0.5rem;
              width: 90.6rem;
              height: 15rem;
              position: absolute;
              left: 7.3rem;
              top: 0;
            }
            .kangkung-pFT {
              width: 9.2rem;
              position: absolute;
              line-height: 1.2;
              font-family: Arial, 'Source Sans Pro';
              height: 2.4rem;
              top: 6.8944rem;
              align-items: center;
              color: #ffffff;
              white-space: nowrap;
              display: flex;
              justify-content: center;
              font-size: 2rem;
              letter-spacing: -0.02rem;
              left: 9.3745rem;
              font-weight: 700;
            }
            .rp-2000-tFK {
              width: 7.5rem;
              left: 87.3646rem;
              top: 11.1276rem;
              line-height: 1.2;
              height: 2.4rem;
              position: absolute;
              display: flex;
              font-size: 2rem;
              color: #ffffff;
              align-items: center;
              justify-content: center;
              font-weight: 700;
              letter-spacing: -0.02rem;
              font-family: Arial, 'Source Sans Pro';
              white-space: nowrap;
            }
            .kg-NRP {
              font-family: Arial, 'Source Sans Pro';
              justify-content: center;
              font-size: 2rem;
              letter-spacing: -0.02rem;
              height: 2.4rem;
              top: 6.2rem;
              font-weight: 700;
              white-space: nowrap;
              width: 4.6rem;
              align-items: center;
              color: #fefefe;
              line-height: 1.2;
              position: absolute;
              left: 32.75rem;
              display: flex;
            }
          }
        }
      }
      .group-385-dMK {
        left: 5.4rem;
        top: 58.8rem;
        border-radius: 0.5rem;
        width: 107.8rem;
        height: 15rem;
        position: absolute;

        .petis-udang-kgq {
          display: flex;
          align-items: center;
          border-radius: 0.5rem;
          width: 100%;
          height: 100%;

          .foto-barang-JyF {
            object-fit: cover;
            vertical-align: top;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-right: 4rem;
            width: 13.3rem;
            height: 15rem;
          }
          .group-386-E6D {
            border-radius: 0.5rem;
            flex-shrink: 0;
            width: 90.5rem;
            height: 100%;

            .tag-barang-aQy {
              align-items: center;
              background-color: #ffb000;
              border-radius: 0.5rem;
              box-sizing: border-box;
              padding: 6.3rem 2.59rem 1.689rem 1.731rem;
              width: 100%;
              height: 100%;
              display: flex;

              .petis-udang-V29 {
                font-size: 2rem;
                line-height: 1.2;
                letter-spacing: -0.02rem;
                flex-shrink: 0;
                margin: 0rem 13.319rem 4.611rem 0rem;
                align-items: center;
                font-weight: 700;
                color: #ffffff;
                font-family: Arial, 'Source Sans Pro';
                white-space: nowrap;
                display: flex;
                justify-content: center;
              }
              .kg-mVT {
                letter-spacing: -0.02rem;
                font-family: Arial, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin: 0rem 49.46rem 4.511rem 0rem;
                align-items: center;
                font-size: 2rem;
                line-height: 1.2;
                display: flex;
                justify-content: center;
                font-weight: 700;
                color: #fff4f4;
              }
              .rp-12000-rmo {
                margin-top: 4.6114rem;
                align-items: center;
                font-size: 2rem;
                letter-spacing: -0.02rem;
                font-family: Arial, 'Source Sans Pro';
                display: flex;
                justify-content: center;
                font-weight: 700;
                line-height: 1.2;
                color: #ffffff;
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
        }
      }
      .stock-uEH {
        width: 4.7rem;
        align-items: center;
        font-size: 2rem;
        color: #000000;
        height: 2.4rem;
        left: 48rem;
        top: 4.4rem;
        justify-content: center;
        line-height: 1.2;
        font-weight: 700;
        position: absolute;
        display: flex;
        letter-spacing: -0.02rem;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
      }
      .nama-produk-yzq {
        height: 2.4rem;
        top: 4.5rem;
        display: flex;
        font-family: Arial, 'Source Sans Pro';
        align-items: center;
        width: 13.9rem;
        position: absolute;
        font-weight: 700;
        line-height: 1;
        white-space: nowrap;
        left: 25.3rem;
        justify-content: center;
        font-size: 2.4rem;
        letter-spacing: -0.024rem;
        color: #000000;
      }
      .plus-4WV {
        height: 5rem;
        cursor: pointer;
        position: absolute;
        left: 108.6rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 6.5rem;
      }
      .group-395-zQ9 {
        flex-direction: column;
        border-radius: 0.5rem;
        align-items: flex-end;
        height: 36.3237rem;
        position: absolute;
        left: 72.2rem;
        top: 33rem;
        display: flex;
        width: 14.7369rem;

        .group-394-u1K {
          margin-bottom: 13.6763rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .group-394-E3b {
            margin: 0rem 1.1rem 11.476rem 0rem;
            width: 13.6369rem;
            height: 3.7237rem;
            cursor: pointer;
            border-radius: 0.5rem;
            flex-shrink: 0;

            .group-393-YKB {
              height: 100%;
              border-radius: 0.5rem;
              width: 100%;

              .opsi-auth-hhs {
                display: flex;
                border-radius: 0.5rem;
                width: 100%;
                align-items: center;
                font-weight: 700;
                line-height: 1;
                background-color: #049904;
                height: 100%;
                justify-content: center;
                letter-spacing: -0.024rem;
                color: #ffffff;
                white-space: nowrap;
                font-size: 2.4rem;
                font-family: Arial, 'Source Sans Pro';
              }
            }
          }
          .group-393-YiV {
            height: 3.7237rem;
            cursor: pointer;
            border-radius: 0.5rem;
            flex-shrink: 0;
            margin-left: 1.1rem;
            width: 13.6369rem;

            .opsi-auth-TqT {
              border-radius: 0.5rem;
              line-height: 1;
              font-size: 2.4rem;
              font-weight: 700;
              letter-spacing: -0.024rem;
              color: #ffffff;
              width: 100%;
              font-family: Arial, 'Source Sans Pro';
              background-color: #049904;
              justify-content: center;
              display: flex;
              align-items: center;
              white-space: nowrap;
              height: 100%;
            }
          }
        }
        .group-393-6Nd {
          width: 13.6369rem;
          height: 3.7237rem;
          cursor: pointer;
          border-radius: 0.5rem;
          flex-shrink: 0;

          .opsi-auth-SBb {
            justify-content: center;
            display: flex;
            font-weight: 700;
            letter-spacing: -0.024rem;
            white-space: nowrap;
            background-color: #049904;
            width: 100%;
            align-items: center;
            font-size: 2.4rem;
            height: 100%;
            line-height: 1;
            color: #ffffff;
            font-family: Arial, 'Source Sans Pro';
            border-radius: 0.5rem;
          }
        }
      }
    }
  }
  .daun-semanggi-eYZ {
    align-items: flex-start;
    width: 114.2459rem;
    height: 15.3888rem;
    position: absolute;
    left: 32.2rem;
    top: 26.8rem;
    display: flex;

    .foto-barang-Mhs {
      height: 15rem;
      object-fit: cover;
      vertical-align: top;
      border-radius: 0.5rem;
      flex-shrink: 0;
      margin-right: 3.9rem;
      width: 13.3rem;
    }
    .tag-barang-4cH {
      width: 97.0459rem;
      height: 100%;
      position: relative;
      border-radius: 0.5rem;
      flex-shrink: 0;

      .nama-produk-harga-oJy {
        border-radius: 0.5rem;
        width: 91rem;
        height: 15rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffb000;
      }
      .daun-semanggi-XVs {
        font-size: 2rem;
        line-height: 1.2;
        letter-spacing: -0.02rem;
        font-family: Arial, 'Source Sans Pro';
        width: 14.3rem;
        top: 5.95rem;
        white-space: nowrap;
        font-weight: 700;
        color: #ffffff;
        display: flex;
        justify-content: center;
        left: 1.75rem;
        align-items: center;
        height: 2.4rem;
        position: absolute;
      }
      .rp-15000-zuF {
        height: 2.4rem;
        left: 79.523rem;
        display: flex;
        font-weight: 700;
        color: #ffffff;
        align-items: center;
        font-size: 2rem;
        letter-spacing: -0.02rem;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        width: 8.5rem;
        line-height: 1.2;
        position: absolute;
        top: 10.6944rem;
        justify-content: center;
      }
      .kg-sTF {
        letter-spacing: -0.02rem;
        top: 7.35rem;
        display: flex;
        font-size: 2rem;
        white-space: nowrap;
        left: 25.25rem;
        line-height: 1.2;
        color: #ffffff;
        font-weight: 700;
        width: 4.9rem;
        align-items: center;
        justify-content: center;
        height: 2.4rem;
        position: absolute;
        font-family: Roboto, 'Source Sans Pro';
      }
      .group-393-Z5B {
        border-radius: 0.5rem;
        width: 13.6369rem;
        height: 3.7237rem;
        cursor: pointer;
        position: absolute;
        left: 50.7rem;
        top: 6.5rem;

        .opsi-auth-ftu {
          display: flex;
          font-size: 2.4rem;
          line-height: 1;
          width: 100%;
          font-weight: 700;
          background-color: #049904;
          justify-content: center;
          align-items: center;
          letter-spacing: -0.024rem;
          font-family: Arial, 'Source Sans Pro';
          border-radius: 0.5rem;
          height: 100%;
          white-space: nowrap;
          color: #ffffff;
        }
      }
    }
  }
  .layout-navbar-admin-XAR {
    top: 0;
    overflow: hidden;
    background-color: #049904;
    width: 144rem;
    height: 9.1rem;
    position: absolute;
    left: 0;

    .group-254-qgu {
      width: 2.1209rem;
      height: 3.1341rem;
      position: absolute;
      left: 136.9rem;
      top: 3.1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .oval-2-ZN1 {
      width: 2.381rem;
      height: 2.4rem;
      position: absolute;
      left: 134.5rem;
      top: 2.2rem;
      object-fit: contain;
      vertical-align: top;
    }
    .item-12-HJ1 {
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      left: 135.4rem;
      text-align: center;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1.5;
      color: #000000;
      width: 0.6rem;
      height: 1.5rem;
      top: 2.6rem;
      letter-spacing: -0.0429rem;
      white-space: nowrap;
    }
    .search-bro-miy {
      width: 42.2rem;
      height: 4rem;
      position: absolute;
      left: 67.4rem;
      top: 2.7rem;
      object-fit: contain;
      vertical-align: top;
    }
    .foodies-1-HSR {
      object-fit: cover;
      vertical-align: top;
      width: 30.1rem;
      height: 27.7rem;
      position: absolute;
      left: 2.1rem;
      top: 0;
    }
    .dropdown-menu-cDo {
      box-sizing: border-box;
      padding: 1.2rem 1.38rem 1.2rem 1.472rem;
      height: 6rem;
      top: 1.7rem;
      background-image: url('REPLACE_IMAGE:I392:287;31:146');
      width: 6.348rem;
      position: absolute;
      left: 127.1rem;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      .profil-68y {
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.496rem;
      }
    }
    .andi-akhsanul-Cxh {
      width: 10.1rem;
      position: absolute;
      top: 3.5rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 900;
      line-height: 1.5;
      letter-spacing: -0.016rem;
      height: 2.4rem;
      left: 114.3rem;
      white-space: nowrap;
      color: #ffff00;
      font-family: Arial, 'Source Sans Pro';
    }
  }
}
