
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.statistik-per-bulan-F6y {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ceff9d;

  .group-380-a9F {
    height: 92.9108rem;
    position: absolute;
    left: 0;
    top: 9.4892rem;
    background-color: #57c343;
    width: 22.9524rem;

    .overview-sPF {
      position: absolute;
      left: 1.7002rem;
      top: 7.5617rem;
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
      background-color: #ffb000;
      width: 18.2769rem;
      height: 3.6408rem;
      border-radius: 0.2rem;
    }
    .overview-MJR {
      position: absolute;
      line-height: 3.09375;
      display: flex;
      width: 6.8rem;
      height: 5rem;
      cursor: pointer;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 700;
      white-space: nowrap;
      left: 7.7905rem;
      top: 6.6737rem;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      align-items: baseline;

      .overview-MJR-sub-0 {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 3.09375;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
      }
      .overview-MJR-sub-1 {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 3.09375;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
      }
    }
    .transaksi-YGR {
      height: 3.6408rem;
      position: absolute;
      box-sizing: border-box;
      background-color: #ffb000;
      border-radius: 0.2rem;
      width: 18.2769rem;
      left: 1.7002rem;
      top: 11.8236rem;
      border: solid 0.1rem #fff8f8;
    }
    .transaksi-qWR {
      position: absolute;
      top: 11.1576rem;
      text-align: center;
      font-size: 1.6rem;
      cursor: pointer;
      height: 5rem;
      left: 7.7952rem;
      font-weight: 700;
      line-height: 3.09375;
      color: #000000;
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.6rem;
    }
    .user-jbo {
      box-sizing: border-box;
      width: 18.2769rem;
      height: 3.6408rem;
      position: absolute;
      left: 1.7002rem;
      top: 20.1577rem;
      border: solid 0.1rem #ffffff;
      background-color: #ffb000;
      border-radius: 0.2rem;
    }
    .users-Sm7 {
      font-weight: 700;
      line-height: 3.09375;
      white-space: nowrap;
      position: absolute;
      text-align: center;
      font-size: 1.6rem;
      top: 19.6041rem;
      color: #000000;
      font-family: Arial, 'Source Sans Pro';
      width: 3.8rem;
      height: 5rem;
      left: 7.8619rem;
    }
    .statistik-xUZ {
      width: 18.2769rem;
      box-sizing: border-box;
      background-color: #ffb000;
      height: 3.6408rem;
      position: absolute;
      left: 1.7002rem;
      top: 15.9913rem;
      border: solid 0.1rem #ffffff;
      border-radius: 0.2rem;
    }
    .statistik-USu {
      color: #ffff00;
      width: 5.8rem;
      height: 5rem;
      left: 7.4809rem;
      top: 15.3287rem;
      text-align: center;
      font-size: 1.6rem;
      line-height: 3.09375;
      font-family: Arial, 'Source Sans Pro';
      position: absolute;
      font-weight: 700;
      white-space: nowrap;
    }
    .product-PZs {
      box-sizing: border-box;
      height: 3.6408rem;
      position: absolute;
      left: 1.7002rem;
      border: solid 0.1rem #ffffff;
      width: 18.2769rem;
      top: 24.316rem;
      background-color: #ffb000;
      border-radius: 0.2rem;
    }
    .produk-hqT {
      cursor: pointer;
      left: 7.8286rem;
      font-size: 1.6rem;
      font-weight: 700;
      font-family: Arial, 'Source Sans Pro';
      width: 5.2rem;
      height: 5rem;
      position: absolute;
      top: 23.7751rem;
      text-align: center;
      line-height: 3.09375;
      color: #000000;
      white-space: nowrap;
    }
  }
  .group-412-15T {
    left: 31.1rem;
    border: solid 0.2rem #000000;
    border-radius: 1rem;
    padding: 4.5rem 3.8rem 4.8rem 4.9rem;
    width: 102.3rem;
    position: absolute;
    top: 20.6rem;
    background-color: #ffffff;
    box-sizing: border-box;
    height: 60.3rem;

    .auto-group-t46x-stM {
      width: calc(100% - 0.3rem);
      display: flex;
      align-items: flex-start;
      margin: 0rem 0rem 2.3rem 0.3rem;

      .statistik-Prh {
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 84.1rem;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
      }
      .auto-group-pusq-83b {
        margin-top: 0.7rem;
        width: 3.2rem;
        height: 3.9rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .title-assesment-report-3gM {
      line-height: 2.0833333333;
      color: #000000;
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 2rem;
      font-size: 1.2rem;
      font-weight: 700;
    }
    .auto-group-w9nb-NyX {
      margin: 0rem 1.638rem 0.999rem 1.9rem;
      width: calc(100% - 3.5381rem);
      height: 36.9009rem;
      display: flex;
      align-items: flex-start;

      .auto-group-besf-V2Z {
        flex-shrink: 0;
        margin-right: 2.5137rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .item-66-p4q {
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 4.3rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.1666666667;
          color: #858585;
        }
        .item-65-XV3 {
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 4.7rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.1666666667;
          color: #858585;
          font-family: Arial, 'Source Sans Pro';
        }
        .item-64-Fvq {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.1666666667;
          color: #858585;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 4.7rem;
        }
        .item-63-ay7 {
          flex-shrink: 0;
          margin-bottom: 4.8rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.1666666667;
          color: #858585;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-62-v1P {
          margin-bottom: 4.6rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.1666666667;
          color: #858585;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .item-61-FJZ {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.1666666667;
          color: #858585;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
      .vertical-lines-grid-z1F {
        height: 36.0872rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.814rem 0.067rem 0rem 0rem;
        opacity: 0.5;
        width: 0.091rem;
      }
      .auto-group-qjxr-s53 {
        margin-bottom: 0.0009rem;
        width: 86.1905rem;
        height: calc(100% - 0.0009rem);
        position: relative;
        flex-shrink: 0;

        .horizontal-lines-grid-A49 {
          height: 30.1169rem;
          top: 0.7763rem;
          align-items: center;
          display: flex;
          opacity: 0.5;
          width: 86.1905rem;
          position: absolute;
          left: 0;
          flex-direction: column;

          .line-7-rhf {
            margin: 0rem 0.074rem 5.849rem 0rem;
            width: 86.1169rem;
            height: 0.0966rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .line-6-mJq {
            height: 0.0966rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.074rem 5.849rem 0rem;
            width: 86.1169rem;
          }
          .line-5-VEq {
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 5.777rem 0.074rem;
            width: 86.1169rem;
            height: 0.0966rem;
            object-fit: contain;
          }
          .line-4-p2D {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.074rem 6.212rem 0rem;
            width: 86.1169rem;
            height: 0.0966rem;
          }
          .line-3-KzZ {
            margin: 0rem 0rem 5.849rem 0.074rem;
            width: 86.1169rem;
            height: 0.0966rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .line-2-2PB {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.0735rem;
            width: 86.1169rem;
            height: 0.0966rem;
          }
        }
        .shape-2-Luf {
          height: 24.2rem;
          position: absolute;
          left: 2.7286rem;
          top: 12.7rem;
          background: linear-gradient(358.18deg, #60e730 113.56%, #deedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
          width: 1.6rem;
        }
        .shape-3-d85 {
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
          width: 1.7rem;
          height: 28.2rem;
          position: absolute;
          left: 10.8286rem;
          top: 8.6rem;
        }
        .shape-4-iQR {
          left: 18.9286rem;
          top: 24.7rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
          width: 1.7rem;
          height: 12.2rem;
          position: absolute;
        }
        .shape-5-bj7 {
          width: 1.6rem;
          height: 21rem;
          position: absolute;
          left: 27.1286rem;
          top: 15.9rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
        }
        .shape-6-swX {
          height: 25.2rem;
          position: absolute;
          left: 35.2286rem;
          top: 11.5rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
          width: 1.6rem;
        }
        .shape-7-aqw {
          left: 43.3286rem;
          top: 14.8rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
          width: 1.6rem;
          height: 22.1rem;
          position: absolute;
        }
        .shape-8-t5w {
          position: absolute;
          left: 51.4286rem;
          top: 21rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
          width: 1.6rem;
          height: 15.9rem;
        }
        .background-mark-explanation-nSD {
          border-radius: 0.4rem;
          width: 15.3rem;
          height: 8.6rem;
          position: absolute;
          left: 28.5286rem;
          top: 0;
          background-color: #ffb000;
        }
        .shape-9-JvM {
          height: 24.2rem;
          position: absolute;
          left: 59.5286rem;
          top: 12.7rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
          width: 1.6rem;
        }
        .shape-10-DGd {
          width: 1.7rem;
          height: 28.3rem;
          position: absolute;
          left: 67.7286rem;
          top: 8.6rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
        }
        .shape-11-vB3 {
          position: absolute;
          left: 75.9286rem;
          top: 7.3rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
          width: 1.6rem;
          height: 29.6rem;
        }
        .shape-12-RtV {
          top: 9.5rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
          width: 1.5rem;
          height: 27.4rem;
          position: absolute;
          left: 83.9286rem;
        }
        .base-KDB {
          border-radius: 0.25rem;
          width: 13rem;
          height: 0.5rem;
          position: absolute;
          left: 29.7286rem;
          top: 6.4rem;
          background-color: #ffffff;
        }
        .base-copy-eFT {
          border-radius: 0.25rem;
          width: 9rem;
          height: 0.5rem;
          position: absolute;
          left: 29.7286rem;
          top: 6.4rem;
          background: linear-gradient(265.14deg, #009a4d 22.62%, #f2f2f2 95.9%);
        }
        .amount-all-9T7 {
          font-size: 1rem;
          line-height: 1.2575;
          white-space: nowrap;
          width: 3.8rem;
          position: absolute;
          left: 34.2286rem;
          top: 3.9rem;
          font-family: Arial, 'Source Sans Pro';
          height: 1.3rem;
          font-weight: 700;
          letter-spacing: 0.03rem;
          color: #000000;
        }
        .text-information-RvR {
          left: 32.4286rem;
          font-size: 1rem;
          font-weight: 700;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.1rem;
          height: 1.3rem;
          position: absolute;
          top: 1.4rem;
          line-height: 1.2575;
        }
        .oval-4-XTf {
          width: 5.9rem;
          height: 5.9rem;
          position: absolute;
          left: 33.0286rem;
          top: 9.2rem;
          object-fit: contain;
          vertical-align: top;
        }
        .oval-5-rF3 {
          width: 3.6rem;
          height: 3.6rem;
          position: absolute;
          left: 34.2286rem;
          top: 10.4rem;
          object-fit: contain;
          vertical-align: top;
        }
        .oval-6-xos {
          left: 35.1286rem;
          top: 11.3rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.8rem;
          height: 1.8rem;
          position: absolute;
        }
      }
    }
    .auto-group-gh8o-HLM {
      margin-left: 7.4rem;
      display: flex;
      align-items: flex-start;

      .jon-ford-oJh {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 4.3rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
      }
      .jon-ford-WU1 {
        margin-right: 6rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .jon-ford-dYd {
        flex-shrink: 0;
        margin-right: 5.9rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
      }
      .jon-ford-ZSH {
        line-height: 1.3333333333;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.4rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
      .jon-ford-h2h {
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.8rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #000000;
      }
      .jon-ford-cfT {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.3rem;
      }
      .jon-ford-9fP {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.7rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
      }
      .jon-ford-HFo {
        flex-shrink: 0;
        margin-right: 5.4rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
      }
      .jon-ford-D9T {
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 4.6rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #000000;
      }
      .jon-ford-vZf {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.9rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
      }
      .jon-ford-T3o {
        line-height: 1.3333333333;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
      }
    }
  }
  .layout-navbar-admin-9hK {
    top: 0;
    overflow: hidden;
    background-color: #049904;
    width: 144rem;
    height: 9.5rem;
    position: absolute;
    left: 0;

    .group-254-4pH {
      width: 2.1209rem;
      height: 3.1341rem;
      position: absolute;
      left: 136.9rem;
      top: 3.1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .oval-2-BP7 {
      height: 2.5055rem;
      position: absolute;
      left: 134.5rem;
      top: 2.2967rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.381rem;
    }
    .item-12-hcM {
      left: 135.4rem;
      line-height: 1.5;
      font-family: Poppins, 'Source Sans Pro';
      position: absolute;
      height: 1.5rem;
      top: 2.8rem;
      text-align: center;
      font-size: 1rem;
      font-weight: 700;
      letter-spacing: -0.0429rem;
      color: #000000;
      width: 0.6rem;
      white-space: nowrap;
    }
    .search-bro-mcD {
      position: absolute;
      left: 67.4rem;
      top: 2.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 42.2rem;
      height: 4rem;
    }
    .foodies-1-gz5 {
      position: absolute;
      left: 2.1rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 30.1rem;
      height: 27.7rem;
    }
    .dropdown-menu-cMw {
      padding: 1.2rem 1.38rem 1.2rem 1.472rem;
      height: 6rem;
      left: 127.1rem;
      top: 1.7rem;
      background-size: cover;
      background-repeat: no-repeat;
      box-sizing: border-box;
      position: absolute;
      background-position: center;
      background-image: url('REPLACE_IMAGE:I314:3404;31:146');
      width: 6.348rem;

      .profil-6nu {
        width: 3.496rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .andi-akhsanul-DsX {
      position: absolute;
      left: 114.3rem;
      top: 3.5rem;
      font-size: 1.6rem;
      font-weight: 900;
      letter-spacing: -0.016rem;
      height: 2.4rem;
      text-align: center;
      line-height: 1.5;
      color: #ffff00;
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      width: 10.1rem;
    }
  }
}
