
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.statistik-cUy {
  position: relative;
  overflow: hidden;
  background-color: #ceff9d;
  width: 100%;
  height: 102.4rem;

  .statistics-7wX {
    width: 97.4286rem;
    height: 62.879rem;
    position: absolute;
    left: 34.3333rem;
    background-color: #ffffff;
    border-radius: 1rem;
    box-sizing: border-box;
    padding: 2.169rem 4.381rem 5.074rem 4.667rem;
    top: 24.1083rem;
    border: solid 0.2rem #000000;

    .auto-group-jc9r-o3f {
      margin: 0rem 0rem 5.095rem 0.286rem;
      display: flex;
      align-items: flex-end;

      .statistik-7a9 {
        margin-right: 76.8095rem;
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 1.2575;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .group-pjT {
        margin: 0rem 0.714rem 1.495rem 0rem;
        width: 3.0476rem;
        height: 3.1283rem;
        cursor: pointer;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .group-96-iZw {
        margin-bottom: 0.9807rem;
        width: 1.5238rem;
        height: 0.3893rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .title-assesment-report-qeZ {
      font-weight: 700;
      line-height: 2.0833333333;
      color: #000000;
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 2.1925rem;
      font-size: 1.2rem;
    }
    .auto-group-jnck-xDP {
      height: 38.4791rem;
      display: grid;
      grid-template-columns: repeat(2, 62.3631rem);
      grid-auto-rows: 20.1628rem;
      margin: 0rem 0.798rem 1.042rem 1.81rem;
      width: calc(100% - 2.6077rem);

      .vertical-lines-grid-pWV {
        width: 0.0867rem;
        height: 37.6307rem;
        object-fit: contain;
        vertical-align: top;
        opacity: 0.5;
      }
      .auto-group-xrzo-9Hs {
        position: relative;
        width: 82.0862rem;
        height: 100%;

        .horizontal-lines-grid-U5F {
          height: 31.405rem;
          position: absolute;
          align-items: center;
          opacity: 0.5;
          width: 82.0862rem;
          left: 0;
          top: 0.8095rem;
          display: flex;
          flex-direction: column;

          .line-7-xm7 {
            width: 82.0161rem;
            height: 0.1007rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.07rem 6.1rem 0rem;
          }
          .line-6-Gmo {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.07rem 6.1rem 0rem;
            width: 82.0161rem;
            height: 0.1007rem;
          }
          .line-5-a1o {
            width: 82.0161rem;
            height: 0.1007rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0rem 6.024rem 0.07rem;
          }
          .line-4-Hwo {
            height: 0.1007rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.07rem 6.478rem 0rem;
            width: 82.0161rem;
          }
          .line-3-pB3 {
            margin: 0rem 0rem 6.1rem 0.07rem;
            width: 82.0161rem;
            height: 0.1007rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .line-2-8xR {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin-right: 0.07rem;
            width: 82.0161rem;
            height: 0.1008rem;
          }
        }
        .shape-2-sf7 {
          position: absolute;
          left: 2.5987rem;
          top: 13.2432rem;
          background: linear-gradient(358.18deg, #60e730 113.56%, #deedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
          width: 1.5238rem;
          height: 25.235rem;
        }
        .shape-3-YFT {
          border-radius: 5.5rem 5.5rem 0 0;
          width: 1.619rem;
          height: 29.4061rem;
          position: absolute;
          left: 10.313rem;
          top: 8.9678rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
        }
        .shape-4-cm7 {
          top: 25.7564rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
          width: 1.619rem;
          height: 12.7218rem;
          position: absolute;
          left: 18.0273rem;
        }
        .shape-5-W5o {
          top: 16.5801rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
          width: 1.5238rem;
          height: 21.8982rem;
          position: absolute;
          left: 25.8368rem;
        }
        .shape-6-zWm {
          width: 1.5238rem;
          height: 26.2778rem;
          position: absolute;
          left: 33.5511rem;
          top: 11.9919rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
        }
        .shape-7-VTX {
          width: 1.5238rem;
          height: 23.0452rem;
          position: absolute;
          left: 41.2654rem;
          top: 15.433rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
        }
        .shape-8-aUy {
          border-radius: 5.5rem 5.5rem 0 0;
          width: 1.5238rem;
          height: 16.58rem;
          position: absolute;
          left: 48.9796rem;
          top: 21.8982rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
        }
        .background-mark-explanation-fmK {
          height: 8.9678rem;
          position: absolute;
          left: 27.1701rem;
          top: 0;
          background-color: #ffb000;
          border-radius: 0.4rem;
          width: 14.5714rem;
        }
        .shape-9-atH {
          width: 1.5238rem;
          height: 25.235rem;
          position: absolute;
          left: 56.6939rem;
          top: 13.2432rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
        }
        .shape-10-4YZ {
          position: absolute;
          left: 64.5034rem;
          top: 8.9678rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
          width: 1.619rem;
          height: 29.5104rem;
        }
        .shape-11-kgH {
          top: 7.6122rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
          width: 1.5238rem;
          height: 30.866rem;
          position: absolute;
          left: 72.313rem;
        }
        .shape-12-ErM {
          top: 9.9063rem;
          background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
          border-radius: 5.5rem 5.5rem 0 0;
          width: 1.4286rem;
          height: 28.5719rem;
          position: absolute;
          left: 79.932rem;
        }
        .base-jo7 {
          width: 12.381rem;
          height: 0.5214rem;
          position: absolute;
          left: 28.313rem;
          top: 6.6737rem;
          background-color: #ffffff;
          border-radius: 0.25rem;
        }
        .base-copy-G2M {
          border-radius: 0.25rem;
          width: 8.5714rem;
          height: 0.5214rem;
          position: absolute;
          left: 28.313rem;
          top: 6.6737rem;
          background: linear-gradient(265.14deg, #009a4d 22.62%, #f2f2f2 95.9%);
        }
        .amount-all-YEm {
          white-space: nowrap;
          width: 3.8rem;
          left: 32.5987rem;
          font-weight: 700;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          height: 1.3rem;
          position: absolute;
          top: 4.0668rem;
          font-size: 1rem;
          letter-spacing: 0.03rem;
        }
        .text-information-R3f {
          top: 1.4599rem;
          line-height: 1.2575;
          color: #000000;
          height: 1.3rem;
          position: absolute;
          left: 30.8844rem;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          width: 6.1rem;
          font-size: 1rem;
          font-weight: 700;
        }
        .oval-4-JdF {
          top: 9.5935rem;
          object-fit: contain;
          vertical-align: top;
          width: 5.619rem;
          height: 6.1523rem;
          position: absolute;
          left: 31.4558rem;
        }
        .oval-5-q7P {
          left: 32.5987rem;
          top: 10.8448rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.4286rem;
          height: 3.754rem;
          position: absolute;
        }
        .oval-6-m13 {
          height: 1.877rem;
          position: absolute;
          left: 33.4558rem;
          top: 11.7833rem;
          object-fit: contain;
          vertical-align: top;
          width: 1.7143rem;
        }
      }
      .auto-group-yrlb-gth {
        align-items: center;
        display: flex;
        flex-direction: column;

        .item-66-qFo {
          font-weight: 400;
          line-height: 1.1666666667;
          color: #858585;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 4.5438rem;
          font-size: 1.2rem;
        }
        .item-65-A3B {
          flex-shrink: 0;
          margin-bottom: 4.9609rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.1666666667;
          color: #858585;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-64-gnD {
          flex-shrink: 0;
          margin-bottom: 4.9609rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.1666666667;
          color: #858585;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-63-25P {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.1666666667;
          color: #858585;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 5.0652rem;
        }
        .item-62-YZX {
          line-height: 1.1666666667;
          color: #858585;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 4.8566rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .item-61-HGD {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.1666666667;
          color: #858585;
          font-family: Arial, 'Source Sans Pro';
        }
      }
    }
    .auto-group-apvb-cZP {
      margin-left: 7.0476rem;
      display: flex;
      align-items: flex-start;

      .jon-ford-XwF {
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.104rem 3.929rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #000000;
      }
      .jon-ford-3Po {
        font-weight: 400;
        line-height: 1.3333333333;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.5476rem;
        font-size: 1.2rem;
      }
      .jon-ford-aed {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.5095rem;
      }
      .jon-ford-vTb {
        flex-shrink: 0;
        margin-right: 5.0191rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
      }
      .jon-ford-rs3 {
        margin-right: 4.4381rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .jon-ford-Pry {
        line-height: 1.3333333333;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.8857rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
      .jon-ford-jR3 {
        line-height: 1.3333333333;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.3143rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
      .jon-ford-U7j {
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.0429rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #000000;
      }
      .jon-ford-zbs {
        margin: 0.104rem 4.2rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .jon-ford-K8M {
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 4.5238rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #000000;
      }
      .jon-ford-FGu {
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.3333333333;
        color: #000000;
      }
    }
  }
  .group-380-9dB {
    top: 6.8823rem;
    background-color: #57c343;
    width: 22.9524rem;
    height: 95.5177rem;
    position: absolute;
    left: 0.0952rem;

    .overview-GSu {
      left: 1.7002rem;
      top: 7.7738rem;
      background-color: #ffb000;
      border-radius: 0.2rem;
      width: 18.2769rem;
      height: 3.743rem;
      position: absolute;
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
    }
    .overview-mPf {
      width: 6.8rem;
      left: 7.7905rem;
      text-align: center;
      font-weight: 700;
      align-items: baseline;
      cursor: pointer;
      position: absolute;
      white-space: nowrap;
      font-size: 1.6rem;
      color: #000000;
      height: 5rem;
      top: 6.861rem;
      line-height: 3.09375;
      font-family: Poppins, 'Source Sans Pro';
      display: flex;

      .overview-mPf-sub-0 {
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 3.09375;
      }
      .overview-mPf-sub-1 {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 3.09375;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
      }
    }
    .transaksi-LUh {
      position: absolute;
      border: solid 0.1rem #fff8f8;
      box-sizing: border-box;
      background-color: #ffb000;
      border-radius: 0.2rem;
      width: 18.2769rem;
      height: 3.743rem;
      left: 1.7002rem;
      top: 12.1554rem;
    }
    .transaksi-Epy {
      font-size: 1.6rem;
      font-weight: 700;
      font-family: Arial, 'Source Sans Pro';
      position: absolute;
      height: 5rem;
      cursor: pointer;
      left: 7.7952rem;
      top: 11.4707rem;
      text-align: center;
      line-height: 3.09375;
      color: #000000;
      width: 6.6rem;
      white-space: nowrap;
    }
    .user-jWq {
      position: absolute;
      top: 20.7233rem;
      box-sizing: border-box;
      background-color: #ffb000;
      border-radius: 0.2rem;
      width: 18.2769rem;
      height: 3.743rem;
      left: 1.7002rem;
      border: solid 0.1rem #ffffff;
    }
    .users-RuT {
      cursor: pointer;
      top: 20.1541rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 700;
      white-space: nowrap;
      width: 3.8rem;
      height: 5rem;
      position: absolute;
      left: 7.8619rem;
      line-height: 3.09375;
      color: #000000;
      font-family: Arial, 'Source Sans Pro';
    }
    .statistik-Xhb {
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
      border-radius: 0.2rem;
      height: 3.743rem;
      position: absolute;
      top: 16.44rem;
      width: 18.2769rem;
      left: 1.7002rem;
      background-color: #ffb000;
    }
    .statistik-Rny {
      font-size: 1.6rem;
      font-weight: 700;
      color: #ffff00;
      white-space: nowrap;
      height: 5rem;
      position: absolute;
      left: 7.481rem;
      top: 15.7588rem;
      width: 5.8rem;
      text-align: center;
      line-height: 3.09375;
      font-family: Arial, 'Source Sans Pro';
    }
    .product-vzd {
      height: 3.743rem;
      top: 24.9982rem;
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
      border-radius: 0.2rem;
      width: 18.2769rem;
      position: absolute;
      left: 1.7002rem;
      background-color: #ffb000;
    }
    .produk-2nm {
      left: 7.8286rem;
      top: 24.4422rem;
      font-size: 1.6rem;
      color: #000000;
      height: 5rem;
      position: absolute;
      text-align: center;
      font-weight: 700;
      line-height: 3.09375;
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.2rem;
      cursor: pointer;
    }
  }
  .layout-navbar-admin-ifb {
    width: 144rem;
    height: 9.1rem;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #049904;

    .group-254-F9j {
      left: 136.8rem;
      top: 3rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.1209rem;
      height: 3.1341rem;
      position: absolute;
    }
    .oval-2-ZRK {
      width: 2.381rem;
      height: 2.4rem;
      position: absolute;
      left: 134.4rem;
      top: 2.1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .item-12-H6R {
      font-weight: 700;
      line-height: 1.5;
      color: #000000;
      width: 0.6rem;
      height: 1.5rem;
      left: 135.3rem;
      text-align: center;
      font-size: 1rem;
      position: absolute;
      top: 2.5rem;
      letter-spacing: -0.0429rem;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
    }
    .search-bro-AR7 {
      height: 4rem;
      position: absolute;
      left: 67.3rem;
      top: 2.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 42.2rem;
    }
    .foodies-1-6Jm {
      width: 30.1rem;
      height: 27.7rem;
      position: absolute;
      left: 2rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .dropdown-menu-QqF {
      box-sizing: border-box;
      position: absolute;
      left: 127rem;
      top: 1.6rem;
      background-size: cover;
      padding: 1.2rem 1.38rem 1.2rem 1.472rem;
      width: 6.348rem;
      height: 6rem;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url('REPLACE_IMAGE:I314:3277;31:146');

      .profil-Jfj {
        width: 3.496rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .andi-akhsanul-E3b {
      line-height: 1.5;
      letter-spacing: -0.016rem;
      white-space: nowrap;
      position: absolute;
      text-align: center;
      font-weight: 900;
      top: 3.4rem;
      font-size: 1.6rem;
      color: #ffff00;
      font-family: Arial, 'Source Sans Pro';
      width: 10.1rem;
      height: 2.4rem;
      left: 114.2rem;
    }
  }
}
