
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 143.6rem;
}.transaksi-dNq {
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ceff9d;
  width: 100%;

  .group-380-kiM {
    height: 93.3rem;
    position: absolute;
    left: 0;
    top: 9.1rem;
    background-color: #57c343;
    width: 22.8886rem;

    .overview-f4d {
      width: 18.2261rem;
      height: 3.6561rem;
      box-sizing: border-box;
      border-radius: 0.2rem;
      position: absolute;
      left: 1.6954rem;
      top: 7.5933rem;
      border: solid 0.1rem #ffffff;
      background-color: #ffb000;
    }
    .overview-kLy {
      text-align: center;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      width: 6.8rem;
      left: 7.7594rem;
      font-size: 1.6rem;
      line-height: 3.09375;
      color: #000000;
      align-items: baseline;
      height: 5rem;
      top: 6.7017rem;
      display: flex;
      position: absolute;

      .overview-kLy-sub-0 {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 3.09375;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
      }
      .overview-kLy-sub-1 {
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 3.09375;
      }
    }
    .transaksi-umb {
      height: 3.6561rem;
      position: absolute;
      left: 1.6954rem;
      top: 11.8732rem;
      border: solid 0.1rem #fff8f8;
      box-sizing: border-box;
      background-color: #ffb000;
      width: 18.2261rem;
      border-radius: 0.2rem;
    }
    .transaksi-D1b {
      width: 6.6rem;
      height: 5rem;
      position: absolute;
      top: 11.2044rem;
      text-align: center;
      line-height: 3.09375;
      font-family: Arial, 'Source Sans Pro';
      left: 7.7644rem;
      font-size: 1.6rem;
      font-weight: 700;
      color: #ffff00;
      white-space: nowrap;
    }
    .user-Joj {
      height: 3.6561rem;
      left: 1.6954rem;
      background-color: #ffb000;
      width: 18.2261rem;
      position: absolute;
      top: 20.2422rem;
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
      border-radius: 0.2rem;
    }
    .users-1y3 {
      position: absolute;
      top: 19.6862rem;
      font-size: 1.6rem;
      font-weight: 700;
      color: #000000;
      font-family: Arial, 'Source Sans Pro';
      width: 3.8rem;
      height: 5rem;
      text-align: center;
      line-height: 3.09375;
      white-space: nowrap;
      cursor: pointer;
      left: 7.8348rem;
    }
    .statistik-uoX {
      box-sizing: border-box;
      background-color: #ffb000;
      border-radius: 0.2rem;
      position: absolute;
      top: 16.0583rem;
      left: 1.6954rem;
      border: solid 0.1rem #ffffff;
      width: 18.2261rem;
      height: 3.6561rem;
    }
    .statistik-chw {
      text-align: center;
      font-size: 1.6rem;
      font-weight: 700;
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      line-height: 3.09375;
      color: #000000;
      width: 5.8rem;
      height: 5rem;
      cursor: pointer;
      position: absolute;
      left: 7.4521rem;
      top: 15.3929rem;
    }
    .product-KcM {
      left: 1.6954rem;
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
      background-color: #ffb000;
      border-radius: 0.2rem;
      width: 18.2261rem;
      height: 3.6561rem;
      position: absolute;
      top: 24.4178rem;
    }
    .produk-EUR {
      height: 5rem;
      cursor: pointer;
      position: absolute;
      left: 7.7996rem;
      font-weight: 700;
      font-family: Arial, 'Source Sans Pro';
      white-space: nowrap;
      width: 5.2rem;
      top: 23.8747rem;
      text-align: center;
      font-size: 1.6rem;
      line-height: 3.09375;
      color: #000000;
    }
  }
  .group-410-L1f {
    border: solid 0.2rem #000000;
    box-sizing: border-box;
    position: absolute;
    left: 30.7rem;
    top: 13.2rem;
    background-color: #ffffff;
    border-radius: 1rem;
    width: 102.3rem;
    height: 85.1rem;

    .auto-group-27yv-phX {
      border-radius: 10rem;
      box-sizing: border-box;
      height: 6.8629rem;
      border: solid 0.1rem #000000;
      left: 5.2rem;
      top: 10.9806rem;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      padding-left: 1.5rem;
      width: 92.5rem;
      position: absolute;

      .item-14-01-2019-hFX {
        margin: 0.227rem 12.5rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-ejhh-b61 {
        height: 100%;
        font-size: 1.2rem;
        font-weight: 400;
        justify-content: center;
        margin-right: 10rem;
        width: 10rem;
        color: #000000;
        white-space: nowrap;
        line-height: 1.7999998728;
        font-family: Arial, 'Source Sans Pro';
        align-items: center;
        display: flex;
        background-color: #3dbc3d;
        flex-shrink: 0;
      }
      .andi-fLm {
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.627rem 10rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
      .item-100-mub {
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.627rem 8.7rem 0rem 0rem;
        font-size: 1.2rem;
      }
      .item-18000-UZ7 {
        flex-shrink: 0;
        margin-top: 0.6274rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
      .auto-group-nzu7-QSm {
        height: 100%;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 2.006rem 4.6rem 2.006rem 6.1rem;

        .auto-group-8erq-87s {
          line-height: 1.5;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1.2rem;
          font-weight: 700;
          color: #ffffff;
          background-repeat: no-repeat;
          margin-right: 3.5rem;
          width: 9.1rem;
          height: 100%;
          background-position: center;
          flex-shrink: 0;
          background-size: cover;
          background-image: url('REPLACE_IMAGE:641:751');
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .titik-niD {
          height: 0.3942rem;
          cursor: pointer;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.23rem;
          width: 1.6rem;
        }
      }
    }
    .group-274-V6q {
      background-color: rgba(4, 153, 4, 0.850980401);
      border-radius: 10rem;
      line-height: 1.5;
      height: 4.4345rem;
      top: 77.7092rem;
      color: #ffffff;
      align-items: center;
      width: 13.4rem;
      font-weight: 400;
      white-space: nowrap;
      display: flex;
      font-size: 1rem;
      left: 44.5rem;
      font-family: Poppins, 'Source Sans Pro';
      justify-content: center;
      position: absolute;
    }
    .auto-group-4q6s-XpD {
      width: 89.8rem;
      height: 2.1056rem;
      position: absolute;
      left: 7rem;
      top: 5.7015rem;
      display: flex;
      align-items: flex-end;

      .tanggal-dMT {
        font-weight: 700;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 14.3rem;
        font-size: 1.2rem;
      }
      .transaksi-id-ZW1 {
        margin-right: 12.8rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .name-sFo {
        margin: 0rem 9.4rem 0.106rem 0rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .bayar-yZj {
        flex-shrink: 0;
        margin-right: 8.4rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
      }
      .keuntungan-W3s {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 5.9rem;
      }
      .status-EVf {
        flex-shrink: 0;
        margin-right: 8.6rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
      }
      .action-mVb {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.6341797511;
        color: #000000;
      }
    }
    .auto-group-ns27-WCH {
      width: 92.5rem;
      position: absolute;
      left: 5.2rem;
      display: flex;
      border: solid 0.1rem #f0f0f0;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 2.006rem 3.7rem 1.812rem 1.5rem;
      align-items: center;
      border-radius: 10rem;
      height: 6.8629rem;
      top: 18.8994rem;

      .item-14-01-2019-B3X {
        flex-shrink: 0;
        margin: 0.034rem 14.6rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-12345678-Gqf {
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.845rem 12.4rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.7999998728;
      }
      .rangga-P9b {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.645rem 9.5rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
      }
      .item-100-udj {
        flex-shrink: 0;
        margin: 0.434rem 8.7rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-18000-1wf {
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.434rem 6.1rem 0rem 0rem;
        font-size: 1.2rem;
      }
      .auto-group-gfet-wKX {
        height: 2.8507rem;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        line-height: 1.5;
        color: #ffffff;
        white-space: nowrap;
        justify-content: center;
        background-position: center;
        margin: 0rem 4.4rem 0.194rem 0rem;
        width: 9.1rem;
        background-size: cover;
        background-image: url('REPLACE_IMAGE:641:768');
        font-weight: 700;
        font-family: Poppins, 'Source Sans Pro';
        background-repeat: no-repeat;
      }
      .titik-bQ5 {
        margin-bottom: 0.0614rem;
        width: 1.6rem;
        height: 0.3942rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-mkbd-5q3 {
      box-sizing: border-box;
      position: absolute;
      background-position: center;
      padding: 2.182rem 3.7rem 1.53rem 1.5rem;
      width: 92.5rem;
      height: 6.8629rem;
      left: 5.2rem;
      top: 26.8181rem;
      display: flex;
      align-items: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:641:775');

      .item-14-01-2019-kAV {
        font-weight: 400;
        line-height: 1.2575;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 14.6rem 0.424rem 0rem;
        font-size: 1.2rem;
      }
      .item-12345678-Fd3 {
        flex-shrink: 0;
        margin: 0.176rem 11.7rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.7999998728;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
      }
      .pregorian-Mvy {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 8.8rem 0.869rem 0rem;
      }
      .item-100-HJq {
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 8.7rem 0.024rem 0rem;
        font-size: 1.2rem;
      }
      .item-18000-CRo {
        line-height: 1.6341797511;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 6.3rem 0.024rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
      .auto-group-haaf-KFX {
        margin: 0.3rem 4.2rem 0rem 0rem;
        color: #ffffff;
        display: flex;
        justify-content: center;
        width: 9.1rem;
        height: 2.8507rem;
        white-space: nowrap;
        background-size: cover;
        background-image: url('REPLACE_IMAGE:641:776');
        flex-shrink: 0;
        font-weight: 700;
        line-height: 1.5;
        align-items: center;
        background-repeat: no-repeat;
        font-size: 1.2rem;
        font-family: Poppins, 'Source Sans Pro';
        background-position: center;
      }
      .titik-n97 {
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 2.7566rem;
        width: 1.6rem;
        height: 0.3942rem;
      }
    }
    .auto-group-y571-VpD {
      box-sizing: border-box;
      width: 92.5rem;
      left: 5.2rem;
      top: 34.7369rem;
      border-radius: 10rem;
      border: solid 0.1rem #f0f0f0;
      background-color: #ffffff;
      padding: 2.006rem 3.7rem 1.918rem 1.5rem;
      height: 6.8629rem;
      position: absolute;
      display: flex;
      align-items: center;

      .item-14-01-2019-AvM {
        line-height: 1.2575;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.139rem 14.6rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
      .item-12345678-5XX {
        font-weight: 400;
        line-height: 1.7999998728;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.739rem 12.4rem 0rem 0rem;
        font-size: 1.2rem;
      }
      .rangga-Po7 {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.117rem 9.5rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
      }
      .item-100-v2M {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.539rem 8.7rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
      }
      .item-18000-QiD {
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.539rem 6.1rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
      }
      .auto-group-q7zv-KqB {
        width: 9.1rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        background-size: cover;
        background-repeat: no-repeat;
        font-size: 1.2rem;
        background-image: url('REPLACE_IMAGE:641:792');
        flex-shrink: 0;
        height: 2.8507rem;
        white-space: nowrap;
        display: flex;
        justify-content: center;
        margin: 0rem 4.4rem 0.088rem 0rem;
        font-weight: 700;
        color: #ffffff;
        align-items: center;
        background-position: center;
      }
      .titik-Pa9 {
        width: 1.6rem;
        height: 0.3942rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-top: 0.1692rem;
      }
    }
    .auto-group-42af-u2h {
      border: solid 0.1rem #f0f0f0;
      border-radius: 10rem;
      width: 92.5rem;
      height: 6.8629rem;
      position: absolute;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      box-sizing: border-box;
      padding: 2.006rem 4.1rem 1.918rem 1.5rem;
      left: 5.2rem;
      top: 42.4444rem;

      .item-14-01-2019-xmf {
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.139rem 14.6rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2575;
      }
      .item-12345678-Uk1 {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.7999998728;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.739rem 3.8rem 0rem 0rem;
      }
      .bitcoin-5-bJq {
        width: 1.6rem;
        height: calc(100% - 1.2497rem);
        overflow: hidden;
        position: relative;
        flex-shrink: 0;
        margin: 0.422rem 7rem 0.827rem 0rem;
      }
      .rangga-7ny {
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 9.5rem 0.094rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
      .item-100-3gd {
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.539rem 8.7rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
      }
      .item-18000-NU1 {
        margin: 0.539rem 6.1rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-s3rt-697 {
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:641:810');
        height: 2.8507rem;
        background-size: cover;
        font-size: 1.2rem;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        align-items: center;
        justify-content: center;
        width: 9.1rem;
        font-weight: 700;
        line-height: 1.5;
        display: flex;
        background-position: center;
        flex-shrink: 0;
        margin: 0rem 4rem 0.088rem 0rem;
      }
      .titik-ZHb {
        width: 1.6rem;
        height: 0.3942rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.4459rem;
      }
    }
    .auto-group-jxcj-4VF {
      box-sizing: border-box;
      height: 6.8629rem;
      position: absolute;
      border: solid 0.1rem #f0f0f0;
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 10rem;
      padding: 2.006rem 1.5rem 1.918rem 1.5rem;
      width: 92.5rem;
      left: 5.2rem;
      top: 50.3631rem;

      .item-14-01-2019-Xtd {
        font-weight: 400;
        line-height: 1.2575;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.139rem 14.6rem 0rem 0rem;
        font-size: 1.2rem;
      }
      .item-12345678-3ry {
        flex-shrink: 0;
        margin: 0.739rem 12.6rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.7999998728;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
      }
      .ghandi-a6D {
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.539rem 9.3rem 0rem 0rem;
        font-size: 1.2rem;
      }
      .item-100-6aM {
        flex-shrink: 0;
        margin: 0.539rem 8.7rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item-18000-cHo {
        line-height: 1.6341797511;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.539rem 6.1rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
      .auto-group-her9-LUh {
        margin: 0rem 6.6rem 0.088rem 0rem;
        font-weight: 700;
        white-space: nowrap;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:641:823');
        width: 9.1rem;
        height: 2.8507rem;
        font-size: 1.2rem;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        background-size: cover;
        align-items: center;
        justify-content: center;
        line-height: 1.5;
        background-position: center;
        flex-shrink: 0;
      }
      .titik-p8y {
        width: 1.6rem;
        height: 0.3942rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 2.0834rem;
      }
    }
    .auto-group-uygj-KLd {
      background-color: #ffffff;
      width: 92.5rem;
      height: 6.8629rem;
      position: absolute;
      left: 5.2rem;
      top: 58.2819rem;
      border: solid 0.1rem #f0f0f0;
      box-sizing: border-box;
      padding: 2.118rem 2.2rem 1.894rem 1.5rem;
      display: flex;
      align-items: center;
      border-radius: 10rem;

      .item-14-01-2019-bZ3 {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.003rem 14.6rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
      }
      .item-12345678-Wg1 {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.603rem 12.7rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.7999998728;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
      }
      .ghandi-qTP {
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.403rem 9.2rem 0rem 0rem;
        font-size: 1.2rem;
      }
      .item-100-ZeH {
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.403rem 8.7rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
      }
      .item-18000-giu {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.403rem 6.1rem 0rem 0rem;
      }
      .group-404-QQ1 {
        margin-right: 5.9rem;
        line-height: 1.5;
        white-space: nowrap;
        align-items: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        font-weight: 700;
        color: #ffffff;
        border-radius: 21.5rem;
        flex-shrink: 0;
        width: 9.1rem;
        font-family: Poppins, 'Source Sans Pro';
        background-image: url('REPLACE_IMAGE:819:4696');
        font-size: 1.2rem;
        display: flex;
        justify-content: center;
      }
      .titik-gMX {
        margin-bottom: 1.4566rem;
        width: 1.6rem;
        height: 0.3942rem;
        cursor: pointer;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .auto-group-dnqs-BZB {
      height: 6.8629rem;
      left: 5.2rem;
      top: 66.2006rem;
      display: flex;
      border: solid 0.1rem #f0f0f0;
      background-color: #ffffff;
      box-sizing: border-box;
      width: 92.5rem;
      position: absolute;
      align-items: center;
      border-radius: 10rem;
      padding: 2.006rem 4.4rem 1.918rem 1.5rem;

      .item-14-01-2019-Tmb {
        line-height: 1.2575;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.139rem 14.6rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
      .item-12345678-Zpd {
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.739rem 12.6rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.7999998728;
        color: #000000;
      }
      .ghandi-HEq {
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.539rem 9.3rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
      }
      .item-100-1Aq {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.539rem 8.7rem 0rem 0rem;
      }
      .item-18000-8WM {
        margin: 0.539rem 6.1rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .auto-group-6s6j-qQm {
        margin: 0rem 3.7rem 0.088rem 0rem;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        background-repeat: no-repeat;
        flex-shrink: 0;
        background-image: url('REPLACE_IMAGE:641:845');
        width: 9.1rem;
        height: 2.8507rem;
        line-height: 1.5;
        display: flex;
        align-items: center;
        background-position: center;
        font-size: 1.2rem;
        justify-content: center;
        background-size: cover;
        font-weight: 700;
      }
      .titik-5pu {
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 0.3583rem;
        width: 1.6rem;
        height: 0.3942rem;
        cursor: pointer;
        object-fit: contain;
      }
    }
    .transaksi-b2Z {
      font-family: Poppins, 'Source Sans Pro';
      width: 12.3rem;
      position: absolute;
      font-size: 2.5rem;
      line-height: 1.5;
      color: #000000;
      height: 3.8rem;
      left: 2.1rem;
      top: 1.4rem;
      font-weight: 700;
      white-space: nowrap;
    }
  }
  .layout-navbar-admin-qxV {
    overflow: hidden;
    background-color: #049904;
    width: 144rem;
    height: 9.1rem;
    position: absolute;
    left: 0;
    top: 0;

    .group-254-Mfw {
      width: 2.1209rem;
      height: 3.1341rem;
      position: absolute;
      left: 136.5rem;
      top: 3.1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .oval-2-HJh {
      width: 2.381rem;
      height: 2.4rem;
      position: absolute;
      left: 134.1rem;
      top: 2.2rem;
      object-fit: contain;
      vertical-align: top;
    }
    .item-12-DCM {
      letter-spacing: -0.0429rem;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      height: 1.5rem;
      position: absolute;
      top: 2.6rem;
      font-weight: 700;
      line-height: 1.5;
      width: 0.6rem;
      left: 135rem;
      text-align: center;
      font-size: 1rem;
      white-space: nowrap;
    }
    .search-bro-VvZ {
      left: 67rem;
      top: 2.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 42.2rem;
      height: 4rem;
      position: absolute;
    }
    .foodies-1-RpD {
      width: 30.1rem;
      height: 27.7rem;
      position: absolute;
      left: 1.7rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
    }
    .dropdown-menu-LwB {
      box-sizing: border-box;
      background-size: cover;
      background-position: center;
      background-image: url('REPLACE_IMAGE:I113:5064;31:146');
      background-repeat: no-repeat;
      padding: 1.2rem 1.38rem 1.2rem 1.472rem;
      width: 6.348rem;
      height: 6rem;
      position: absolute;
      left: 126.7rem;
      top: 1.7rem;

      .profil-pbT {
        width: 3.496rem;
        height: 3.6rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .andi-akhsanul-MLV {
      white-space: nowrap;
      left: 113.9rem;
      top: 3.5rem;
      color: #ffff00;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 900;
      line-height: 1.5;
      letter-spacing: -0.016rem;
      width: 10.1rem;
      height: 2.4rem;
      position: absolute;
      font-family: Arial, 'Source Sans Pro';
    }
  }
}
