
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 143.6rem;
}.transaksi-hjX {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ceff9d;

  .group-380-3YV {
    background-color: #57c343;
    width: 22.8886rem;
    height: 93.3rem;
    position: absolute;
    left: 0;
    top: 9.1rem;

    .overview-kho {
      height: 3.6561rem;
      left: 1.6955rem;
      border: solid 0.1rem #ffffff;
      width: 18.2261rem;
      top: 7.5933rem;
      box-sizing: border-box;
      background-color: #ffb000;
      border-radius: 0.2rem;
      position: absolute;
    }
    .overview-qjF {
      left: 7.7594rem;
      text-align: center;
      font-weight: 700;
      line-height: 3.09375;
      height: 5rem;
      position: absolute;
      font-size: 1.6rem;
      font-family: Poppins, 'Source Sans Pro';
      top: 6.7017rem;
      color: #000000;
      width: 6.8rem;
      white-space: nowrap;
      display: flex;
      align-items: baseline;

      .overview-qjF-sub-0 {
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 3.09375;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
      }
      .overview-qjF-sub-1 {
        font-family: Arial, 'Source Sans Pro';
        font-size: 1.6rem;
        font-weight: 700;
        line-height: 3.09375;
        color: #000000;
      }
    }
    .transaksi-CLq {
      border-radius: 0.2rem;
      height: 3.6561rem;
      position: absolute;
      left: 1.6955rem;
      box-sizing: border-box;
      background-color: #ffb000;
      width: 18.2261rem;
      top: 11.8732rem;
      border: solid 0.1rem #fff8f8;
    }
    .transaksi-tUZ {
      font-size: 1.6rem;
      font-family: Arial, 'Source Sans Pro';
      width: 6.6rem;
      left: 7.7644rem;
      top: 11.2044rem;
      font-weight: 700;
      line-height: 3.09375;
      color: #ffff00;
      white-space: nowrap;
      height: 5rem;
      position: absolute;
      text-align: center;
    }
    .user-ByT {
      width: 18.2261rem;
      height: 3.6561rem;
      left: 1.6955rem;
      box-sizing: border-box;
      border-radius: 0.2rem;
      position: absolute;
      top: 20.2422rem;
      border: solid 0.1rem #ffffff;
      background-color: #ffb000;
    }
    .users-6Kj {
      width: 3.8rem;
      height: 5rem;
      cursor: pointer;
      font-family: Arial, 'Source Sans Pro';
      color: #000000;
      position: absolute;
      left: 7.8348rem;
      top: 19.6862rem;
      text-align: center;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 3.09375;
      white-space: nowrap;
    }
    .statistik-mgm {
      position: absolute;
      background-color: #ffb000;
      border-radius: 0.2rem;
      width: 18.2261rem;
      height: 3.6561rem;
      left: 1.6955rem;
      top: 16.0583rem;
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
    }
    .statistik-U5P {
      cursor: pointer;
      position: absolute;
      top: 15.3929rem;
      text-align: center;
      font-family: Arial, 'Source Sans Pro';
      width: 5.8rem;
      height: 5rem;
      font-weight: 700;
      line-height: 3.09375;
      color: #000000;
      white-space: nowrap;
      left: 7.4521rem;
      font-size: 1.6rem;
    }
    .product-xFT {
      position: absolute;
      border: solid 0.1rem #ffffff;
      box-sizing: border-box;
      background-color: #ffb000;
      border-radius: 0.2rem;
      width: 18.2261rem;
      height: 3.6561rem;
      left: 1.6955rem;
      top: 24.4178rem;
    }
    .produk-ee5 {
      position: absolute;
      top: 23.8747rem;
      text-align: center;
      font-size: 1.6rem;
      line-height: 3.09375;
      width: 5.2rem;
      height: 5rem;
      cursor: pointer;
      color: #000000;
      font-family: Arial, 'Source Sans Pro';
      left: 7.7996rem;
      font-weight: 700;
      white-space: nowrap;
    }
  }
  .group-411-Xxm {
    position: absolute;
    left: 29.4rem;
    top: 13.2rem;
    border-radius: 1rem;
    width: 102.3rem;
    height: 85.1rem;
    border: solid 0.2rem #000000;
    box-sizing: border-box;
    background-color: #ffffff;

    .group-274-qTf {
      left: 44.5rem;
      font-family: Poppins, 'Source Sans Pro';
      display: flex;
      background-color: rgba(4, 153, 4, 0.850980401);
      width: 13.4rem;
      color: #ffffff;
      white-space: nowrap;
      justify-content: center;
      border-radius: 10rem;
      top: 77.7092rem;
      position: absolute;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      height: 4.4345rem;
      align-items: center;
    }
    .auto-group-anap-sQM {
      top: 5.7015rem;
      display: flex;
      align-items: flex-end;
      width: 89.8rem;
      height: 2.1056rem;
      position: absolute;
      left: 7rem;

      .tanggal-mVj {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 14.3rem;
      }
      .transaksi-id-6H7 {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 12.8rem;
      }
      .name-ohK {
        font-weight: 700;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 9.4rem 0.106rem 0rem;
        font-size: 1.2rem;
      }
      .bayar-j5B {
        font-weight: 700;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 8.4rem;
        font-size: 1.2rem;
      }
      .keuntungan-SVP {
        margin-right: 5.9rem;
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .status-xyX {
        font-weight: 700;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 8.6rem;
        font-size: 1.2rem;
      }
      .action-tcH {
        font-size: 1.2rem;
        font-weight: 700;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .prego-cHP {
      width: 92.5rem;
      left: 4.3rem;
      top: 19.4rem;
      display: flex;
      background-size: cover;
      background-position: center;
      background-image: url('REPLACE_IMAGE:641:654');
      box-sizing: border-box;
      height: 6.8629rem;
      position: absolute;
      align-items: center;
      background-repeat: no-repeat;
      padding: 2.323rem 2.2rem 1.53rem 1.5rem;

      .item-14-01-2019-tVo {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 14.6rem 0.565rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2575;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
      }
      .item-12345678-Bzh {
        margin: 0.035rem 11.7rem 0rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.7999998728;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .pregorian-6rm {
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 8.8rem 1.01rem 0rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
      }
      .item-100-QsT {
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 8.7rem 0.165rem 0rem;
        font-size: 1.2rem;
      }
      .item-18000-7ms {
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0rem 6.3rem 0.165rem 0rem;
      }
      .auto-group-k6n7-qSy {
        font-weight: 700;
        white-space: nowrap;
        background-position: center;
        height: 2.8507rem;
        line-height: 1.5;
        font-family: Poppins, 'Source Sans Pro';
        display: flex;
        justify-content: center;
        margin: 0.159rem 5.7rem 0rem 0rem;
        font-size: 1.2rem;
        background-size: cover;
        width: 9.1rem;
        color: #ffffff;
        align-items: center;
        background-repeat: no-repeat;
        background-image: url('REPLACE_IMAGE:641:655');
        flex-shrink: 0;
      }
      .group-96-VXX {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-bottom: 1.3486rem;
        width: 1.6rem;
        height: 0.3942rem;
      }
    }
    .group-402-7Yu {
      top: 28.3rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 92.5rem;
      height: 38.3267rem;
      position: absolute;
      left: 4.3rem;

      .auto-group-hr8k-2fs {
        flex-shrink: 0;
        margin-bottom: 0.8447rem;
        padding: 2.006rem 2.2rem 1.918rem 1.5rem;
        width: 100%;
        display: flex;
        border: solid 0.1rem #f0f0f0;
        background-color: #ffffff;
        border-radius: 10rem;
        box-sizing: border-box;
        align-items: center;

        .item-14-01-2019-XMj {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.139rem 14.6rem 0rem 0rem;
        }
        .item-12345678-pbj {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.7999998728;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.739rem 12.4rem 0rem 0rem;
        }
        .rangga-8sK {
          flex-shrink: 0;
          margin: 0.117rem 9.5rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-100-TPo {
          line-height: 1.6341797511;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.539rem 8.7rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .item-18000-mfP {
          font-weight: 400;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.539rem 6.1rem 0rem 0rem;
          font-size: 1.2rem;
        }
        .auto-group-dgd9-5vy {
          background-repeat: no-repeat;
          width: 9.1rem;
          height: 2.8507rem;
          color: #ffffff;
          background-position: center;
          background-image: url('REPLACE_IMAGE:641:671');
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: Poppins, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 5.9rem 0.088rem 0rem;
          font-size: 1.2rem;
          line-height: 1.5;
          font-weight: 700;
          white-space: nowrap;
          background-size: cover;
        }
        .group-96-m37 {
          margin-bottom: 0.6444rem;
          width: 1.6rem;
          height: 0.3942rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-rys9-Suw {
        height: 6.8629rem;
        display: flex;
        align-items: center;
        border: solid 0.1rem #f0f0f0;
        border-radius: 10rem;
        margin-bottom: 1.0558rem;
        box-sizing: border-box;
        width: 100%;
        padding: 2.006rem 2.2rem 1.918rem 1.5rem;
        background-color: #ffffff;
        flex-shrink: 0;

        .item-14-01-2019-8Xs {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.139rem 14.6rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
        }
        .item-12345678-Eqo {
          line-height: 1.7999998728;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.739rem 3.8rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .bitcoin-5-kZF {
          flex-shrink: 0;
          margin: 0.422rem 7rem 0.827rem 0rem;
          width: 1.6rem;
          height: calc(100% - 1.2497rem);
          overflow: hidden;
          position: relative;
        }
        .rangga-GXb {
          flex-shrink: 0;
          margin: 0rem 9.5rem 0.094rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-100-nF3 {
          flex-shrink: 0;
          margin: 0.539rem 8.7rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-18000-Udf {
          line-height: 1.6341797511;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.539rem 6.1rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .auto-group-jdb1-PVj {
          justify-content: center;
          margin: 0rem 5.9rem 0.088rem 0rem;
          font-size: 1.2rem;
          font-weight: 700;
          font-family: Poppins, 'Source Sans Pro';
          background-image: url('REPLACE_IMAGE:641:689');
          flex-shrink: 0;
          color: #ffffff;
          white-space: nowrap;
          align-items: center;
          background-repeat: no-repeat;
          line-height: 1.5;
          background-size: cover;
          width: 9.1rem;
          height: 2.8507rem;
          display: flex;
          background-position: center;
        }
        .group-96-F29 {
          flex-shrink: 0;
          margin-bottom: 0.6444rem;
          width: 1.6rem;
          height: 0.3942rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-yxgp-KGu {
        display: flex;
        align-items: center;
        border: solid 0.1rem #f0f0f0;
        flex-shrink: 0;
        margin-bottom: 1.0558rem;
        padding: 2.006rem 2.2rem 1.918rem 1.5rem;
        width: 100%;
        box-sizing: border-box;
        background-color: #ffffff;
        border-radius: 10rem;

        .item-14-01-2019-cWu {
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.139rem 14.6rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2575;
        }
        .item-12345678-7iZ {
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.739rem 12.6rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.7999998728;
          color: #000000;
        }
        .ghandi-pN5 {
          font-weight: 400;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.539rem 9.3rem 0rem 0rem;
          font-size: 1.2rem;
        }
        .item-100-iyF {
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.539rem 8.7rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.6341797511;
        }
        .item-18000-dqK {
          flex-shrink: 0;
          margin: 0.539rem 6.1rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
        }
        .group-403-Lzd {
          font-size: 1.2rem;
          font-weight: 700;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
          width: 9.1rem;
          line-height: 1.5;
          color: #ffffff;
          display: flex;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          background-position: center;
          border-radius: 21.5rem;
          margin: 0rem 5.9rem 0.088rem 0rem;
          height: 2.8507rem;
          background-size: cover;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:641:950');
        }
        .group-96-PT7 {
          height: 0.3942rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-bottom: 0.6444rem;
          width: 1.6rem;
        }
      }
      .auto-group-rdb9-G17 {
        border-radius: 10rem;
        margin-bottom: 1.0558rem;
        padding: 2.055rem 2.2rem 1.918rem 1.5rem;
        height: 6.8629rem;
        align-items: center;
        background-color: #ffffff;
        flex-shrink: 0;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        border: solid 0.1rem #f0f0f0;

        .item-14-01-2019-9Ko {
          line-height: 1.2575;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.09rem 14.6rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .item-12345678-3AH {
          line-height: 1.7999998728;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.69rem 12.7rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .ghandi-Ycq {
          line-height: 1.6341797511;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.49rem 9.2rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
        }
        .item-100-Tjo {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.49rem 8.7rem 0rem 0rem;
        }
        .item-18000-Bfo {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.49rem 7.4rem 0rem 0rem;
        }
        .group-404-u61 {
          font-weight: 700;
          display: flex;
          background-position: center;
          width: 9.1rem;
          height: calc(100% - 0.0395rem);
          align-items: center;
          justify-content: center;
          background-repeat: no-repeat;
          background-image: url('REPLACE_IMAGE:641:953');
          margin: 0rem 4.6rem 0.039rem 0rem;
          font-size: 1.2rem;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          line-height: 1.5;
          color: #ffffff;
          background-size: cover;
          border-radius: 21.5rem;
        }
        .group-96-Lx1 {
          margin-bottom: 0.6933rem;
          width: 1.6rem;
          height: 0.3942rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .auto-group-mlf5-EGh {
        background-color: #ffffff;
        box-sizing: border-box;
        padding: 2.006rem 2.2rem 1.918rem 1.5rem;
        width: 100%;
        align-items: center;
        display: flex;
        border: solid 0.1rem #f0f0f0;
        border-radius: 10rem;
        flex-shrink: 0;

        .item-14-01-2019-Lad {
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.139rem 14.6rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2575;
          color: #000000;
        }
        .item-12345678-e5X {
          margin: 0.739rem 12.6rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.7999998728;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .ghandi-wqK {
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.539rem 9.3rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
        }
        .item-100-THs {
          flex-shrink: 0;
          margin: 0.539rem 8.7rem 0rem 0rem;
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Arial, 'Source Sans Pro';
          white-space: nowrap;
        }
        .item-18000-Mu3 {
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.6341797511;
          color: #000000;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0.539rem 6.1rem 0rem 0rem;
        }
        .auto-group-bycf-scV {
          display: flex;
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
          height: 2.8507rem;
          font-size: 1.2rem;
          font-weight: 700;
          flex-shrink: 0;
          margin: 0rem 5.9rem 0.088rem 0rem;
          line-height: 1.5;
          justify-content: center;
          background-image: url('REPLACE_IMAGE:641:724');
          width: 9.1rem;
          color: #ffffff;
          font-family: Poppins, 'Source Sans Pro';
          white-space: nowrap;
          align-items: center;
        }
        .group-96-Xww {
          margin-bottom: 0.6444rem;
          width: 1.6rem;
          height: 0.3942rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
    }
    .transaksi-pg9 {
      height: 3.8rem;
      left: 2.1rem;
      top: 1.4rem;
      line-height: 1.5;
      color: #000000;
      white-space: nowrap;
      width: 12.3rem;
      position: absolute;
      font-size: 2.5rem;
      font-weight: 700;
      font-family: Poppins, 'Source Sans Pro';
    }
    .auto-group-1qbm-7QM {
      position: absolute;
      left: 5.2rem;
      top: 11.1994rem;
      width: 92.5rem;
      height: 6.9635rem;

      .rectangle-293-cM7 {
        border: solid 0.1rem #f0f0f0;
        background-color: #ffffff;
        border-radius: 10rem;
        width: 92.5rem;
        position: absolute;
        left: 0;
        top: 0;
        height: 6.8629rem;
        box-sizing: border-box;
      }
      .rectangle-294-ur1 {
        vertical-align: top;
        border-radius: 21.5rem;
        width: 9.1rem;
        height: 2.8507rem;
        position: absolute;
        left: 73.7rem;
        top: 2.0061rem;
        object-fit: contain;
      }
      .failed-d1K {
        font-weight: 700;
        width: 3.8rem;
        position: absolute;
        top: 2.534rem;
        line-height: 1.5;
        color: #ffffff;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.8rem;
        left: 76.4rem;
        font-size: 1.2rem;
      }
      .rectangle-307-vWD {
        background-color: #3dbc3d;
        width: 10rem;
        height: 6.8629rem;
        position: absolute;
        left: 19.7rem;
        top: 0.1006rem;
      }
      .item-14-01-2019-FYV {
        white-space: nowrap;
        top: 2.7452rem;
        font-size: 1.2rem;
        font-weight: 400;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        width: 5.7rem;
        height: 1.6rem;
        position: absolute;
        left: 1.5rem;
        line-height: 1.2575;
      }
      .titik-dua-wAR {
        position: absolute;
        left: 88rem;
        top: 3.4006rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.6rem;
        height: 0.3942rem;
      }
      .item-12345678-ead {
        width: 4.8rem;
        position: absolute;
        font-weight: 400;
        line-height: 1.7999998728;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        height: 2.2rem;
        left: 21.8rem;
        top: 2.8507rem;
        font-size: 1.2rem;
        color: #000000;
      }
      .rangga-jry {
        height: 2rem;
        position: absolute;
        left: 39rem;
        font-family: Arial, 'Source Sans Pro';
        width: 3.5rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        white-space: nowrap;
        top: 2.8507rem;
      }
      .item-100-dxM {
        height: 2rem;
        font-weight: 400;
        color: #000000;
        font-family: Arial, 'Source Sans Pro';
        white-space: nowrap;
        width: 2.4rem;
        position: absolute;
        left: 52rem;
        top: 2.7452rem;
        font-size: 1.2rem;
        line-height: 1.6341797511;
      }
      .item-18000-KqB {
        width: 4.5rem;
        height: 2rem;
        position: absolute;
        left: 63.1rem;
        top: 2.7452rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.6341797511;
        color: #000000;
        font-family: Poppins, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
  }
  .layout-navbar-admin-ZjX {
    width: 144rem;
    height: 9.1rem;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    background-color: #049904;

    .group-254-H9j {
      width: 2.1209rem;
      height: 3.1341rem;
      position: absolute;
      left: 136.5rem;
      top: 3.1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .oval-2-CXb {
      top: 2.2rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.381rem;
      height: 2.4rem;
      position: absolute;
      left: 134.1rem;
    }
    .item-12-8AM {
      font-size: 1rem;
      color: #000000;
      font-family: Poppins, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.5rem;
      top: 2.6rem;
      left: 135rem;
      text-align: center;
      font-weight: 700;
      line-height: 1.5;
      letter-spacing: -0.0429rem;
      width: 0.6rem;
      position: absolute;
    }
    .search-bro-Qdf {
      height: 4rem;
      position: absolute;
      left: 67rem;
      top: 2.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 42.2rem;
    }
    .foodies-1-XyB {
      height: 27.7rem;
      position: absolute;
      left: 1.7rem;
      top: 0;
      object-fit: cover;
      vertical-align: top;
      width: 30.1rem;
    }
    .dropdown-menu-eY1 {
      padding: 1.2rem 1.38rem 1.2rem 1.472rem;
      left: 126.7rem;
      top: 1.7rem;
      background-repeat: no-repeat;
      box-sizing: border-box;
      height: 6rem;
      position: absolute;
      background-size: cover;
      background-position: center;
      background-image: url('REPLACE_IMAGE:I641:480;31:146');
      width: 6.348rem;

      .profil-Y7b {
        vertical-align: top;
        width: 3.496rem;
        height: 3.6rem;
        object-fit: contain;
      }
    }
    .andi-akhsanul-4bj {
      font-size: 1.6rem;
      font-weight: 900;
      line-height: 1.5;
      letter-spacing: -0.016rem;
      width: 10.1rem;
      left: 113.9rem;
      top: 3.5rem;
      text-align: center;
      white-space: nowrap;
      height: 2.4rem;
      position: absolute;
      color: #ffff00;
      font-family: Arial, 'Source Sans Pro';
    }
  }
}
