
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}.all-user-jpM {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ceff9d;
}
.all-user-jpM .group-380-s9s {
  width: 22.9524rem;
  height: 93.3rem;
  position: absolute;
  left: 0;
  top: 9.1rem;
  background-color: rgba(4, 153, 4, 0.5899999738);
}
.all-user-jpM .group-380-s9s .overview-a4H {
  width: 18.2769rem;
  height: 3.6561rem;
  position: absolute;
  left: 1.7002rem;
  top: 7.5933rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #ffb000;
  border-radius: 0.2rem;
}
.all-user-jpM .group-380-s9s .overview-T85 {
  width: 6.8rem;
  height: 5rem;
  cursor: pointer;
  position: absolute;
  left: 7.7905rem;
  top: 6.7017rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.09375;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.all-user-jpM .group-380-s9s .overview-T85 .overview-T85-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.09375;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
}
.all-user-jpM .group-380-s9s .overview-T85 .overview-T85-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.09375;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
}
.all-user-jpM .group-380-s9s .transaksi-nxy {
  width: 18.2769rem;
  height: 3.6561rem;
  position: absolute;
  left: 1.7002rem;
  top: 11.8732rem;
  border: solid 0.1rem #fff8f8;
  box-sizing: border-box;
  background-color: #ffb000;
  border-radius: 0.2rem;
}
.all-user-jpM .group-380-s9s .transaksi-tWD {
  width: 6.6rem;
  height: 5rem;
  cursor: pointer;
  position: absolute;
  left: 7.7952rem;
  top: 11.2044rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.09375;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .group-380-s9s .user-PC5 {
  width: 18.2769rem;
  height: 3.6561rem;
  position: absolute;
  left: 1.7002rem;
  top: 20.2422rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #ffb000;
  border-radius: 0.2rem;
}
.all-user-jpM .group-380-s9s .users-ssw {
  width: 3.8rem;
  height: 5rem;
  position: absolute;
  left: 7.8619rem;
  top: 19.6862rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.09375;
  color: #ffff00;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .group-380-s9s .statistik-mTX {
  width: 18.2769rem;
  height: 3.6561rem;
  position: absolute;
  left: 1.7002rem;
  top: 16.0583rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #ffb000;
  border-radius: 0.2rem;
}
.all-user-jpM .group-380-s9s .statistik-4Sd {
  width: 5.8rem;
  height: 5rem;
  cursor: pointer;
  position: absolute;
  left: 7.481rem;
  top: 15.3929rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.09375;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .group-380-s9s .product-9iy {
  width: 18.2769rem;
  height: 3.6561rem;
  position: absolute;
  left: 1.7002rem;
  top: 24.4178rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #ffb000;
  border-radius: 0.2rem;
}
.all-user-jpM .group-380-s9s .produk-e9w {
  width: 5.2rem;
  height: 5rem;
  cursor: pointer;
  position: absolute;
  left: 7.8286rem;
  top: 23.8747rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.09375;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb {
  box-sizing: border-box;
  padding: 6.587rem 4rem 11.824rem 6.331rem;
  width: 113.5238rem;
  height: 78.5206rem;
  position: absolute;
  left: 26rem;
  top: 14.7rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid 0.2rem #000000;
  background-color: #ffffff;
  border-radius: 1rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-jvgf-ZgD {
  margin: 0rem 1.242rem 7.044rem 0rem;
  width: calc(100% - 1.2415rem);
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-jvgf-ZgD .users-fUM {
  margin-right: 96.1875rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-jvgf-ZgD .group-96-b77 {
  margin-bottom: 0.3036rem;
  width: 1.7635rem;
  height: 0.4552rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-jxfd-udb {
  margin: 0rem 4.675rem 4.462rem 2.866rem;
  width: calc(100% - 7.5406rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-jxfd-udb .account-status-cY1 {
  margin-right: 25.8265rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-jxfd-udb .user-name-ib3 {
  margin-right: 25.2813rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-jxfd-udb .email-3NR {
  margin-right: 24.4441rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-jxfd-udb .action-mZK {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF {
  margin-bottom: 1.2193rem;
  width: 100%;
  height: 17.0697rem;
  position: relative;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .rectangle-300-pnV {
  width: 101.951rem;
  height: 7.9252rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 10rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .group-96-7mb {
  width: 1.7635rem;
  height: 0.4552rem;
  position: absolute;
  left: 97.7627rem;
  top: 3.4139rem;
  object-fit: contain;
  vertical-align: top;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .active-S3B {
  width: 4rem;
  height: 1.8rem;
  position: absolute;
  left: 6.613rem;
  top: 2.9262rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .mask-group-L8Z {
  width: 3.9678rem;
  height: 4.3894rem;
  position: absolute;
  left: 35.6002rem;
  top: 1.707rem;
  object-fit: contain;
  vertical-align: top;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .rangga-prathama-SSV {
  width: 9.1rem;
  height: 1.5rem;
  position: absolute;
  left: 41.3315rem;
  top: 3.1701rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0b0000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .ranggaprathamacom-L25 {
  width: 11.2rem;
  height: 2rem;
  position: absolute;
  left: 65.6895rem;
  top: 3.0482rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6341797511;
  color: #0b0000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .rectangle-302-2Qh {
  width: 101.951rem;
  height: 7.9252rem;
  position: absolute;
  left: 0;
  top: 9.1445rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 10rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .member-w1s {
  width: 9.7rem;
  height: 4.0379rem;
  position: absolute;
  left: 5.7687rem;
  top: 11.4067rem;
  border-radius: 0.5rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .member-w1s .rectangle-97-TF7 {
  width: 9.0827rem;
  height: 3.6rem;
  position: absolute;
  left: 0.6173rem;
  top: 0;
  background-color: #6fff2d;
  border-radius: 0.5rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .member-w1s .desain-tanpa-judul-26-1-n2V {
  width: 4.1259rem;
  height: 2.802rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .member-w1s .member-tLR {
  width: 4.3rem;
  height: 2.4rem;
  position: absolute;
  left: 4.3528rem;
  top: 0.3447rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.4;
  letter-spacing: -0.01rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .member-w1s .bronze-AYq {
  width: 2rem;
  height: 2.4rem;
  position: absolute;
  left: 5.3089rem;
  top: 1.6379rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: 500;
  line-height: 4;
  letter-spacing: -0.006rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .group-96-2qw {
  width: 1.7635rem;
  height: 0.4552rem;
  position: absolute;
  left: 97.7627rem;
  top: 12.5584rem;
  object-fit: contain;
  vertical-align: top;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .mask-group-vwK {
  width: 3.9678rem;
  height: 4.3894rem;
  position: absolute;
  left: 35.6002rem;
  top: 10.8514rem;
  object-fit: contain;
  vertical-align: top;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .pregoriann-3m3 {
  width: 5.6rem;
  height: 2rem;
  position: absolute;
  left: 41.3315rem;
  top: 12.3146rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .pregorianncom-93P {
  width: 8rem;
  height: 2rem;
  position: absolute;
  left: 65.6895rem;
  top: 11.8269rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .group-2-FMK {
  width: 6rem;
  height: 5.7353rem;
  position: absolute;
  left: 97.1925rem;
  top: 5.2346rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .group-2-FMK .group-16-a8h {
  width: 6rem;
  height: 5.7353rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .group-2-FMK .view-78d {
  width: 1.6rem;
  height: 1.5rem;
  cursor: pointer;
  position: absolute;
  left: 0.9538rem;
  top: 0.7961rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .group-2-FMK .delete-bpV {
  width: 2.7rem;
  height: 1.3rem;
  position: absolute;
  left: 0.8881rem;
  top: 3.4411rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .member-hcd {
  width: 9.7rem;
  height: 4.0379rem;
  position: absolute;
  left: 5.7687rem;
  top: 2.2067rem;
  border-radius: 0.5rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .member-hcd .rectangle-97-dWH {
  width: 9.0827rem;
  height: 3.6rem;
  position: absolute;
  left: 0.6173rem;
  top: 0;
  background-color: #6fff2d;
  border-radius: 0.5rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .member-hcd .desain-tanpa-judul-26-1-kqo {
  width: 4.1259rem;
  height: 2.802rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .member-hcd .member-sQd {
  width: 4.3rem;
  height: 2.4rem;
  position: absolute;
  left: 4.3528rem;
  top: 0.3447rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.4;
  letter-spacing: -0.01rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-pbhv-JZF .member-hcd .bronze-9d3 {
  width: 2rem;
  height: 2.4rem;
  position: absolute;
  left: 5.3089rem;
  top: 1.6379rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: 500;
  line-height: 4;
  letter-spacing: -0.006rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-ndyo-d2R {
  margin: 0rem 1.242rem 1.219rem 0rem;
  box-sizing: border-box;
  padding: 1.707rem 2.425rem 1.77rem 5.769rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 10rem;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-ndyo-d2R .auto-group-yuwk-hHB {
  margin: 0.411rem 20.131rem 0rem 0rem;
  width: 9.7rem;
  height: 4.0379rem;
  position: relative;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-ndyo-d2R .auto-group-yuwk-hHB .active-QSV {
  width: 4rem;
  height: 1.8rem;
  position: absolute;
  left: 0.8443rem;
  top: 0.8084rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-ndyo-d2R .auto-group-yuwk-hHB .member-u8M {
  width: 9.7rem;
  height: 4.0379rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0.5rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-ndyo-d2R .auto-group-yuwk-hHB .member-u8M .rectangle-97-EgR {
  width: 9.0827rem;
  height: 3.6rem;
  position: absolute;
  left: 0.6173rem;
  top: 0;
  background-color: #6fff2d;
  border-radius: 0.5rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-ndyo-d2R .auto-group-yuwk-hHB .member-u8M .desain-tanpa-judul-26-1-j7P {
  width: 4.1259rem;
  height: 2.802rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-ndyo-d2R .auto-group-yuwk-hHB .member-u8M .member-qAR {
  width: 4.3rem;
  height: 2.4rem;
  position: absolute;
  left: 4.3528rem;
  top: 0.3447rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.4;
  letter-spacing: -0.01rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-ndyo-d2R .auto-group-yuwk-hHB .member-u8M .bronze-WXT {
  width: 2rem;
  height: 2.4rem;
  position: absolute;
  left: 5.3089rem;
  top: 1.6379rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: 500;
  line-height: 4;
  letter-spacing: -0.006rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-ndyo-d2R .mask-group-Aru {
  margin: 0rem 1.763rem 0.059rem 0rem;
  width: 3.9678rem;
  height: 4.3894rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-ndyo-d2R .ghandi-gKT {
  margin: 0rem 20.758rem 0.022rem 0rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-ndyo-d2R .ghandicom-zb3 {
  margin: 0rem 26.073rem 0.498rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-ndyo-d2R .group-96-J5w {
  margin-bottom: 0.5795rem;
  width: 1.7635rem;
  height: 0.4552rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-8lbd-NLh {
  margin: 0rem 1.242rem 1.219rem 0rem;
  box-sizing: border-box;
  padding: 1.707rem 2.425rem 1.814rem 5.769rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 10rem;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-8lbd-NLh .auto-group-oqyp-Eth {
  margin: 0.366rem 20.131rem 0rem 0rem;
  width: 9.7rem;
  height: 4.0379rem;
  position: relative;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-8lbd-NLh .auto-group-oqyp-Eth .pending-x41 {
  width: 5.1rem;
  height: 1.8rem;
  position: absolute;
  left: 0.4035rem;
  top: 0.8529rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-8lbd-NLh .auto-group-oqyp-Eth .member-3bF {
  width: 9.7rem;
  height: 4.0379rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0.5rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-8lbd-NLh .auto-group-oqyp-Eth .member-3bF .rectangle-97-Avm {
  width: 9.0827rem;
  height: 3.6rem;
  position: absolute;
  left: 0.6173rem;
  top: 0;
  background-color: #6fff2d;
  border-radius: 0.5rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-8lbd-NLh .auto-group-oqyp-Eth .member-3bF .desain-tanpa-judul-26-1-UwT {
  width: 4.1259rem;
  height: 2.802rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-8lbd-NLh .auto-group-oqyp-Eth .member-3bF .member-zuo {
  width: 4.3rem;
  height: 2.4rem;
  position: absolute;
  left: 4.3528rem;
  top: 0.3447rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.4;
  letter-spacing: -0.01rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-8lbd-NLh .auto-group-oqyp-Eth .member-3bF .bronze-gGq {
  width: 2rem;
  height: 2.4rem;
  position: absolute;
  left: 5.3089rem;
  top: 1.6379rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: 500;
  line-height: 4;
  letter-spacing: -0.006rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-8lbd-NLh .mask-group-9RK {
  margin: 0rem 1.763rem 0.015rem 0rem;
  width: 3.9678rem;
  height: 4.3894rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-8lbd-NLh .ramon-ridwan-4HP {
  margin: 0.022rem 16.758rem 0rem 0rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-8lbd-NLh .ramonridwancom-N3B {
  margin: 0rem 22.473rem 0.453rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-8lbd-NLh .group-96-gJm {
  margin-bottom: 0.5351rem;
  width: 1.7635rem;
  height: 0.4552rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-uubm-Ajj {
  margin-right: 1.2415rem;
  box-sizing: border-box;
  padding: 0.779rem 2.425rem 0.779rem 5.769rem;
  height: 7.9252rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #000000;
  background-color: #ffffff;
  border-radius: 10rem;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-uubm-Ajj .auto-group-fc1z-rMf {
  margin: 1.25rem 20.131rem 1.08rem 0rem;
  width: 9.7rem;
  height: calc(100% - 2.3297rem);
  position: relative;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-uubm-Ajj .auto-group-fc1z-rMf .down-Fub {
  width: 3.5rem;
  height: 1.8rem;
  position: absolute;
  left: 1.2852rem;
  top: 0.8974rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.5;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-uubm-Ajj .auto-group-fc1z-rMf .member-wXX {
  width: 9.7rem;
  height: 4.0379rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 0.5rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-uubm-Ajj .auto-group-fc1z-rMf .member-wXX .rectangle-97-Gph {
  width: 9.0827rem;
  height: 3.6rem;
  position: absolute;
  left: 0.6173rem;
  top: 0;
  background-color: #6fff2d;
  border-radius: 0.5rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-uubm-Ajj .auto-group-fc1z-rMf .member-wXX .desain-tanpa-judul-26-1-o3w {
  width: 4.1259rem;
  height: 2.8019rem;
  position: absolute;
  left: 0;
  top: 0.4rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-uubm-Ajj .auto-group-fc1z-rMf .member-wXX .member-ucm {
  width: 4.3rem;
  height: 2.4rem;
  position: absolute;
  left: 4.3528rem;
  top: 0.3447rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 2.4;
  letter-spacing: -0.01rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-uubm-Ajj .auto-group-fc1z-rMf .member-wXX .bronze-nwT {
  width: 2rem;
  height: 2.4rem;
  position: absolute;
  left: 5.3089rem;
  top: 1.6379rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  font-weight: 500;
  line-height: 4;
  letter-spacing: -0.006rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-uubm-Ajj .mask-group-T21 {
  margin: 0rem 6.851rem 0.122rem 0rem;
  width: 3.9678rem;
  height: 4.3893rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-uubm-Ajj .agam-kmo {
  margin: 0rem 16.171rem 4.868rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-uubm-Ajj .agamcom-rpq {
  margin: 0rem 25.373rem 0.56rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.6341797511;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.all-user-jpM .auto-group-e6bv-ifb .auto-group-uubm-Ajj .group-96-NYH {
  margin-bottom: 0.6422rem;
  width: 1.7635rem;
  height: 0.4552rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.all-user-jpM .layout-navbar-admin-RmT {
  width: 100%;
  height: 9.1rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #049904;
}
.all-user-jpM .layout-navbar-admin-RmT .group-254-9hT {
  width: 2.1209rem;
  height: 3.1341rem;
  position: absolute;
  left: 136.9rem;
  top: 3.1rem;
  object-fit: contain;
  vertical-align: top;
}
.all-user-jpM .layout-navbar-admin-RmT .oval-2-ffo {
  width: 2.381rem;
  height: 2.4rem;
  position: absolute;
  left: 134.5rem;
  top: 2.2rem;
  object-fit: contain;
  vertical-align: top;
}
.all-user-jpM .layout-navbar-admin-RmT .item-12-bpM {
  width: 0.6rem;
  height: 1.5rem;
  position: absolute;
  left: 135.4rem;
  top: 2.6rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.0429rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.all-user-jpM .layout-navbar-admin-RmT .search-bro-sms {
  width: 42.2rem;
  height: 4rem;
  position: absolute;
  left: 67.4rem;
  top: 2.7rem;
  object-fit: contain;
  vertical-align: top;
}
.all-user-jpM .layout-navbar-admin-RmT .foodies-1-17P {
  width: 30.1rem;
  height: 27.7rem;
  position: absolute;
  left: 2.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.all-user-jpM .layout-navbar-admin-RmT .dropdown-menu-8C1 {
  box-sizing: border-box;
  padding: 1.2rem 1.38rem 1.2rem 1.472rem;
  width: 6.348rem;
  height: 6rem;
  position: absolute;
  left: 127.1rem;
  top: 1.7rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-6-4vD.png');
}
.all-user-jpM .layout-navbar-admin-RmT .dropdown-menu-8C1 .profil-c7B {
  width: 3.496rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
}
.all-user-jpM .layout-navbar-admin-RmT .andi-akhsanul-ivu {
  width: 10.1rem;
  height: 2.4rem;
  position: absolute;
  left: 114.3rem;
  top: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
