
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 20.055rem;
}.dropdown-admin-2XK {
  width: 100%;
  height: 23.6rem;
}
.dropdown-admin-2XK .dropdown-aoj {
  width: 100%;
  height: 100%;
  position: relative;
}
.dropdown-admin-2XK .dropdown-aoj .polygon-1-vch {
  width: 2.625rem;
  height: 1.6rem;
  position: absolute;
  left: 16.59rem;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.dropdown-admin-2XK .dropdown-aoj .drop-menu-eYh {
  width: 20.055rem;
  height: 22.7rem;
  position: absolute;
  left: 0;
  top: 0.9rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.dropdown-admin-2XK .dropdown-aoj .logout-mNR {
  width: 15rem;
  height: 3rem;
  position: absolute;
  left: 2.56rem;
  top: 19.1rem;
  background-color: #ff0000;
  border-radius: 0.5rem;
}
.dropdown-admin-2XK .dropdown-aoj .dasboard-HLm {
  width: 15rem;
  height: 3rem;
  position: absolute;
  left: 2.5rem;
  top: 8.2rem;
}
.dropdown-admin-2XK .dropdown-aoj .dasboard-1Xf {
  width: 15rem;
  height: 3rem;
  position: absolute;
  left: 2.5rem;
  top: 13.3rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #049904;
  border-radius: 0.5rem;
}
.dropdown-admin-2XK .dropdown-aoj .logout-r2V {
  width: 4.1rem;
  height: 2.4rem;
  position: absolute;
  left: 8.01rem;
  top: 19.2rem;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 900;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
