
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.login-page-smB {
  box-sizing: border-box;
  padding: 21.6rem 25rem 21.5rem 28.2rem;
  width: 100%;
  height: 102.4rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.login-page-smB .box-auth-xnd {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.login-page-smB .box-auth-xnd .auto-group-zjak-WJM {
  box-sizing: border-box;
  padding: 15.6rem 7.296rem 11.7rem 5.4rem;
  width: 47.4rem;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #edf0f7;
  border-radius: 0.2rem;
  flex-shrink: 0;
}
.login-page-smB .box-auth-xnd .auto-group-zjak-WJM .auto-group-hprf-oHT {
  margin-bottom: 5.6193rem;
  width: 100%;
  height: 5.4994rem;
  position: relative;
  flex-shrink: 0;
}
.login-page-smB .box-auth-xnd .auto-group-zjak-WJM .auto-group-hprf-oHT .auth-user-wPf {
  box-sizing: border-box;
  padding: 0rem 2.187rem 0rem 2.327rem;
  width: 34.7037rem;
  height: 5.4994rem;
  position: absolute;
  left: 0;
  top: 0;
  border-bottom: solid 0.1rem #000000;
  border-radius: 0.5rem;
}
.login-page-smB .box-auth-xnd .auto-group-zjak-WJM .auto-group-hprf-oHT .auth-user-wPf .opsi-auth-TN1 {
  width: 100%;
  height: 3.7237rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}
.login-page-smB .box-auth-xnd .auto-group-zjak-WJM .auto-group-hprf-oHT .auth-user-wPf .opsi-auth-TN1 .login-CaV {
  margin: 0rem 2.915rem 0rem 0rem;
  width: 13.6369rem;
  height: 3.7237rem;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.login-page-smB .box-auth-xnd .auto-group-zjak-WJM .auto-group-hprf-oHT .auth-user-wPf .opsi-auth-TN1 .register-ty7 {
  margin-bottom: 0rem;
  width: 13.6369rem;
  height: 3.7237rem;
  background-color: #049904;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.login-page-smB .box-auth-xnd .auto-group-zjak-WJM .auto-group-hprf-oHT .login-BSR {
  width: 4.8rem;
  height: 2.4rem;
  cursor: pointer;
  position: absolute;
  left: 6.7rem;
  top: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-smB .box-auth-xnd .auto-group-zjak-WJM .auto-group-hprf-oHT .register-qms {
  width: 7.1rem;
  height: 2.4rem;
  position: absolute;
  left: 22.2rem;
  top: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  color: #ffff00;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-smB .box-auth-xnd .auto-group-zjak-WJM .group-268-Wt1 {
  margin: 0rem 3.169rem 6.781rem 3.235rem;
  width: calc(100% - 6.4037rem);
  height: 10.9rem;
  position: relative;
  flex-shrink: 0;
}
.login-page-smB .box-auth-xnd .auto-group-zjak-WJM .group-268-Wt1 .from-auth-RVB {
  width: 28.3rem;
  height: 10.9rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.login-page-smB .box-auth-xnd .auto-group-zjak-WJM .group-268-Wt1 .frame-Yph {
  width: 2.1rem;
  height: 2rem;
  position: absolute;
  left: 1.2655rem;
  top: 8.0813rem;
  object-fit: contain;
  vertical-align: top;
}
.login-page-smB .box-auth-xnd .auto-group-zjak-WJM .group-268-Wt1 .masukkan-email-GEu {
  width: 10.7rem;
  height: 2.4rem;
  position: absolute;
  left: 4.7155rem;
  top: 0.6813rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-smB .box-auth-xnd .auto-group-zjak-WJM .group-268-Wt1 .masukkan-password-9Jh {
  width: 13.3rem;
  height: 2.4rem;
  position: absolute;
  left: 4.9155rem;
  top: 7.8813rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.login-page-smB .box-auth-xnd .auto-group-zjak-WJM .auto-group-ewjv-Rn1 {
  margin: 0rem 1.104rem 0rem 1.8rem;
  width: calc(100% - 2.9037rem);
  height: 3.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.login-page-smB .box-auth-xnd .auto-group-zjak-WJM .auto-group-ewjv-Rn1 .dont-have-account-yet--Lty {
  margin-right: 5.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.login-page-smB .box-auth-xnd .auto-group-zjak-WJM .auto-group-ewjv-Rn1 .auto-group-xtpq-qqj {
  width: 11.2rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  color: #ffff00;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #049904;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.login-page-smB .box-auth-xnd .auto-group-qff1-5k5 {
  width: 50.6rem;
  height: 100%;
  position: relative;
  border-left: solid 0.4rem #000000;
  box-sizing: border-box;
  flex-shrink: 0;
}
.login-page-smB .box-auth-xnd .auto-group-qff1-5k5 .box-r-Row {
  width: 47.4rem;
  height: 59.3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #049904;
}
.login-page-smB .box-auth-xnd .auto-group-qff1-5k5 .foodies-1-ZfF {
  width: 45.5rem;
  height: 41.9rem;
  position: absolute;
  left: 5.1rem;
  top: 8.4rem;
  object-fit: cover;
  vertical-align: top;
}
