
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 100%;
}.statistik-per-bulan-F6y {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #ceff9d;
}
.statistik-per-bulan-F6y .group-380-a9F {
  width: 22.9524rem;
  height: 92.9108rem;
  position: absolute;
  left: 0;
  top: 9.4892rem;
  background-color: #57c343;
}
.statistik-per-bulan-F6y .group-380-a9F .overview-sPF {
  width: 18.2769rem;
  height: 3.6408rem;
  position: absolute;
  left: 1.7002rem;
  top: 7.5617rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #ffb000;
  border-radius: 0.2rem;
}
.statistik-per-bulan-F6y .group-380-a9F .overview-MJR {
  width: 6.8rem;
  height: 5rem;
  cursor: pointer;
  position: absolute;
  left: 7.7905rem;
  top: 6.6737rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.09375;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.statistik-per-bulan-F6y .group-380-a9F .overview-MJR .overview-MJR-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.09375;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
}
.statistik-per-bulan-F6y .group-380-a9F .overview-MJR .overview-MJR-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.09375;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
}
.statistik-per-bulan-F6y .group-380-a9F .transaksi-YGR {
  width: 18.2769rem;
  height: 3.6408rem;
  position: absolute;
  left: 1.7002rem;
  top: 11.8236rem;
  border: solid 0.1rem #fff8f8;
  box-sizing: border-box;
  background-color: #ffb000;
  border-radius: 0.2rem;
}
.statistik-per-bulan-F6y .group-380-a9F .transaksi-qWR {
  width: 6.6rem;
  height: 5rem;
  cursor: pointer;
  position: absolute;
  left: 7.7952rem;
  top: 11.1576rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.09375;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.statistik-per-bulan-F6y .group-380-a9F .user-jbo {
  width: 18.2769rem;
  height: 3.6408rem;
  position: absolute;
  left: 1.7002rem;
  top: 20.1577rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #ffb000;
  border-radius: 0.2rem;
}
.statistik-per-bulan-F6y .group-380-a9F .users-Sm7 {
  width: 3.8rem;
  height: 5rem;
  position: absolute;
  left: 7.8619rem;
  top: 19.6041rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.09375;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.statistik-per-bulan-F6y .group-380-a9F .statistik-xUZ {
  width: 18.2769rem;
  height: 3.6408rem;
  position: absolute;
  left: 1.7002rem;
  top: 15.9913rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #ffb000;
  border-radius: 0.2rem;
}
.statistik-per-bulan-F6y .group-380-a9F .statistik-USu {
  width: 5.8rem;
  height: 5rem;
  position: absolute;
  left: 7.4809rem;
  top: 15.3287rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.09375;
  color: #ffff00;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.statistik-per-bulan-F6y .group-380-a9F .product-PZs {
  width: 18.2769rem;
  height: 3.6408rem;
  position: absolute;
  left: 1.7002rem;
  top: 24.316rem;
  border: solid 0.1rem #ffffff;
  box-sizing: border-box;
  background-color: #ffb000;
  border-radius: 0.2rem;
}
.statistik-per-bulan-F6y .group-380-a9F .produk-hqT {
  width: 5.2rem;
  height: 5rem;
  cursor: pointer;
  position: absolute;
  left: 7.8286rem;
  top: 23.7751rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.09375;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.statistik-per-bulan-F6y .group-412-15T {
  box-sizing: border-box;
  padding: 4.5rem 3.8rem 4.8rem 4.9rem;
  width: 102.3rem;
  height: 60.3rem;
  position: absolute;
  left: 31.1rem;
  top: 20.6rem;
  border: solid 0.2rem #000000;
  background-color: #ffffff;
  border-radius: 1rem;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-t46x-stM {
  margin: 0rem 0rem 2.3rem 0.3rem;
  width: calc(100% - 0.3rem);
  display: flex;
  align-items: flex-start;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-t46x-stM .statistik-Prh {
  margin-right: 84.1rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-t46x-stM .auto-group-pusq-83b {
  margin-top: 0.7rem;
  width: 3.2rem;
  height: 3.9rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .title-assesment-report-3gM {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2.0833333333;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX {
  margin: 0rem 1.638rem 0.999rem 1.9rem;
  width: calc(100% - 3.5381rem);
  height: 36.9009rem;
  display: flex;
  align-items: flex-start;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-besf-V2Z {
  margin-right: 2.5137rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-besf-V2Z .item-66-p4q {
  margin-bottom: 4.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #858585;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-besf-V2Z .item-65-XV3 {
  margin-bottom: 4.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #858585;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-besf-V2Z .item-64-Fvq {
  margin-bottom: 4.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #858585;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-besf-V2Z .item-63-ay7 {
  margin-bottom: 4.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #858585;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-besf-V2Z .item-62-v1P {
  margin-bottom: 4.6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #858585;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-besf-V2Z .item-61-FJZ {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.1666666667;
  color: #858585;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .vertical-lines-grid-z1F {
  margin: 0.814rem 0.067rem 0rem 0rem;
  opacity: 0.5;
  width: 0.091rem;
  height: 36.0872rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 {
  margin-bottom: 0.0009rem;
  width: 86.1905rem;
  height: calc(100% - 0.0009rem);
  position: relative;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .horizontal-lines-grid-A49 {
  opacity: 0.5;
  width: 86.1905rem;
  height: 30.1169rem;
  position: absolute;
  left: 0;
  top: 0.7763rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .horizontal-lines-grid-A49 .line-7-rhf {
  margin: 0rem 0.074rem 5.849rem 0rem;
  width: 86.1169rem;
  height: 0.0966rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .horizontal-lines-grid-A49 .line-6-mJq {
  margin: 0rem 0.074rem 5.849rem 0rem;
  width: 86.1169rem;
  height: 0.0966rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .horizontal-lines-grid-A49 .line-5-VEq {
  margin: 0rem 0rem 5.777rem 0.074rem;
  width: 86.1169rem;
  height: 0.0966rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .horizontal-lines-grid-A49 .line-4-p2D {
  margin: 0rem 0.074rem 6.212rem 0rem;
  width: 86.1169rem;
  height: 0.0966rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .horizontal-lines-grid-A49 .line-3-KzZ {
  margin: 0rem 0rem 5.849rem 0.074rem;
  width: 86.1169rem;
  height: 0.0966rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .horizontal-lines-grid-A49 .line-2-2PB {
  margin-right: 0.0735rem;
  width: 86.1169rem;
  height: 0.0966rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .shape-2-Luf {
  width: 1.6rem;
  height: 24.2rem;
  position: absolute;
  left: 2.7286rem;
  top: 12.7rem;
  background: linear-gradient(358.18deg, #60e730 113.56%, #deedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .shape-3-d85 {
  width: 1.7rem;
  height: 28.2rem;
  position: absolute;
  left: 10.8286rem;
  top: 8.6rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .shape-4-iQR {
  width: 1.7rem;
  height: 12.2rem;
  position: absolute;
  left: 18.9286rem;
  top: 24.7rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .shape-5-bj7 {
  width: 1.6rem;
  height: 21rem;
  position: absolute;
  left: 27.1286rem;
  top: 15.9rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .shape-6-swX {
  width: 1.6rem;
  height: 25.2rem;
  position: absolute;
  left: 35.2286rem;
  top: 11.5rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .shape-7-aqw {
  width: 1.6rem;
  height: 22.1rem;
  position: absolute;
  left: 43.3286rem;
  top: 14.8rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .shape-8-t5w {
  width: 1.6rem;
  height: 15.9rem;
  position: absolute;
  left: 51.4286rem;
  top: 21rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .background-mark-explanation-nSD {
  width: 15.3rem;
  height: 8.6rem;
  position: absolute;
  left: 28.5286rem;
  top: 0;
  background-color: #ffb000;
  border-radius: 0.4rem;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .shape-9-JvM {
  width: 1.6rem;
  height: 24.2rem;
  position: absolute;
  left: 59.5286rem;
  top: 12.7rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .shape-10-DGd {
  width: 1.7rem;
  height: 28.3rem;
  position: absolute;
  left: 67.7286rem;
  top: 8.6rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .shape-11-vB3 {
  width: 1.6rem;
  height: 29.6rem;
  position: absolute;
  left: 75.9286rem;
  top: 7.3rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .shape-12-RtV {
  width: 1.5rem;
  height: 27.4rem;
  position: absolute;
  left: 83.9286rem;
  top: 9.5rem;
  background: linear-gradient(358.18deg, #60e831 113.56%, #dfedef 258.3%);
  border-radius: 5.5rem 5.5rem 0 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .base-KDB {
  width: 13rem;
  height: 0.5rem;
  position: absolute;
  left: 29.7286rem;
  top: 6.4rem;
  background-color: #ffffff;
  border-radius: 0.25rem;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .base-copy-eFT {
  width: 9rem;
  height: 0.5rem;
  position: absolute;
  left: 29.7286rem;
  top: 6.4rem;
  background: linear-gradient(265.14deg, #009a4d 22.62%, #f2f2f2 95.9%);
  border-radius: 0.25rem;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .amount-all-9T7 {
  width: 3.8rem;
  height: 1.3rem;
  position: absolute;
  left: 34.2286rem;
  top: 3.9rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  letter-spacing: 0.03rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .text-information-RvR {
  width: 6.1rem;
  height: 1.3rem;
  position: absolute;
  left: 32.4286rem;
  top: 1.4rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .oval-4-XTf {
  width: 5.9rem;
  height: 5.9rem;
  position: absolute;
  left: 33.0286rem;
  top: 9.2rem;
  object-fit: contain;
  vertical-align: top;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .oval-5-rF3 {
  width: 3.6rem;
  height: 3.6rem;
  position: absolute;
  left: 34.2286rem;
  top: 10.4rem;
  object-fit: contain;
  vertical-align: top;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-w9nb-NyX .auto-group-qjxr-s53 .oval-6-xos {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 35.1286rem;
  top: 11.3rem;
  object-fit: contain;
  vertical-align: top;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-gh8o-HLM {
  margin-left: 7.4rem;
  display: flex;
  align-items: flex-start;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-gh8o-HLM .jon-ford-oJh {
  margin: 0.1rem 4.3rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-gh8o-HLM .jon-ford-WU1 {
  margin-right: 6rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-gh8o-HLM .jon-ford-dYd {
  margin-right: 5.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-gh8o-HLM .jon-ford-ZSH {
  margin-right: 5.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-gh8o-HLM .jon-ford-h2h {
  margin-right: 4.8rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-gh8o-HLM .jon-ford-cfT {
  margin-right: 5.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-gh8o-HLM .jon-ford-9fP {
  margin-right: 5.7rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-gh8o-HLM .jon-ford-HFo {
  margin-right: 5.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-gh8o-HLM .jon-ford-D9T {
  margin: 0.1rem 4.6rem 0rem 0rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-gh8o-HLM .jon-ford-vZf {
  margin-right: 4.9rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .group-412-15T .auto-group-gh8o-HLM .jon-ford-T3o {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.3333333333;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.statistik-per-bulan-F6y .layout-navbar-admin-9hK {
  width: 100%;
  height: 9.5rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #049904;
}
.statistik-per-bulan-F6y .layout-navbar-admin-9hK .group-254-4pH {
  width: 2.1209rem;
  height: 3.1341rem;
  position: absolute;
  left: 146rem;
  top: 3.1rem;
  object-fit: contain;
  vertical-align: top;
}
.statistik-per-bulan-F6y .layout-navbar-admin-9hK .oval-2-BP7 {
  width: 2.381rem;
  height: 2.4rem;
  position: absolute;
  left: 144rem;
  top: 2.2rem;
  object-fit: contain;
  vertical-align: top;
}
.statistik-per-bulan-F6y .layout-navbar-admin-9hK .item-12-hcM {
  width: 0.6rem;
  height: 1.5rem;
  position: absolute;
  left: 145rem;
  top: 2.6rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.0429rem;
  color: #000000;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
}
.statistik-per-bulan-F6y .layout-navbar-admin-9hK .search-bro-mcD {
  width: 35rem;
  height: 2.5rem;
  position: absolute;
  left: 72rem;
  top: 3rem;
  object-fit: contain;
  vertical-align: top;
  padding: 5px 20px 5px 35px;
  font-size: 16px;
  border-radius: 20px;
  background-image: url('/admin/assets/icons8-search-50.png');
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 10px center;
  background-color: #049904;
  border: rgb(0, 0, 0) solid 1px;
}
.statistik-per-bulan-F6y .layout-navbar-admin-9hK .foodies-1-gz5 {
  width: 120px;
  height: 55px;
  position: absolute;
  left: 75px;
  top: 20px;
  object-fit: cover;
  vertical-align: center;
}
.overview-MJR a {
  text-decoration: none;
}
.statistik-per-bulan-F6y .layout-navbar-admin-9hK .dropdown-menu-cMw {
  box-sizing: border-box;
  padding: 1.2rem 1.38rem 1.2rem 1.472rem;
  width: 6.348rem;
  height: 6rem;
  position: absolute;
  left: 137rem;
  top: 1.7rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-6-gQ9.png');
}
.statistik-per-bulan-F6y .layout-navbar-admin-9hK .dropdown-menu-cMw .profil-6nu {
  width: 3.496rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
}
.statistik-per-bulan-F6y .layout-navbar-admin-9hK .andi-akhsanul-DsX {
  width: 10.1rem;
  height: 2.4rem;
  position: absolute;
  left: 114.3rem;
  top: 3.5rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
