
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}
.fd img{
  height: 60px;
  margin-top: 10px;
  margin-left: 65px;
  width: 150px;
}
.form-alamat-page-PJH {
  width: 100%;
  height: 182.5rem;
  position: relative;
  overflow: hidden;
  background-color: #efeaea;
}
.form-alamat-page-PJH .checkout-6Tb {
  width: 14rem;
  height: 2.4rem;
  position: absolute;
  left: 9.75rem;
  top: 12.7rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #049904;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.form-alamat-page-PJH .group-27-MeR {
  box-sizing: border-box;
  padding: 3rem 11.718rem 3.6rem 6.5rem;
  width: 130rem;
  height: 26.7rem;
  position: absolute;
  left: 10.1rem;
  top: 90.3rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.form-alamat-page-PJH .group-27-MeR .auto-group-b74w-2kZ {
  margin: 0rem 3.182rem 2.3rem 0rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-27-MeR .auto-group-b74w-2kZ .metode-pembayaran-kAm {
  margin: 0rem 44.45rem 1rem 0rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-27-MeR .auto-group-b74w-2kZ .subtotal-produk-28H {
  margin-right: 8.75rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-27-MeR .auto-group-b74w-2kZ .item-30000-joP {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-27-MeR .auto-group-ucgb-Ek9 {
  margin: 0rem 2.882rem 0.3rem 0rem;
  height: 4.7rem;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-27-MeR .auto-group-ucgb-Ek9 .auto-group-yxpz-jwo {
  margin-right: 2.4rem;
  width: 12.6rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #049904;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-27-MeR .auto-group-ucgb-Ek9 .auto-group-85vs-ckh {
  margin-right: 44.3rem;
  width: 12.6rem;
  height: 100%;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.1rem #000000;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-27-MeR .auto-group-ucgb-Ek9 .ongkos-kirim-HM3 {
  margin: 0.1rem 12.4rem 0rem 0rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-27-MeR .auto-group-ucgb-Ek9 .item-10000-aqw {
  margin-top: 0.1rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-27-MeR .auto-group-5ckb-sq3 {
  margin: 0rem 2.782rem 2.2rem 71.85rem;
  width: calc(100% - 74.6321rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-27-MeR .auto-group-5ckb-sq3 .total-bayar-C6d {
  margin-right: 15.35rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-27-MeR .auto-group-5ckb-sq3 .item-40000-i4y {
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-27-MeR .auto-group-wyzz-q9b {
  width: 21.9821rem;
  height: 4.8rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #049904;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-25-vRw {
  box-sizing: border-box;
  padding: 1.875rem 2.767rem 2.9rem 2.767rem;
  width: 130rem;
  height: 22.2rem;
  position: absolute;
  left: 10.1rem;
  top: 20.9rem;
  background-color: #ffffff;
}
.form-alamat-page-PJH .group-25-vRw .auto-group-jimz-Dfw {
  margin: 0rem 94.783rem 2.675rem 0rem;
  width: calc(100% - 94.7833rem);
  display: flex;
  align-items: flex-end;
}
.form-alamat-page-PJH .group-25-vRw .auto-group-jimz-Dfw .location-9Zb {
  margin-right: 2.5167rem;
  width: 2.2667rem;
  height: 2.75rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-25-vRw .auto-group-jimz-Dfw .alamat-pengiriman-skV {
  margin-bottom: 0.025rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #049904;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-25-vRw .auto-group-atpw-C25 {
  margin: 0rem 3.485rem 0.169rem 4.683rem;
  width: calc(100% - 8.1687rem);
  display: flex;
  align-items: flex-start;
}
.form-alamat-page-PJH .group-25-vRw .auto-group-atpw-C25 .pregorian-purwacahyani-7uj {
  margin-right: 83.2646rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-25-vRw .auto-group-atpw-C25 .edit-e8y {
  margin-top: 1.6969rem;
  width: 3.0334rem;
  height: 2.934rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-25-vRw .item-6283123456789-NKs {
  width: 100%;
  justify-content: left; 
  text-align: left;
  padding-left: 4rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  padding-bottom: 15px;
}
.form-alamat-page-PJH .group-25-vRw .jalani-aja-dulu-gak-sih-rt-08-rw-01-gubeng-60123-UNu {
  width: 100%;
  justify-content: left; 
  text-align: left;
  padding-left: 4rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  
}
.form-alamat-page-PJH .group-28-NUH {
  width: 130rem;
  height: 38.7rem;
  position: absolute;
  left: 10.1rem;
  top: 48.8rem;
}
.form-alamat-page-PJH .group-28-NUH .group-26-5tV {
  width: 130rem;
  height: 36.2rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.form-alamat-page-PJH .group-28-NUH .group-26-5tV .group-25-Qvm {
  margin-bottom: 0.2rem;
  box-sizing: border-box;
  padding: 2.8rem 6.929rem 2.4rem 9.211rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-28-NUH .group-26-5tV .group-25-Qvm .produk-vu7 {
  margin-right: 41.6281rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-28-NUH .group-26-5tV .group-25-Qvm .harga-satuan-fLu {
  margin-right: 10.2075rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-28-NUH .group-26-5tV .group-25-Qvm .jumlah-ngR {
  margin-right: 9.3243rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-28-NUH .group-26-5tV .group-25-Qvm .total-harga-7yb {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-28-NUH .group-26-5tV .auto-group-2ejd-TGm {
  box-sizing: border-box;
  padding: 3.7rem 10.696rem 4.3rem 7.605rem;
  width: 100%;
  height: 27rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-28-NUH .group-26-5tV .auto-group-2ejd-TGm .foto-barang-ZKo {
  margin-right: 4.5987rem;
  width: 20.1633rem;
  height: 19rem;
  object-fit: cover;
  vertical-align: top;
  border-radius: 0.5rem;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-28-NUH .group-26-5tV .auto-group-2ejd-TGm .auto-group-mlnf-gQR {
  margin: 2.8rem 12.615rem 2.4rem 0rem;
  height: calc(100% - 5.2rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-28-NUH .group-26-5tV .auto-group-2ejd-TGm .auto-group-mlnf-gQR .daun-semanggi-JKK {
  margin: 0rem 0rem 1.4rem 0.008rem;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-28-NUH .group-26-5tV .auto-group-2ejd-TGm .auto-group-mlnf-gQR .ukuran--yRT {
  margin: 0rem 0rem 1rem 0.106rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-28-NUH .group-26-5tV .auto-group-2ejd-TGm .auto-group-mlnf-gQR .gram-g4y {
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-28-NUH .group-26-5tV .auto-group-2ejd-TGm .item-15000-QFs {
  margin: 1.2rem 19.929rem 0rem 0rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-28-NUH .group-26-5tV .auto-group-2ejd-TGm .item-2-WJu {
  margin: 1.2rem 15.586rem 0rem 0rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-28-NUH .group-26-5tV .auto-group-2ejd-TGm .item-30000-RRs {
  margin-top: 1.2rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-28-NUH .frame-jSZ {
  width: 5rem;
  height: 5rem;
  position: absolute;
  left: 113.3rem;
  top: 33.7rem;
  overflow: hidden;
}
.form-alamat-page-PJH .footer-TtM {
  width: 151.2rem;
  height: 62.6rem;
  position: absolute;
  left: 0;
  top: 119.9rem;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm {
  box-sizing: border-box;
  padding: 13.2rem 7rem 3rem 7rem;
  width: 151.2rem;
  height: 56.4rem;
  position: absolute;
  left: 0;
  top: 6.2rem;
  overflow: hidden;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #049904;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .pemisah-Gqo {
  margin-bottom: 1.6rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD {
  margin: 0rem 15.3rem 2.4rem 2.8rem;
  width: calc(100% - 18.1rem);
  height: 26.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .quotes-utm {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .quotes-utm .auto-group-sgyb-GUR {
  margin-bottom: 0.6rem;
  width: 6.9001rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .quotes-utm .auto-group-sgyb-GUR .tagline-bmb {
  width: 6.4rem;
  height: 2.4rem;
  position: absolute;
  left: 0.3rem;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .quotes-utm .auto-group-sgyb-GUR .tagline-bmb .tagline-bmb-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .quotes-utm .auto-group-sgyb-GUR .tagline-bmb .tagline-bmb-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .quotes-utm .auto-group-sgyb-GUR .line-23-aX3 {
  width: 6.9001rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 2.225rem;
  object-fit: contain;
  vertical-align: top;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .quotes-utm .tujuan-kami-bukan-menciptakan-bisnis-yang-besar-tetapi-membangun-sesuatu-yang-membuat-perubahan-besar-uJR {
  margin-bottom: 0.8rem;
  max-width: 25.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .quotes-utm .semua-impian-kita-menjadi-kanyataan-jika-kita-mempunyai-keberanian-unutk-mengerjakannya-walt-disney-9yT {
  margin: 0rem 0rem 0.8rem 5.3rem;
  max-width: 25.7rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .quotes-utm .wirausahawan-sejadi-meciptakan-peluang-bisnis-sedangkan-wirausahawan-bisa-fokus-mengejar-uang-nFj {
  margin-left: 13.5rem;
  max-width: 28.1rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K {
  box-sizing: border-box;
  padding-left: 7.4rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .about-us-aSV {
  margin-right: 12.8rem;
  width: 25.5rem;
  row-gap: 0.6rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .about-us-aSV .auto-group-cjur-VpM {
  width: 7.4rem;
  height: 2.4rem;
  position: relative;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .about-us-aSV .auto-group-cjur-VpM .line-24-Rxu {
  width: 7.4rem;
  height: 0;
  position: absolute;
  left: 0;
  top: 2.2123rem;
  object-fit: contain;
  vertical-align: top;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .about-us-aSV .auto-group-cjur-VpM .aboutus-Afb {
  width: 7rem;
  height: 2.4rem;
  position: absolute;
  left: 0.2rem;
  top: 0;
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .about-us-aSV .auto-group-cjur-VpM .aboutus-Afb .aboutus-Afb-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .about-us-aSV .auto-group-cjur-VpM .aboutus-Afb .aboutus-Afb-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .about-us-aSV .group-263-fEy {
  margin-left: 0.1rem;
  box-sizing: border-box;
  padding-left: 0.3125rem;
  width: calc(100% - 0.1rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .about-us-aSV .group-263-fEy .location-Bz1 {
  margin: 0.725rem 0.513rem 0rem 0rem;
  width: 0.875rem;
  height: 1.3029rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .about-us-aSV .group-263-fEy .jl-dharmawangsa-no138-d-airlangga-kec-gubeng-surabaya-jawa-timur-60282-Vzh {
  max-width: 23.7rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .about-us-aSV .group-264-b29 {
  margin-right: 3.6rem;
  width: calc(100% - 3.6rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .about-us-aSV .group-264-b29 .icon-envelope-closed-j8M {
  margin: 0.2rem 0.5rem 0rem 0rem;
  width: 1.6rem;
  height: 1.2rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .about-us-aSV .group-264-b29 .foodysbussinesgmailcom-cxq {
  display: flex;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .about-us-aSV .group-265-vTj {
  margin-right: 13.5rem;
  box-sizing: border-box;
  padding-left: 0.1333rem;
  width: calc(100% - 13.5rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .about-us-aSV .group-265-vTj .calling-ePj {
  margin: 0rem 0.633rem 0.1rem 0rem;
  width: 1.3333rem;
  height: 1.25rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .about-us-aSV .group-265-vTj .item-0274-2885822-AN5 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: -0.014rem;
  font-style: italic;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .comunity-Gvu {
  margin-right: 7.9954rem;
  width: 9.7046rem;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .comunity-Gvu .comunity-29P {
  margin: 0rem 0rem 0.1rem 1.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .comunity-Gvu .comunity-29P .comunity-29P-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .comunity-Gvu .comunity-29P .comunity-29P-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .comunity-Gvu .line-26-jxu {
  margin-bottom: 1.4rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .comunity-Gvu .group-266-Ghw {
  width: 6.7rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .sosmed-CrV {
  margin-top: 0.1rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .sosmed-CrV .social-media-MUV {
  margin-left: 0.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .sosmed-CrV .social-media-MUV .social-media-MUV-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .sosmed-CrV .social-media-MUV .social-media-MUV-sub-1 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .sosmed-CrV .line-25-Tfw {
  margin-bottom: 1.4rem;
  width: 10.0045rem;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .isi-footer-QSD .auto-group-4ucp-F9K .sosmed-CrV .list-sosmed-CNd {
  width: 14.1rem;
  height: 3rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .pemisah-j7f {
  margin-bottom: 3.3rem;
  width: 100%;
  height: 0.1rem;
  background-color: #000000;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .mark-list-fn1 {
  margin: 0rem 21.2rem 0rem 33.9rem;
  width: calc(100% - 55.1rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .mark-list-fn1 .copyright-2023-by-foodys-all-rights-reserved-nrd {
  margin: 0rem 9.6rem 1.7rem 0rem;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .footer-bUm .mark-list-fn1 .terima-kasih-telah-mengunjungi-foodys-jangan-ragu-untuk-menghubungi-kami-jika-anda-memiliki-pertanyaan-atau-saran-etq {
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.8461538462;
  letter-spacing: -0.013rem;
  color: #ffffff;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .footer-TtM .foodies-1-WAM {
  width: 30.1rem;
  height: 27.7rem;
  position: absolute;
  left: 7.2rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.form-alamat-page-PJH .footer-TtM .line-22-QmX {
  width: 151.2rem;
  height: 0.2rem;
  position: absolute;
  left: 0;
  top: 6.2rem;
  background-color: #000000;
}
.form-alamat-page-PJH .navbar-user-vE5 {
  width: 151.2rem;
  height: 9.1rem;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  background-color: #049904;
}
.form-alamat-page-PJH .navbar-user-vE5 .profil-r7j {
  box-sizing: border-box;
  padding-left: 0.1rem;
  width: 19.8rem;
  height: 6rem;
  cursor: pointer;
  position: absolute;
  left: 125.4rem;
  top: 1.6rem;
  display: flex;
  align-items: center;
}
.form-alamat-page-PJH .navbar-user-vE5 .profil-r7j .andi-akhsanul-9Mj {
  margin-right: 1.052rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Poppins, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .navbar-user-vE5 .profil-r7j .dropdown-menu-TNR {
  box-sizing: border-box;
  padding: 1.2rem 1.38rem 1.2rem 1.472rem;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/ellipse-6-8RF.png');
  flex-shrink: 0;
}
.form-alamat-page-PJH .navbar-user-vE5 .profil-r7j .dropdown-menu-TNR .profil-NkH {
  width: 3.496rem;
  height: 3.6rem;
  object-fit: contain;
  vertical-align: top;
}
.form-alamat-page-PJH .navbar-user-vE5 .line-21-Vpu {
  width: 151.2rem;
  height: 0.1rem;
  position: absolute;
  left: 0;
  top: 9.1rem;
  background-color: #000000;
}
.form-alamat-page-PJH .navbar-user-vE5 .foodies-1-EGh {
  width: 30.1rem;
  height: 27.7rem;
  position: absolute;
  left: 2.1rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.form-alamat-page-PJH .navbar-user-vE5 .navigasi-McD {
  width: 41.45rem;
  height: 2.4rem;
  position: absolute;
  left: 76.05rem;
  top: 3.3rem;
  display: flex;
  align-items: center;
}
.form-alamat-page-PJH .navbar-user-vE5 .navigasi-McD .home-52R {
  margin-right: 3.95rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .navbar-user-vE5 .navigasi-McD .outlet-Br9 {
  margin-right: 4.1rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .navbar-user-vE5 .navigasi-McD .contact-hJh {
  margin-right: 3.15rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .navbar-user-vE5 .navigasi-McD .produk-1aH {
  margin-right: 2.95rem;
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffff00;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .navbar-user-vE5 .navigasi-McD .edukasi-L6m {
  cursor: pointer;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.016rem;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .rectangle-170-Rtu {
  width: 151.2rem;
  height: 182.5rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5799999833);
}
.form-alamat-page-PJH .group-275-kwB {
  width: 73.8rem;
  height: 77.4rem;
  position: absolute;
  left: 38.2rem;
  top: 46.3rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
}
.form-alamat-page-PJH .group-275-kwB .no-telp-4BB {
  width: 9.3rem;
  height: 2.4rem;
  position: absolute;
  left: 9.15rem;
  top: 21rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.form-alamat-page-PJH .group-275-kwB .kecamatan-LPb {
  width: 13.9rem;
  height: 2.4rem;
  position: absolute;
  left: 9.05rem;
  top: 32.3rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.form-alamat-page-PJH .group-275-kwB .detail-alamat-p3s {
  width: 16.4rem;
  height: 2.4rem;
  position: absolute;
  left: 9rem;
  top: 43.8rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.form-alamat-page-PJH .group-275-kwB .rectangle-81-ub7 {
  width: 55.6rem;
  height: 13.5rem;
  position: absolute;
  left: 8.6rem;
  top: 47.2rem;
  border: solid 0.1rem #b2b2b2;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.form-alamat-page-PJH .group-275-kwB .rectangle-78-biq {
  width: 55.6rem;
  height: 4.7rem;
  position: absolute;
  left: 8.7rem;
  top: 13.1rem;
  border: solid 0.1rem #b2b2b2;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.form-alamat-page-PJH .group-275-kwB .rectangle-79-69o {
  width: 55.6rem;
  height: 4.7rem;
  position: absolute;
  left: 8.7rem;
  top: 24.45rem;
  border: solid 0.1rem #b2b2b2;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.form-alamat-page-PJH .group-275-kwB .auto-group-xwaf-o4D {
  box-sizing: border-box;
  padding: 0.95rem 1.9rem 1.35rem 2.25rem;
  width: 55.6rem;
  height: 4.7rem;
  position: absolute;
  left: 8.7rem;
  top: 35.85rem;
  display: flex;
  align-items: center;
  border: solid 0.1rem #b2b2b2;
  background-color: #ffffff;
  border-radius: 0.5rem;
}
.form-alamat-page-PJH .group-275-kwB .auto-group-xwaf-o4D .gubeng-fcD {
  margin-right: 41.95rem;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 0.96;
  letter-spacing: -0.025rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-275-kwB .auto-group-xwaf-o4D .arrow-down-2-LyF {
  margin-top: 0.4rem;
  width: 1.4rem;
  height: 0.7rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-275-kwB .auto-group-imym-Dn9 {
  width: 68.2rem;
  height: 3rem;
  position: absolute;
  left: 2.9rem;
  top: 2.6rem;
  display: flex;
  align-items: flex-start;
}
.form-alamat-page-PJH .group-275-kwB .auto-group-imym-Dn9 .alamat-jEh {
  margin-right: 55.9rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-275-kwB .auto-group-imym-Dn9 .iconly-light-close-square-3FP {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.form-alamat-page-PJH .group-275-kwB .nama-ZzR {
  width: 7.4rem;
  height: 2.4rem;
  position: absolute;
  left: 9.1rem;
  top: 9.2rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: -0.03rem;
  color: #000000;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
}
.form-alamat-page-PJH .group-275-kwB .auto-group-yqtr-f1s {
  width: 7.3rem;
  height: 4.8rem;
  position: absolute;
  left: 56.9rem;
  top: 66.4rem;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Arial, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #049904;
}
